[2015-09-30 21:38] berndblume commented on #528
Can you help me find a description how to upgrade without losing my database contents?

I can clone HEAD, and then? Everything again, as if it’s a fresh install?

Thanks, Bernd

On Sep 29, 2015, at 9:55 AM, Liongold <notifications@github.com<mailto:notifications@github.com>> wrote:

@berndblume<https://github.com/berndblume> Any progress on your side?

—
Reply to this email directly or view it on

[2015-10-01 11:55] slayit opened #539 "Code snippets are not visible in note"
* Code snippets are not displayed correctly:
![2015-10-01 13_48_10-paperwork](https://cloud.githubusercontent.com/assets/657768/10219936/6c065ee2-6843-11e5-8a96-0ba32d9ed7c4.jpg)

* In the code editor everything seems right:
![2015-10-01 13_48_33-paperwork](https://cloud.githubusercontent.com/assets/657768/10219963/a5c96e08-6843-11e5-9728-c1ed08f56694.jpg)

[2015-10-01 14:47] Liongold commented on #528
Try `git checkout develop`, `git pull`, `composer install`, `npm install`, `bower install` and `gulp`. Do not run `php artisan migrate`. To be 100% sure, you can also take a backup of the whole database before doing this.

[2015-10-01 14:52] Liongold commented on #534
The database name is always paperwork. That's why it isn't included. Try running the source code as available. Also, did you have the database paperwork available when you tried the Check Connection and Install Database? Sorry for asking so much questions. About the scripts, very interesting and could be very useful. However, you should open a pull request to develop branch for them.

[2015-10-01 14:56] Liongold commented on #535
That isn't possible for PDFs right now. You can have that effect for images if you put the image in the note itself (not as an attachment). However, you or someone else from the community can implement this.

[2015-10-01 14:58] Liongold commented on #526
Thanks for your report. I don't think it can be done, unfortunately. However, you are free to improve Paperwork yourself. If you find anyway, let us know. :).

[2015-10-01 15:05] Liongold commented on #520
I've edited the relevant wiki page and thus will now close this issue. However, if you find the text to not be good or find any other issue, feel free to let us know through this or another new issue. Thanks for your contribution.

[2015-10-01 15:05] #520 closed

[2015-10-02 16:12] Liongold commented on #496
I've done a workaround for this for now. However, I didn't find the actual cause.

[2015-10-02 23:03] sdiver78 commented on #527
If Collections are to be a collections of notebooks I would like this feature. If not, not sure what it's purpose would be personally. Having nested Notebooks would accomplish the same thing I would think too.

[2015-10-03 13:53] Liongold commented on #322
@Baldrs Isn't this already implemented with the 'Insert Symbol' button in the toolbar? Is this complementary or a replacement?

[2015-10-03 14:16] Liongold commented on #401
@HazenBabcock Did you follow this wiki page: https://github.com/twostairs/paperwork/wiki/Running-paperwork-in-subfolder ?

@olenchenko Did you put the `.htaccess` file as explained in the bottom part of this page:https://github.com/twostairs/paperwork/wiki/Initial-installation ?

Sorry to both for the really late reply.

[2015-10-03 14:20] Liongold commented on #488
@alsternerd @geoextra Sorry for the late reply. Can you check if this is happening only when the `.htaccess` file is pointing to a symlink? Does it happen if no symlink is used?

[2015-10-03 21:52] berndblume commented on #528
Hi and thanks.
I did what you suggested, made sure database.php points to the same database I was using in the old paperwork installation.
I then navigated to (the new) paperwork in my browser. I was told paperwork cannot connect to github to check for the latest version. No hint about why not - I *can* connect from the command line. I added an env[HOME] directive to my php-fpm.conf to make sure p

[2015-10-04 01:16] tommyhp2 commented on #534
The "Check connection and Install database" is broken even when I change the DB host in paperwork/frontend/app/config/database.php.  There's no outgoing connection in netstat and I know the account works by mysql -u paperwork -h db-host -p paperwork works just fine from the web server.

[2015-10-04 07:20] Baldrs commented on #322
@Liongold insert sumbol is a mere symbol support, while LaTeX is much more.

Best regards,
Arseny Lozitsky

On 3 October 2015 at 16:53, Liongold <notifications@github.com> wrote:

[2015-10-04 10:44] Liongold commented on #486
@philosowaffle The demo site is a little out-of-date it seems as I couldn't reproduce this. Can you try again using an up-to-date version, please?

[2015-10-04 13:04] Liongold commented on #527
@sdiver78 More information about the actual feature in #15

[2015-10-05 15:10] JamborJan commented on #496
I have implemented this fix in my Sandstorm.io package of Paperwork: https://github.com/twostairs/paperwork/commit/fc6be87f2f47eb09c3a6dff5ebddab4b5e862e51

I skipped this workaround as my opinion is that there shouldn't be code which has actually no need to be there as it might cause side effects in the future and I would suggest to remove that again.

[2015-10-05 15:10] #496 closed

[2015-10-05 15:22] JamborJan opened #543 "Filtered note list gets lost after note is closed"
To reproduce this issue follow these steps as shown in the example below:
- Click one tag ("tag_02" in the example is clicked)
- The list of notes gets filtered (only the note "Note Title (Tag_02)" is shown)
- Click the edit note button, note editor opens
- Change something or simply close the editor again
- The filtered list view expands again to the full list of notes despite the fact that the a

[2015-10-05 16:50] Liongold commented on #534
database.php should not be changed. If you want to configure everything but skipping the wizard, please follow this wiki page: https://github.com/twostairs/paperwork/wiki/Installing-and-configuring-Paperwork-without-using-the-Setup-Wizard.

[2015-10-05 16:56] Liongold commented on #528
@berndblume I'm very sorry that you're having this trouble. However, it is happening because of the delicate situation you are in. Firstly, if you still have the old database, please make a backup of it because it will be overwritten. About the git message, it can be because of various reasons. Most likely, it is that either the Github API did not work or your install lacks the php curl package. R

[2015-10-05 20:52] tommyhp2 commented on #534
still broken :(

![paperwork_20151005](https://cloud.githubusercontent.com/assets/6822623/10293197/1b8e2c60-6b68-11e5-95a2-e044e760c155.png)

My PHP code to verify the credentials works fine as it able to connect and run a select statement.  So I know the problem isn't the credential.

[2015-10-05 21:04] tommyhp2 commented on #534
Same error occurs when recreating the DB and credential.
![paperwork_20151005_recreate](https://cloud.githubusercontent.com/assets/6822623/10293557/e9ff4b1e-6b69-11e5-88a5-9a943acdc18e.png)

[2015-10-07 10:46] HazenBabcock commented on #401
I was trying to. The last two location directives are directly from that example. My knowledge of nginx is minimal, but I believe that these are the only two paperwork specific directives.

[2015-10-07 15:19] Liongold commented on #401
Could the `apps/` part of each URL be the problem? However, I don't know Nginx so can't really help more than this.

[2015-10-07 15:21] Liongold commented on #534
@tommyhp2 What's the content of the `app/storage/db_settings` file?

[2015-10-07 16:45] Liongold commented on #322
@Baldrs So this will replace the Insert Symbol or stay alongside it?

[2015-10-07 17:52] tommyhp2 commented on #534
[root@d-f22-web frontend]# cat app/storage/db_settings
mysql, 10.110.0.2, 3306, paperwork, paperwork

[2015-10-07 19:15] sdiver78 commented on #534
"The database name is always paperwork." ... I know my host won't allow this as it's appended by the account name such as account_paperwork. Would suggest all be changeable/parameterized in the new db_settings file.

[2015-10-07 21:08] philosowaffle commented on #486
Don't know about the Demo site, but I have paperwork installed now on my own server and have not seen this issue.

[2015-10-08 03:57] tommyhp2 commented on #534
I found the bug... I modified the:

[code]
to
[code]
to verify the parameters which are correct but still failed...
![paperwork_20151007](https://cloud.githubusercontent.com/assets/6822623/10357180/15defd3a-6d34-11e5-8551-42662dc166d4.png)
Note the EOL char after the password? So I modified the same file from
[code]
to
[code]
and tada!!!
![paperwork_20151007_works](https://cloud.githubusercontent.

[2015-10-08 04:02] tommyhp2 commented on #534
But the new Notebook button is still broken :(... I'm back to square one.. LOL
![paperwork_20151007_ui](https://cloud.githubusercontent.com/assets/6822623/10357399/a854659a-6d36-11e5-86eb-343c1f4df307.png)

[2015-10-08 08:06] Baldrs commented on #322
That will require the new content-type, same as for markdown. You cannot
truly mix LaTeX and html. So insert symbol will stay for HTML.

Best regards,
Arseny Lozitsky

On 7 October 2015 at 19:45, Liongold <notifications@github.com> wrote:

[2015-10-10 08:07] renyidong commented on #519
I can translate for you.

请检查你是否有/var/www/html/edi/paperwork/frontend/app/storage/logs/的写权限
Please check if you have write permission of /var/www/html/edi/paperwork/frontend/app/storage/logs/

[2015-10-12 10:51] daeavelwyn opened #546 "note content not displayed in main view"
I'm using the last git version (make a git pull before reporting this issue) and as you can see in the picture below, the note content isn't displayed as it should.

![paperwork-issue](https://cloud.githubusercontent.com/assets/4292225/10426359/d3136496-70df-11e5-9ad3-2e543df20ad0.png)

[2015-10-14 18:39] Liongold commented on #546
@daeavelwyn Any console output? Screenshot of the Network tab, please as well.

[2015-10-14 18:43] Liongold commented on #534
@tommyhp2 Not really. You've suggested 2 improvements for the Setup Wizard and now your solution can be used for all other users. Now, regarding your problem? Can you post screenshots of the Network and Console tabs of your developer tools console, please?

[2015-10-14 18:43] Liongold commented on #486
@philosowaffle Good to know. I'll close this issue then. If you encounter any other issues, please let us know.

[2015-10-14 18:43] #486 closed

[2015-10-19 17:23] daeavelwyn commented on #546
@Liongold hi, thks for your interest, I've nothing mentioned in my apache logs, but perhaps a better way than apache log exists to debug paperwork ? Please let me know the steps and I'll enjoy to follow your instruction :)
And last question, wht do you mean by "Network tab" ? I've found no network tab in the paperwork's UI :-/

[2015-10-20 17:34] Liongold commented on #546
@daeavelwyn Sorry for that. If you're on Chrome, please on the menu button and then more tools and then find Developer Tools. There are the tabs there. If you're on other browsers or I haven't explained well, please let me know. Also, are you using develop branch?

[2015-10-20 18:13] daeavelwyn commented on #546
oh sorry, I wasn't realize you wanted javascript  console output :)

here is the log from firefox (I just changed the domain name to my-domain.com) :

Error: $(...).editable is not a function
@https://my-domain.com/js/paperwork.min.js:1079:7
$RootScopeProvider/this.$get</Scope.prototype.$emit@https://my-domain.com/js/angular.min.js:13028:15
.link/<@https://my-domain.com/js/paperwork.min.js:332:11

[2015-10-21 17:01] Liongold commented on #546
@daeavelwyn Are you on the master branch of the repository?

[2015-10-21 17:04] Liongold commented on #543
This issue has been fixed in #544 and therefore this issue will be closed. It is now available on the develop branch of our repository. If you encounter any other issues and/or have any feedback about Paperwork, please open a new issue.

[2015-10-21 17:04] #543 closed

[2015-10-21 17:05] Liongold commented on #539
This issue has been fixed in #540 and therefore this issue will be closed. It is now available on the develop branch of our repository. If you encounter any other issues and/or have any feedback about Paperwork, please open a new issue.

[2015-10-21 17:05] #539 closed

[2015-10-21 17:07] Liongold commented on #527
The collections feature has now been implemented. Thanks for your contribution to Paperwork. If you encounter any issues and/or have any feedback about Paperwork, please open a new issue. This issue will be closed.

[2015-10-21 17:07] #527 closed

[2015-10-21 17:08] Liongold commented on #474
Thanks for dedicating some of your time to contributing to Paperwork. This issue has been fixed in #542 and improved in #547, and therefore this issue will be closed. It is now available on the develop branch of our repository. If you encounter any other issues and/or have any feedback about Paperwork, please open a new issue.

[2015-10-21 17:08] #474 closed

[2015-10-21 17:08] Liongold commented on #454
Thanks for dedicating some of your time to contributing to Paperwork. This issue has been fixed in #542 and improved in #547, and therefore this issue will be closed. It is now available on the develop branch of our repository. If you encounter any other issues and/or have any feedback about Paperwork, please open a new issue.

Just an additional note, the default sort order was by creation date (

[2015-10-21 17:08] #454 closed

[2015-10-21 17:10] Liongold commented on #15
Collections have now been implemented in Paperwork! This issue will now be closed. If you encounter any issues and/or have any other feedback, please open a new issue.

[2015-10-21 17:10] #15 closed

[2015-10-22 13:01] daeavelwyn commented on #546
@Liongold : perhaps I'm missing something. Here are the steps I do to update my version.

1- go to the paperwork directory
2- git pull

git branch returns * master, so I guess i'm on the master branch.

Am I wrong ?

[2015-10-23 13:26] shinedown99 opened #550 "Missing Jquery Bootstrap and Angular.js files -> empty content window"
Hi I was installing step by step after the manual.

The Main screen stays empty and I can see following in the errors in the browser log:

Still it is missing the Javascript libs:
Failed to load resource: the server responded with a status of 404 (Not Found)
Failed to load resource: the server responded with a status of 404 (Not Found)
Failed to load resource: the server responded with a status of

[2015-10-23 22:12] burakkaptan commented on #550
Hello,

Did you follow installation process for your OS ?  For example i installed it by looking this page: https://github.com/twostairs/paperwork/wiki/Initial-installation

[2015-10-27 11:49] xerosanyam opened #551 "Demo never works !"
http://demo.paperwork.rocks/
Always gives "The webpage is not available."
Tested in latest version of chrome as well as firefox.

[2015-10-27 12:20] devilx commented on #551
https://twitter.com/paperworkrocks/status/650329394112806912

and

https://twitter.com/paperworkrocks/status/650329414287405056

:-)

[2015-10-27 12:20] #551 closed

[2015-10-27 12:58] xerosanyam commented on #551
I am sorry to hear that.
but, following should  be done:
the link should be removed from the main repository, screenshots, link to a video must be added.

[2015-10-28 07:22] Baldrs commented on #551
@devilx look who's come back!

[2015-10-28 07:26] devilx commented on #551
@xerosanyam do you have capabilities / knowledge of providing us with a video? This would be really awesome indeed and I would support this. However, for the suggested steps separate issues should be opened here, in order to keep this one as reference for others who might ask the same question.

[2015-10-29 07:34] cenxun commented on #519
要显示**中文**的话需要更改CSS中的 font-family
记得是这个文件***paperwork-v1.min.css***
这是我修改后的
[code]

[2015-10-29 13:35] jacek-1210 opened #553 "Problem with # after upgrade"
After last upgrade, when I push paperwork logo or "library" button (I will go to the start page), I get  link "paperwork_link.com/#" not "paperwork_link.com/" & I must allways manually delete "#"

[2015-10-29 13:38] jacek-1210 opened #554 "Paperwork via ssl (https)"
I can't find, what configure paperwork to work via https. Is it possible ? When I set server to https work via 443 port, I get "page not found" (another sites works via ssl)

[2015-10-29 13:53] wongalvis commented on #311
@Liongold I've been digging into the code but since my experience and knowledge with backend is limited, it's quite hard for me to understand it. My schedule is packed with all kinds of work so I think I'll not be able to work on it for now. It would be better if someone from the community could work on it with me together then it could be completed much quicker and easier. If there's still not a

[2015-10-30 17:00] jacek-1210 commented on #554
How to configure generate internal links in paperwork to: https://paperwork_link.com ? Maybe this help ?

[2015-10-30 18:45] ntnn commented on #554
That should happen automatically, considering that all links are relative to the paperwork-root (afair). Seems to be a problem with the configuration of your webserver.

[2015-10-30 21:22] jacek-1210 commented on #554
Very thx, really server ssl config was bad, not for paperwork (symlinks etc.). Now works via ssl :)

[2015-10-30 21:22] #554 closed

[2015-11-04 17:44] Liongold commented on #546
@daeavelwyn Sorry for the late reply. We know of an issue similar to that on the master branch. I've just opened a pull request to bring master up-to-date with the changes done to the 'develop' branch that is the branch used for development. Even though there's no fixed schedule, it shouldn't take long to merge this request. Thus, I suggest you wait a little more so that you can check if the lates

[2015-11-04 17:45] Liongold commented on #546
After the checkout command, you should do `git pull` also.

[2015-11-04 18:56] Liongold commented on #96
The issue I opened in the official repo has been closed, so it's difficult to get a fix from them. @devilx any idea on what should be the next step?

[2015-11-05 18:26] jamesrascal opened #556 "Public Note Sharing"
Now that the sharing feature is working in the master build. Would it be possible to implement a public sharing of some kind?

Maybe have it as an option when you click share to select public as the "user" then have paperwork generate a link.

There would also need to be an option to remove the sharing feature from public as well.

Additional the ability to share an entire notebook publicly would

[2015-11-05 19:57] jamesrascal opened #557 "Setupwizard and db_settings does not support Database name"
With the new setup process there is not a way to specify database name.

In order to use a database that is not named "paperwork" you need to modify the settings in the database.php file.

Setup wizard and db_settings should allow for database name.

[2015-11-06 10:18] daeavelwyn commented on #546
@Liongold : Thanks for your efforts, but your instructions totaly breaks my installation ....
![paperwork01](https://cloud.githubusercontent.com/assets/4292225/10994681/293363de-8478-11e5-8596-1436b3f7d0c9.png)

[2015-11-07 00:10] daeavelwyn commented on #546
@Liongold I just made a fresh install following those instructions : https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10 and have exactly the same issue.
As i haven't modified mysql DB, I guess the DB is corrupted. Do you agree ? Have you another suggestion to help me in debuuging this ?

[2015-11-07 00:40] jamesrascal commented on #546
@daeavelwyn

Are you having issues with the clean install?
Did you follow the instructions on using Apache? https://github.com/twostairs/paperwork/wiki/Using-Apache-in-place-of-Nginx

If you are using the newest build you made need to make some additional changes to the database.php file in order to get paperwork to connect to MySQL.

[2015-11-07 01:07] daeavelwyn commented on #546
@jamesrascal  :
My apache settings worked very well with the previous installation of paperwork I had.
The issue comes when I made a ` git pull`
removing extra stuff (isset in mysql array) in the database.php no more returns this error : "

[code]

so I succeeded in reinitializing mysql db. But, i stil got the same error :

![paperwork02](https://cloud.githubusercontent.com/assets/4292225/11012418

[2015-11-09 21:11] DeviantEng commented on #553
I am having this same issue.

[2015-11-10 20:45] Liongold commented on #553
Can you please explain a bit more? Is the problem an extra #? Does it affect the page at all?

[2015-11-10 20:49] Liongold commented on #546
That's the Setup Wizard, not an error actually. The Javascript error, that's something else. Also pleased do not change any of the config files. If you want to skip the wizard, please check out this page: https://github.com/twostairs/paperwork/wiki/Installing-and-configuring-Paperwork-without-using-the-Setup-Wizard. Please let us know what is the problem after that. Thanks for your patience.

[2015-11-10 20:50] Liongold commented on #557
Thanks for this suggestion.

[2015-11-11 01:04] jamesrascal commented on #553
If you are editing a note for instance. Save and then click on the Paperwork Logo to go back to the main page it shows as blank:

![2015-11-10_17-00-20](https://cloud.githubusercontent.com/assets/6054150/11080860/ed64b4d6-87cc-11e5-92fa-d1880bd33812.png)

Once you remove the # and refresh the page it restores the content:

![2015-11-10_17-00-37](https://cloud.githubusercontent.com/assets/6054150/1

[2015-11-11 12:24] daeavelwyn commented on #546
Ok guys, it seems my previous post wasn't so clear I expected. All apologies.
So, I gonna try to be cleared here.

In my test, I make a clean paperwork install configured on ubuntu 14.04 with apache2. Here are exactly the steps I followed :

Install the dependencies

[code]

Enable mcrypt in the PHP configuration files, adding the following to the bottom of the config for php5-cli and php5-fpm:

`

[2015-11-11 18:40] jamesrascal opened #558 "Adding code block without setting a type causes the note to render blank."
If you add a code block to a note with out setting the code type the note will render blank.
![2015-11-11_10-39-23](https://cloud.githubusercontent.com/assets/6054150/11099508/93f69b14-8860-11e5-9f8b-62b83ab3eeb2.png)

![2015-11-11_10-39-13](https://cloud.githubusercontent.com/assets/6054150/11099515/9aaf6d96-8860-11e5-8313-10ff7adc9740.png)

Once you define the code type the note will render corr

[2015-11-11 19:00] jamesrascal commented on #234
I think this issue can now be closed.

[2015-11-11 19:01] jamesrascal commented on #526
This is related to #71 and may be a duplicate.

[2015-11-11 19:06] jamesrascal commented on #498
@devilx @Liongold I believe this can be closed per #551

[2015-11-11 21:55] jamesrascal commented on #489
Hello,

With the current master build I was able to successfully create a collection. You need to create a notebook prior to creating a collection.

[2015-11-13 23:10] ninja- opened #559 "easy fix for paperwork demo"
so, demo.paperwork has been dead for quite a while.
but there's an easy fix - we could link to sandstorm demo + paperwork instance :+1:

[2015-11-18 18:24] Liongold commented on #559
@JamborJan @ninja- Can someoen of you help with this and check if it's possible?

Anyone has any objection to this?

[2015-11-18 18:41] JamborJan commented on #559
Ho guys, okay for me. Maybe it is possible to create a one click demo. I know it is available for other apps too. Maybe @jadeqwang is able to give some input?

The downsides from my point of view are: it is not the latest version, some UI elements are hidden as they are not usable in Sandstorm.

I'm off for the next two months so if I can be of any help it will be January.

Cheers
JJ

[2015-11-18 18:54] Liongold commented on #489
@jacek-1210 @jamesrascal Can this be closed then?

[2015-11-18 18:55] Liongold commented on #498
This issue is being closed, per #551, as @jamesrascal said. Thanks for the reminder. :) Thanks to all participants for contributing to Paperwork through the creation and commenting in this issue.

[2015-11-18 18:55] #498 closed

[2015-11-18 19:00] Liongold commented on #546
Yes indeed, it's very helpful. Yeah, it's expected that, if you skip the Setup Wizard, the registration will have to be done through the normal registration page. However, the first user will till get admin privileges (or should get).

@daeavelwyn Would you be interested in writing the article yourself and contributing to Paperwork?

[2015-11-18 19:01] jacek-1210 commented on #489
thx

[2015-11-18 19:01] Liongold commented on #553
@jacek-1210 @DeviantEng @jamesrascal Any errors in the browser's console?

[2015-11-18 19:04] Liongold commented on #489
Thanks to you.

[2015-11-18 19:12] jacek-1210 commented on #553
Hi, I closed it (new collection). 
 
 
I have some errors if I try to edit some notes. Usually if copy/paste some web page into paperwork, and next when go to edit I see blank card in paperwork :(   But now (from 1 month) I haven't newest version of paperwork. I must update and try.
 
about the problems  (when touch logo I get http://paperwork_adress/#   where # prevents proper opening webpage )  

[2015-11-18 19:31] jamesrascal commented on #553
This is the only error that I am seeing in console:

    Error: Unknown language: "xhtml"
    at c [as highlight] (highlight.pack.js:1)
    at d.highlight (angular.min.js:36755)
    at d.setLanguage (angular.min.js:36755)
    at angular.min.js:36755
    at angular.min.js:5990
    at Scope.$eval (angular.min.js:12851)
    at Scope.$digest (angular.min.js:12663)
    at Scope.$apply (angular.min.js:1

[2015-11-18 20:38] paulproteus commented on #559
Hi all,

The Sandstorm app market already runs a demo service for Paperwork: https://oasis.sandstorm.io/appdemo/vxe8awcxvtj6yu0vgjpm1tsaeu7x8v8tfp71tyvnm6ykkephu9q0

You can find that link by going to:

* https://apps.sandstorm.io/

* Look for Paperwork

* Click "Demo" if you see that button

https://docs.sandstorm.io/en/latest/administering/demo/#app-demos documents that in more depth!

[2015-11-18 20:41] paulproteus commented on #559
@Liongold you should be able to use that link right now and link to it from the Paperwork website; let me know if that works for you!

[2015-11-19 19:28] jacek-1210 opened #561 "trying to upgrade: commit your changes or stash..."
1. So far, I updated paperwork:  "php artisan paperwork:update". Last updated a month ago. Now, I try "php artisan paperwork:update" and get "bla, bla, bla  commit your changes or stash them before You merge". How to properly do the updating - I dont want "stash", only new files copy in paperwork directory.

2. Where is in paperwork database (Mariadb) connect config ? In old version of paperwork I

[2015-11-20 13:48] jacek-1210 commented on #561
because no one answered, I worked it out so, that I typed "git commit -a" and unhashed everything except      xxx.old.

And next, after go on paperwork page I get:

![paperwork1](https://cloud.githubusercontent.com/assets/13505686/11301153/198b066c-8f95-11e5-89f5-da2e1d319954.JPG)

![paperwork2](https://cloud.githubusercontent.com/assets/13505686/11301155/24394b78-8f95-11e5-9c84-4000437cc00e.JPG)

[2015-11-20 19:21] Liongold commented on #559
@paulproteus @JamborJan Thank to both of you. This has got to the next stage and I opened a pull request with the new information. If and when the pull request is accepted, then this issue will be fixed.

[2015-11-20 19:24] Liongold commented on #561
You can skip the Setup Wizard if you want by following [this wiki page](https://github.com/twostairs/paperwork/wiki/Installing-and-configuring-Paperwork-without-using-the-Setup-Wizard). Admittedly, the wizard is not the best part of Paperwork and that it needs to be fixed. I can't promise any dates, however. I hope it isn't too much of an inconvenience for you. Sorry for not replying on your first

[2015-11-20 19:26] Liongold commented on #553
@jamesrascal That shouldn't be related to that. However, some more research is needed for this.

[2015-11-20 20:15] jacek-1210 commented on #561
I don't understand: I make db_settings file in paperwork/frontend/app/storage/  directory  and what write into db_settings file ?
E.g.:

mysql = database_name,
server = localhost,
port = 3306,
username = paperwork_user_name,
password = paperwork_user_password,

<<<

I this ok ? or:

database_name, localhost, 3306, paperwork_user_name, paperwork_user_password,

<<<

?

Where in paperwork are mysql

[2015-11-20 20:57] jacek-1210 commented on #561
Ohh yes, I write:

mysql, localhost, 3306, paperwork_user_name, paperwork_user_password

and work :)

[2015-11-20 21:08] jacek-1210 commented on #553
After new upgrade is the same:

I add/edit note:

![paperwork4](https://cloud.githubusercontent.com/assets/13505686/11311851/d6f8a500-8fd2-11e5-91c0-4ab61124d786.JPG)

and save note:

![paperwork5](https://cloud.githubusercontent.com/assets/13505686/11311859/e78944ce-8fd2-11e5-86f7-8721fe23ef33.JPG)

next I will go to home - I touch logo (or "library"):

![paperwork6](https://cloud.githubuserconte

[2015-11-20 21:20] jacek-1210 commented on #553
I reply on git
 
 
 
W dniu 2015-11-18 20:02:11 użytkownik Liongold <notifications@github.com> napisał:
@jacek-1210 @DeviantEng @jamesrascal Any errors in the browser's console?
—
Reply to this email directly or view it on GitHub.
 
 

[2015-11-20 21:23] #561 closed

[2015-11-22 17:32] daeavelwyn commented on #546
@Liongold ok, so, the first user always has admin privileges. I won't have the time to write the article, sorry. But I will continue to test and report issues :)

[2015-11-22 23:20] stephane-martin commented on #256
hi,
i still don't get correct URL for API calls. For example, the URLs to download attachments don't have the instance prefix.

[2015-11-24 18:11] jamesrascal opened #562 "Auto logout on time out"
When session times out page should refresh or log user out.

Currently only a banner message is displayed that you session has timed out. As the user you need to click the logout button then login again.

[2015-11-24 20:16] jacek-1210 commented on #489
Fine, for first look. I can make new collection. Some comments:
 
 
1. If I touch collection name, displayed notes. It would be good, if notes names were preceded by eg. space etc.
This would distinguish notebooks of collection from ordinary notebooks
 
2. 1-th touch collection name shows collection notes. 2-nd touch collection name should hide collection notes
 
 
3. Lack edition collection (chan

[2015-11-25 21:58] jacek-1210 opened #563 "Paperwork wrong show some notes"
Sometimes I have notes, which displays wrong:

Hedline is OK, but the content is blank:

![paperwork1](https://cloud.githubusercontent.com/assets/13505686/11410416/7ac1327c-93c7-11e5-8199-afe0960ba8d5.JPG)

or content is from different note:

![paperwork2](https://cloud.githubusercontent.com/assets/13505686/11410429/95df31c6-93c7-11e5-84e7-53bbdee91f36.JPG)

I dont know ? DB ? ( I have MariaDB) or

[2015-11-25 22:17] jamesrascal commented on #563
I can confirm this issue. In some cases when switching notes the content of the not will not change but will continue to show the previous notes content.

[2015-11-27 19:16] tommyhp2 commented on #534
After fiddling some more by removing nodejs and npm in addition to deleting ~/.npm directory, I finally got the "New Notebook" to appear.  But I can't type anything for the new entry.

![paperwork_20151127](https://cloud.githubusercontent.com/assets/6822623/11447261/459269c2-94f8-11e5-8069-4019b3e7d815.PNG)

[2015-11-29 19:30] Liongold commented on #489
@jacek-1210 If by 3, you mean editing, then yes there is something like that already. Check it out from the Manage Notebooks dialog. About the others, very good suggestions, thanks a lot.

[2015-11-29 19:31] Liongold commented on #562
@jamesrascal Can you tell us what happens if you click on the notification? Does it reload or not?

[2015-11-29 19:33] Liongold commented on #546
@daeavelwyn No problem, everything helps.

[2015-11-29 19:36] Liongold commented on #234
I'll leave it open since some work on the wizard is still needed.

[2015-11-29 19:38] Liongold commented on #534
@tommyhp2 That shouldn't be needed. Further investigations are required. @sdiver78 A future update of the wizard may change this, sorry for the inconvenience.

[2015-11-29 19:40] Liongold commented on #563
Very strange and possibly serious issue. Can you try reproducing and posting an image of the Developer Tools console, please?

[2015-11-30 05:25] jamesrascal commented on #562
Red notification does not reload the page. Nothing in the console indicating an issue other than a 401 not authorized error. Unable to find any other errors.

[2015-11-30 13:10] jacek-1210 commented on #563
"Can you try reproducing and posting an image of the Developer Tools console, please?"

Uppsss... how do it ? What "Developer Tools console" ? Demo page ?

[2015-11-30 13:24] jacek-1210 commented on #563
Thats it ? (hedline ok, content from different note):

![paperwork8](https://cloud.githubusercontent.com/assets/13505686/11472621/187c5466-976e-11e5-84fc-cef96e3bc2b5.JPG)

[2015-11-30 19:17] tommyhp2 commented on #534
I just tried to install on Centos 6.7 and 7.1, C6.7 resulting in HTTP500 and C7.1 resulting the same new entry problem.  However, it seems to work on Ubuntu 14.0.4 LTS.

[2015-12-03 21:40] jacek-1210 opened #564 "Files upload limit (?)"
When I'm trying to upload 14 files (eg. jpg's) into note, paperwork load only 10 files and not allow upload more files. Bug ? Limit ? Case ?

[2015-12-06 16:22] Liongold commented on #557
@jamesrascal I've done some code for this already. Is it fixed now then?

[2015-12-07 07:15] jamesrascal commented on #564
What are you seeing in your error log? You may need to adjust your HTTP request length or max upload settings. Please provide your webservers error logs for further assistance.

[2015-12-07 09:09] jacek-1210 commented on #564
Normal, when I click "upload documents" in paperwork, open system window to select files. I select eg. 14 files and click "open". System window close. On paperwork, to upload, I see only 10 files.
Next I click "upload" in paperwork, upload 10 files. When I again click "upload documents", open system window, I select 1 file, click "open", system window close and reopen, but no file add in paperwork

[2015-12-07 09:09] #489 closed

[2015-12-07 14:08] Liongold commented on #564
I've gone through the code and it should give you some sort of reply. Can you do this please:
Go to Chrome Menu > Developer Tools (don't know which sub menu right now sorry). When it opens up, go to Network tab and then after that loads (if it contains some rows already, click clear at the top), try the upload. A row should be added then showing the request. Could you take a screenshot of it after

[2015-12-07 14:11] Liongold commented on #559
Pull request accepted. Thanks for your feedback, help and availability. I'll close this issue now. Feel free to open a new one should you encounter any problems.

[2015-12-07 14:11] #559 closed

[2015-12-07 17:03] jacek-1210 commented on #564
My english is not very well. Is it ?:

![paperwork9](https://cloud.githubusercontent.com/assets/13505686/11633512/0117b7f4-9d0c-11e5-8cae-e7e1de5162b0.JPG)

on the same server (linux) and same xp/chrome computer I have resourcespace (for fotos) and at once I add hundreds files and work ok.

On paperwork:

I select 15 files:

![paperwork10](https://cloud.githubusercontent.com/assets/13505686/116336

[2015-12-07 21:30] DavidWiesner commented on #104
@devilx I think the shortcuts used in [laverna-webapp](https://laverna.cc/app) are good to start a discussion. I removed some shortcuts they won´t make sense in paperwork.

|Action	|	Keybindings|
|-------|----------|
|Edit	|	e|
|Open	|	o|
|Save      | Ctrl+s |
|Remove	|	shift+3|
|Create new note	|	c|
|Keyboard help	|	?|
|Search note	|	/|
|Go to inbox	|	g i|
|Go to notebook list	|	g n|
|Go to remov

[2015-12-08 14:16] Liongold commented on #564
@jacek-1210 This isn't an actual bug. There's a limit imposed on notes limiting them to upload a maximum of 10 files. The reason for this is what I'm not sure about?

What do you all think? Should this be removed or increased?

[2015-12-08 14:45] Liongold commented on #553
@jacek-1210 Do you have an idea when did you do the update that broke Paperwork? And which branch do you run?

[2015-12-08 15:27] Liongold commented on #442
Even though inline editing has not been implemented, a message has been included in Paperwork that gives an indication of what to do when a notebook is empty. Thus, this can now be closed. If you, for any reason, don't agree just reopen the issue. If you have any other feedback, please open a new issue. Thanks for your contribution.

[2015-12-08 15:27] #442 closed

[2015-12-08 17:34] Liongold commented on #563
I've opened a pull request for #558. I'm not 100% sure but it could fix this issue as well. So, please could someone of you test the branch or wait until the pull request is merged and then comment on whether this issue is fixed or not, please?

[2015-12-08 17:49] jacek-1210 commented on #564
I may be wrong, but I think that the limit is not needed or increase it. db should deal with it (?). (maybe the problem is that the paperwork remembers various editions and this takes the disk resources ? If not, I think that the limit is not needed) In my case, the problem was, that the paperwork is not reading pdf. I need upload in paperwork some manuals and view them on paperwork. So, I thought

[2015-12-08 18:11] Liongold commented on #564
What do you mean by "not reading pdf"?

[2015-12-08 18:12] jacek-1210 commented on #553
I did the update probably in the first half of October. But previously I did not update more than a month. Probably, I had a properly functioning program from August.

I found an old copy paperwork (files are dated 31 July, 4 and 24 August), now I reinstalled this copy and work OK, no problem with home page function. After returning to the new / latest version again is a problem with #

[2015-12-08 18:30] jacek-1210 commented on #563
Yes, probably problem is in frames (?) I edit and erase copy/paste text (in frame) and note works OK.

Try it: go to https://github.com/twostairs/paperwork/issues/469

copy/paste selected frame with text into paperwork:

![paperwork13](https://cloud.githubusercontent.com/assets/13505686/11664435/06c5fca2-9de2-11e5-96ed-1d70b499a125.JPG)

and check it out

[2015-12-08 18:38] jacek-1210 commented on #564
This:

![paperwork4](https://cloud.githubusercontent.com/assets/13505686/11664572/e77ed30e-9de2-11e5-9444-44f3c50de1c9.JPG)

in red field I will see content of pdf, but I see only link to pdf. I can download this link and open, but it is easier to read directly in the notebook

[2015-12-08 18:44] Liongold commented on #553
So at August 24, there were no problems? Thanks a lot for your help.

[2015-12-08 18:47] jacek-1210 commented on #553
I'm not sure. In the same folder/install, I have files with these various dates. More files is dated 31 July. Maybe I installed 4-24 August ?

[2015-12-08 18:49] Liongold commented on #553
Oh I think I'm understanding. So we can say that the version there was on July 31 was working well, right?

[2015-12-08 18:51] jacek-1210 commented on #553
I think so

[2015-12-08 18:52] Liongold commented on #553
OK, that's very valuable information. What branch do you run? (Did you do `git checkout develop` at any time)?

[2015-12-08 18:53] Liongold commented on #553
You can also check it by doing `git status` in the command line and check what follows the text: "On branch" near the top.

[2015-12-08 18:59] jacek-1210 commented on #553
I get this:

![paperwork15](https://cloud.githubusercontent.com/assets/13505686/11665119/ecdb658a-9de5-11e5-8b38-ccee5db4ea72.JPG)

on branch develop
Your branch is up-to-date with 'origin/develop'
etc.

[2015-12-08 19:06] Liongold commented on #553
OK, thanks for your help. This will surely help when it comes to fixing this problem.

[2015-12-08 19:43] jamesrascal commented on #564
PDF reading is not something that has been implemented see #535

[2015-12-08 19:45] jamesrascal commented on #557
Is this in master or dev? I'll configure a new install and test tonight.

[2015-12-08 19:48] jacek-1210 commented on #564
Yes, and from https://github.com/twostairs/paperwork/issues/535

"That isn't possible for PDFs right now. You can have that effect for images if you put the image in the note itself (not as an attachment)"

So, I try upload images and stop at upload limit :)

[2015-12-08 20:01] #469 closed

[2015-12-09 16:13] Liongold commented on #557
It's on develop branch.

[2015-12-09 16:19] Liongold commented on #553
I've opened a pull request with a fix for this. However, I still haven't found the exact cause of this problem.

[2015-12-09 16:27] Liongold commented on #534
@tommyhp2 Sorry for the late reply. Do you notice any differences in the browser console output between the different versions, please?

[2015-12-09 20:27] jacek-1210 opened #570 "Moving note into another notebook"
If I choose notebook, next click note and next go to upper bar Edit->move note, choose another notebook and click "select", I get error "Something went wrong...."

Anytime

[2015-12-12 13:57] Baldrs commented on #562
Fixed in #568

[2015-12-12 13:57] #562 closed

[2015-12-13 21:28] jamesrascal commented on #553
This is  now working in the Develop branch. I know its a work around but it's now functional.

[2015-12-14 20:52] jacek-1210 commented on #553
thx

[2015-12-16 04:24] srphillips commented on #95
May or may not be helpful but found this plugin http://ckeditor.com/addon/markdown

Seems new so may need some more work, but it's a start.  I would also like to see the markdown support.

[2015-12-17 11:15] morskipas opened #573 "paperwork_settings is not working"
If  I disable functions in config file "paperwork_settings" like this
_debug: true
registration: false
forgot_password: false
showIssueReportingLink: false_
all of the disabled functions are still enabled at the start page.

Also in case edit the paperwork.php in directory config
_'registration' => false,_
the registration is still available

[2015-12-17 18:29] #570 closed

[2015-12-18 17:35] Liongold commented on #573
Sorry for the late reply, even on your mailing list post. Thanks for telling us of this issue. A fix is in a pull request, which hopefully fixes your issue.

[2015-12-18 18:03] Liongold commented on #558
This issue can be closed. A fix for it is available in our develop branch. If you encounter any issues, please open a new issue. Thanks for your contribution.

[2015-12-18 18:03] #558 closed

[2015-12-18 18:03] Liongold commented on #563
This issue can be closed. A fix for it is available in our develop branch. If you encounter any issues, please open a new issue. Thanks for your contribution.

[2015-12-18 19:22] morskipas commented on #573
Thx for your answer, unfortunately the change of the file paperwork.php was not helpful :-(
I changed the file like this

old -->    $configLines = explode(**"\r\n"**, $configString);
new -->    $configLines = explode(**PHP_EOL**, $configString);

[2015-12-18 21:20] jacek-1210 opened #575 "copy/paste hyperlink problem"
When I copy hyperlink:

![paperwork16](https://cloud.githubusercontent.com/assets/13505686/11907560/22089d12-a5d5-11e5-9f84-b11fdf88565b.JPG)

and paste into paperwork, i get normal text, not hyperlink :(  Only if "upload -> insert", hyperlink is right genrated:

![paperwork17](https://cloud.githubusercontent.com/assets/13505686/11907586/694d6680-a5d5-11e5-8719-3de094704c0c.JPG)

[2015-12-19 15:34] morskipas commented on #573
Hi Linongold,

I found one more thing abaut the problem.
I changed now directly the paperwork.php
*'registration' => false,*
No effect, the registration function is still there. But now I deleted the file paperwork_settings in the storage folder ... and noe it works :-)

[2015-12-19 16:47] morskipas commented on #575
It think it works as disigned, you can use the "link" option/format from the CKEditor.
If you copy a real link for an internet page it works as a link after pasting it to paperwork.

[2015-12-19 17:46] jacek-1210 commented on #575
I don't use CKEditor. It isn't a big problem, but in the future, IMO it would be better if it worked so, that paperwork independently would recognize "http://....." and automatically would create hyperlink, as do other editors.
So, if I copy/paste all html page, links in this page copy with the correct hyperlinks

[2015-12-19 19:20] morskipas commented on #575
Hi jacek, yes of course it would be nice if paperworks recognize automatically if everything started with http:// or https:// is a hyperlink.

Just a short question, do you replaced the CKEditor by something else? Or why don't you use the CKEditor, it integrated and not so bad.

![paperwork](https://cloud.githubusercontent.com/assets/6042276/11914886/f161acd0-a68d-11e5-9809-5c33775f7a96.png)

[2015-12-19 20:19] jacek-1210 commented on #575
Thx for Your help !  I had no idea, that the paperwork has built-in editor :)))))
OK, link in CKE works me as hyperlink 
 
 
 
 
 
W dniu 2015-12-19 20:21:02 użytkownik morskipas <notifications@github.com> napisał:
Hi jacek, yes of course it would be nice if paperworks recognize automatically if everything started with http:// or https:// is a hyperlink.
Just a short question, do you replaced the

[2015-12-19 20:20] #575 closed

[2015-12-19 21:13] itisNathaniel opened #576 "Can't create account"
Hi,
I set up a new installation of paperwork in a a docker container (from here https://hub.docker.com/r/zuhkov/paperwork/) once I'd set it up with my database I got given the normal login page but whenever I try to create an account I'm given the following alerts
![screen shot 2015-12-19 at 21 12 57](https://cloud.githubusercontent.com/assets/4061191/11915235/562207c6-a695-11e5-968a-e550a0942387.

[2015-12-19 22:14] morskipas commented on #576
It looks a little bit strange in your sql . I thinks the userid should not be 0

[2015-12-28 14:27] Liongold commented on #573
@morskipas Sorry for the late reply. Paperwork will be getting a new Setup Wizard soon which will change the configuration part of Paperwork. Since you currently have a workaround, I suggest you wait a little until the new wizard is pushed, if you don't have any problems with that.

[2015-12-28 14:31] Liongold commented on #576
@itisNathaniel Sorry for the late reply. Did you find a solution for this?

[2015-12-28 14:39] morskipas commented on #573
No worries ... it's christmas :-)
Yes, I totally agree .... this workaround is more than enough

Thanks for your reply

[2015-12-28 17:06] itisNathaniel commented on #576
Hi, I didn't no; I'm not sure if the database entries were not created correctly as when a user is created it is not given a 'user_id', it's just left blank. So that's why I'm assuming it's failing to create new users as they can't all be user_id " ".

[2016-01-01 11:30] f-thiele opened #577 "Cannot redeclare class illuminate\support\classloader in ClassLoader.php"
Hi,

while trying to setup my first instance of paperwork and following the [initial installation guide](https://github.com/twostairs/paperwork/wiki/Initial-installation) I'm running into a blank page with my log file giving the following error:

(_www.example.com and IP-adress are anonymized through me_)

`2016/01/01 11:41:46 [error] 13288#0: *2968 FastCGI sent in stderr: "PHP message: PHP Fatal

[2016-01-03 16:20] Liongold commented on #576
@itisNathaniel Can you post a screenshot showing the table structure of the users and settings tables, please? (things like field name, length, etc.)

[2016-01-03 16:24] Liongold commented on #577
Do you have all composer dependencies installed? Also do you have php5-fpm installed, please?

[2016-01-03 16:24] Liongold commented on #577
Also are you accessing Paperwork from a subdomain?

[2016-01-03 19:23] workboot commented on #577
Thank you for your replies. The composer installer said: "All settings correct for using Composer". I am running php5-fpm on other projects of mine so far without problems.

My nginx configuration is all running on one domain: www.example.com. In different subfolders however I run different applications similar to the [subfolder documentation of paperwork](https://github.com/twostairs/paperwork/wi

[2016-01-05 01:03] wuggenid opened #580 "Can't Upload all Documents"
I have a problem uploading a document when editing a note.
If i press "Upload document...", choose my document and select it, the file select window closes and opens up again. If i press cancel it does the same. After it closes and opens 5 times, it stays closed, but there is no file uploaded.

This doesn't happen everytime and with every file, but with most of them...

Thank you for helping, pape

[2016-01-05 20:34] jacek-1210 opened #581 "Moving storage directory"
I use paperwork not only for notes, but for storage different files. Storagedir is bigger and bigger. Now, storage dir is  paperwork/frontend/app/storage/attachments. If I upgrade paperwork, I copy/paste all paperwork directory with bigger storagedir and next git pull. It is a bit annoying. Is it possible (now or in the future) to moving storagedir e.g. in paperwork/storagedir (paperwork/attachmen

[2016-01-10 02:40] wuggenid opened #582 "Pictures rotate Landscape"
Hey, every Picture i insert into my Note gets rotated into Landscape mode.
Is there a reason for this?

[2016-01-12 08:30] danielhh1972 opened #583 "Tags are not shared"
When sharing notes with another user the tags are not shared
with other users.

[2016-01-20 15:34] Berndinox opened #584 "[QUESTION] Docker -> DB running local?"
Hy,

cause i have running PHP7 on my Webserver, i would like to run the Webapp inside Docker, but use the localy installed MySQL DB. Storing the files in a local Path woudl also be great.

Are there any Documents available to achive this solution?

Thanks, BR

[2016-01-24 02:08] jasondavis opened #585 "Sponsor a demo"
I am curious what kind of costs would be involved to sponsor an up to date demo server?  Would a basic 5-10$ a month Digital Ocean server be enough or is the traffic too high?

[2016-01-24 10:14] Baldrs commented on #585
$10 should be enough

[2016-01-24 10:18] Baldrs commented on #584
You can add /var/run/mysql of host as volume

[2016-01-26 10:41] Berndinox commented on #245
+1 Thanks!

[2016-01-26 16:07] solprov commented on #13
Hi, is it possible to import notes from tomboy to Paperwork?

[2016-01-26 17:48] JamborJan commented on #13
Hi @solprov

It would only work when this application can export data in the special Evernote XML format.

If not an import feature must be implemented. Can you please create a new issue for that? Please add as many information as you have e.g. a link to the apps website, source code if it is open source and if available export file examples.

[2016-01-26 22:18] NetIds opened #586 "Edit or make a new note"
I have a problem to make a new note or edit one. Nothing happens when clicking on the new button and wile not load the note when I click on editing. Making a new collection of notebook is not a problem.

[2016-01-27 17:50] #586 closed

[2016-01-27 22:21] funwhilelost commented on #67
FWIW I set up a private Paperwork in Sandstorm with a couple clicks.  http://oasis.sandstorm.io/

[2016-01-30 06:16] KerimG commented on #461
This is definitely something that would interest me, too. Maybe one could utilize https://github.com/thiagoalessio/tesseract-ocr-for-php , which is a PHP wrapper for Google's OCR engine.

I'll try to look into it.

[2016-02-02 08:49] w00p commented on #570
Hi, i have the same problem. Is there a fix for this?

[2016-02-02 11:32] jacek-1210 commented on #570
Hi,
 
Yes, its fixed on December 2015, works ok
 
 
 
 
W dniu 2016-02-02 09:49:45 użytkownik w00p <notifications@github.com> napisał:
Hi, i have the same problem. Is there a fix for this?
—
Reply to this email directly or view it on GitHub.
 
 

[2016-02-03 06:15] santosh-k1 commented on #51
i want to set the height of the div at runtime but  there is issue that angular function call first and DOM load so shown that element undefined.. to fix this issue as a alternate used below code :+1:
angular.element(document).ready(function () {
                setTimeout(function () {
                    var windowHeight = $(window).height() - 100;
                    $('#page-layout').css({ 'ov

[2016-02-03 17:21] kmf commented on #585
is there a paypal account?

[2016-02-03 20:47] itisNathaniel commented on #461
That sounds awesome, thanks!

[2016-02-12 09:47] ddonindia opened #587 "Unable to setup on ubtunu 15.10"
Hi,

I am following installation steps on https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10.
But after hosing paperwork on my nginx server and mysql db I am seeing following problems
1. Even if I go for manual configuration by creating db_settings file I am always getting setup wizard.
2. If i go with setup wizard when I try to create new user on next screen I am get

[2016-02-14 23:27] MrPurplz opened #588 "Where to get API Hash?"
Hi,

This is perhaps a very basic question but I'm not sure where I generate/locate the hash used for authenticating to the API.

[The documentation](http://docs.paperwork.apiary.io/#reference/notebooks/notebooks-collection) states one method of authentication is:

I've looked through the settings pages and can't locate it.

[2016-02-18 05:54] ddonindia commented on #587
anyone ?

[2016-02-18 09:40] Baldrs commented on #585
https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TVXPLDTDYHRK8

[2016-02-24 18:15] foozleface commented on #553
I see this on both the develop and master branch. It happens when I create a new note, then hit the "home" button (paperwork icon in the upper right).

[2016-02-26 13:07] bijancn opened #590 ""Upload document" button is taking up ~20 % of my screen"
I usually have my browser only on half of my screen and then the "Upload document" button on the right is really annoying because it reduces the possible size of the input box for the CKEditor.

When I make the window really small, at some point the "Upload document" button ends up at the bottom. I think this position makes more sense for any screen size. (Even better would be probably on the line

[2016-02-26 20:16] morbidpete commented on #509
any progress on this? when looking at the file (located in /var/www/paperwork/frontend/app/controllers/api/v1 for me) I can not find that string at all to edit

[2016-02-27 22:00] techknowlogick commented on #588
In the documentation there is a sample auth header being sent `Authorization:Basic dGVzdEBwYXBlcndvcmsucm9ja3M6dGVzdDEyMw==` and that hash base64 decodes to `test@paperwork.rocks:test123`.

So it's just your email/pass separated by `:`

More information about this can be found here: https://en.wikipedia.org/wiki/Basic_access_authentication#Client_side

Note: As this passes your auth creds in plain

[2016-03-01 09:10] ddonindia commented on #587
Is this project still maintained ?

[2016-03-01 10:12] Baldrs commented on #587
@ddonindia it is but don't expect us to do everything instead of you. Also please try docker version as it is less platform-dependent

[2016-03-01 15:48] mattcurrycom opened #591 "Your install Doc is incorrect"
https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10

The process, is incomplete and doesn't work verbatim.  Please try it yourself, and update with the correct fixes.

[2016-03-01 15:50] mattcurrycom commented on #587
yeah they haven't really created good documentation; and the install instructions are incorrect even for the ones 'supported'; very dissapointed at this point in this project.  I really thought it had promise.  But if managed like this going forward it will fail.

[2016-03-01 16:02] mattcurrycom commented on #591
and docker-compose isn't an end user solution...

[2016-03-01 16:22] Baldrs commented on #587
@mattcurrycom this is open source software, if you feel that documentation, which was made for free by contributors is bad, feel free to improve it, otherwise just go away.

[2016-03-01 18:18] ddonindia commented on #587
@Baldrs sorry I didn't mean disrespect for you or any other developer of this project. I was not able to figure out of my own whats going on in my env thats why I asked.
I see lots of potential in this project.

[2016-03-05 19:04] mattcurrycom commented on #576
I am also having the same issue, after following the install here:
https://github.com/twostairs/paperwork/wiki/Installation-----CentOS-Fedora

On a VPS.  I have also tried the ubuntu install and it has many more issues. So I figured I would figure out which one you guys "Preferred"; and install that.  The install was much easier on Fedora/Cent, but I was still disappointing it did not work.  If yo

[2016-03-05 19:04] mattcurrycom commented on #576
Please let me know what data you need to help fix this; I am seasoned Linux Engineer, and DevOps Engineer. Happy to help.

[2016-03-05 19:05] #591 closed

[2016-03-05 19:10] mattcurrycom opened #592 "Error during install"
Checking for Updates

It seems like this is not the latest version of Paperwork. Please consider installing a newer version.

Also shows the button at the bottom
Update Requires (NPM,....
with the Coming Soon Reply

I have checked with a git pull; and it is up to date.  I am not sure if this is related to the other DB issues in the install or not.

[2016-03-05 19:12] mattcurrycom opened #593 "Setup Screen Items Not Aligned Properly"
See attached pic. Just a heads up.
![paperwork](https://cloud.githubusercontent.com/assets/708093/13549826/9434aa6a-e2cb-11e5-9054-7a141d965150.jpg)

[2016-03-05 19:13] mattcurrycom commented on #593
not a huge deal. But it almost appears the check boxes are off a bit.  I would Underline "Configuration Settings", and put a space below it.

[2016-03-05 19:20] mattcurrycom commented on #525
The "sudo COMPOSER=composer.json composer update " line should really be 2.

Try setting:
echo "COMPOSER=composer.json" >> ~/.bash_profile
then relogin, and try composer update.

Might have to do them with sudo, depending on your install.

[2016-03-05 19:35] mattcurrycom commented on #587
@Baldrs no need to get butt hurt, I was just being honest. I am actually trying to help. Sorry if it came across hostile.  I just really like the project, and want it to succeed. I just am a bit disappointed that its not a bit more stable. I personally have tried 3 installs and still don't have it running.  If I get time, I will dig into them and see what I can do to help.  I am just not a node/ph

[2016-03-05 19:46] ghost opened #594 "Installer Issues with DB"
I was able to get it going after doing the manual DB setup method.

https://github.com/twostairs/paperwork/wiki/Installing-and-configuring-Paperwork-without-using-the-Setup-Wizard

It appears the installer has some issue with the user_id.  Once I followed that it worked.

[2016-03-05 20:06] #592 closed

[2016-03-05 20:07] mattcurrycom commented on #576
I was able to get around this by using the manual install method; and redoing the php artisan migrate.

[2016-03-05 21:08] ghost opened #595 "Unders Settings > Client"
Just spins indefinitely.

[2016-03-08 20:14] eroji opened #596 "Unable to install: (autoload.php) failed to open stream"
Following the install documentation on CentOS 7. I changed the database to Percona 5.6 only. However, when I get to the step to run

[code]

I get:

[code]

[2016-03-12 08:28] jacek-1210 commented on #564
Please, increase limit of upload files from 10 to min. 20-30 files. For me, optimal would 50 files

[2016-03-15 16:26] gramakri opened #597 "Paperwork Cloudron App"
Thanks for paperwork! We made a Cloudron app for Paperwork (The Cloudron is a smartserver on which you can install apps and manage users).

We have been following paperwork for quite a while now and keep it updated. The app source is at https://github.com/cloudron-io/paperwork-app. We also have selenium based integration tests under https://github.com/cloudron-io/paperwork-app/tree/master/test.

D

[2016-03-15 16:29] gramakri commented on #597
If you want to try a demo, https://my-demo.cloudron.me (username: cloudron password: cloudron).

I installed paperwork there, but you can install it again if someone removed it. It's complete paperwork with no features removed (and Cloudron app's generally reside outside the main project). It's got LDAP integration in place to integrate with Cloudron's user management.

If the app/Cloudron sounds

[2016-03-15 17:07] Baldrs commented on #597
Hey, yet another sandstorm.io

[2016-03-15 17:07] Baldrs commented on #597
@JamborJan

[2016-03-15 17:08] Baldrs commented on #597
@gramakri I think we can if sandstorm integration by @JamborJan will be also added

[2016-03-15 18:14] JamborJan commented on #597
Hey @gramakri please give me some time to check out your project and how it is done and I will create a proposal for the part mentioning your project on the readme. I'll come back to you asap.

[2016-03-15 18:34] JamborJan commented on #597
Hey @gramakri I quickly checked your demo, it's running quite good. Some questions:
1. Is there any mission your project follows? Whats your story in few words?
2. Is your project also open source? What is the license and what are terms of services you use (I didn't dig into that would be cool if you can provide a short answer here).
3. I have seen you have linked us already in the app store, coul

[2016-03-15 18:59] gramakri commented on #597
To be clear, no code changes are required on your end in paperwork to run on the Cloudron. We package and preconfigure apps to run sandboxed with our single sign on.

To reply to your questions:
1. We provide private single-tenant servers for each customer. The idea here is individuals and companies can decide which region to use to host their apps and data (for example, one might want all their s

[2016-03-15 19:03] gramakri commented on #597
@JamborJan @Baldrs i have added you to the cloudron-io/paperwork-app repo.

[2016-03-16 15:28] JamborJan commented on #597
Hi @gramakri , I was not able to find the ```DESCRIPTION.md``` I guess you mean I only have to change  the ```CloudronManifest.json```right? Any chance that I can place pictures in your repo? Just in case when we update our repo and change / remove picture it will break your app store. Not a good idea I guess.

[2016-03-16 17:14] Liongold commented on #581
@jacek-1210 Sorry for the delay in replying. Yes, it should be possible to change the attachments folder by changing the config setting in paperwork.php (probably in line 110). The storage_path() is a helper function that returns the paperwork/frontend/app/storage part of the filename. Does this fix the issue for you?

[2016-03-16 17:19] Liongold commented on #595
Any errors in the Javascript Console?

[2016-03-16 17:23] Liongold commented on #509
It seems like this issue has been fixed. Can anyone confirm please?

[2016-03-16 17:27] Liongold commented on #596
Can you try installing composer and then running `composer install`, and then tell us your results please? It seems like that article might need to be updated. Thanks for your interest in Paperwork.

More information about Composer can be found [here](getcomposer.org/).

[2016-03-16 21:25] jacek-1210 commented on #581
I'm not sure: how correctly write new directory ? I have paperwork eg. in /srv/www/paperwork. I move files and directories from ./attachments into /srv/www/paperwork_attachments directory and change paperwork.php line 110
from
'directory' => storage_patch() . '/attachments'
to
'directory' => '/srv/www/paperwork_attachments'
and isnt work :(

[2016-03-16 23:50] eroji commented on #596
I rebuilt the VM and redid the install from beginning to end. It seemed to have worked but when I browse to the homepage, it is asking me to configure the database connection and errors when I tell it to test the connection after that.

[2016-03-17 08:18] gramakri commented on #597
@JamborJan I fixed the repo now to use a DESCRIPTION.md. Feel free to fix it as you see fit (I removed the obvious quoting typo).

Good point about the screenshots, fixed that as well.

[2016-03-17 10:43] JamborJan commented on #597
Hey @gramakri done! I updated the description, added new screenshots and also proposed the change of our readme.md (see https://github.com/twostairs/paperwork/tree/Readme-Partner-Info).

Thanks for hosting Paperwork and watch out for amazing updates coming!

[2016-03-17 10:43] #597 closed

[2016-03-17 20:14] gramakri commented on #597
@JamborJan thanks! I pushed it to the store - https://cloudron.io/appstore.html?app=rocks.paperwork.cloudronapp

[2016-03-18 00:31] daeavelwyn commented on #546
close in last update

[2016-03-18 00:31] #546 closed

[2016-03-18 16:08] Liongold commented on #581
@jacek-1210 Can you try doing, temporarily, `die($array['attachmentsDirectory']);` in the line before the return in config/paperwork.php. That way you can compare what you're putting with what you get there. Maybe that is the problem. Also, make sure that you change permissions in a way to allow Laravel to create and move files and directories in it. If it still doesn't work, please show what erro

[2016-03-18 19:10] jacek-1210 commented on #581
Thx, work.
 at first time I change directory:

![pwork1](https://cloud.githubusercontent.com/assets/13505686/13889058/d8134362-ed44-11e5-9fe4-1be930bdec68.JPG)

and no results, no jpgs etc.:

![pwork2](https://cloud.githubusercontent.com/assets/13505686/13889084/000b28bc-ed45-11e5-83bb-706d4742aa11.JPG)

Now I change attachmentsDirectory:

![pwork3](https://cloud.githubusercontent.com/assets/13505

[2016-03-18 19:18] #581 closed

[2016-03-18 23:02] xingh commented on #97
Has any one installed on heroku recently? I could help with this, or at least test.

[2016-03-19 15:55] Liongold commented on #577
Sorry for the late reply. Can you try accessing it without a subfolder structure please and show your result, please?

[2016-03-19 15:56] Liongold commented on #577
So as `example.com` without the `/paperwork` part.

[2016-03-19 16:00] Liongold commented on #596
Can you show a screenshot of the Network tab of the Developer Tools, please? If you can, please also post a shot of the request content that has a URL similar to `/checkDB`.

[2016-03-19 16:03] Liongold commented on #484
@JamborJan Can this be closed?

[2016-03-19 16:04] Liongold commented on #483
@JamborJan Anything done for this as well?

[2016-03-21 16:26] patriclougheed opened #605 "OpenLDAP compatible?"
I cannot get my instance to authenticate with my OpenLDAP server. I have around a dozen other open source apps working fine (Owncloud,Moodle) but all attempts have failed to connect Paperwork. I suspect the AdLDAP library has issues and wonder has anyone else confirmed this working.

[2016-03-24 08:43] jacek-1210 commented on #564
Probably next some limit: try copy/paste eg. this www: http://vp-systems.eu/manual_cr.html  - load up on paperwork only part of the whole www page :(

[2016-03-26 08:48] morskipas opened #606 ""Sort notes by:" doesn't work"
Hi guys,

if I chage sort function from "default" to "title" it works. But after this neither "default" nor any other sort is working.

Can anybody confirm this?
morskipas

[2016-03-29 20:54] patriclougheed commented on #605
Any chance LDAPtools can be added as an auth source:

https://github.com/ldaptools/ldaptools

or at least upgrade to adLDAP2:

https://github.com/Adldap2/Adldap2

[2016-04-04 10:13] jacek-1210 opened #607 "Some problem with new note after last upgrade"
After last upgrade I have some problem: often after touch "new note" I get this window:

![paperwork20](https://cloud.githubusercontent.com/assets/13505686/14244944/665eec9a-fa5e-11e5-8747-3d39e0e497ad.JPG)

![paperwork18](https://cloud.githubusercontent.com/assets/13505686/14244963/7c02783c-fa5e-11e5-9270-561b27b1d40c.JPG)

(Isn't button)

next, after reload page I get:

![paperwork19](https://cl

[2016-04-07 19:52] quanticware opened #608 "Where can I block new account. Paperwork is for a personal use"
Hi, everything is on the title...
I didn't find in the database a field to disable the button "sign up" on the authentication page.

[2016-04-09 18:57] morskipas commented on #608
Have a look here  ... paperwork_settings is not working #573
on the issues list

[2016-04-11 22:08] ccuellar14 opened #609 "No Login Window"
Hi,

I have a problem on final config at PaperWork, in final step in confirmation create account, for a post login, no loading next window.

Attached File demo
![image](https://cloud.githubusercontent.com/assets/16178871/14443778/ed372874-0006-11e6-9f47-0f4a900c18ae.png)

[2016-04-26 08:33] morskipas commented on #606
now I updated all components and installed newest version.
No bug/problems anymore

[2016-04-26 08:33] #606 closed

[2016-04-26 15:02] Liongold commented on #573
The setup wizard has been rewritten. Please recheck this bug.

[2016-04-26 15:04] Liongold commented on #564
Now, the maximum number of attachments in a note can be set in config.php. Please recheck whether this bug is still valid.

[2016-04-26 15:06] Liongold commented on #234
The setup wizard has been rewritten. I'll close this issue now. If anyone encounters any issues with this or any other part of Paperwork please open a new issue.

[2016-04-26 15:06] #234 closed

[2016-04-26 15:41] Liongold commented on #607
@jacek-1210 Please update Paperwork and try again.

[2016-04-26 15:43] Liongold commented on #609
@ccuellar14 Can you update Paperwork (develop branch) and try again please?

[2016-05-02 08:41] wongalvis opened #612 ""Previous" button should not appear in step 1 of Setup Wizard"
In the Setup Wizard, the "Previous" as well as the "Next" button appears at the bottom. However, the "Previous" button should not appear in step 1, although nothing happens when clicking it. It could be disabled or hidden as a resolution to the issue.

[2016-05-02 18:50] Liongold commented on #612
I've opened a pull request for this and some minor changes in the CSS applied for mobile devices. Thanks for your help.

[2016-05-05 02:26] davidtorcivia commented on #573
I'm on the latest stable build installed fresh (today). I manually edited the paperwork_settings file to read "registration: false" but the registration link is still present and functioning.

[2016-05-05 02:31] davidtorcivia commented on #587
I also ran into this problem and the setup wizard kept looping (Ubuntu 15.04). I found that manually creating a db_settings file with the mysql info described in the manual set up page followed by removing the setup file (all in the storage folder) fixed the issue and I was able to login successfully.

There's some frustration in this thread so I wanted to take a moment and thank the developers fo

[2016-05-05 17:11] Liongold commented on #573
This issue should be fixed in the develop branch. Are you using this branch? Which file did you edit?

[2016-05-05 18:13] davidtorcivia commented on #573
Ah, my error there. I'm on the master branch, that explains why my edit didn't affect this!

[2016-05-06 08:30] ovizii commented on #580
I think not all file types are allowed.
I can upload .PDF without problems but not.XLS

[2016-05-06 08:39] ovizii commented on #580
Found another workaround: instead of selecting the file from Paperwork, just drag and drop the file and it should work.

[2016-05-06 15:41] Liongold commented on #580
More info on how to replicate this issue is needed. Please include screenshots (if possible), the branch you are running and clear instructions and description of the problem. If possible, please provide information about the browser and OS being used. Thanks for your feedback.

[2016-05-06 15:51] ovizii commented on #580
OK, I jsut realized I was on the wrong github page as I am having this issue with the sandstorm version of paperwork: https://github.com/JamborJan/paperwork
If you still want details I can supply, otherwise I'll open a new issue over there.

[2016-05-07 15:49] foxmask opened #615 "postgresql support broken ?"
I tried to install paperwork with postgresql, then I meet this error after entering the command `php artisan migrate`

from app/storage/logs/laravel.log

[code]

[2016-05-09 16:34] Liongold commented on #26
As per the previous comment, this issue will be closed. If anyone has any problems with this feature, please open a new issue.

[2016-05-09 16:34] #26 closed

[2016-05-09 16:51] Liongold commented on #96
Thanks for your feedback. Since this issue has not been commented on and a fix is not likely to come soon, I'll close this issue. If you re-encounter this issue, please reopen a new issue. If you can encounter a new one, please open a new issue issue.

[2016-05-09 16:51] #96 closed

[2016-05-09 16:53] Liongold commented on #102
Since there haven't been any complain lately about this issue, this issue will be closed. Thanks for your feedback. If you re-encounter this issue or have any new comments, please reopen the issue.

[2016-05-09 16:53] #102 closed

[2016-05-09 16:57] Liongold commented on #163
The local dirty flag works in Paperwork
b169a1e8b46a257c9b8a9248e4ab4f9224cdcb37. Thus, part of this issue. @mrusme Do you still think a server flag is needed?

[2016-05-09 17:03] Liongold commented on #197
Is this issue still valid?

[2016-05-09 17:12] Liongold commented on #318
It seems like both Collections and sharing are implemented now. Also, the demo has been closed. I'll close this issue. If you encounter any issues with these features or any other part of Paperwork, please open a new issue.

[2016-05-09 17:12] #318 closed

[2016-05-09 17:15] Liongold commented on #328
This seems to be fixed. I haven't been able to reproduce it using Paperwork
b169a1e8b46a257c9b8a9248e4ab4f9224cdcb37. Thus, I'll close this issue. If you re-encounter this issue or any other, please open a new issue. Thanks for your feedback.

[2016-05-09 17:15] #328 closed

[2016-05-09 17:16] Liongold commented on #335
Using Paperwork
b169a1e8b46a257c9b8a9248e4ab4f9224cdcb37, this does not seem to be the case anymore. Thanks for your feedback. If you encounter any issues with Paperwork, please open a new issue.

[2016-05-09 17:16] #335 closed

[2016-05-09 17:17] DeviantEng commented on #197
Last I tried, I couldn't get it working.  Unfortunately I gave up shortly after my last comment.

[2016-05-09 17:22] Liongold commented on #357
I couldn't replicate this issue using Paperwork
b169a1e8b46a257c9b8a9248e4ab4f9224cdcb37. If you re-encounter this issue, please reopen this issue with more details. Thanks for your feedback.

[2016-05-09 17:22] #357 closed

[2016-05-09 17:23] Liongold commented on #364
These functions have now been implemented. Thus, this issue will be closed. Thanks for your feedback. If you re-encounter any new issues with Paperwork, please open a new issue.

[2016-05-09 17:23] #364 closed

[2016-05-09 17:28] Liongold commented on #378
I've tested this and it seems to be working as it should in Paperwork
b169a1e8b46a257c9b8a9248e4ab4f9224cdcb37. Please reopen if you notice this issue.

[2016-05-09 17:28] #378 closed

[2016-05-09 17:33] Liongold commented on #390
This can still be reproduced in Paperwork
b169a1e8b46a257c9b8a9248e4ab4f9224cdcb37.

[2016-05-09 17:33] Liongold commented on #401
Is this issue still valid?

[2016-05-09 17:35] Liongold commented on #446
This issue will be closed since there has been no reply for sometime. If you re-encounter thisa issue, please open a new issue. Thanks for your feedback.

[2016-05-09 17:35] #446 closed

[2016-05-09 17:39] Liongold commented on #447
It's been sometime since any new replies have been posted on this issue. It also seems like this issue has been fixed as of Paperwork
b169a1e8b46a257c9b8a9248e4ab4f9224cdcb37. Thus, this issue will be closed. New issue reports are welcome. Thanks for your feedback.

[2016-05-09 17:39] #447 closed

[2016-05-09 17:41] Liongold commented on #453
This issue seems to be fixed as of Paperwork
b169a1e8b46a257c9b8a9248e4ab4f9224cdcb37. If you re-encounter this issue, please open a new one.

[2016-05-09 17:41] #453 closed

[2016-05-09 18:01] Liongold commented on #509
Since no one has replied, this issue is assumed to be fixed. If anyone re-encounters this issue, please re-open this issue report.

[2016-05-09 18:01] #509 closed

[2016-05-09 18:04] Liongold commented on #528
Is this issue still valid? Paperwork now has an updated setup wizard feature.

[2016-05-09 18:07] Liongold commented on #550
Any progress on this?

[2016-05-09 18:08] Liongold commented on #557
A setup wizard is now available. The database name should now be configurable. Thus, I'll close this issue. Thanks for your feedback. If you re-encounter this issue, please open a new issue.

[2016-05-09 18:08] #557 closed

[2016-05-09 18:09] Liongold commented on #573
Should this be closed then?

[2016-05-09 18:11] berndblume commented on #528
Hi there and thanks for letting me know!

I didn’t try paperwork anymore because of the problems I had. I’ll try again now and let you know…

Thanks, Bernd

[2016-05-09 18:12] Liongold commented on #580
It's better if you open an new issue in that page then. Thanks for your feedback.

[2016-05-09 18:13] Liongold commented on #584
Is this fixed?

[2016-05-09 18:15] Liongold commented on #588
I think this issue can thus be closed. Thanks for your interest in Paperwork. Feel free to open new issues or using Gitter.

[2016-05-09 18:15] #588 closed

[2016-05-09 18:16] #593 closed

[2016-05-09 18:17] Liongold commented on #596
The setup wizard has been updated. Can you recheck this issue, please?

[2016-05-09 18:17] Liongold commented on #605
What are the issues with the actual library?

[2016-05-09 18:18] Liongold commented on #608
The setup wizard has been updated. Please recheck this issue again. Thanks for your feedback.

[2016-05-09 18:20] Liongold commented on #612
The pull request has been merged. Thus, I'll close this issue. Thanks for your help and contribution to Paperwork.

[2016-05-09 18:20] #612 closed

[2016-05-09 18:21] patriclougheed commented on #605
https://github.com/adldap/adLDAP/issues/66

[2016-05-09 18:22] Liongold commented on #615
Which branch are you using? Also, are you using the Setup Wizard?

[2016-05-09 18:45] foxmask commented on #615
I made my installation from https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Debian-7 for debian 8

[2016-05-09 20:00] foxmask commented on #615
I checked what [was the none setup wizard installation](https://github.com/twostairs/paperwork/wiki/Installing-and-configuring-Paperwork-without-using-the-Setup-Wizard), and no I didnt use Wizard. But I had to debug how paperwork check the RDBMS to use postgresql and found to create a file db_settings and just put `pgsql,̀ in it.

[2016-05-10 15:35] Liongold commented on #582
@wuggenid I don't think should happen. Does with every image? Even from different sources? Could it be that the original picture is in landscape format and it gets rotated afterwards? Thanks for your feedback.

[2016-05-10 15:41] Liongold commented on #508
I've tested this. It seems to happen after logout. Actually, I don't know whether that should be the correct behaviour.

[2016-05-10 15:45] Liongold commented on #487
The readme has been rewritten since the opening of this issue. Thanks for your feedback. This issue will now be closed. If you encounter any issues, please open a new issue.

[2016-05-10 15:45] #487 closed

[2016-05-10 17:44] HazenBabcock commented on #401
I'm not sure. I have not updated my version of paperwork since reporting this.

[2016-05-11 09:55] Baldrs commented on #615
AFAIK we never supported postgres anyway, so it is not done, not broken.

[2016-05-11 20:03] foxmask commented on #615
on another side, there is PDO which permits to use it

[2016-05-11 20:18] foxmask commented on #615
it looks lie that this pass when doing

[code]
in the file 2014_07_22_194050_initialize.php
where `$table->timestamps()` becomes `$table->nullableTimestamps()` as I could finish to run artisan migrate:

[code]
I know that this is not the right place to do this "alter" but as I really dont know how to write a migration script, I give a solution "as is" that you could use ;)

[2016-05-12 07:27] Baldrs commented on #615
If it works with mysql/mariadb, I think we can introduce this fix

[2016-05-14 07:48] theSoenke commented on #522
Issue seems to be gone in the latest paperwork

[2016-05-14 07:48] #522 closed

[2016-05-15 08:10] wongalvis opened #619 "Blank popup shown after clicking "New Note" when selecting "All Notes""
When "All Notes" is selected, clicking File > New Note will result in a blank popup as shown.

![screencapture-13-84-154-69-1463299773130](https://cloud.githubusercontent.com/assets/6073063/15272810/b697d1c6-1ab7-11e6-9a2a-ee89380f6113.png)

[2016-05-15 08:13] wongalvis opened #620 "Flash of "Nothing here""
When entering Paperwork home page, there is a flash of "Nothing here..." before the normal UI appears.

[2016-05-16 14:54] Liongold commented on #620
A pull request has been merged with a fix for this. Please check if the issue is fixed. If yes, please reopen this issue. Thanks for your feedback.

[2016-05-16 14:54] #620 closed

[2016-05-16 15:00] Liongold commented on #401
@HazenBabcock Do you want to test this? Or anyone else can? Else, we have to close it, I think.

[2016-05-16 15:01] Liongold commented on #197
@DeviantEng Would you be interested in trying again? Or should this be closed?

[2016-05-16 15:06] wongalvis opened #626 "Notes being dragged shown behind sidebar"
When notes are being dragged, they are shown behind the sidebar when, for instance, the user drags it into a notebook.

[2016-05-16 19:22] DeviantEng commented on #197
@Liongold Yes, I would love to get it working if I could get some guidance.

Let me spin up a new CentOS 7 LXC and get it re-installed, and added to my reverse proxy.  I will then share the configs I'm using and problems I'm having (if any).  For all I know it could just be a nginx config problem.

[2016-05-17 00:37] DeviantEng commented on #197
At this point, I have Paperwork installed and working correctly using the local address.  When browsing to `notes.local.domain.com`, which is my local domain and not externally available, Paperwork works as expected.  I have a separate box with Nginx installed, acting as a reverse proxy.  I have that set to `notes.domain.com`, and when I access that (over SSL) the login screen loads, but I am seei

[2016-05-19 15:08] Liongold commented on #619
This issue has been fixed. IOf you re-encounter it, please open a new issue. Thanks for your feedback.

[2016-05-19 15:08] #619 closed

[2016-05-20 13:49] DeviantEng commented on #197
so circling back on this, I seem to have things 90% working now.  Honestly, I'm not sure if that Trusted Proxy is a requirement or not for my success, but I do still have it installed/configured.

I added two lines to my routes.php file (./paperwork/frontend/app/routes.php) that made the biggest change in how mix content was incorrectly loading, and how some uri's were loading with the local IP in

[2016-05-20 14:58] Liongold commented on #197
@DeviantEng Very good news to hear. Did you try installing php-xml and php-fpm (or something similar named - sorry can't give you the exact names but should be good) to fix the last issue?

[2016-05-20 15:04] Liongold commented on #197
About the https reverse proxy problem, some work for that has already been done during the development of the Paperwork port for Sandstorm. Some of that work could help you.

[2016-05-20 15:08] DeviantEng commented on #197
I do have php-xml and php-fpm installed.  I used remi-php56 repo so I could get version 5.6.21 of each package, instead of 5.4.16 which is included with CentOS.

One possible problem is that `dom.so` isn't listed under `/usr/lib64/php/modules/`, and is instead located in `/opt/remi/php56/root/usr/lib64/php/modules/dom.so`.  Let me try linking that to `/usr/lib64/php/modules/dom.so` and see if that

[2016-05-20 15:09] Liongold commented on #197
This is the URL of the port https://github.com/JamborJan/paperwork.

[2016-05-20 15:11] DeviantEng commented on #197
Thanks for the URL.

Linking dom.so to that other directory didn't make a difference, and I'm still getting the same error message.  is Paperwork (or Laravel 4.x) supported with php 5.4, or is 5.6 or newer required?  I can't remember why I installed php 5.6 instead of using the included 5.4 packages.

[2016-05-20 15:12] Liongold commented on #197
It should be 5.4, 5.5 and 5.6. Those are built on every pull request.

[2016-05-20 15:14] Liongold commented on #197
The change done saeems to be here so it's like what you're using.  https://github.com/JamborJan/paperwork/blob/master/frontend/app/routes.php#L12. Of course, it isn't checking for the Sandstorm details. There's no mention of any other frameworks in that so it's likely that the Trusted proxy part is not needed.

[2016-05-20 15:16] DeviantEng commented on #197
Yeah, I as just looking at what had been added to routes, and seems to be about the same.  I also suspect the Trusted Proxy app isn't needed, but I haven't had a chance to rebuild without it yet.

If php 5.4 is supported, I may just rebuild my instance with 5.4 and without Trusted Proxy and see where things stand.

[2016-05-20 15:16] Liongold commented on #197
As for the DOMDocument error, you might need to add `use DOMDocument` in the file. Check it to see if it works.

[2016-05-20 15:17] Liongold commented on #197
Forget the last post, it's already done in the code.

[2016-05-20 15:17] Liongold commented on #197
Actually, it could be that you need to set the path in the use statement and not just DOMDocument due to your different folder structure.

[2016-05-20 15:26] DeviantEng commented on #197
Yeah, I was thinking it might be a PATH problem with not being able to find the dom.so library.  It's odd that the rest of the php stuff I need is there, because the app at least loads and does everything but save a doc, so I'm not sure whats going on there.

I've got a new LXC spinning up to test with php 5.4.  Will let you know how that goes here in a little bit.

[2016-05-20 17:57] DeviantEng commented on #197
Rebuilt with php 5.4, adding those 2 lines to routes.php, and without Trusted Proxy installed.  All seems to be working right now.

I'm about to update my blog with my updated setup, in case anyone is curious.  Link is:
https://deviantengineer.com/2014/10/paperwork-centos7/

[2016-05-21 11:43] Liongold commented on #197
@DeviantEng Do you think you could change this fix to work generally and contribute it to Paperwork?

[2016-05-21 11:43] Liongold commented on #615
@foxmask Do you want to open a pull request with this fix?

[2016-05-21 12:46] Liongold commented on #615
Actually, there seems to be more than one way to fix this. It seems that the timestamps can effectively be removed from the languages table since they do not seem to be used. Then, another way would be to change the insert statements in the migrate file to include the timestamps.

@mrusme What do you think should be done here?

[2016-05-21 13:21] foxmask commented on #615
@Liongold unfortunatly, i cant. I'm just a curious user who spotted an issue :)

[2016-05-23 19:33] Liongold commented on #298
A pull request has been opened with a New note button added to the notes list.

[2016-05-27 14:38] Liongold commented on #615
@foxmask A pull request has been merged which should help with your issue. Can you pull the latest changes to the develop branch and try again, please?

[2016-05-27 14:40] Liongold commented on #298
This pull request has now been merged. There already exists an issue about Save & Close button. Thus, I'll close this issue. If you encounter any new issues, please open a new issue. Thanks for your feedback.

[2016-05-27 14:40] #298 closed

[2016-05-27 14:42] Liongold commented on #590
The upload document button (and section) is now kept to the bottom when width is less than 995px. Thus, this issue will be considered fixed. If you encounter any new issues or have any other feedback, please open a new issue report. Thanks for your feedback.

[2016-05-27 14:42] #590 closed

[2016-05-27 14:59] rroux commented on #590
Remy Roux                                                                                                                                                                                                                De: LiongoldEnvoyé: vendredi 27 mai 2016 16:42À: twostairs/paperworkRépondre à: twostairs/paperworkObjet: Re: [twostairs/paperwork] "Upload document" button is taking up ~20 % of my s

[2016-06-04 08:49] bijancn commented on #590
Thanks! Looks good :+1:

[2016-06-06 15:22] wongalvis commented on #609
I think this specific issue only occurs in that old version, after updating it should be fine.

[2016-06-09 17:43] Liongold commented on #609
Since there hasn't been a reply on this issue and another user has confirmed this issue is fixed, I'll close this issue. If anyone encounters this issue again, please reopen this issue.

[2016-06-09 17:43] #609 closed

[2016-06-09 20:22] loifarn opened #635 "Delete/disable users"
Would be nice to have a easy way to disable/delete users as this doesn't seem to be implemented yet.

Maybe via a config/settings file first and later via admin panel/button in the browser.

[2016-06-12 13:40] Aeyoun opened #636 "demo.paperwork.rocks refuses connections"

[2016-06-14 15:10] Liongold commented on #636
The demo has been temporarily disabled. You can find more information, including a solution, in #551 and the README file. Thanks for your interest in Paperwork.

[2016-06-14 15:10] #636 closed

[2016-06-16 12:24] zzpoik opened #639 "How Can I Install Paperwork On Shared Hosting With Cpanel or Other Control Panel"
Is there any way can allow me install it on shared Hosting?

[2016-06-16 17:48] jamesrascal commented on #639
This is possible but you would need a pre-compiled build first.You would also need to make some changes to how the domain directs within CPanel. I will see if I can go through the process and get you some better instructions.

[2016-06-16 17:50] jamesrascal commented on #635
#637

[2016-06-16 17:54] jamesrascal opened #640 "New Pre-built snapshot"
Current Pre-built snapshots are 199 Commits behind. Can we get an updated on? @Baldrs

[2016-06-17 03:11] zzpoik commented on #639
I'm looking forword

[2016-06-20 20:57] khurshid-alam commented on #97
Can anyone at least post some instructions how to install it on heroku? I don't mind if its not an one-line instruction.

[2016-06-21 07:46] jacek-1210 commented on #564
Hi,

I had no time to take paperwork update. Now I look for config.php and can't find this in ../frontend/.. . Is it paperwork file ? Or apache file ?

[2016-06-21 08:00] jacek-1210 commented on #563
The same problem come back :/
I didnt have any time to upgrade paperwork (I have any problems with upgrade). Now, today I erased paperwork directory and make git clone (& reinstall in blank directory)
And again some notes are displayed incorrectly (is a title but no content)

I have copy before 2016-01-01 and it works properly

[2016-06-21 08:04] jacek-1210 commented on #553
The same problem come back :/
I dont make upgrade from Jan.2016. Now, after reinstall (git clone) - the same problem
Copy before 2016.01.01 work correcty

[2016-06-21 08:05] #607 closed

[2016-06-21 08:11] jacek-1210 opened #641 "Paperwork wrong show some notes - again :("
Old issues: #563 & #553

The same problem come back :/

I didnt have any time last months to upgrade paperwork (I have any problems with upgrade). Now, today I erased paperwork directory and make git clone (& reinstall in blank directory)
And again some notes are displayed incorrectly (is a title but no content)

I have copy before 2016-01-01 and it works properly

[2016-06-21 16:44] Liongold commented on #564
@jacek-1210 This can be found in frontend/app/config/paperwork.php file. It's the last setting at the bottom. Let us know if there are any problems.

[2016-06-21 16:46] Liongold commented on #563
@jacek-1210 Thanks for the information.

[2016-06-21 16:47] Liongold commented on #553
Thanks for this information.

[2016-06-21 16:48] Liongold commented on #641
@jacek-1210 Can you show the version you are using? You can check it from the Settings > About tab. There should be a code. Can you post it here?

[2016-06-21 19:59] #563 closed

[2016-06-21 19:59] #553 closed

[2016-06-21 20:12] jacek-1210 commented on #641
Hmmm, very sorry, now, after copy/paste new version into paperwork directory (after problems I back to the old version) it works (?) Earlier it has not worked. I don't know - I messed versions (?)  Where is About Tab ? Under Settings I have only this:

![paperwork21](https://cloud.githubusercontent.com/assets/13505686/16244485/90e7302c-37fc-11e6-8876-03464cef024e.JPG)

?

[2016-06-21 20:30] jacek-1210 commented on #564
paperwork.php it's:

https://github.com/twostairs/paperwork/blob/master/frontend/app/config/paperwork.php

Last setting bottom is line no. 174      'purgeTagList' => ['script'],

Change 'script' on eg. '30'  ?

[2016-06-22 13:27] Liongold commented on #564
@jacek-1210 Are you using the develop branch?

[2016-06-22 13:32] Liongold commented on #641
Are you on develop branch (code `bd1c58d7ba1f400b4a42e21520b31084a67317eb`)?

[2016-06-22 14:52] strikerttd opened #643 "RFE: Administrator must verify registration"
Request to add an option that will enable administrators to allow/deny registration requests.

[2016-06-22 15:17] mgayanov commented on #525
Had the same problem. Solution was to configure SWAP

[code]

[2016-06-22 15:22] jacek-1210 commented on #641
I don't know how check it (?) The only source of paperwork I know, is git.
Year ago I make ( #469 ):

cd /www
rm -rf paperwork
git clone https://github.com/twostairs/paperwork.git
cd paperwork/frontend
composer install
php artisan paperwork:install

next months I make "php artisan paperwork:update", until now. Now I get some errors via update, primarily from npm, gulp & bower. So, I clear paperwor

[2016-06-22 15:36] strikerttd opened #644 "RFE: Allow admins to register new users whether "registration" is true or false"
I would like the ability to be added for Admins to register new users (possibly some registration ability added under -admin area-) whether 'registration' is true or false.  This will allow small teams who are a part of large organizations to better manage their own Paperwork servers.

[2016-06-22 15:57] strikerttd opened #645 "RFE: Add an option to disable Calendar"

[2016-06-23 15:22] Liongold commented on #641
Run `git checkout develop`, then the usual install commands (backup your paperwork database - it may overwrite). The latest code is in the develop branch.

[2016-06-23 21:07] jacek-1210 commented on #641
OK, thx, with small problems I was able to switch to develop. Without loss of the database.
& all works, no bugs

Sorry for lamer questions, but I don't know much about git, git branch etc.

So, now correct update is still "php artisan paperwork:update" ?

& how to correctly instal paperwork in blank directory:

cd /www
rm -rf paperwork
git clone https://github.com/twostairs/paperwork.git
CD PAPER

[2016-06-23 21:13] jacek-1210 commented on #564
thx, after switch to develop branch is ok

[2016-06-23 21:13] #564 closed

[2016-06-24 11:35] Liongold commented on #641
@jacek-1210 The answer to the second question is yes, that's correct. You can do `cd paperwork/frontend` in the first cd and then skip the second cd directly if you want to but it's good. About thew update, I think it should work. However, I have not tested it. You are free to test it and report any issues you encounter. If you do not have any other queries, please close the issue.

[2016-06-24 11:51] #641 closed

[2016-06-24 20:22] jamesrascal commented on #587
I am working on an updated wiki for this https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-16.04-(WIP)

[2016-06-24 20:23] necrevistonnezr commented on #587
It would be great to include instructions for PostgreSQL, as well....

[2016-06-24 20:31] jamesrascal commented on #587
It wouldn't be to hard to update the wiki to include them. This gives a baseline for the install.

[2016-06-25 08:51] JamborJan commented on #580
Hey @ovizii thanks for finding the issue. I'll take a look at it. I can confirm that the described behavior can be reproduced and that the workaround works.

https://github.com/JamborJan/paperwork/issues/44

[2016-06-25 22:58] strikerttd opened #646 "RFE: Add ability to configure session expiration timer"

[2016-06-26 16:42] strikerttd opened #647 "Bug: A blank note will show the last viewed note that has information in it"
Description:
 - When selecting a blank note after viewing one that has information in it, the information from the previous note will show in the body of the blank one.

Reproduce:
 1. Create a note with a subject, tags and a body.
 2. Create a blank note.
 3. Click the note that has information.
 4. Click the blank note.

Notice the body of the note with information carries over into the blank no

[2016-06-29 17:37] arnold-maderthaner commented on #476
is there already an iOS client ?

[2016-06-30 10:14] mrusme commented on #476
Hey guys. There are plans and no, there is no official iOS client yet. That's everything I can tell you right now.

[2016-06-30 10:14] #476 closed

[2016-07-07 00:08] Sonof8Bits opened #649 "Redirect loop after setup"
After setting up my first account I'm stuck in a redirect loop. Chrome gives me ERR_TOO_MANY_REDIRECTS.

Any ideas what could be causing it or how to fix it?

[2016-07-07 18:36] jamesrascal commented on #649
Can you post your Nginx Config please?

[2016-07-07 18:48] Sonof8Bits commented on #649
Apache even. Some background info: I did the exact same thing on a Raspberry Pi, including https, a year ago and it worked perfectly. But as you can imagine a RasPi was incredibly slow to load. So now I'm trying again on a VPS. The apache config is identical to the RasPi install.

<IfModule mod_ssl.c>
<VirtualHost *:443>
        ServerAdmin webmaster@localhost
        ServerName paperwork.my.site

[2016-07-08 20:28] TiborBiro commented on #649
A quick hack that got things going for me:

I got the same problem. The nginx error.log was showing something like Undefined index: HTTP_X_REQUESTED_WIDTH in index.php. If you check the index.php file you see a multi-line test that determines if setup.php needs to be loaded. After some fiddling I just replaced the test with (1==2) so it is always false and the redirects stopped. Do this after you

[2016-07-08 21:14] Sonof8Bits commented on #649
That did the trick! I commented out the check and replaced it with (1==2){.

If someone runs into the same problem, here's the entire index.php file for your copy and paste pleasure:

[code]

[2016-07-10 16:17] jamesrascal commented on #649
In my opinion, this is a bug that needs to be addressed. I was running through an install this morning and found the same problem.

[2016-07-11 17:09] Liongold commented on #649
Thanks for your feedback. On what branch is this issue happening? Also, can someone of you give the version when this is happening (as found in the Settings page) please? Does this happen only when using HTTPS? A screenshot of the Network tab of the browser's Developer Tools could also help. Are any of the request failing? Last thing, at what step is the error happening? To see this, go to the sto

[2016-07-11 17:10] Liongold commented on #649
Also, try to not change the code. You can skip the Setup Wizard by putting 8 in the setup file I mentioned above.

[2016-07-11 17:20] Sonof8Bits commented on #649
Master branch. Don't know if it's https only. It happens right after the setup wizard is done and you click continue to paperwork. I hope some others can supply more info.

[2016-07-11 18:04] Sonof8Bits commented on #649
Wait, I did try http, also looped.

[2016-07-12 12:33] Liongold commented on #645
Why? The calendar in the sidebar can be hidden by clicking the section header. Is this enough for your use? What is the exact requirement, removing the calendar from UI only or completely? Thanks for your feedback.

[2016-07-12 12:34] Liongold commented on #649
Can someone post a screenshot of the Network tab and the Console of the Developer Tools?

[2016-07-12 12:52] strikerttd commented on #645
Hiding the calendar every time someone logs in can be a hassle.  Our specific usage of Paperwork doesn't require us to need to search for notes by creation date either.

[2016-07-13 16:14] Liongold commented on #649
A pull request is open which should avoid this issue. However, this could happen due to an incorrectly done install. Please recheck that you have all files present.

[2016-07-13 16:26] Liongold commented on #635
This has been fixed. Thanks for the feedback. If you encounter any issues, please open a new issue.

[2016-07-13 16:26] #635 closed

[2016-07-13 16:27] Liongold commented on #626
This issue has been fixed. If you encounter any issues with Paperwork, please open a new issue. Thanks for your feedback.

[2016-07-13 16:27] #626 closed

[2016-07-13 16:28] Sonof8Bits commented on #649
I redownloaded the master.zip about 3 times before @TiborBiro's hack fixed it. I don't think that's the issue for me.

[2016-07-13 16:30] Liongold commented on #649
The one generated by Github? If yes, then that is not the way Paperwork should be installed. There's some instructions in the Wiki. Also, develop contains the latest code so fixes may get later in the master branch.

[2016-07-13 16:35] Sonof8Bits commented on #649
I have also tried the git method, but currently I'm running the install from the github zip.

[2016-07-13 16:38] Sonof8Bits commented on #649
If there's any way I can contribute with making a debian8 / apache page for the wiki, let me know.

[2016-07-17 12:18] zhangvoice opened #654 "Install Error"
setup.php:384 Uncaught SyntaxError: Unexpected token <

[2016-07-17 17:56] Rukenshia opened #655 "docker-compose up not working - service 'web' failed"
docker version:

output of `docker-compose up`

[2016-07-18 16:22] theced7 opened #656 "Unable to connect to remote database"
I'd like paperwork to use my Amazon RDS MySQL server, rather then host another SQL server locally.

[code]

However, paperwork seems to be ignore that file, since I'm getting this error:
[code]

Any idea why this is happening?

[2016-07-18 16:25] Liongold commented on #656
You should not change that file. Please change the database.json file found in frontend/app/storage/config.

[2016-07-18 16:43] theced7 commented on #656
Thanks for the quick reply!

However, it doesn't seem to be working just yet:

[code]
[code]

Any further suggestions?

[2016-07-21 13:12] Liongold commented on #649
If you want to, you can contribute a guide.

[2016-07-21 13:13] Liongold commented on #649
Can you confirm whether this is happening on the develop branch please?

[2016-07-21 13:19] Liongold commented on #656
Did you give assign enough permissions to the storage folder?

[2016-07-23 13:56] theced7 commented on #656
Update: Got everything up and running.

I noticed I had a semicolon within my password. I persume it wasn't escaped in the php code and thus broke it.

Also, I've edited the [wiki](https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Debian-7) so that it's clear where the credentials have to be entered.

[2016-07-25 13:22] Liongold commented on #656
Thanks for your feedback and contribution. Can this issue be closed then?

[2016-07-25 13:28] Liongold commented on #645
You are free to contribute this feature to Paperwork yourself. This should not be complicated to do, especially if you have little knowledge of Laravel. You can add a config option in app/config/paperwork.php and then check for that config setting in line 59 pf app/views/main.blade.php. Are you available to do this?

[2016-07-25 13:31] Liongold commented on #646
Can you try changing the setting found here?
https://github.com/twostairs/paperwork/blob/master/frontend/app/config/session.php#L32

[2016-07-26 20:51] #656 closed

[2016-07-26 20:52] theced7 commented on #656
You're welcome! And thanks for your quick answers!

[2016-07-29 04:42] wongalvis commented on #97
@Liongold What would be the database credentials if Paperwork is deployed to Heroku?

[2016-07-31 12:02] hex-m opened #657 "demoserver down"
no answer from http://demo.paperwork.rocks/

[2016-08-01 13:06] Liongold commented on #657
The demo is currently down. There do not seem to be any timelines regarding a reopening of the demo site. You can find more information in the README file.

Thanks for showing your interest in Paperwork.

[2016-08-01 13:06] #657 closed

[2016-08-01 13:09] Liongold commented on #97
@wongalvis Sorry for not replying earlier. While deploying the app, Heroku will create a new PostgreSQL database. You can get the credentials by going to the Database part of the site. You can find the credentials http://postgres.heroku.com. Please post here if you have any issues and feedback.

[2016-08-05 15:03] teward commented on #649
Just confirmed today this happens in the Master branch via a Docker setup/install.  I'll test Develop to see if this can be replicated in the Develop branch later (within the next three days, schedule permitting)

[2016-08-07 17:11] wassimseif opened #658 "Error in file naming preventing loading"
When setting up the app and the database, it creates a `/app/storage/config/database1.json`file. but in the` index.php` file this code is executed before running the app

[code]
if checks for `/app/storage/config/database.json`
i had to rename the database1.json to database.json in order to run the app

[2016-08-07 19:52] whodafly commented on #596
Just to add a note here: I'm running PHP7 on Ubuntu 16.04, and I got the same error as @eroji and it "went away" after running composer. The site says to install composer, but it doesn't say to run it. That would be a helpful addition.

Now, however, artisan is segfaulting on me. No idea how to fix that yet, or where the segfault is happening.

[2016-08-07 20:54] whodafly commented on #596
My bad, I just re-read the installation instructions and it says to run "composer install". Perhaps OP missed it like I did.

I still can't figure out why php is segfaulting when running artisan though.

[2016-08-08 09:58] whodafly opened #659 "Various errors causing a WSOD"
_Using PHP 7.0_

I am getting a WSOD, so I ran a syntax check of all files (as suggested by a comment on Stackoverflow), and I found the following errors:

There's a syntax error on line 11 in app/lang/nl/validation.php:

[code]

Should be (I think, I'm not a PHP developer):

[code]

Then there are a couple of errors I don't know how to fix:

[code]

Based on the date of the last commit I see in t

[2016-08-08 12:45] z707 commented on #654
The same error when installing via wizard (firebug console).
[code]
windows 7, xampp (php 5.5).

Warning when installing:
[code]

[2016-08-08 14:55] Liongold commented on #658
Thanks for noticing this. In reality, this issue has been fixed in the develop branch but not in master branch. Thanks for your feedback. I hope develop will be merged to master again soon.

Do you think this issue can be closed then?

[2016-08-08 15:45] Liongold commented on #659
Unfortunately, I don't think any tests with PHP7 have been done. About the first error, can you change the file on your install and test it. It could be the solution (and leave a space between the variable name and the `.`).

@mrusme Can this be fixed in the repo or should it be handled by the translation service?

About the other errors, they haven't been reported yet. Can you try running Paperwo

[2016-08-08 18:26] whodafly commented on #659
@Liongold I had already fixed the first problem before I logged the issue. It didn't help, I still get a WSOD.

[2016-08-09 08:29] #658 closed

[2016-08-09 14:16] Liongold commented on #659
The other problems are actually not caused by Paperwork but its dependencies. They are only PHP7 issues, it seems. Can you use another version of PHP (5.6 should work)?

[2016-08-09 14:19] Liongold commented on #596
Can this be closed then?

[2016-08-09 15:15] whodafly commented on #659
No, I can't.

[2016-08-09 15:16] whodafly commented on #596
From my side, yes. Not sure about OP.

[2016-08-10 08:17] artin-phares commented on #13
Hey, Evernote is on last month before new free-account rules will take place (2 devices only). So it would be nice to prepare for this and leave anywhere. But I have 4K notes in Evernote, so I cannot just leave and start from scratch. I need to export/import somewhere.
Is there any progress on import feature? This work is highly appreciated.

[2016-08-10 15:42] Liongold commented on #13
The import should work well. You can try it. If you encounter any issues, please open a new one.

[2016-08-10 16:02] Liongold commented on #659
Laravel still needs to be upgraded to a version supporting PHP7. This is handled in #54. The first error could be avoided by removing the _ide_helper.php file, probably. In theory, Laravel could be changed to avoid using 'String', but it might require a number of changes. Would you be interested to do these on your side (with guidance) and test them?

[2016-08-10 16:05] Liongold commented on #659
Just for you (or anyone else who wants to test it), that error should be avoided by opening the file mentioned in the error, `vendor/symfony/translation/Symfony/Component/Translation/Tests/TranslatorTest.php`, and on line 466, replace `class String` with `class StringClass`. Anyone who tests it, please reply with the results.

[2016-08-10 17:48] artin-phares commented on #13
@Liongold Yep, tried and failed. Going to file new one.

[2016-08-10 19:38] JamborJan commented on #13
FYI: i did some improvements which have never been merged: https://github.com/twostairs/paperwork/commit/da082a88583de8e2c946a3c3bd0fa6aa44803a54

I am using the changes productive in the Sandstorm.io port of paperwork. It's working better but not 100 percent. But it has a better error handling and the user at least knows what the cause of a failed import is.

I can recommend to create chunks of e

[2016-08-11 19:31] artin-phares opened #665 "Evernote import: "Undefined index: resource-attributes""
Receiving:
`The import failed. The technical error message is: Undefined index: resource-attributes.`

Source [.enex](https://github.com/twostairs/paperwork/files/435247/evernote_import_resource-attributes.enex.gz)

[2016-08-11 19:51] artin-phares opened #666 "Evernote import: "You must choose an ENEX file!""
Imperatively found that when you try to import .enex file which size is > 2MB:
`The import failed. The technical error message is: You must choose an ENEX file!`

[2016-08-11 20:16] artin-phares opened #667 "Evernote import: "simplexml_load_string(): Entity: line 3: parser error : EntityRef: expecting ';'""
Error message:
`simplexml_load_string(): Entity: line 3: parser error : EntityRef: expecting ';'`

Source [.enex](https://github.com/twostairs/paperwork/files/435239/evernote_parser_error.enex.gz)

[2016-08-12 18:52] whodafly commented on #659
Renamed the String to StringClass and removed the _ide_helper.php file, but I'm still getting a WSOD (and I can't figure out how to make it actually log to the log file -- everything I've tried hasn't worked).

[2016-08-15 12:40] Liongold commented on #666
Can you dump the contents of `$e->getMessage()` in line 72 of `frontend/app/lib/Paperwork/Import/EvernoteImport.php`, please? That should give you more information about what is happening? Otherwise you can check the error log file.

[2016-08-15 12:43] Liongold commented on #659
Can you recompile PHP without iconv?

[2016-08-15 12:48] Liongold commented on #13
Can you merge those changes to the official version? Or are they specific to Sandstorm?

[2016-08-15 12:50] Liongold commented on #13
Actually, they seem to be present in both the develop and master branches.

[2016-08-16 19:26] artin-phares commented on #666
It was actually PHP limit in my environment.
Fixed that in `php.ini` (increased `upload_max_filesize ` and `post_max_size`)

[2016-08-16 19:26] #666 closed

[2016-08-17 15:16] x-tk commented on #379
Is this still being worked?  Any plans to have an APK soon?

[2016-08-18 08:17] stueja opened #668 "ckeditor: menu visible by default?"
Hi,

is there a possibility to have ckeditor's menu open by default when creating a new note/editing a note?
Thanks,
Jan

[2016-08-19 10:41] mrusme commented on #379
Paperwork v1 won't receive an official Android (or iOS or whatever) app. There are a few projects out there that try to implement the Paperwork v1 API on a mobile client, though.

However, I'm closing this issue here and will update it as soon as there will be news to share. :-)

[2016-08-19 10:41] #379 closed

[2016-08-21 13:50] andrewwippler commented on #54
It is now a year later - is there a dev branch for migrating to Laravel 5.2?

Currently, 5.3 is rc1 and I am aware of two Laravel 5 HTTP/2 middleware that would increase the speed of loading assets. With Let's Encrypt available, self hosting https (required for HTTP/2) is not even an issue.

[2016-08-23 17:07] owcz opened #671 "demo site is down"
http://demo.paperwork.rocks/ →

I don't believe this changed last night in the nightly refresh.

[2016-08-24 15:33] Liongold commented on #667
Do you think it is possible to post your source files on a public website such as Github?

[2016-08-24 16:25] artin-phares commented on #667
Not sure what you mean. There's link to source .enex in original post..

[2016-08-24 16:27] Liongold commented on #667
I mean something like Github Gist or something similar. If you can't, it's not madatory. It just would make it more accessible.

[2016-08-24 17:02] artin-phares commented on #667
Moved them to github.
ps. weird thing, github does not allow .zip for attachments, but .gz is ok..

[2016-08-27 16:47] doc-jay opened #672 "updated from git & now stuck in the /setup.php loop"
CENTOS7
 Nginx 1.11.x

I just upgraded my paperwork install from a git pull, did all the updates & now I'm stuck in the setup wizard.  I even have a file 'db_settings' in my /frontend/app/storage folder (no setup file at all) and I still get redirected to the setup wizard.

this worked fine  before I decided to update.

Any help please?

thank you

[2016-08-29 15:16] Liongold commented on #672
Could you include the branch you're using?

Getting redirected is normal because the Setup Wizard was changed. If you want to skip doing it, you can create a file named `setup` and put `8` in it. Then, copy the `default_database.json` and `default_paperwork.json` files and rename them to `databse.json` and `paperwork.json`. Of course, you need to update those files to match your real credentials.

[2016-08-29 21:22] jeremye77 opened #673 "Editing a note then clicking library to go home is blank"
When I am finished editing a note I often click library to go back home. The link target is "/#" which leads to a blank page. Oddly...when I click the Paperwork logo to go home it works fine...though that seems to actually be a link to the note I was editing. Target "/#/n/00000000-0000-0000-0000-000000000000/0d95e137-29ce-4dcc-bd68-bf283249a0c6" That is fine...better than blank.

It seems for some

[2016-08-30 16:05] Liongold commented on #673
A pull request is open with a workaround for this bug.

[2016-08-31 15:49] toddleish opened #675 "Click Library - Blank Screen - Mobile Devices"
Similar to Issue #673, anytime I click Library when on a mobile device, the screen goes blank.  I tried this on my local installation and on your demo.

[2016-09-01 17:48] Liongold commented on #675
Are you using the latest develop version? This should be fixed. Can you indicate the commit id found in the Settings page in the About tab.

[2016-09-03 21:47] joepalma opened #676 "adldap is abandoned, please swich to adldap2"
strebl/adldap hasn't been updated in over a year, please move to https://github.com/Adldap2/Adldap2

adldap never worked with openldap anyway, adldap2 has experimental support.

[2016-09-04 02:29] jonestristand commented on #668
Second this. I have tried editing the ckeditor config file but it seems to be overriden...

[2016-09-04 20:42] Gynidark commented on #676
all agree! +1

[2016-09-05 16:20] Liongold commented on #676
Can someone test this and then contribute a pull request?

[2016-09-07 21:04] leo90skk opened #677 "milestones update"
... can someone please update or remove the due dates for the milestones?

[2016-09-07 21:06] leo90skk commented on #677
... and maybe a cleanup of the branches would be nice too. there seems to be some branches that are deprecated and already merged.

[2016-09-08 16:39] iduncant opened #678 "UX Feedback"
First time user, the first thing I looked for was the "new note" button or icon. Was hard to find, There's a simple button to add a notebook or tag, but oddly, the new note is under a file menu.

As a suggestion that should be a key component of the UX as that's the core functionality a user would want from a note taking app.

Of course, this is just one persons opinion.

[2016-09-10 21:35] MOHTEP commented on #671
still down

[2016-09-11 08:28] leo90skk commented on #97
I tried to use the PostgreSQL DB from Heroku, but the setup script says always:
[code]

BTW: The one-button-click installation does not seem to work correctly. It is missing **php** and **ext/mcrypt**.
How to fix that?

[code]

[2016-09-12 14:26] Liongold commented on #97
The composer not fully installed errors are not fully reliable. However, it should still work even with those warnings. There seems to be another issue that is not allowing it to work correctly.

[2016-09-12 14:41] Liongold commented on #97
The latest changes done in the develop branch have been pushed to the Heroku branch. The 'Deploy to Heroku' button should be working now. Please test this and if it does, then this issue can be closed.

[2016-09-12 14:46] Liongold commented on #678
Where are you using Paperwork? Paperwork now has a prominent 'New Note' button on top of the list of current notes. It should be present in the master branch as well. Can you recheck this?

[2016-09-12 14:47] iduncant commented on #678
Absolutely, I'll look again, I was using it on sandstorm.

![](https://link.nylas.com/open/77r3au95dugic4lzir7l1iyfw/local-8eaa19b3-4fd8?
r=cmVwbHkrMDEwMjg0MjU0ZTg2YTNmZjAwM2NmMjY5MmU0NDRiYmNmZDM1NDgyNTMyYjgwNTY1OTJj
ZjAwMDAwMDAxMTNlZTgxYmQ5MmExNjljZTBhN2E4N2FlQHJlcGx5LmdpdGh1Yi5jb20=)

On Sep 12 2016, at 3:46 pm, Liongold <notifications@github.com> wrote:

button on top of the list of current not

[2016-09-12 14:47] Liongold commented on #677
The only branches that should be used are (depending on taste and requirements), deploy-heroku-develop, develop and master. The others are only used for development or testing.

[2016-09-12 14:49] Liongold commented on #673
This issue has been fixed. If you re-encounter this or any other issue, please open a new issue.

[2016-09-12 14:49] #673 closed

[2016-09-12 14:52] Liongold commented on #678
The sandstorm.io port does not seem to be up to date. However, in the official Paperwork repository, the New note button should be there.

[2016-09-12 15:25] iduncant commented on #678
Apologies then, it was just the version I was testing on. Great app! Thanks
for creating it!![](https://link.nylas.com/open/77r3au95dugic4lzir7l1iyfw
/local-ea8bba85-817c?r=cmVwbHkrMDEwMjg0MjU2ZjgyYzJmODdhZTljZjA0NDJiNDQwOWQ1MWN
mNzMyNzI1ZTNmNGQxOTJjZjAwMDAwMDAxMTNlZTgzMjQ5MmExNjljZTBhN2E4N2FlQHJlcGx5Lmdpd
Gh1Yi5jb20=)

On Sep 12 2016, at 3:53 pm, Liongold <notifications@github.com> wrote:

offici

[2016-09-12 16:23] Liongold commented on #678
That thanks should go to @mrusme. He created it. I'm just a contributor. I'll close this issue then. Thanks for your feedback. Let us know if you have any suggestions.

[2016-09-12 16:23] #678 closed

[2016-09-21 09:41] mrusme commented on #671
I am working on it. Thank you for your patience!

[2016-09-21 09:41] #671 closed

[2016-09-25 16:17] sooprdogg opened #682 "Laravel 5?"
Is there a specific reason that this project has not updated to Laravel 5?

[2016-09-25 20:20] mrusme commented on #682
Yes, there is. Please do not misuse GitHub issues for posting questions like this. Besides, please use the search function of GitHub issue, as there have been plenty of discussions regarding Laravel 5. Thanks!

[2016-09-25 20:20] #682 closed

[2016-09-25 21:59] trobotham commented on #639
do you have root access to the cpanel server? if so and if you run easyapache 4, this is very easy to do as ea4 includes composer and you can install npm/node via yum and install everything locally under the user.

[2016-09-26 11:08] leo90skk commented on #677
are these branches still active? It seems to me that they are outdated and that confused me.

[2016-09-26 11:18] leo90skk commented on #97
OK. Now it works.

I just get still this notification after setup:

p.s. It would be even better when the setup script automatically gets the postgres db connection data (server, database, user, password) from heroku.

[2016-09-26 15:46] Liongold commented on #97
That notification is normal if you do not have curl installed and enabled on your server. If you want to remove it, you can install and enable curl. If you want to get rid of the notification totally, you can turn it off during the Setup Wizard by turning off the setting Show Issue Reporting Link. Let us know if this fixes your issue and if it does, please close this issue.

About your suggestion,

[2016-09-26 15:48] Liongold commented on #677
The deploy, master and deploy-heroku-develop branches are active. They should not be outdated. What do you mean by them being outdated?

[2016-09-28 08:39] mrusme commented on #677
Updated the milestones.

[2016-09-28 08:39] #677 closed

[2016-09-29 16:11] antaeusdk opened #684 "Unable to remove notebook once added to collection"
Installed on: Raspberry Pi 2 running Fedora.

I added a notebook to a collection, and now I can't remove it from the collection.

[2016-10-02 21:21] kuc opened #685 "/setup/setConfig redirects to non-existing page /setup/setup.php in setup step 'Customise your Paperwork'"
I have used [Installing Paperwork on Debian 7](https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Debian-7) as a reference.

Nothing interesting in server logs.

Browser console afer clicking 'Next':

[code]

[2016-10-02 22:05] kuc commented on #685
OK, adding file `setup` to directory `/frontend/app/storage/config/` with content `4` solved problem.
But documentation for semi-manual installation is outdated.

[2016-10-02 22:11] kuc opened #686 "Setup Wizard - step 'Register your first account': failing to provide all required fields creates user account anyway"
In that case setup wizard is stuck on that step, because 'User account with this e-mail already exists'.

[2016-10-03 17:49] Liongold commented on #605
Any help is accepted to help integrate the new library in Paperwork.

[2016-10-03 17:51] Liongold commented on #676
Thanks for the feedback. Since this issue is similar to #605, this issue will be closed as duplicate. Please follow issue #605 for updates. This issue remains open for a contributor to help by doing.

[2016-10-03 17:51] #676 closed

[2016-10-03 19:43] kuc commented on #686
After complete reset of files and database, I tried setup wizard again. This time it showed "These credentials do not appear to be correct. Please check them again.".
And I still can't see welcome note after login. But it is added to database.

[2016-10-03 19:48] kuc commented on #615
Tried postgres with latest master branch, still same error in logs.

[2016-10-03 20:18] kuc commented on #615
OK, I think that I get it:

1. Laravel, when using `$table->timestamps();`, creates fields `created_at` and `created_at` with type `timestamp`
2. MySQL does it's weird, specific shit, as usual: http://stackoverflow.com/questions/22860351/mysql-column-type-timestamp-implicitly-includes-not-null-default-current-time
3. Postgres does what is told to do
4. Aaand we have database errors on every INSERT

[2016-10-03 21:01] kuc commented on #615
Hmm, seems that Laravel 4.2 doesn't support altering columns, only 5.0+ does :disappointed:
I will use `DB::statement` then...

[2016-10-04 15:09] VFabrice opened #687 "Automatically enhance note, scan and image"
Hi, are you aware of noteshrink?
The full writeup demonstrates impressive performance to automatically cleanup  scan & image.
Regards

Noteshrink convert scans of handwritten notes to beautiful, compact PDFs -- see full writeup at https://mzucker.github.io/2016/09/20/noteshrink.html

[2016-10-05 14:26] mrusme commented on #687
@VFabrice this is a very nice hint! Thank you for that.

[2016-10-05 16:22] Liongold commented on #197
A pull request that should fix this issue has been merged. Can someone retest this on the develop branch please?

[2016-10-06 02:56] bu2zhouzhu opened #688 "Paperwork not shown at my ip address"
I install paperwork on my RPi3. I enter local ip address of my RPi3 in Chrome but still nginx default page 'Welcome to nginx on Debian!'.
My /etc/nginx/sites-available/default file, copied from [Wiki](https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Debian-7)
[code]

I restarted nginx and php5--fpm. But still nginx default page.
I'm new to nginx and don't know how to debug. Can

[2016-10-06 03:08] bu2zhouzhu commented on #688
Don't know why my first try failed. I restarted nginx and php5--fpm again. And paperwork setup page shown.

[2016-10-06 03:08] #688 closed

[2016-10-06 04:01] bu2zhouzhu opened #689 "Configuration has not been set correctly. Please try again."
I'm in setup.php setp 1. When I click Next button, the web page shown a red error said 'Configuration has not been set correctly. Please try again.'. Chrome console shown an error said 'Failed to load resource: the server responded with a status of 404 (Not Found)' and 'jquery.js:9664 GET http://192.168.1.3/setup/setup.php 404 (Not Found)'.

[code]

The Next button function:

[code]

I debuged it,

[2016-10-06 04:14] bu2zhouzhu commented on #689
![](http://imgur.com/a/rv46E)

[2016-10-06 04:28] bu2zhouzhu commented on #685
I got the same problem.

[2016-10-06 04:53] bu2zhouzhu commented on #689
Variable currentStep is wrong. Setup page begins with step 4. Though bottom of the page says step 1, it is 4. You can click previous button to bring yourself to step 3 and you need do that. Click Previous button to real step 1 page, and click next button one by one, you can finish setup correctly.

[2016-10-06 09:59] bu2zhouzhu opened #690 "Can I change text size? It's too small."
Can I change text size? It's too small for my eyes.

[2016-10-07 10:00] basnijholt commented on #322
+1

[2016-10-07 14:45] Liongold commented on #689
What branch are you using? I think this should have been fixed in develop.

[2016-10-07 14:48] Liongold commented on #685
You're right the semi-manual documentation is outdated. Which branch are you using?

[2016-10-07 17:32] zakaste opened #691 "Problem during the setup"
System Debian Wheezy with Openmediavault

Error Msg: **Configuration has not been set correctly. Please try again.**
nginx conf:
[code]

Error Msg from /var/log/nginx

[code]

[2016-10-07 17:45] zakaste commented on #691
was the issue 689

[2016-10-07 17:45] #691 closed

[2016-10-07 21:44] kuc commented on #685
@Liongold Latest commit from master.

[2016-10-08 02:18] bu2zhouzhu commented on #689
@Liongold I followed [Installing Paperwork on Debian 7](https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Debian-7).
I download Paperwork using git:
[code]

[2016-10-08 12:58] kuc commented on #689
Duplicate of #685

[2016-10-08 13:01] kuc opened #694 "Preview field of blank note is saved to database as `0`"
Couldn't find where generation of this field happens...
But it must be in the backend.

[2016-10-08 13:07] kuc opened #695 "Saving new note (on Postgres) is causing exception: Carbon.php:387 'Trailing data'"
Note is saved to database, but exception occurs when trying to send API response.
It's some problem with date fields.

[code]

[2016-10-10 03:35] sumdog opened #696 "Docker variables for database are not set"
With the current docker-compose script, the database migrations within the `docker-runner.sh` cannot run since the database configuration hasn't been established yet. I was planning on submitting a pull that fixes this. I attempted to write out the configuration based on the environment injected from the linked database container:

[code]

After this, when I start paperwork, I get to the 2nd scree

[2016-10-10 07:11] Liongold commented on #647
This has been fixed. Thanks for your feedback. If you encounter any issue please open a new issue.

[2016-10-10 07:11] #647 closed

[2016-10-10 07:12] Liongold commented on #689
Can you try using the develop branch?

[2016-10-10 07:13] Liongold commented on #685
Can you test this on the develop branch?

[2016-10-10 07:24] Liongold commented on #694
Are you interested in fixing this? Probably, the preview is being set in frontend/app/controllers/api/v1/ApiVersionsController.php. The field is content_preview.

[2016-10-10 07:29] Liongold commented on #696
Are you using develop branch?

[2016-10-10 07:34] bu2zhouzhu commented on #689
@Liongold I have installed paperwork on my raspberry pi. Maybe next time.

[2016-10-10 08:36] kuc commented on #694
There's noting about storing notes in `ApiVersionsController`. You mean [ApiNotesController](https://github.com/twostairs/paperwork/blob/cf83b987c02bcfd9b94ed07e5cf0227cab494645/frontend/app/controllers/api/v1/ApiNotesController.php#L328)?

But there is no field `content_preview` sent to backend when new note is saved. Do you think that it could be cast to `0` by Laravel?

[2016-10-10 08:42] kuc commented on #690
I think that rewriting `paperwork-v1-variables.less` from using pixels, as unit for font sizes, to `em`s/`rem`s/whatever-should-be-used-as-relative-size-unit-in-2016 should be first step.

[2016-10-10 08:45] kuc commented on #685
@Liongold I will do this, maybe today.

[2016-10-10 09:04] kuc opened #697 "Functional tests"
There seems to be a frequent problem with basic functionality not working in this project. Firstly I thought that at least we have unit tests in place... but after investigation, they are nothing more than decoration 😞

I could try to write some functional tests (if I will find a time...) using e.g. [PhantomJS](http://phantomjs.org/) and integrate them with Travis build. If repo maintainers have a

[2016-10-10 16:20] sumdog commented on #696
No, I was on master. I checked out the master branch and tried it. This is my current `docker-runner.sh`:

[code]

The `paperwork.json` variables are in the `Dockerfile`. I was trying to avoid having to configure that part, but I couldn't get past the setup screen on the mater branch without it. However if I do this on develop, the database migrations fail:

[code]

[2016-10-10 17:34] sumdog commented on #696
It looks like that SQL statement is coming from the `FixTimestampsForPostgres` class in `2016_10_03_203511_fix_timestamps_for_postgres.php`, but I'm running MySQL. That's probably a bug? Does the migration system your using need a flag to only apply to certain database types?

If I change setup to 8 and write out the database and paperwork configs on develop, I get to the main page. Tried it on ma

[2016-10-10 19:33] Liongold commented on #697
Of course you can if you want to. Thanks for the offer and feedback. Please continue your work in #4. This seems to be a duplicate of it. I'll close it then. If you don't agree, feel free to reopen.

[2016-10-10 19:33] #697 closed

[2016-10-10 19:35] kuc commented on #697
OK, thank you! 😄

[2016-10-11 21:39] vavrecan commented on #690
The font family (Lato) is way too small - I recommend changing it to  sans-serif or arial or whatever you prefer :1:

[2016-10-12 09:01] da-sti opened #700 "any plan to have a port for freeBSD / freeNAS ?"
everything is in the title

[2016-10-12 11:35] germanorizzo opened #701 "Online demo doesn't work"
The front page links to [](http://demo.paperwork.rocks) that displays only an "It works!" web server message. Which is very ironic, since there's no way to get to the app. ;-)

[2016-10-12 13:18] absolutejam opened #702 "Deleting a notebook using the docker image causes page to freeze"
I've fired up the docker image(s) via. docker-compose and got up and running.

When I attempt to delete a notebook (Both the default 'Welcome' and one I have created), the page just hangs until I refresh it.

Are there any logs that it would be worth me sending across?

Regards,
James.

[2016-10-13 16:36] Liongold commented on #702
The browser's developer tools console and network tabs should help. Also, please specify which branch you're running.

[2016-10-13 16:39] Liongold commented on #701
The demo site is not active anymore. However, it should be reactivated soon. If you want to, you can use an outdated demo by following the links found in the README.

[2016-10-13 16:46] Liongold commented on #700
Can you provide a little bit more info on what is needed?

[2016-10-13 17:22] Liongold commented on #690
As a workaround, you can zoom in until you get the mobile site. That font should be bigger.

[2016-10-14 02:03] da-sti commented on #700
Hi

there is a good explanation on how 3rd party softwares are available in freeBSD here -> https://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/ports.html
but in summary there are 2 forms :
- packages
  - precompiled (faster to install but no options)
  - command is 'pkg install apache24'
- ports
  - has to be compiled (slower to install but gives compilation flexibility)
  - command is 'cd

[2016-10-14 17:02] ajlee opened #703 "Locked out of local site"
I have been trying to get into my local install. However, my password manager has not saved my new password and I do not have another copy, and can't get in.

I have tried to use the password reset function, but I experienced a bug similar to [bug #69](https://github.com/twostairs/paperwork/issues/69). I hardcoded the email address into Illuminate/Mail/Mailer.php to resolve this, but the password

[2016-10-16 18:12] jakov commented on #701
I manged to test it at https://oasis.sandstorm.io/
You can register with github and "installing" paperworks is just one or two clicks.

[2016-10-16 18:51] jakov commented on #95
I don't know about the plans for paperwork, but (without knowing any details about the structure of paperworks) i would also vote for markdown as the main input. It's probably easier to handle, since it practically is just plaintext. I'm thinking about versioning and diff for example.

With syntax highlighting like in https://stackedit.io/editor i think one doesn't usually need the HTML preview al

[2016-10-17 07:31] Liongold commented on #703
To generate the new password use this `$hash = password_hash("password", PASSWORD_BCRYPT, array('cost' => 10));`.

Please open a new issue for the missing email. Please specify which branch you're running.

[2016-10-17 07:31] #703 closed

[2016-10-17 09:01] absolutejam commented on #702
Can't see anything happening in there. I'm running the master branch as of about a week ago.

I can create new notebooks and notes just fine, and even delete notes but it just freezes when I delete a notebook the page freezes.

Just going to destroy and spin up again and see what happens.

[2016-10-17 09:46] absolutejam commented on #702
Same again after tearing it down my current containers and using `docker-compose up` again. I'm using 'db' as the database address - this should be fine, right?

[2016-10-21 04:48] antaeusdk commented on #684
Is this not considered a bug?

[2016-10-21 21:17] kuc commented on #685
@Liongold OK, my results from latest `develop` branch & using manual installation as described on wiki. Slightly modified, because I only run command
[code]
in `frontend/app/storage` - this is enough to get everything working, and improves security.

Step 1 works.

Step 2 is showing bullshit about available databases (only MySQL support is detected), and is failing section `NPM Dependencies` - pro

[2016-10-21 21:32] kuc commented on #685
But manually skipping to step 4 still works.

[2016-10-22 09:38] #695 closed

[2016-10-22 21:05] kuc commented on #685
Setup Wizard is not also totally not working with `php artisan serve` development server...
Infinite redirect loop on step 4.

[2016-10-24 08:14] Liongold commented on #684
Yes you're right. This is a bug.

[2016-10-24 14:40] robertocabellon opened #708 "Feature Request: Notebooks nesting"
Do you plan to enable the functionallity to add notebooks as sub-notebook of a parent notebook?
This would be very useful for a better organization.

[2016-10-24 15:06] Liongold commented on #708
Doesn't the Collection feature fit your needs?

[2016-10-24 15:17] Liongold commented on #685
About Step 2, are you sure there's a mistake in it? If yes, then that needs to be fixed. Manual skipping should work always but will skip important steps that need to be done manually. As for `php artisan serve`, the wizard has not been tested with that. Can you clarify what is causing the infinite loop, please?

Thanks for your contributions to making Paperwork better.

[2016-10-24 15:22] Liongold commented on #702
If you get the notes, then it should be good.

[2016-10-24 15:22] kuc commented on #685
When I have both mysql and pgsql PHP drivers enabled, it shows that only MySQL in available.
When I have only pgsql enabled, it shows that no databases are available.

------------

Yeah, that's what I thought... I will try to use XAMPP or something like this on Windows instead.

------------

Something about `/setup/setUp` -> `/setup/setup.php` -> `/setup/setup.php` -> ....
I will check that at h

[2016-10-24 15:23] Liongold commented on #702
Can you show a screenshot of the browser's network tab. The request should give at least an error code.

[2016-10-24 15:31] Liongold commented on #694
Can you what is the content of $newNote in the function you pointed out?

[2016-10-24 15:36] kuc commented on #694
OK, I will check this...

[2016-10-26 15:44] rcabellon commented on #708
Sorry, but I'm new with paperwork.
I was using it on sandstorm oasis and I don't have the option "New
collection" under "File" button.
I suppose it isn't an up-to-date version of the application.
Any way I tryed with the cloudron version and I could create a collection.
And still isn't completely what I meant.
I can create a collection of notebooks, but I would like to create
sub-collections withi

[2016-10-27 04:43] sogen opened #709 "Add user (create account) manually"
is it possible?

[2016-10-27 18:25] kuc commented on #709
I think no: #644

[2016-10-27 18:41] sogen commented on #709
thx

[2016-10-27 18:41] #709 closed

[2016-11-01 12:21] kuc commented on #685
Logs after successful setup - using XAMPP - and trying to open `index.php` using `php artisan serve` instead of Apache:

[code]

[2016-11-01 12:31] kuc commented on #694
`$newNote` content:

[code]

---------------------------

`$note` content:

[code]

---------------------

BTW title of saved note is not 'Untitled', I don't know why objects here have that title instead of real title 😕

[2016-11-01 12:47] kuc opened #711 "Viewing notes by date does not work with PostgreSQL"
`ApiNotesController::search` is using non-portable SQL date functions.

[2016-11-01 13:55] Liongold commented on #711
Thanks.

[2016-11-01 13:55] #711 closed

[2016-11-01 15:00] kuc commented on #654
This is now fixed in `develop` branch.

[2016-11-01 15:01] kuc commented on #615
This is now fixed in `develop` branch.

[2016-11-01 15:21] Liongold commented on #615
This issue will thus be closed then. Thanks for your feedback. If you have any feedback, please open a new issue.

[2016-11-01 15:21] #615 closed

[2016-11-07 08:57] Liongold commented on #708
There aren't any plans to do multiple sub folders. Can tags serve your purpose?

[2016-11-07 21:46] umbz opened #713 "gulp error on install"
Hi , when i launch gulp , i obtain this error:

[code]

[2016-11-07 23:01] kuc commented on #713
`EACCES`? Do you have read permissions to `/var/www/paperwork/frontend/public/css/freqselector.min.css` file?

[2016-11-14 17:23] Liongold commented on #685
Can these issues be reproduced after #715 is merged? If the redirect loop occurs again, please specify at which step this is happening (what is content of the `setup` file?).

[2016-11-14 17:27] Liongold commented on #659
@whodafly The Laravel developers have updated Laravel 4.2 to be compatible with PHP 7. Thus, there should not be any issues anymore. If you test it again and find any issues, please open a new issue. This report will be closed. Thanks for your feedback.

[2016-11-14 17:27] #659 closed

[2016-11-14 17:57] Liongold commented on #700
Sorry for the late reply. Paperwork should run on all OSes, including all Linux versions supported by PHP. Did you try it and it has not worked? I can't really understand what will the difference be if this port is done. If you're interested in doing it, however, please do.

[2016-11-14 17:58] Liongold commented on #686
So can this be closed then?

[2016-11-14 17:59] Liongold commented on #668
What was the change you did? Sorry for the very late reply.

[2016-11-14 19:27] kuc commented on #686
No, sorry for misleading, I removed outdated comment. Issue from the title and first comment is still present.

[2016-11-14 19:31] kuc commented on #685
@Liongold I will test that in a free time. And about what exact issues you are talking?
Issues with `php artisan serve`, or issues present without manually adding file setup to directory `/frontend/app/storage/config/` with content `4`?

[2016-11-15 17:44] Liongold commented on #685
If it isn't a problem for you, It'd be a lot of help if you could test for all of them again.

[2016-11-15 17:57] Liongold commented on #686
I couldn't reproduce this issue. What fields do you leave out when this happens?

[2016-11-15 18:22] kuc commented on #686
Only "last name" field.

[2016-11-15 18:24] kuc commented on #685
If waiting isn't a problem for you, I can do that... in the closely unspecified future.

[2016-11-17 17:23] jsEveryDay commented on #713
Yes it has to be a permissions issue.

That's why when you download, you dont git clone or download the zip...
Get the **TARball**
tar inherits permissions.

[2016-11-17 17:29] jsEveryDay commented on #639
Just build it yourself!

Most CPanel hosts are running CentOS 6.8
So run CentOS on a VM or on a VPS just for the build.
Then compress it, take it... and it will run on Any CentOS or other unix with the same GCC version.

The whole build process

`wget https://github.com/twostairs/paperwork/tarball/master
tar -zxvf master

cd paperwork/frontend/
Set MYSQL login frontend/app/storage/config

curl -sS

[2016-11-17 17:38] jsEveryDay opened #716 "Feature Request: Replace note view with editor."
Would it be possible to have this run just like Evernote?
Where everything loads into the editor instantly, instead of having 2 different views?

I made my own build of CkEditor but still not satisfied.
In a perfect world I would like to run Kendo Editor
Im just not sure how ckeditor posts the changes to the API, so Kendo can replace Ck.

FYI http://demos.telerik.com/kendo-ui/editor/all-tools

[2016-11-21 09:18] Liongold commented on #716
Isn't this a duplicate of #259? If yes, please close this issue and post your feedback in that please. Thanks for your feedback.

[2016-11-21 09:20] Liongold commented on #713
The recommended way to install Paperwork is using git clone. Is this fixed?

[2016-11-21 21:05] #716 closed

[2016-11-23 11:14] bassebaba opened #718 "Auto import PDF from folder"
Hello.

I have searched but cannot find it..
How do I do to "auto import" every pdf i drop in a certain folder, into a new note?
Just like the auto-feature in Evernote.. that's what Im trying to replace.

Is that feature available?

[2016-11-23 12:06] kuc commented on #718
I'm sure that Evernote *web client* doesn't have that feature.

[2016-11-23 13:24] bassebaba commented on #718
Sorry if I was unclear.
Of course I'm referring to a folder on the machine where I will run paperwork.

I want to set up a samba shared folder on the server and then be able to place pfd files there which will get auto-imported.

I guess one way around would to build some middleware myself doing this by using the api?

Or is there another existing way to auto-import files?

[2016-11-23 13:40] kuc commented on #718
I think that this would be the most reasonable solution.

BTW: You want to import PDFs as note attachments *or* as extracted text content? If the later, then you also need some external tool to convert PDFs to text files.

[2016-11-23 15:38] bassebaba commented on #718
Just the pdf as they are.

We have a network connected scanner that has the ability to Scan to a network share.
Then we have one install of Evernote on a VM which this Scan destination folder resides on.
Evernote is always open, so it adds the pdfs as the users scan their documents.

The problem with this solution is that its one User at a time, and quite heavy since you need remote desktop.

Anot

[2016-11-23 15:38] #718 closed

[2016-11-23 15:44] kuc commented on #718
Adding a PDF preview directly in the browser isn't difficult. It is enough to just embed PDF using direct link to file in `<iframe>`, or use `pdf.js`.

[2016-11-25 06:08] JamborJan commented on #667
Hey guys, this issue is happening when you have a character in your tags for example wich is encoded in HTML special characters: for example if you use a tag `B&B` its is appearing in the enex file you export as `B&amp;B` and this is the point where the import fails.

I'll try to find out what happens here and send a PR to the dev branch.

[2016-11-25 07:28] JamborJan commented on #667
As mentioned here: https://github.com/JamborJan/paperwork/issues/27#issuecomment-137203848

The paperwork export is not working as expected, it is not dealing with `&` the way it should in the note name and tags. Thats why I tried to make it more robust in this commit here: https://github.com/JamborJan/paperwork/commit/0182edf2624ce4faa6b6499d910583cdb2df2ee8

This was not a good solution. I teste

[2016-11-28 00:34] vsviridov commented on #702
The modal dialog appears, but it is invisible. If you manually remove the "fade" class - it appears.

[2016-11-30 00:41] anonimou0 opened #721 "Error when creating a note with content"
If I create a note without any content, it will be created. I can add tags, title, upload files, ..., but I cant put any content on the main "note taker".
Please refer to the video attached:
[Screencast 2016-11-29 22:38:14.mp4.zip](https://github.com/twostairs/paperwork/files/620643/Screencast.2016-11-29.22.38.14.mp4.zip)
I can even edit the tags, files, title, after creating the note. However, if

[2016-12-02 16:50] #104 closed

[2016-12-05 16:34] Liongold commented on #721
Can you indicate the code associated with your version, please? You can
find this by going to the Settings page.

[2016-12-05 20:32] anonimou0 commented on #721
@Liongold, there we go: 50527ed5c22a9c31ea88ad2561a1652435a4a984

[2016-12-06 14:20] jsEveryDay opened #723 "Update CKeditor. it is 2 years old!"
After trying for hours to update CKeditor I finally found the issue why it wouldn't work.

frontend/app/js/paperwork/sidebar/notes.controller.js > Line 177
`CKEDITOR.instances.content.destroy()`

This breaks angular due to CKeditor flags.
I commented it out and CK works great now. Full HTML editing capability.

@Liongold please update it... use my fork if you wish.

Also, FontAwesome is no longer

[2016-12-06 16:42] Liongold commented on #721
Can you try switching to the `develop` branch using `git checkout develop` and then rerunning `gulp`? If it happens again, please post a screenshot of the browser's develop tools' network tab. Please also post a screenshot of the request done when saving (the line added after clicking the Save button). Thanks for your feedback.

[2016-12-06 16:51] Liongold commented on #686
What version do you have? I mean, what is the code given in the Settings page of Paperwork.

[2016-12-06 17:25] kuc commented on #686
@Liongold Latest `develop` branch at the time of submitting the issue.

[2016-12-06 20:49] anonimou0 commented on #721
@Liongold, let's see if I made this right:
![cookies](https://cloud.githubusercontent.com/assets/14253996/20942938/bffa02f6-bbe4-11e6-86f3-5184fa5fcace.png)
![headers](https://cloud.githubusercontent.com/assets/14253996/20942940/bffe9f5a-bbe4-11e6-95f7-f5738f561889.png)
![params](https://cloud.githubusercontent.com/assets/14253996/20942942/c000fa5c-bbe4-11e6-8c8c-9319bffcb1c3.png)
![response](http

[2016-12-07 02:05] jsEveryDay commented on #723
<img src="https://s11.postimg.org/esa1fwb0j/2016_12_06_9_03_14.jpg" />

[2016-12-07 16:31] Liongold commented on #721
Yes, you did it right. Please try installing `php-xml` and then restart `apache` or `nginx` please and let us know if it works.

[2016-12-07 20:46] anonimou0 commented on #721
yeap.. that made it!
as a suggestion, update the wiki: https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10 so it include, as well, the `php-xml`

thanks!!

[2016-12-07 20:46] #721 closed

[2016-12-08 16:03] fernandoBeldini opened #724 "cannot configure database on setup wizard"
Setup wizard does not check the database information to configure paperwork (the information is correctly completed on the default database configuration file).

We're a group of 6 people and we were unable to set the localhost configuration.

npm dependences are correctly installed, but wizard does not detect them (if the clone github option is used).

Using the tar ball, the credentials can be c

[2016-12-08 20:27] #724 closed

[2016-12-11 21:47] nanu-c opened #725 "Text lost, when session times out."
Sometimes I am investigating about a topic and i need lot of time. I also suspend my laptop from time to time.
The session timout check hits than when I do the next action and this is always when I hit the save button.
It would be really nice to use a local storage to save a draft and resume it from there after a successful login.

[2016-12-13 12:55] Liongold commented on #721
I see that you added it yourself. Thanks for your feedback and contribution.

[2016-12-15 19:53] longshot902 opened #726 "Paperwork Demo site not available"
http://demo.paperwork.rocks/ is showing not available.

[2016-12-16 10:24] mrusme commented on #726
In Progress.

[2016-12-17 17:09] andyforceno opened #727 "Bower install ENOENT error"
Every time I run the 'bower install' command, it fails with:

bower angular-ui-bootstrap-bower#~0.12.1                      extract archive.tar.gz
bower retinajs#~1.3.0                                           retry Download of https://github.com/imulus/retinajs/archive/1.3.0.tar.gz failed with ECONNRESET, retrying in 1.2s
bower ngDraggable#~0.1.3                                      extract arch

[2016-12-17 17:11] andyforceno commented on #727
After reading some other issues on here, I'll give the develop branch a try and see if that helps.

[2016-12-18 17:46] doc2git opened #728 "Something went wrong while saving your note. Please try again."
When click save botton, top tips will which is orange will display. The contents is "Something went wrong while saving your note. Please try again. ".

[2016-12-19 01:00] CatKeenAlert commented on #728
My linux distribute is fedora24, and do everything followed https://github.com/twostairs/paperwork/wiki/Installation-----CentOS-Fedora. when I save a note, this error repliy.
Is there any suggest? Thanks: )

[2016-12-19 02:01] persianphilosopher commented on #689
@Liongold Having been stuck at the same stage for a while, I erased everything and cloned the dev branch. Did composer, npm, bower install and then ran gulp. No errors.

Going to url/setup also took me to the fourth step. But I clicked previous and made sure that all settings were said to be correct. At step 3, I get "These credentials are correct. Install your Paperwork database by clicking 'Next

[2016-12-19 09:16] Liongold commented on #725
Thanks for using Paperwork. Paperwork should have an auto-saving feature that saves a copy in local storage and then shows a popup the next time you visit the note editor. Are you saying that this does not work for you? If yes, you can try changing the session expiry as a workaround for now. You can do this in frontend/app/config/session.php by changing the lifetime value. Please comment if it doe

[2016-12-19 09:19] Liongold commented on #728
Did you install the `php-xml` package and then restarted Apache/Nginx? If this still persists, please post a screenshot of your browser's network console and the version code found in the Settings page. Thanks.

[2016-12-19 09:21] Liongold commented on #689
Can you delete the frontend/app/storage/config/setup file and then rerun the Setup Wizard please?

[2016-12-19 17:52] persianphilosopher commented on #689
@Liongold exact same problem after deleting "setup". Did it twice, with a clean new attempt as well.

Are there any logs that I can provide?

[2016-12-20 13:58] ardichoke commented on #725
The auto-save feature has also failed me, though I just started using paperwork so it only did it once... I took notes while in a meeting and forgot to click save... there was no copy ever saved in local storage. I just have an empty note in paperwork at this point.

[2016-12-20 14:07] ardichoke commented on #508
My opinion would be that it is not the correct behavior. What good is an auto-save feature, if you lose your auto save on session timeout (which seems like it would be the most common case for a note not being saved).

Honestly, it seems like there should be an auto-save to the server feature even if it is something optional that needs to be turned on. Perhaps something that automatically saves th

[2016-12-22 09:51] LeonardoGentile opened #729 "Native App"
Hello,
any plan to build a native app client using a self hosted backed (in the same machine) or a backbend hosted somewhere else in the internet?
I'm mostly asking for OsX but I guess adopting Electron or similar this can be built once and distributed across different architecture.

[2016-12-22 10:44] kuc commented on #729
Related: #345

[2016-12-22 12:08] Liongold commented on #727
Is this still happening? It does not seem to be related to Paperwork itself.

[2016-12-22 12:12] Liongold commented on #702
Can anyone retry to confirm this bug? It should now be fixed.

[2016-12-22 12:13] Liongold commented on #696
Since the pull request has been merged, can this issue be closed?

[2016-12-22 12:14] Liongold commented on #694
This has now been fixed. Thanks for your feedback. If you encounter any issues with Paperwork, please open a new issue.

[2016-12-22 12:14] #694 closed

[2016-12-22 12:16] Liongold commented on #684
This issue has now been fixed. Thanks for your contribution. If you encounter any issues, please open a new issue.

[2016-12-22 12:16] #684 closed

[2016-12-22 12:18] Liongold commented on #667
@JamborJan Can this be closed then?

[2016-12-22 12:18] #654 closed

[2016-12-22 12:21] Liongold commented on #644
This has now been fixed. If you encounter any new issues, please open a new issue. Thanks for your contribution.

[2016-12-22 12:21] #644 closed

[2016-12-22 18:00] Liongold commented on #689
Do you have a database fully set up?

[2016-12-22 18:03] Liongold commented on #689
Also do you get a paperwork.json file in `frontend/app/storage/config` after clicking the Next button from Step 4. One last thing to take care of, does the server have enough permissions to write files?

[2016-12-22 18:04] Liongold commented on #639
@mrusme Can you make a build to help with this, please?

[2016-12-22 20:46] persianphilosopher commented on #689
yes database is fully setup and permissions are all correct, especially for the ./storage folder. but there is no paperwork.json generated at step 4

[2016-12-23 00:23] jacek-1210 opened #731 "still unfinished subnotes"
I wrote about this a while ago. Now is this:

![paper_1](https://cloud.githubusercontent.com/assets/13505686/21444434/9dcb3062-c8ad-11e6-8c0c-1fe20da364c0.png)

After 1 click is this:

![paper_2](https://cloud.githubusercontent.com/assets/13505686/21444435/9dcc3c3c-c8ad-11e6-8bb7-c384a0f28a39.png)

should be like this:

![paper_3](https://cloud.githubusercontent.com/assets/13505686/21444501/4f8a27

[2016-12-23 00:48] jacek-1210 opened #732 "Upgrade problem"
throughout the year I had no problem with updates. My last update (php artisan paperwork:update)  was 2016-11-21. Now, I try update and get error:

![paperwork_4](https://cloud.githubusercontent.com/assets/13505686/21444788/ca241896-c8b1-11e6-83a5-fa9741b81262.png)

Last update kill config file ?

[2016-12-23 09:12] c1xx opened #733 "Running paperwork in subfolder"
Hi,

I followd this instructions: https://github.com/twostairs/paperwork/wiki/Running-paperwork-in-subfolder

I see only a blank page, when I open the URL.

I'm using Ubuntu 16.10 with Nginx 1.9.15

My Configuration file is:

What's wrong?

Thank you,
Lukas

[2016-12-23 18:39] scooter7 opened #734 "Image upload file size limit?"
Hi, I'm trying to upload images from my phone into a note while using Paperwork on a mobile device. However, it appears that the image must be too big because the upload won't work. I have uploaded smaller images successfully when uploading from a desktop machine. Where in the file structure can I make edits that will enable larger image files to be uploaded into notes? Thanks!

[2016-12-24 13:33] #667 closed

[2016-12-25 19:12] jacek-1210 opened #735 "video player on paperwork"
Sometimes, I make notes with some mp4 or mkv videofiles. Is it possible, to embed video player/file on paperwork note ?

[2016-12-27 20:12] jacek-1210 commented on #731
I don't understand. Children notebook ? How to ?

[2016-12-29 10:03] Liongold commented on #731
Sorry for the confusion. Child notebooks is not an official term or any feature. In the pull request shown, child notebooks means notebooks that are in a collection (hence have a non-null parent_id - that's where child came from). Once merged, these notebooks will be better distinguished than now and should hopefully fix your issue. Once merged, you will only need to update the source files and ru

[2016-12-29 10:08] Liongold commented on #735
Can't you use the native player included in your browser?

[2016-12-29 10:19] Liongold commented on #734
Thanks for using Paperwork. Paperwork doesn't have a setting itself for this. The maximum upload size should be regulated by PHP itself. Try increasing the values in your php.ini (`upload_max_filesize` and `post_max_size`). This should help. Can you please confirm if this works or not?

[2016-12-29 10:21] Liongold commented on #733
Do you have any output in your error log files?

[2016-12-29 10:25] jacek-1210 commented on #735
Work in browser. But it would be better if the paperwork was a preview/thumbnail of the video file. Eg. an automatic thumbnail and below the link to the file. It is not necessary, but could in the future

[2016-12-29 10:29] Liongold commented on #732
Are you using the develop branch? Did you use that command on Nov 21 as well? There don't seem to be any changes that should have touched config. If you did not use that command in November, then probably it's an issue with the interaction between that command and the Setup Wizard.

[2016-12-29 10:31] Liongold commented on #732
Also please recheck the database.json config file to be sure that it's correct.

[2016-12-29 10:33] Liongold commented on #689
Do you have any errors in the error log file?

[2016-12-29 10:40] Liongold commented on #725
@ardichoke Did you have Auto-saved or something similar written at the bottom of the editor box?

[2016-12-29 22:48] jacek-1210 commented on #732
database.json  look as right. All settings are identical as alder paperwork version

Is develop ? Probably yes:

![paperwork_develop](https://cloud.githubusercontent.com/assets/13505686/21556380/3fdabfe0-ce20-11e6-824e-c056b50f12dc.png)

On Nov 21 I did my last paperwork upgrade (Wasn't  Nov 21 paperwork version, was earlier version). And this upgrade work right. Now, (today) actually upgrade don'

[2016-12-30 09:35] peyoot opened #738 "any simple way to change CDN server?"
ajax.googleapis.com and fonts.googleapis.com and some other google server are blocked by some region.
See: http://stackoverflow.com/questions/2607425/is-google-s-cdn-for-jquery-available-in-china

There's some CDN mirror, So I want to manually change google CDN to other CDN server. Is there some config file that I can simple change a file rather than dig out all codes in different path? This could

[2017-01-01 21:01] nanu-c commented on #725
After more work with paperwork, this mainly happens, when I didn't save  a new notice a the beginning.
Once I just got a "TRUE" as text. But normally the function works just fine.

[2017-01-02 12:40] Liongold commented on #738
Can you indicate the URL where you get the calls for ajax.googleapis.com and fonts.googleapis.com, please? I found a reference for ajax.googleapis.com in the Setup Wizard and will be replacing it. However, I did not find any other links? Once Paperwork is installed, it should not require any external dependency. If it still is, then there's a bug.

[2017-01-02 12:46] Liongold commented on #732
Can you try running `php artisan migrate` please and post the output? Make sure to backup your database before.

[2017-01-02 20:58] jacek-1210 commented on #732
Some syntax problems with SQL (?):

![paperwork_5](https://cloud.githubusercontent.com/assets/13505686/21596063/2556f08a-d136-11e6-8dac-44fbfa5cce30.png)

[2017-01-03 05:47] peyoot commented on #738
yes, it happens in setup wizard phase.
after installation and I open home page with Firefox it will goes to setup.php.
But it seems in Firefox it doesn't work, maybe because of these jquery scripts fails.
Here I open it in Chrome and grab these links as bellow.

![setupphase1](https://cloud.githubusercontent.com/assets/2165697/21600674/29ed1fa4-d1bb-11e6-9b8f-6a6fc80b7bd7.PNG)
![setupphase](https:

[2017-01-03 12:10] Liongold commented on #738
Thanks for the clarification. Pull request #739 should fix this problem. If you can't wait, you can apply that patch to your install.

[2017-01-03 12:14] Liongold commented on #732
Can you try backing up the database, then reinstalling it and then trying to transfer the old tables to the new database?

[2017-01-03 12:17] Liongold commented on #725
In pull request #737, there's an update to CKEditor and the autosave plugin. This should improve the autosave feature. Can you test it or wait until the request is merged please?

[2017-01-03 12:26] Liongold commented on #508
@ardichoke Can you open a new issue for your suggestion please?

[2017-01-03 12:31] Liongold commented on #508
@kentonv In pull request #737, the plugin used for autosaving will be updated. Can you please re-check if this issue still persists in that branch or wait until the request is merged and then re-test?

[2017-01-03 19:01] ardichoke commented on #725
I haven't tested session timeout, but the autosave functionality worked in my first test which is a big step up. Typed some text in, closed the tab, loaded the page in a new tab, opened the note and was prompted to load the autosaved version of the note. Definite improvement here.

[2017-01-03 19:12] MalcolmMielle opened #741 "Can't connect to localhost"
Hello all,

Sorry for the simple question but I am really new to all this :/. I did the whole install on fedora25 and it worked flawlessly. However when trying to access localhost:8888/login I have `Unable to connect`. I've done the whole install process under ssh from a remote computer. Do you have any idea why I can't seem to access paperwork ?

Thanks !
Best,

[2017-01-04 01:09] kentonv commented on #508
Sorry, I'm not actually a Paperworks user but was just relaying a report from others, so testing out a git PR is more effort than I'm able to commit to this.

Maybe @JamborJan is interested in taking a look, though.

[2017-01-04 13:29] Liongold commented on #741
Are apache2 or nginx active? Also, are you sure that 8888 is the correct port number?

[2017-01-04 13:31] Liongold commented on #725
Good to know. Are you interested in testing the session timeout?

[2017-01-04 14:13] MalcolmMielle commented on #741
Well I think they should be but I don't know how to check it out. 8888 was the port in the tutorial so that's why I tried it, how can I know the port to use?

Also I tried to reinstall it but when I try to restart php-fpm I get:
[code]
And I have
[code]
I have no idea what is going on :S

I'm so sorry for all the question and being a real noob. Thanks a lot !

[2017-01-05 06:09] peyoot opened #742 "secure issue and version & integration check"
Hi, guys,

I haven't make it a good experience after install paperwork. it's not work out of box.
there's some issues:
1. I use let's encrypt but the index.php seems cause "parts of this page are not secure" issue.
![pp-notsecure](https://cloud.githubusercontent.com/assets/2165697/21670561/152d4d8c-d350-11e6-9758-3338ed1482cc.png)

2. after login, there's some code rather than normal content displ

[2017-01-06 08:14] JamborJan commented on #508
Hey guys, I will test this as soon as the fix is merged. I will also build a new Sandstorm version then.

[2017-01-06 18:36] #723 closed

[2017-01-06 19:53] 876974 commented on #345
Need Linux desktop app

[2017-01-08 22:06] persianphilosopher commented on #689
in the storage folder logs? no it's empty

[2017-01-09 16:40] Liongold commented on #742
Paperwork does not seem to support reverse proxies. However, the Sandstorm version has been patched to have this ability. I've now created a test branch by using that edit. Can you test it please? Just use `issue-742-test` instead of develop. Please state whether this works or not to be able to add it to the official repo.

@JamborJan I'm sorry for not waiting for you to do this but, if the patch,

[2017-01-09 16:46] Liongold commented on #741
Unfortunately, I don't know how Nginx works so help from my side might be limited. Did you use this article https://github.com/twostairs/paperwork/wiki/Installation-----CentOS-Fedora? It does not mention 8888 but 80 as port (I think). Try to check whether some ports are blocked by your service provider. Please reply with your results.

[2017-01-09 17:38] Liongold commented on #689
No in the apache/nginx one. Also, can you list the tables currently available in the database please?

[2017-01-09 17:43] Liongold commented on #732
The attachments folder should not affect it. Can you add --verbose to php artisan migrate?

[2017-01-10 07:03] JamborJan commented on #742
Hi @Liongold no need to say sorry, I was not aware until now that I'm an official collaborator who can edit the paperwork repo :-) Thanks for applying the fix.

[2017-01-10 07:53] jacek-1210 commented on #732
![paperwork_6](https://cloud.githubusercontent.com/assets/13505686/21797910/0dccc44e-d712-11e6-9abc-15785825733e.png)

I did restart mysqlservice (he's working for almost a year) - without result :/

[2017-01-10 09:24] MalcolmMielle commented on #741
I followed exactly this article. When I try to connect to `localhost:80/login` I have a `502 bad gateway` error.

[2017-01-11 16:33] Liongold commented on #732
Thanks for the info. Which version are you using please? Workaround for now - just remove the 2016_10_03_ migration file and then run everything as normal. It should work then. But this is now a bug.

[2017-01-11 16:37] Liongold commented on #741
this article -> https://github.com/twostairs/paperwork/wiki/Installation-----CentOS-Fedora?

This page (http://askubuntu.com/questions/367409/nginx-unable-to-connect) seems to be similar to your problem. Can you check it out? Once you set the port change it in the paperwork-wiki code as well. I hope it works.

[2017-01-11 16:39] Liongold commented on #742
Well, I did not actually apply it. I need someone to confirm that it works, even outside Sandstorm first and that it does not break it for the others. So you're still in time. :)

[2017-01-11 16:55] MalcolmMielle commented on #741
Yes this article :)

I check out the link you sent me and this is what `netstat` is returning:

[code]

So it seems that nginx is running on the good port. I'm trying this on local so do I need to check if the port are blocked ?

For the sake of trying, I changed the port to 8080 and I still have the same result when trying to connect. The good page is really `localhost:8080/login` on firefox righ

[2017-01-11 22:36] jacek-1210 commented on #732
Wchich version of paperwork ? I don't know, how to check it (?). In my notes: this year I did update on: 2016-01-01 (work OK), 2016-06-21 (work OK), 2016-09-10 (work OK), 2016-11-21 (work OK), 2016-12-22 & newer (don't work).
Hmmm, where can I find 2016_10_03 migration file, to remove ? Google does'nt help :) I found only:

frontend/vendor/laravel/framework/src/Illuminate/Foundation/Console/Migrat

[2017-01-11 23:07] jacek-1210 commented on #731
I still don't understand about child notebooks: I created collection eg. "zdrowie" and next time created notebooks "badania" & "choroby" & "leczenie". Next I merge this notebooks into collection "zdrowie".  This are "child notebooks" (like the screenshots above) ? If not, how to correctly create child notebooks ?
Sorry, my english is not very well.

[2017-01-12 11:58] Liongold commented on #732
To check Paperwork version, go to Settings page in the About tab. Please include your MariaDB version as well.

[2017-01-12 12:00] Liongold commented on #732
The file to remove can be found in frontend/app/database/migrations folder.

[2017-01-12 12:01] Liongold commented on #731
Yes those are the child notebooks.

[2017-01-12 17:46] Liongold commented on #741
Yes, you should check whether the port is blocked. So 0.0.0.0:80/login still does not work? Do you have anything in the error log of nginx and php?

[2017-01-12 17:49] Liongold commented on #732
I've removed the file from a branch named issue-732-test. You can just do `git checkout issue-732-test` and then run `php artisan migrate --force` and see if it works.

[2017-01-12 19:32] jacek-1210 commented on #732
MariaDB was 10.0.22, now I update to 10.0.27 - paperwork don't work
I delete 2016_10_03_ migration file but paperwork don't work :/

*************************************************************************************

Hmm, in settings is:

About Paperwork (worked copy)
Please include this identification code in any issues you open on our Github repository. This code does not contain any personal

[2017-01-12 19:42] jacek-1210 commented on #731
OK, so, some time ago I wrote about it, and now wanted only to recall:

If I touch collection button, child notebooks should develop and distinguish from ordinary notebooks
After second touch collection button, child notebooks should collapse and hide

it still does not work that way. Problems with framework ?

[2017-01-18 02:46] peyoot commented on #742
Hi, Liongold. I haven't got time to try.
But are you sure the issue-742-test branch is the right version.
I simply git clone this branch, but didn't find that app/paperwork.php have the trustproxy() option, which mentioned in some thread.
As I will install in a production server, so I just want to make sure it won't introduce some trash script and verify it before I continue.

[2017-01-18 03:28] andyforceno commented on #727
I'm not sure if this issue is still occuring. I've since abandoned getting Paperwork running on that particular machine. I've managed to successfully install it on another machine, so I'm going to go ahead and close this. If I had to guess, I would  say this issue was due to user error during installation.

[2017-01-18 03:28] #727 closed

[2017-01-19 08:56] MalcolmMielle commented on #741
The file `/var/log/nginx/error.log` is empty

The file `/var/log/php-fpm/error.log`:

[code]

The old error files had the old error of the previous messages that I solved now.

`/var/log/php-fpm/error.log-20170115`:

[code]

[2017-01-19 16:18] Liongold commented on #742
@peyoot No, in that branch only the routes.php file was changed. Can't you test it in a test/dev environment please? Right now, there's no confirmation this will work, so it is not good for production, I think.

[2017-01-19 16:21] Liongold commented on #742
However, thee do not seem to be any changes to that file (assuming you meant app/_config_/paperwork.php). @JamborJan Did you change anything there to make the proxy work?

[2017-01-19 16:26] Liongold commented on #741
Is the problem limited to Paperwork? Or better, can you put something else and try to access it (for example a simple HTML page??

[2017-01-19 16:28] Liongold commented on #741
@JamborJan By any chance, do you use Nginx? Maybe you could help here?

[2017-01-19 18:28] MalcolmMielle commented on #741
I'm going to try that, if I find a tutorial on how to do it. And I'm using Nginx. At least I'm trying to :).

I wanted to say thank you for taking the time to help me out with this because I'm pretty sure that the problem is only here because I'm such a noob at this :|

[2017-01-19 18:57] JamborJan commented on #742
Hey guys, sorry for my late reply I'm a bit down under a big pile of work.

The issue https://github.com/JamborJan/paperwork/issues/4 is old and outdated, I don't think that we need to do all of the mentioned things. What I'm doing today when I'm building a new paperwork version for [Sandstorm](https://github.com/sandstorm-io/sandstorm) which works with an included nginx reverse proxy and has exac

[2017-01-19 19:06] JamborJan commented on #741
Hey ho, yes I'm using nginx. No need the be sorry @MalcolmMielle :-)

The explained issue seems to be strange. Is there maybe an issue with the setup? I'm running Paperwork in my [Sandstorm](https://github.com/sandstorm-io/sandstorm) with this setup:
- Debian (but you should be able to use any distro)
- Packages and Config like explained here: https://github.com/JamborJan/paperwork/blob/master/.sa

[2017-01-20 19:58] persianphilosopher commented on #689
i gave up after days of trying. as a last attempt, i reformatted the server to ubuntu and it worked. can't figure out why

[2017-01-23 14:40] dnhodgson opened #743 "php composer.phar install fails"
Trying to install on CentOS 7.3.1611
3.10.0-514.2.2.el7.x86_64

When running the php composer.phar install commaned it terminates with "Killed"
[code]

I installed composer and ran composer install and got the same result. I ran it again with "-vvv" below is that last few lines.

[code]

I tried re-creating the VM again but got the same results.

[2017-01-23 15:51] kuc commented on #743
This issue with Composer, not with Paperwork. Your server has too low amount of RAM available.

[2017-01-23 16:51] Liongold commented on #689
Can this be closed then?

[2017-01-23 16:56] Liongold commented on #742
@JamborJan Actually sorry for disturbing you. I've done the routes.php update. Now, someone is needed to test it if it works.

[2017-01-23 16:58] Liongold commented on #731
There's a pull request that should make that work. It's #736 and is still pending. When it's merged, this should work as you described.

[2017-01-23 17:00] Liongold commented on #732
When you test it, feel free to share the result to make sure that this gets fixed.

[2017-01-23 17:51] jacek-1210 commented on #732
I had no time earlier:

1) git pull, git checkout issue-732-test and then run php artisan migrate --force   - don't work: this same error

2) today:  php artisan paperwork:update - don't work: this same error

3) & migrate - this same error

:(((

Typical I work on Chrome, today I tested on Chrome & Edge

[2017-01-23 19:01] dnhodgson commented on #743
Yup, that's what it was. Thanks!

[2017-01-23 19:01] #743 closed

[2017-01-24 13:30] lukasp2 opened #744 "How to update to latest version?"
Hi community,

how I can update paperwork to latest version?

Thank you,
Lukas

[2017-01-26 23:47] nanu-c commented on #689
I have the same error

[code]

[code]

nothing in the apache log

[code]

[2017-01-26 23:48] nanu-c commented on #689
And the solution is enable mod_rewrite in apache and allow custom .htacces files ... so it's not paperwork but configuration of webserver

[2017-01-27 01:36] nanu-c commented on #725
this works for me now

[2017-01-27 07:02] persianphilosopher commented on #689
By custom access you mean chmod the .htaccess?

[2017-01-27 11:01] JamborJan commented on #702
Hey @Liongold in which branch have you fixed this? I'm going to rebuild my paperwork package and can test this.

Reference: https://github.com/JamborJan/paperwork/issues/47

[2017-01-27 12:23] JamborJan commented on #702
I just tested with the latest master branch and the issue is still present.

[2017-01-28 15:18] nanu-c commented on #689
Yes thats it.

[2017-01-31 17:45] Liongold commented on #702
@JamborJan Sorry for the late reply. The pull request was merged to develop. It should be fixed on that branch. If you think master should be updated, feel free to open a pull request.

[2017-01-31 17:51] Liongold commented on #744
@lukasp2 Sorry for the late reply. Paperwork can be updated by running `git pull` and then `composer install`, `npm install`, `bower install` and `gulp`. The database may need to be updated as well. This is done by running `php artisan migrate`. Thanks for your interest in Paperwork. This issue will now be closed. If you'll encounter any issues with updating, feel free to open a new issue.

[2017-01-31 17:52] #744 closed

[2017-01-31 17:55] Liongold commented on #732
Did you try to do a clean install?

[2017-02-02 23:35] jacek-1210 commented on #732
Wrrrr.. I'm very angry: I try clean install, it worked, but the base was empty. When try importing the old dumped data into empty database, SQL server was crashed.  ibdata1 was crashed. I have dump of first base, but haven't dump second base - another aplication ;/////  I lost a whole day and I was not able to solve the problem. And dumped base does not want to import: I get error: "table not exis

[2017-02-03 15:04] mheppner opened #745 "Laravel 4.2 and PHP 7.1 compatibility"
Laravel 4.2 used MCrypt, which as been [dropped in PHP 7.1](https://secure.php.net/manual/en/migration71.deprecated.php). Laravel 5.1 started using the OpenSSL extension for encryption. I can't find it anywhere in the release notes, but from [this issue](https://github.com/laravel/framework/issues/16884), it looks like Laravel 4.2 is no longer supported.

Is there any effort underway to switch to

[2017-02-03 17:35] JamborJan commented on #702
Hey @Liongold it's working like expected. One question: would it be possible to mentione the name of the notebook which will be deleted? This would ensure that nobody accedently deletes the wrong notebook.

[2017-02-03 18:06] Liongold commented on #702
@JamborJan If it isn't a problem for you, can you open a new issue for your suggestion please. Until some of the pull request get merged, work can't go very far.

[2017-02-03 18:07] Liongold commented on #702
Also, since @JamborJan has confirmed that it's fixed, this issue will be closed. Thanks for your feedback. If you encounter any issues, please open a new issue.

[2017-02-03 18:07] #702 closed

[2017-02-03 18:11] Liongold commented on #732
@jacek-1210 Sorry for the questions. I understand this is annoying but most probably the problem lies in your setup. You can try moving the tables one-by-one so that you don't lose everything but without any additional information, a bug can't be identified in Paperwork.

@JamborJan Sorry for pinging. Do you have, maybe, a setup similar to this and you can test this problem please?

[2017-02-04 10:03] peyoot commented on #742
today I try to install paperwork dev branch and it failed in the step "php artisan migrate"
here's error picture:
![screen](https://cloud.githubusercontent.com/assets/2165697/22617580/c083b8b8-eb03-11e6-8acd-306d6f8e6225.png)
I need to fix this issue to continue as all changes seems have been applied into dev rather than master.

what I do is follow the wiki>installing paperwork on Ubuntu 14.10. B

[2017-02-05 12:54] furick opened #746 "Could you please reduce the size of api api/vi/notebooks/xxx/notes for better performance?"
I build my paperwork and have added 60 documents. Currently the opening speed is too slow. I check the network status and find that it has three same  xhr request (api/vi/notebooks/xxx/notes) which size is 2.9MB, see figure below:
![67d7a530-ebe4-11e6-960a-972a4adb9f76](https://cloud.githubusercontent.com/assets/15622745/22687309/675ab186-ed62-11e6-9f7f-97419d84c09d.png)

I checked the code of thi

[2017-02-06 02:48] JustinHendryx commented on #689
Had this issue as well on a new install of Apache and forgot to explicitly enable mod_rewrite. After switching it on, everything is working great.

[2017-02-06 06:59] peyoot commented on #742
well, I take some time and do a research. and I found that paperwork use laravel v4.2, and it seems not fully support php7. As I use PHP7 , so I doubt the dev branch installation problem is because of the Laravel version. But I just curious why master version can be installed in the same PHP7 environment.
This topic should cause some misunderstanding. Because "master" version doesn't support rever

[2017-02-06 07:03] peyoot commented on #745
I try "php artisan migrate" in master successfully. But failed in dev branch.
This could also be the php version support issue? I use PHP 7.0 in my test.

[2017-02-06 22:37] mheppner commented on #745
I'm still working on updating to Laravel 5 in my fork, but I haven't pushed anything yet. Officially, I don't think they add support for PHP 7 until 5.1, but most users report it works with 4.2. Not sure what the difference is in the dev branch though.

[2017-02-07 09:39] jacek-1210 commented on #732
Maybe this is the problem (?):

![paperwork1](https://cloud.githubusercontent.com/assets/13505686/22685027/0a24470e-ed1f-11e6-9064-fe9b4a237a4f.png)

new, clean sqlbase, new, initiated paperwork worked, but via import old sql base; attachments go, but attachments_version stopped. "version_id" vs. "id" ?

************************
Meanwhile, if someone - like me- SQL server was crashed and no dump,

[2017-02-07 11:02] jacek-1210 commented on #732
Hmm, hokus-pokus, abracadabra. Before, the renewal of the base by the archive (dump/import) did not help.
Now, completely by accident, I'll copy the old database to the new base (I change the name of old database to paperwork name). (The new program has already been initiated at the new, now erased base)
And, probably, - for now - it works  O.o

[2017-02-07 11:47] Liongold commented on #745
@peyoot Your issue does not have to do with your problem.

@mheppner Right now, there's no work on migrating to a new Laravel version. Laravel 4.2 is a little old but supports PHP7. I am not sure, however, on PHP7.1.

[2017-02-07 11:49] Liongold commented on #745
Anyway, there's an issue about migrating to Laravel 5 already. Can you please use #54 please? This issue will be closed to avoid having multiple issues on the same topic. Thanks for your interest.

[2017-02-07 11:49] #745 closed

[2017-02-07 11:55] Liongold commented on #689
Since multiple users are saying that this issue got fixed, then this issue will be closed. If someone re-encounters this issue or has any other feedback, please open a new issue. Thanks for your contribution to Paperwork.

[2017-02-07 11:55] #689 closed

[2017-02-07 13:54] Liongold commented on #732
The develop branch has been updated to fix the bug you described. This should now be fixed. Can you please test it? This should be the final test.

[2017-02-07 14:00] Liongold commented on #742
That issue should not be related to PHP7. As it is, Paperwork should work well on PHP7. A change was done to the develop branch which should fix your problem. The reverse proxy is waiting for someone to test the temporary branch before opening a pull request to put this functionality. The temporary branch issue-742-test has also been updated with the latest.

Can you test it please? If you (or som

[2017-02-07 21:58] jacek-1210 commented on #732
Don't works :(  Old database, old paperwork and after php artisan paperwork upgrade I get the same error. Maybe there are other problems (?) My new paperwork works. Interestingly, I did php artisan paperwork update, paperwork get via git 2 new files and still works

[2017-02-08 16:18] CentrixDE commented on #685
Hello, I have the same problem. But adding the File "setup" with the Content "4" didn't make any difference :( Can anyone help to fix this problem? The only thing it shows me is: "POST https://example.com/setup/setConfig 404 (Not Found)"

[2017-02-08 16:54] Liongold commented on #732
This is getting complicated. Try a totally fresh install, run php artisan migrate as normal and then copy the table contents from the backup to the new one. That should work. If you do not have postgresql, nothing should change.

Are you saying what I said above does not work?

[2017-02-08 16:56] Liongold commented on #685
Do you have mod_rewrite enabled? Are you using Apache?

[2017-02-09 11:32] jacek-1210 commented on #732
OK, so, my last, final, today try and findings:

1) old database, old paperwork:
php artisan paperwork:update - don't work, I get error from top of this issue

2) new install:

cd /www
rm -rf paperwork
git clone https://github.com/twostairs/paperwork.git
cd paperwork/frontend
composer install
php artisan paperwork:install
php artisan migrate

run https://paperwork....  and init via setup.php

git

[2017-02-09 11:36] CentrixDE opened #748 "Markdown support for Paperwork?"
Hello,

I love paperwork and even after a few issues while installing it, I just managed to use this as my main application for now :) I just have a little request, is it possible to integrate some sort of formatting function into it like markdown editing?

[2017-02-09 11:39] CentrixDE commented on #685
nvm, I just managed to install the application. I just had to disable the redirect rules in the htaccess to get into the setup.PHP, otherwise it would say I have too many redirects. Now I enabled the redirect rules after finishing steps 1-3 and it worked :) But thank you for your answer 👍

[2017-02-10 13:34] Liongold commented on #748
Thanks for using Paperwork. Good to know you like it. This is, however a duplicate of #95. Please continue following that issue for any progress. To avoid having open duplicates, this issue will be closed. Thanks for your feedback.

[2017-02-10 13:34] #748 closed

[2017-02-10 13:36] Liongold commented on #685
The pull request #715 has been merged and no one has reposted that has encountered any problems that could not be solved. Thus, until someone else reconfirms that this issue is still valid, this issue will be closed. If anyone re-encounters this issue, please re-open this issue or open a new one. Thanks for the feedback.

[2017-02-10 13:36] #685 closed

[2017-02-10 13:40] Liongold commented on #732
Good to know you have a working version. If you can use the data present in the "old" paperwork, I suggest to use a clean Paperwork install and use the way you mentioned to use the "old" database. Please note, that db_settings and paperwork_settings have been replaced by database.json and paperwork.json. If you have any new issues, please comment on this issue. If you've solved your problem, pleas

[2017-02-10 22:15] amenk commented on #107
Hmm .. but the demo is not running ... reopen?

[2017-02-10 22:34] #732 closed

[2017-02-11 20:29] mheppner commented on #54
Take a look at [my branch](https://github.com/mheppner/paperwork/tree/laravel5). It's mostly functional, but there's quite a bit missing. It's upgraded to 5.3 and I'll get it up to 5.4 shortly. I forked it from `dev`, so hopefully I'm not missing too much from `master`. Not sure how you want to do this, but what about creating a new `laravel5` branch here then I'll submit a pull request to it? Tha

[2017-02-12 10:59] romu70 opened #749 "Question about "php artisan migrate" command"
Hello,
I'm working on a Paperwork Docker image. My image will store data in an external MariaDB instance. I've written My Dockerfile and I've a question about the ```php artisan migrate``` command.

Indeed, I've tried both cases, with and without that command, and result is same, Paperwork seems to work as expected. So, could you please tell me a bit more about this command, its purpose, etc, and

[2017-02-12 11:43] tutked opened #750 "Setup 4 error log"
*175 open() "/home/www-data/paperwork/frontend/public/setup/setConfig" failed (2: No such file or directory), client: x.x.x.x, server: x.x.x.x, request: "POST /setup/setConfig HTTP/1.1", host: "notes.padak.gen.tr", referrer: "http://notes...

[2017-02-12 11:48] tutked commented on #750
location / {
                try_files $uri $uri/ /index.php;
        }

[2017-02-12 11:48] #750 closed

[2017-02-12 21:40] andyforceno opened #751 "Unable to disable user registration"
I would like to disable registration. The setting for that is in frontend/app/paperwork.php. I set the registration line to false, but the registration option is still available on the page, and clicking on it takes you to the registration page. I changed the Registration line to read:
` 'registration' => isset($configuration->registration) ? ($configuration->registration == "true") : false,`

Am

[2017-02-13 16:30] Liongold commented on #751
That file should be left as it is. Can you change the value corresponding to registration in frontend/app/storage/config/paperwork,json? Does that work for you? Thanks for using Paperwork.

[2017-02-13 16:34] Liongold commented on #749
It should be necessary, yes. The `php artisan migrate` command generates the database tables required to store the Paperwork data. I don't know how Docker works exactly so could be missing something. Are you building the database using some other way?

[2017-02-13 16:44] Liongold commented on #54
Very good work on that. On the way forward, I'd ask @mrusme sine he is the owner of the project. About your other questions, LDAP authentication - I presume using an LDAP account to test it (I've never used it so don't really know), the 2 postgresql migrations set some defaults that mysql sets automatically but postgresql does not. If you need anything else, just ask.

But again, about the way for

[2017-02-13 16:50] mheppner commented on #54
The postgres migrations errored out on MySQL, preventing the remaining migrations from running, so it seems a bit odd to have them. Maybe it's caused by Laravel defaulting to strict mode for MySQL 5.7?

[2017-02-13 17:08] romu70 commented on #749
Hi, thanks. I may be wrong but I think I've tried with a blank DB and it worked, but I'll do my testing again to be sure.

[2017-02-13 18:02] Liongold commented on #54
Are you sure you're running the latest version? Those files have been changed, some days ago to not run if the user is on MySQL. Can you re-check please?

[2017-02-13 18:12] mheppner commented on #54
@Liongold like I said, I forked from `dev`. The project layout in Laravel 5 is pretty different, so it's going to be difficult to figure out what was changed. I'll take another look tonight or tomorrow and maybe try merging in the changes from `master` from where `dev` was last updated.

[2017-02-13 19:34] andyforceno commented on #751
Thank you, that did it :-)

On Mon, Feb 13, 2017 at 11:31 AM Liongold <notifications@github.com> wrote:

[2017-02-13 20:15] #751 closed

[2017-02-13 20:15] Liongold commented on #751
This issue has now been closed. Thanks for your interest in Paperwork.

[2017-02-14 02:31] andyforceno commented on #665
I'm getting this error too. I recently installed the develop branch, because of a different error I was getting.

[2017-02-14 12:50] nebulade opened #752 "Hide admin area when ldap is used"
Would it make sense to hide the admin area, or more specifically the Users view (which from what I can tell is the only thing in the admin area), in case LDAP is used? Is there any benefit in having that view, as I assume deleting a user there cannot have any effect on the LDAP server.

[2017-02-14 16:48] nebulade commented on #580
Using the HEAD revision of paperwork dumps an angular error in the webinspector console for both firefox 53 and chromium 56, rendering both file upload methods (dialog and drag'n'drop) unusable:
[code]

[2017-02-14 23:41] TheFiZi opened #753 "Feature Request: Strikethrough in text editor"
Example:

Version 2.0 is <strike>not yet available!</strike> now available!

[2017-02-15 12:42] Liongold commented on #738
The pull request has now been merged. Can you update your install and re-check to see if the bug has been fixed? Thanks for your help.

[2017-02-15 12:47] Liongold commented on #731
The pull request has now been merged. Can you re-test it please?

[2017-02-15 12:52] mrusme commented on #54
@mheppner https://github.com/twostairs/paperwork/tree/feature/laravel5 :-)

[2017-02-15 12:54] Liongold commented on #54
Thanks @mrusme.

[2017-02-15 17:09] jacek-1210 commented on #731
Wow, nice. thx. Missing only: "After second touch (this same) collection button, child notebooks should collapse and hide". (Now, hide/collapse child notebooks, works only by touch another collection button)

[2017-02-16 10:00] peyoot commented on #742
Hi, Liongold, I want to do the test, but if I use master branch again, I can perform "php artisan migrate" without error. But with develop or 742-test branch, I can't finish "php artisan migrate" command. The error shows it have something to do with SQL synax. It seems develop branch have something wrong with this command. as I can't finish installation, so I can't test it.

[2017-02-19 18:25] andyforceno opened #758 "User registration page doesn't load"
I've successfully installed and configured Paperwork (master branch mostly, develop once) a number of times, but I'm running into an issue with user registration during setup. I'm using the master branch. The page says it's loading the user registration form, but it never loads. In laravel.log I see the following:

[code]

If I click the user registration button, I get the following:
[code]

I'm n

[2017-02-20 17:53] Liongold commented on #742
@peyoot The branch has been updated and does not run the migration file anymore if you do not use PostgreSQL. If you use pgsql, then the file should not have a problems with your database. Please run `git pull` before testing to update your copy.

[2017-02-20 18:07] Liongold commented on #731
Fixed in #762.

[2017-02-20 18:12] Liongold commented on #580
@nebulade Please try clearing your cache and try again. Please use the latest version and when writing a report, please mention the code included in the Settings page > About tab. If you encounter this problem again, please try again.

[2017-02-20 18:13] Liongold commented on #580
Since the bug report has been open for more than a year and been pending feedback since May, this issue will be closed. If anyone re-encounter this issue, please open a new one. Thanks for your feedback and use of Paperwork.

[2017-02-20 18:14] #580 closed

[2017-02-20 18:17] Liongold commented on #752
I'm not sure since I haven't tested it but it seems that using the Delete button, removes the user from the Paperwork database regardless of whether he is logged in LDAP or not. Have you tested it and found it works otherwise?

[2017-02-20 18:59] jacek-1210 commented on #731
Hmm ?? Isn't fixed. After update, still, second touch/click this same collection button don't work (child notebooks don't hide)

[2017-02-20 20:10] Liongold commented on #731
You need to wait until the pull request is merged before receiving the new feature.

[2017-02-21 23:31] HarshNormal opened #763 "Can't Share Collection/Notebook in Collection"
I've been playing with Paperwork and have run into a problem:

whenever I or someone else shares a notebook that is inside of a collection, the users to whom I've shared do not see the collection or the notebook, they can only see the notes (which appear in the "All Notes" section.

Is this perhaps an error only I am running into, or has this happened to someone else? I'll troubleshoot more later

[2017-02-21 23:37] harshnormal commented on #753
You can actually do that already in ckeditor, though by default it is disabled. Modify the following file:
`paperwork/frontend/public/ckeditor/config.js`

and replace
`config.removeButtons = 'Cut,Copy,Paste,Undo,Redo,Anchor,Underline,Strike,Subscript,Superscript';`

with:
`config.removeButtons = 'Cut,Copy,Paste,Undo,Redo,Anchor,Underline,Subscript,Superscript';`

As you can see, this one line remo

[2017-02-21 23:47] TheFiZi commented on #753
Thanks!

Can this be added as a enable/disable toggle in admin section of Paperwork? If not just enabled by default?

[2017-02-24 06:47] peyoot commented on #742
I just test issue-742-test branch and it seems works for sign up users.
only some small issues in the setup wizard as bellow:
1. in step2 it doesn't autodetect database availability. I have to click reload to go to mysql configure page.
2.  the first account registration page doesn't show up.
![paperwork-setup6](https://cloud.githubusercontent.com/assets/2165697/23293258/22c166aa-faa0-11e6-9153-4e

[2017-02-26 03:48] Calystod commented on #745
I have the same problem on my installation. My server use PHP 7.1 and I can't do the setup because of an error with mcrypt. The POST response when I submit my configuration send the error:
`{
"error":{
"type":"ErrorException",
"message":"Function mcrypt_get_iv_size() is deprecated",
"file":"\/var\/www\/paperwork\/frontend\/vendor\/laravel\/framework\/src\/Illuminate\/Encryption\/Encrypter.php",
"l

[2017-02-26 04:42] mheppner commented on #54
@mrusme sorry, I didn't see this! I just opened #764. Please test it out, I'll fix a few things tomorrow.

[2017-02-27 08:59] loveshizuka opened #765 "The problem of NPM Dependencies"
I walk through the setup wiki step by step to install the PerperWork many times, but always have the same problem: NPM Dependencies failed. I will show you my install steps,  could you help me to find the problem what it is please? Thank you!!

![20170227152520](https://cloud.githubusercontent.com/assets/25612355/23352474/3a10dd7c-fd02-11e6-88c0-cfa101c41a97.png)

 My VPS in Vultr, Centos6.5, php5

[2017-02-27 10:00] mrusme commented on #54
@mheppner could you please solve the conflicts? Would like to merge it for people to test, but can't do that currently.

[2017-03-01 00:19] Calystod commented on #745
Thanks !

[2017-03-02 20:17] Liongold commented on #765
@loveshizuka Can you try `sudo npm install -g gulp bower` and then the rest of the commands please?