[2017-03-02 20:34] Liongold commented on #742
Do you get any console output in the Developer Tools of your browser?

[2017-03-03 07:33] njordr opened #766 "Route not defined after one day of runtime"
Hi.

I try two times to use the docker image of paperwork. Both the times after about one day of runtime, I've got thi error when I try to connect:

Route [user/register] not defined. (View: /app/app/views/user/login.blade.php)

[2017-03-04 10:58] oliver9042 opened #767 "Can't upload attachments to notes"
Hi,

I just installed paperwork on debian jessie with latest nodejs.
the sites works without hassle except for uploading attachments to any note.
the bar loads, there's a green bar at the top without any text and a warning symbol text to the attachments. after that, the attachment disappears.

I chowned the paperwork folder, saving notes isn't a problem.
whats wrong?

best regards!

[2017-03-04 15:42] oliver9042 commented on #767
Sorry, my bad. open_basedir directive in php wasnt set correctly...

[2017-03-04 15:42] #767 closed

[2017-03-04 21:22] plbeane commented on #734
Hello, I'm having a similar issue but no luck after adjusting the PHP values (upload_max_filesize and post_max_size). It seems that I can't upload anything over >1 MB on the desktop or mobile version. Any attachments 1000KB or less upload fine. Thank you!!

[2017-03-04 21:53] Habilya opened #768 "Installation screen step 6 (admin registration)"
Installation screen with new admin registration doesn't open up, the view generates an error

Next ErrorException: Undefined variable: admin (View: /web/www/paperwork.mysite.com/paperwork/frontend/app/views/partials/registration-form.blade.php)

[2017-03-06 11:56] Liongold commented on #734
There should not be anything from Paperwork's side. Can you check the response of the upload request? You can see it in the network tab of the Developer Tools. Do you have any errors in the Apache/PHP error log?

[2017-03-06 11:58] Liongold commented on #766
So you're saying that one day, the route is defined and the other
disappears? Did you move any files around? Or maybe you changed something
else?

--
Sincerely,
Jean.

[2017-03-06 12:36] njordr commented on #766
Yes, after one day the issue. No changes in the meantime.

I already try to re-deploy the docker machine, with the same result

[2017-03-06 14:55] plbeane commented on #734
I looked in the error log and found out it was actually an error from Nginx - client_max_body_size is set to 1M by default! My fault for not checking them before posting this bug. Thank you for doing an awesome job developing this software - I am really enjoying Paperwork :)!

[2017-03-06 16:28] Liongold commented on #766
Any info in the Apache/Nginx/PHP error logs?

[2017-03-06 16:34] njordr commented on #766
This is the only logs I can found (laravel.log)
[2017-03-06 16:33:03] development.ERROR: exception 'InvalidArgumentException' with message 'Route [user/register] not defined.' in /app/vendor/laravel/framework/src/Illuminate/Routing/UrlGenerator.php:231
Stack trace:
#0 /app/vendor/laravel/framework/src/Illuminate/Support/Facades/Facade.php(208): Illuminate\Routing\UrlGenerator->route('user/register

[2017-03-07 07:47] Rerryn commented on #766
Hi, I've encountered the same issue with the docker image.
Initially I had user registration enabled to allow some users to self-register (as a trial), but I wanted to close it off so I edited the paperwork.json file to disable registration.

All was fine for a while, and then I received the same error. I suspect that it is related to not having a session (i.e. not being logged in) + registration

[2017-03-07 08:13] njordr commented on #766
The same for me. Initially I leave "enable registration" to true. The issue began when I set it to false

[2017-03-07 16:16] mbrooks-public commented on #727
I am seeing the same issue.  I did a docker-compose up from the main directory and got this error:

 bower retinajs#~1.3.0                                           retry Download of  https://github.com/imulus/retinajs/archive/1.3.0.tar.gz failed with EINCOMPLETE, trying with git..
 bower angular-highlightjs#~0.4.3                             download https://github.com/pc035860/angular-highlightj

[2017-03-09 11:32] loveshizuka commented on #765
Thanks for your help, Liongold! The same issue happened when I tried to use the command you told me. I consider the problem is that I haven't install the nodejs and npm correctly. So I use the other way to install it.
[code]
then, PaperWork installed successfully! Thank you for your help again!

[2017-03-09 11:32] #765 closed

[2017-03-12 07:03] loveshizuka opened #774 "Always have a blank "Untitled" revision in the note history"
When I created a new note, always have a blank "Untitled" revision in the note history. Is this normal? I think the blank "Untitled" revision in the note history is unnecessary.
![20170312145831](https://cloud.githubusercontent.com/assets/25612355/23829737/d417c340-0734-11e7-9169-4e4795c1d3fc.png)

[2017-03-13 12:20] Liongold commented on #727
That should not have to do with Paperwork. Can you try again?

[2017-03-13 12:21] Liongold commented on #734
Thank you for using Paperwork. Since this question has been resolved, I'll close the issue. If you have any issues with Paperwork, please open a new one.

[2017-03-13 12:21] #734 closed

[2017-03-15 09:42] eccee commented on #742
Hi, Liongold, I haven't retry it yet. as it works for me after installation and I can manually register first user as admin.
So I think you need to merge it first.

[2017-03-15 14:18] Liongold commented on #742
The code needed for this feature has been submitted in pull request #775.

[2017-03-15 14:45] Liongold commented on #766
Sorry for the late reply and thanks for the additional information. There was a bug with the disabling of registration. A pull request has now been submitted and can be found here, #776. You are encouraged to test the fix to make sure that the bug is fixed completely, by testing the code in that request.

[2017-03-15 15:42] Liongold commented on #738
Since no has reconfirmed this issue since a pull request fixing this issue has been merged, this issue will be closed. Thanks for your feedback. If you encounter any new issue with Paperwork, please open a new issue.

[2017-03-15 15:42] #738 closed

[2017-03-15 15:43] Liongold commented on #573
Since the last reply in this issue, the Setup Wizard has been rewritten. Thus, this issue will be closed. If anyone encounters any new issues with Paperwork, please open a new issue.

[2017-03-15 15:43] #573 closed

[2017-03-15 15:44] Liongold commented on #725
This issue will now be closed since CKEditor has been updated completely. If you encounter any issues, please open a new issue. Thanks for your feedback and interest in Paperwork.

[2017-03-15 15:44] #725 closed

[2017-03-15 15:47] Liongold commented on #768
This seems to be a duplicate of #758. Thus, this issue will be closed. If you want to keep informed on the solution to this problem, please follow #758. Thanks for your interest in Paperwork.

[2017-03-15 15:47] #768 closed

[2017-03-15 15:48] Liongold commented on #758
A pull request with some fixes to the Registration part of Paperwork is open at #776. Can someone please test if the issues mentioned here are fixed in that pull request, please?

[2017-03-15 15:54] Liongold commented on #774
The first version is automatically set on note creation. However, a solution to this issue could be that the first version is hidden from history.

[2017-03-15 17:48] Liongold commented on #774
A pull request has been opened which should fix this. This is #777. If you test the fix and confirm it works, it would help a great deal. Thanks.

[2017-03-15 20:29] andyforceno commented on #758
I'll test it tonight and get back to you.

[2017-03-17 01:08] andyforceno commented on #758
Yes, those changes fixed the problem, I was able to register. Thanks!

On Wed, Mar 15, 2017 at 11:49 AM Liongold <notifications@github.com> wrote:

[2017-03-17 13:59] petrk94 opened #778 "Issue: Configuration has not been set correctly"
Hello,

after installing Paperwork dependencies (damn, please make it easier, I have no idea what all I have installed), I could finally run the setup and it could connect to the MySQL database successfully.
Unfortunately, I can not finish the installation, because I get this error displayed:
**Configuration has not been set correctly. Please try again.**

See Screenshot
![paperwork_dependencies](

[2017-03-17 16:53] Habilya commented on #778
You will have to provide some **corresponding** log entries from
paperwork/frontend/app/storage/logs/laravel.log

Also as quickie checkie, make sure that
paperwork/frontend/app/storage
is writable by your WebServer user (user you are running webserver from)

[2017-03-20 16:45] m0nhawk opened #779 "Issue with running in Docker under HTTPS"
I'm unable to properly run the Paperwork in Docker under HTTPS: the resources are being served with `http` prefix and therefore breaking the application:

![default](https://cloud.githubusercontent.com/assets/8220926/24110846/3a3e1930-0d9d-11e7-8e10-08401f04df54.png)

How can I specify to use HTTPS, instead of HTTP?

[2017-03-21 11:42] Liongold commented on #779
Are you using a reverse proxy? If yes, try the code found in this pull request #775.

[2017-03-21 12:25] m0nhawk commented on #779
@Liongold Great, thanks. It works now.

Hope it will be merged soon!

[2017-03-21 12:25] #779 closed

[2017-03-23 17:17] IcedMango opened #780 "Issue:Did you run npm install in Setup Wizard"
Hi there,
  I have some problems in deploying paperwork.My web environment is using https://oneinstack.com 's. I've opened proc_open() and proc_get_status().My linux version is CentOS Linux release 7.3.1611 (Core)
 I started installation from "Install Paperwork" to "Cleanup" on your wiki at https://github.com/twostairs/paperwork/wiki/Installation-----CentOS-Fedora .I've already tried npm install f

[2017-03-23 21:05] LukaJankovic opened #781 "Running from subfolder CentOS 7 / nginx"
Currently, the only way to get paperwork working is by using it as the webroot
[code]

The issue being, of course, that I would like paperwork to be in a subdirectory, not the webroot itself. Changing the webroot to `/usr/share/nginx` and then trying to access paperwork by going to [foo.bar/paperwork/frontend/public]() resulted in a `No input file specified.` error. Same result when modifying the

[2017-03-24 05:28] InCommingMessage commented on #780
I've already installed that dependencies.
![image](https://cloud.githubusercontent.com/assets/22059332/24281708/af0d2012-1095-11e7-9845-5a728247ef58.png)

[2017-03-24 12:05] JamborJan commented on #767
hey @oliver9042 great that you where able to solve the issue on your own. Maybe it's a good idea to state what exactly was your directive before and after your change. This way others running in the same issue are able to solve it.

Thanks!

[2017-03-24 12:35] oliver9042 commented on #767
My paperwork folder was located in /var/www/, but that path wasn't enabled in /etc/php5/fpm/php.ini's open_basedir settings.
I restricted php execution to used folders only, not systemwide, and my webserver root was in /usr/share/nginx/html before. That's why I had to add /var/www/ to succesfully upload files :)

[2017-03-24 13:12] JamborJan opened #782 "uploading attachments increasingly fails"
I have encountered an issue due to a request in the sandstorm port of Paperwork. This is not limited to the Sandstorm port. It is also happening on the cloudron instance and I guess also others.

You can create a new note and add the first attachment without a problem. When you add the next attachment it fails. With the safari browser I'm not able to add further attachments at all. The cromium bas

[2017-03-26 02:59] loveshizuka commented on #782
yea, I have encountered the same issue. You may select all files you want to upload at first and click the "Upload" botton at last.

[2017-03-29 22:29] Xaelias opened #783 "Where is the doc for NASes?"
For a system that boasts that it can run "also on small to mid-size NAS devices (Synology ®, QNAP ®, etc.)". I have to admit I was expecting the doc/wiki to mention them and have a tutorial on how to set this whole thing up on a NAS. At the very least some generic steps...
Too bad :/

[2017-03-30 09:04] kuc commented on #783
https://nas-hosting.net/blog/2015/05/22/hosting-a-website-with-synology

[2017-03-30 09:12] kuc commented on #780
You are installed them as `root`, so `www-data` or `nginx` user can't read them, I think.

[2017-03-30 09:22] InCommingMessage commented on #780
@kuc Thanks for your suggestion , I'll try again later.

[2017-04-02 08:06] SummerWater opened #785 "Can I install paperwork on the Windows Server?"
I try to install papaer work on the Windows Server,but in step 3 system error reporting.

[2017-04-03 09:34] kuc commented on #785
This is unsolvable unless you post more details...

[2017-04-03 12:35] Liongold commented on #774
@loveshizuka The pull request has been merged and this feature should be available on both the develop and master branches. Thus, this issue will be closed. Thanks for your feedback. If you encounter any issues, please open a new issue.

[2017-04-03 12:35] #774 closed

[2017-04-03 12:36] Liongold commented on #758
@andyforceno The pull request has been merged and this feature should be available on both the develop and master branches. Thus, this issue will be closed. Thanks for your feedback. If you encounter any issues, please open a new issue.

[2017-04-03 12:36] #758 closed

[2017-04-03 12:37] Liongold commented on #766
@njordjr @Rerryn The pull request has been merged and this feature should be available on both the develop and master branches. Thus, this issue will be closed. Thanks for your feedback. If you encounter any issues, please open a new issue.

[2017-04-03 12:37] #766 closed

[2017-04-03 12:39] Liongold commented on #742
@peyoot The pull request has been merged and this feature should be available on both the develop and master branches. Thus, this issue will be closed. Thanks for your feedback. If you encounter any issues, please open a new issue.

[2017-04-03 12:39] #742 closed

[2017-04-03 12:40] Liongold commented on #779
Just for your information, the pull request has been merged and the new code can be found in both the develop and master branches.

[2017-04-03 12:43] Liongold commented on #781
@LukaJankovic Did you try the code found in the wiki page https://github.com/twostairs/paperwork/wiki/Running-paperwork-in-subfolder

[2017-04-03 12:45] Liongold commented on #778
Any progress in this?

[2017-04-03 16:43] petrk94 commented on #778
I have tried that.
Set `chmod 777 paperwork/frontend/app/storage`
and `echo "4" > /var/www/paperwork/frontend/app/storage/config/setup`
But it didnt worked and the page is not accessible.
Maybe I should try it a later time with a fresh installation.

[2017-04-03 16:43] #778 closed

[2017-04-05 03:39] mheppner commented on #54
Has anyone tried out this branch yet? Any plans to update master?

[2017-04-05 11:59] Liongold commented on #783
@Xaelias Did that article help you in installing Paperwork?

[2017-04-05 12:03] Liongold commented on #780
@InCommingMessage Any updates?

[2017-04-05 12:04] Liongold commented on #749
@romu70 Any updates?

[2017-04-05 12:05] Liongold commented on #741
@MalcolmMielle Did you manage to do this? Can the issue be closed?

[2017-04-05 12:16] romu70 commented on #749
No, sorry. Didn't had the time to investigate, and don't know when I will have some.

[2017-04-05 12:32] MalcolmMielle commented on #741
Hey! Sorry I haven't time to actually try any of what was proposed before :S. Work kept pilling up and I never could go back to this.

[2017-04-05 18:20] gdgeorge opened #786 "Skipping the config wizard for a docker container"
I'm working on dockerizing Paperwork using Zukhov's method (https://hub.docker.com/r/zuhkov/paperwork/). The idea is to generate everything inside the dockerfile, assign a pseudo-random password to a database.php file, and thus avoid any setup. I've got everything running but am having issues skipping the setup wizard. I've created the setup file in /app/config directory containing 8 but to no ava

[2017-04-06 02:50] nikohd commented on #556
Could we also have a control to limit shares?

[2017-04-06 08:56] InCommingMessage commented on #780
@Liongold Nope. I've tried as kuc said but it still have errors like I mentioned.

[2017-04-06 11:59] kuc commented on #780
@InCommingMessage `su` to `www-data` or `nginx` user, run again that `npm` command and check what errors are showing.

[2017-04-07 10:36] technoboi commented on #758
I setup paperwork yesterday (6 April) to work on Apache. I still get this problem of the page saying 'loading' and going no further. I also had to setup the preferences manually because that page didn't work either. This is my second install. The first one was via a download. This one was via a git clone. I also found that the 'vendor' directory was missing on the git clone, so I sourced this from

[2017-04-08 21:11] gdgeorge commented on #786
Following up on this. I'm able to confirm that my database and user are loading.  Even if I complete the wizard though I can't log on to Paperwork with either the user created by the dockerfile or the one created by the wizard.  I guess the answer is to step through the the Docker install instructions side by side with the dockerfile, but the issue (and the reason that I started this project)  tha

[2017-04-09 12:48] somas95 opened #787 "Hi, can you release a precompiled version?"
I want to run this in a standard shared host, and the last prebuilt release was in 2015. Thanks!

[2017-04-11 12:14] mbrownie1 opened #788 "How do I get my paperwork server to re-run the configuration wizard?"
Some dependencies were missing (which it alerted me of) the first time I ran the config wizard.  Now I just want to rerun the wizard to make sure everything checks out.  Rhel7.

[2017-04-11 17:14] Liongold commented on #788
To re-run the whole setup wizard, you need to

1. Change the contents of paperwork/frontend/app/storage/config/setup to 0
2. Delete database.json in the same folder
3. Delete paperwork.json in the same folder

Please remember to backup your Paperwork database before doing this since the wizard may reinstall your database.

I'll close the issue since it's a question. Thanks for using Paperwork. If

[2017-04-11 17:14] #788 closed

[2017-04-12 13:18] mbrownie1 commented on #788
Perfect, thanks so much for the info!

[2017-04-14 20:32] jolinux opened #789 "See only menu and blank screen can not open notes-frame"
Hello
I install paperwork from git. Install it  at virtualbox Debian Server 8.7.

Conect the Server from Host.
Register Page ok.
Login Page ok

But login as User test can't   open Notes-Frame

![paperwork - mozilla firefox_140](https://cloud.githubusercontent.com/assets/26112620/25055164/83c7a7c4-2161-11e7-99fc-023d862efcc5.png)

Install with info https://github.com/twostairs/paperwork/wiki/Instal

[2017-04-16 13:27] jolinux commented on #787
Hello, have problems run a git-version of paperwork.

Found your prebuilt-version but no info to install.

Can you explain about install this prebuild ?

Apache or nginx Server ? DB install and migration ?

Install dir   /var/www/html/paperwork ?

Login path   ?

My install is with define/change docroot at /var/www/paperwork/frontend/public/
in nginx config.

login at  http://192.168.1.101/login

[2017-04-16 18:11] andyforceno opened #790 "Feature request: Insert and tick checkboxes (for lists)"
It would be great if we could insert checkboxes, or something that allows a line to be cleared or crossed-out. A dedicated "insert checkbox" button next to the insert bullet point button would be very convenient. Plus, it would allow me to ditch Google Keep. :laughing:

[2017-04-18 12:30] Liongold commented on #789
Any errors in the browser console?

[2017-04-18 12:31] Liongold commented on #787
@mrusme @JamborJan Can someone of you generate a pre-built version please?

[2017-04-18 12:34] Liongold commented on #790
A solution for the crossing-out of text can be found in #753.

[2017-04-18 13:02] Liongold commented on #786
Any progress on this? Apart from setting the setup file to 8, you need to have paperwork.json and database.json. If you are still having this problem, please specify which branch you're using.

[2017-04-18 13:04] Liongold commented on #758
@technoboi Do you still have this issue?

[2017-04-18 13:44] jolinux commented on #789
Yes,

GET
http://192.168.1.101/js/jquery.min.js [HTTP/1.1 404 Not Found 71ms]
GET
http://192.168.1.101/js/angular.min.js [HTTP/1.1 404 Not Found 67ms]
GET
http://192.168.1.101/js/tagsinput.min.js [HTTP/1.1 404 Not Found 68ms]
GET
http://192.168.1.101/js/angular.min.js [HTTP/1.1 404 Not Found 21ms]
ReferenceError: angular is not defined
 paperwork.min.js:17:5
Error: Bootstrap's JavaScript requires

[2017-04-18 13:45] Liongold commented on #789
Did you run npm install, bower install and gulp as outlined in the instructions?

[2017-04-18 14:09] jolinux commented on #789
Yes I install all parts of the instructions. Have problems with a -g option at my host web-server, and install without -g option.

And at this installation on my Virtual-Box-debian-Server I install as root but

bower install

abort with "bower ESUDO   Cannot run with sudo"   so I change to a non-root user and install without no errors.     This was my mistake.

I install now all npm install bower

[2017-04-18 14:40] JamborJan commented on #787
Hey @Liongold, I can only build Paperwork packages for [Sandstorm](https://github.com/sandstorm-io/sandstorm).

@mrusme I guess thats a task for you, or am I wrong?

[2017-04-18 20:49] cruisemaniac opened #791 "Text in the note content is not wrapped on mobile"
When viewing on mobile, the text area overflows and forces a user to scroll past viewport.

When editing a note, there is whitespace to the right of the screen.

Screenshots attached.
![screenshot_20170419-021525](https://cloud.githubusercontent.com/assets/115579/25152411/7f249f36-24a6-11e7-9081-a5e8e3da0575.png)
![screenshot_20170419-021545](https://cloud.githubusercontent.com/assets/115579/25152

[2017-04-19 15:09] gdgeorge commented on #786
Thanks for getting back to me.  I 've been away from the project for a bit but will get back to it and will report back with the branch.

Best,
Jerry

[2017-04-20 10:29] Liongold commented on #789
Good to hear that. I'm closing this issue then.

[2017-04-20 10:29] #789 closed

[2017-04-20 12:35] Liongold commented on #782
@JamborJan Did you test Firefox?

[2017-04-21 09:11] BenoitDuffez commented on #107
How has it been going? Demo is still dead :(

[2017-04-21 14:14] Liongold commented on #341
Can someone confirm this issue please?

[2017-04-21 14:15] Liongold commented on #266
Can someone confirm this issue again please?

[2017-04-21 14:16] Liongold commented on #47
I've removed the bug label because this does not seem to be confirmed. It still needs testing.

[2017-04-21 14:18] Liongold commented on #733
Any update here?

[2017-04-23 06:14] xendke opened #793 "Blank 'Library' Screen"
Here is what I am talking about:
![screenshot from 2017-04-23 01 52 03](https://cloud.githubusercontent.com/assets/1364447/25311151/7a4cc334-27c7-11e7-9489-1fe379ac820e.png)

followed these instructions: [https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10](https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10)

Also
npm install - was done, r

[2017-04-23 10:31] erm3nda commented on #726
Still not avail...

[2017-04-24 05:04] JamborJan commented on #782
@Liongold I didn't test firefox. Maybe one of the users did but not sure.

[2017-04-25 19:54] Xaelias commented on #783
I have been neck deep in some other things. I haven't had the chance to take a look. Sorry.

[2017-04-26 04:18] sevmartinezjr1 commented on #728
Hi,

I got the same error. I can create notebooks but unable to create notes within them. Not sure doc noticed the samething. I did install php-xml and still no luck after reboot screenshot below. Also, where in the settings area are you saying I should screencap and send? I've tried firefox, chrome and brave browsers.
![paperwork_err_write](https://cloud.githubusercontent.com/assets/28035210/2541

[2017-04-26 04:21] sevmartinezjr1 commented on #728
Disregard the first post pic. I think this is what you are looking for. I see an error with the developer tools.
![errors_devltools](https://cloud.githubusercontent.com/assets/28035210/25417987/4d616bda-2a16-11e7-88a1-436d6cf0d94a.png)

[2017-04-26 04:28] sevmartinezjr1 commented on #741
What happens when you go directly to the address? Also, I had some problems too make test with selinux in permissive mode I know fed and cent like to have them on by default.
Sev,

[2017-04-26 12:08] Liongold commented on #753
This has been implemented in #794. If someone can test it, some help would be much appreciated.

[2017-04-26 19:35] Komish commented on #726
Currently shows the DNS record is not created for the domain.

[2017-04-26 23:13] sevmartinezjr1 commented on #780
Per Selinux adding these booleans resolves the issues.

setsebool -P httpd_unified 1
setsebool -P httpd_can_network_connect 1
setsebool -P httpd_can_network_connect_db 1
setsebool -P httpd_execmem 1

Hope this helps.
Sev

[2017-04-26 23:16] sevmartinezjr1 commented on #728
angular.min.js:8661 PUT http://172.30.1.66/api/v1/notebooks/00000000-0000-0000-0000-000000000000/notes/45f5b7c4-f24b-48a1-bc31-69c8f12f3073 500 (Internal Server Error)
(anonymous)	@	angular.min.js:8661
sendReq	@	angular.min.js:8455
serverRequest	@	angular.min.js:8175
wrappedCallback	@	angular.min.js:11735
(anonymous)	@	angular.min.js:11821
$eval	@	angular.min.js:12864
$digest	@	angular.min.js:1267

[2017-04-26 23:27] sevmartinezjr1 commented on #728
Whats really strange is that it accepts attaching files to notes but does not allow editing of notes.

[2017-04-27 06:53] Liongold commented on #726
@mrusme Any updates?

[2017-04-28 11:29] JamborJan commented on #54
Hey guys, what is the corrunt status here? Can it be tested? If yes let me know and I'll do so.

[2017-05-02 12:54] Liongold commented on #54
@JamborJan You should be able to test it. I think it should work except for what was specified as not working in #764 itself.

[2017-05-02 12:59] Liongold commented on #728
You should screenshot the code found in the first tab page of the Settings. Do you have any output in your server error log? What is the actual response of the request please?

[2017-05-02 13:01] Liongold commented on #780
@InCommingMessage Still not fixed?

[2017-05-02 13:06] Liongold commented on #793
@xendke Can you try running bower install --verbose an see whether there any errors. Then run gulp again and try to load again. If it does not work, please mention the code found in the Settings page.

[2017-05-02 13:34] InCommingMessage commented on #780
Sorry for not reply quickly.
@kuc I've tried su to www user, the dependencies shows the same result while I'm in root user.
@sevmartinezjr1 Thanks for your suggestion. I've already disabled SELinux after my system was ready.
![image](https://cloud.githubusercontent.com/assets/22059332/25619606/12b2da92-2f7e-11e7-853a-0d12b4e7a88d.png)
@Liongold Yep.Still not help. Maybe that's not compatible with

[2017-05-02 19:36] xendke commented on #793
here is the output of bower install --verbose: [link](https://pastebin.com/0HAfey2Z)
gulp had no issues again.
here is the code mentioned: bee708d0931145952596246aeae04bb575c5b557

[2017-05-05 17:49] jacek-1210 commented on #731
Some problems ?

And next problem: now isn't possible to move/remove notebook into/from collection. As I remember, in earlier versions it was possible. And isn't possible erase collection. :(
Now I have 2 identical collections % can't erase it :(

![paperwork1](https://cloud.githubusercontent.com/assets/13505686/25757696/d9df264e-31cb-11e7-95f4-d78313585e59.jpg)

[2017-05-09 19:21] jacek-1210 commented on #731
OK, I found in SQL & manual erased it

[2017-05-10 17:51] sevmartinezjr1 commented on #728
Hmm. This is what I see in the error logs for Nginx.
![screenshot from 2017-05-10 13-50-01](https://cloud.githubusercontent.com/assets/28035210/25913185/cc897142-3587-11e7-81e2-ed345221f46d.png)

[2017-05-12 12:45] sevmartinezjr1 commented on #728
![screenshot from 2017-05-12 08-45-03](https://cloud.githubusercontent.com/assets/28035210/25998511/5668dbce-36ef-11e7-9590-e519caba8193.png)

[2017-05-14 17:38] Alexandero89 commented on #733
I have the same problem with nearly the same nginx-config.
Here part of my config:
[code]
Please note that my location is "/notizen" instead of "/apps/paperwork".
So i changed the rewrite to:
[code]
And my directory looks like this:
/var/www/paperwork/....

My Log looks a bit strange because allthough he finds the index.php he rewrites the location to "notizen/index.php" again:

https://pastebin.c

[2017-05-15 10:23] Liongold commented on #728
Try to install the `php-xml` package, restart the web server and then retry it.

[2017-05-15 10:24] Liongold commented on #731
What is the code shown in the Paperwork Settings page in the About tab please?

[2017-05-15 10:25] Liongold commented on #793
Sorry for the late reply. Do you have a file named 'textAngular-sanitize.js' in `frontend/app/js/bower_components/textAngular/src/`?

[2017-05-15 10:26] Liongold commented on #780
You can try skipping the Setup wizard. Set the file content of `frontend/app/storage/config/setup` to `8`. Make sure to set up the database.json and paperwork.json files. Let us know if it works.

[2017-05-15 10:33] jacek-1210 commented on #731
Uppsss.   "0"
What about this ?

[2017-05-15 10:51] Alexandero89 commented on #733
Posted my problem also to StackOverFlow and they found a solution
[https://stackoverflow.com/questions/43966556/using-nginx-with-nextcloud-website-paperwork-parallel](url)

Here is the working configuration:

     location ^~ /notizen {
       alias /var/www/paperwork/frontend/public;
       index index.php index.html index.htm;

       if (!-e $request_filename) { rewrite ^ /notizen/index.php las

[2017-05-15 11:15] Alexandero89 opened #797 "URL not correctly set for Attachments when Paperwork is in Subfolder"
Hey folk,
When i upload an attachment to a note the upload-windows appears to open 3 or 4 times.
I have to close the first 2 or 3 popups and in the final one i can choose my file to upload.

After i uploaded the file i click on it and want to see it (for example a jpg file) , but he is setting the wrong url for the File.
For Example i get redirect to this link:

Allthough my paperwork is reachable

[2017-05-16 02:14] xendke commented on #793
there is no src folder inside textAngular :(
[code]

[2017-05-16 17:34] Liongold commented on #793
That's strange. However, you should fix the problem by changing `frontend/gulpfile.js`, line 37 and replacing it with `'app/js/bower_components/textAngular/dist/textAngular-sanitize.js',`. Let us know if it works.

[2017-05-16 17:41] Liongold commented on #731
Do you have a fork installed? Did you touch the .git folder? Could you reinstall while keeping your database backed up and then re-attaching it to Paperwork.

[2017-05-16 17:49] Liongold commented on #733
Sorry I'm not familiar with Nginx. Do you think your new configuration should work in all cases. If so, could you update the Wiki page with that new configuration.

[2017-05-16 19:06] xendke commented on #793
Thank you so much, was able to fix it like you said.
fresh `git clone` > edit `frontend/gulpfile.js` > continue with installation steps (`npm`, `bower`, `gulp`)

the edit:
\-  `'app/js/bower_components/textAngular/src/textAngular-sanitize.js'`
\+`'app/js/bower_components/textAngular/dist/textAngular-sanitize.min.js'`

[2017-05-16 19:07] #793 closed

[2017-05-16 22:05] jacek-1210 commented on #731
Sorry, last I broke the update. Now I get: 5d0287b7c72e14dcaa84d18cdf714d9551564b4f

[2017-05-17 09:51] Alexandero89 commented on #781
@LukaJankovic :
Had the same Issue and found a Solution here #733 and [here](https://stackoverflow.com/questions/43966556/using-nginx-with-nextcloud-website-paperwork-parallel)

Will update the Wiki soon.
Pls try it out and give us (me) some feedback if you also have this ( #797 ) Bug

[2017-05-18 06:32] umbz commented on #713
Yes, it is

[2017-05-18 11:32] sevmartinezjr1 commented on #728
Thanks that did it! I thought the install was going through previously when I tried installing it but, it was erroring out because of a conflict with an installed package. Enjoying the app thanks again.

Sev

[2017-05-19 13:40] jerheij opened #798 "Registering user"
When I am in the admin area and click "register users" I get a 404:

Nothing appears in the error logs.

[2017-05-22 10:28] Liongold commented on #798
That is normal if the configuration setting in your install is not 'admin'. I'll disable the button however to make it clearer.

[2017-05-22 10:31] jerheij commented on #798
Do you mean if the user in question is not admin or another setting?

[2017-05-22 10:31] Liongold commented on #728
@doc2git Are you still having this issue? Do any of the comments above fix it for you?

[2017-05-22 10:33] Liongold commented on #731
Please run `git pull` and then `npm install`, `bower install` and `gulp` again. You seem to be running an outdated version.

[2017-05-22 10:38] Liongold commented on #798
I mean the registration setting in `frontend/app/storage/config/paperwork.json `.

[2017-05-22 11:36] jerheij commented on #798
I see my problem, I put "registration" on "false" instead of "admin". Thanks for the help!

[2017-05-22 11:46] jerheij commented on #753
When I try to change config in ckeditor.js nothing seems to happen, even after a reload of httpd & php-fpm.

[2017-05-23 05:32] #798 closed

[2017-05-23 13:39] Liongold commented on #753
#794 has been merged to the develop branch. Any changes to remove or 'unremove' buttons from the editor toolbar can now be done through the `paperwork.json` and not the CKEdit config itself. @jerheij Can you test it using the new method? If it does not work, please re-open this issue.

Thank you all for your feedback and for using Paperwork. I'll close this issue since this should have been fixed.

[2017-05-23 13:39] #753 closed

[2017-05-23 13:41] Liongold commented on #791
Pull request #791 should fix this issue and has been merged to the develop branch. Thanks for using Paperwork and for sending your feedback. I'll close this issue since the pull request should work. If you re-encounter this issues, please open a new issue.

[2017-05-23 13:41] #791 closed

[2017-05-23 13:49] Liongold commented on #798
@jerheij Pull request #800 should avoid problems like yours because it is much clearer when the feature can't be used. Could you please take a look at that and say whether it is an improvement or not?

[2017-05-23 14:01] Liongold commented on #783
@Xaelias Any updates?

[2017-05-23 20:20] zMietek opened #802 "Note sharing pull-down options are visible only for first created account"
Hi,
 I have troubles with sharing function.
Only user, which was created during initial installation, can see all notes sharing options (Do not share / Read only / Read and write). Pulldown menu has partucalry antries.

If the user which is created  later, even with admin privs,tried to share a note, he can't see any sharing option, this pull-down menu is empty, without any text, just three empty

[2017-05-24 00:17] andyforceno commented on #797
I have the same issue when accessing attachments, because I am running Paperwork from a subfolder. I don't know if this is the best solution, but it works for me:

    location ~ ^/api/v1/notebooks/(.*){
        return 301 /paperwork/api/v1/notebooks/$1;
    }

[2017-05-24 01:00] ulm0 opened #803 "Serving Paperwork docker image behing Nginx Proxy with TLS?"
I have a working Paperwork docker image (the docker image uses Apache to work) behind an Nginx proxy in HTTP, and now i want it to be served in HTTPS, thing is i can't figure out how to make it work, because when i used in HTTPS the site doesn't load properly

![screenshot from 2017-05-23 20-49-42](https://cloud.githubusercontent.com/assets/13160093/26382346/9ff5c316-3ff9-11e7-901f-92dd52debeb1.pn

[2017-05-24 06:14] jerheij commented on #753
I've downloaded the "develop" branch zip and merged it into my apache paperwork folder with rsync but I. I put the following in my paperwork.json:

Yet my ckeditor buttons are no different. How do I know for sure I am running the webapp on the develop branch?

[2017-05-24 06:16] jerheij opened #804 "Ckeditor settings in paperwork.json"
I've downloaded the "develop" branch zip and merged it into my apache paperwork folder with rsync but I. I put the following in my `paperwork/frontend/app/storage/config/paperwork.json`:

Yet my ckeditor buttons are no different, other settings are still working though. How do I know for sure I am running the webapp on the develop branch?

[2017-05-24 11:36] Alexandero89 commented on #797
Good idea andy.
Haven't thought about this way. Will try it out now.

[2017-05-24 11:40] Alexandero89 commented on #797
Working for me too!

[2017-05-24 16:24] Liongold commented on #804
To be sure that you are running the develop branch, do `git status`, the first line of the reply should say `On branch develop`.

[2017-05-24 16:36] Liongold commented on #804
This has been fixed in #805 which has just been merged. Please run `git pull` and then `gulp` to be able to use this feature. I'll close this issue. If you re-encounter this issue, please re-open. If you encounter another issue, please open a new one. Thanks.

[2017-05-24 16:36] #804 closed

[2017-05-24 16:54] Liongold commented on #797
@Alexandero89 @andyforceno I'm not experienced with Nginx and do not really how it works, but if I may, I'd suggest that you use `/api/v1/` instead of `/api/v1/notebooks/`. That way I think you could use the whole API. Sorry if I'm not understanding well. If it isn't a problem for any of you, could you please include your code snippet (maybe updated with my suggestion if it works) to the appropria

[2017-05-24 16:58] Alexandero89 commented on #797
@Liongold  yes, your suggestion is correct and also working. Just tested it.
Will start a merge request with an updated wiki for the nginx part.

[2017-05-24 17:10] Liongold commented on #797
@Alexandero89 Good to hear and thanks. I'll close this issue then. If you re-encounter any new issues, please open a new one.

[2017-05-24 17:10] #797 closed

[2017-05-24 17:18] Liongold commented on #802
What is the code mentioned in the About tab of the Settings page?

[2017-05-30 08:21] jerheij commented on #804
Sorry for reopening this issue but I successfully tested this today and it works like a charm. Buttons can be removed through the paperwork.json config.

[2017-05-30 16:36] Multipass2 commented on #107
@BenoitDuffez they have a Cloudron and Sandstorm demo available if you check the bottom of their main github page

[2017-05-30 17:45] BenoitDuffez commented on #107
Yup, my comment is obsolete. Sorry 😀

[2017-05-31 20:07] kscheel commented on #312
+1
Internal links are an essential feature in a note taking system. At least for me ;)

I don't think quotes or previews are important though. But being able to link to a specific paragraph from another note or within the same note would be nice.

[2017-06-02 13:27] davidtessier commented on #689
I have reviewed this thread and am in the same boat.
I enforce HTTPS on my server if that matters.
I have mod enable rewrite on.
I have done a chown www-data * -R on the paperwork folder.

My issues are the same as above:

I get to step 4 and am presented with "Configuration has not been set correctly. Please try again."
When I look at the Chrome console it says setup/setConfig not found (404).
Th

[2017-06-02 14:03] davidtessier opened #807 "Same as issue 689 - Configuration has not been set correctly. Please try again"
Issue 689 was closed, and said it had no one assigned so I thought I'd create a new issue... I'm sorry if that's the wrong thing to do, I don't use github a lot.

I have reviewed [this thread ](https://github.com/twostairs/paperwork/issues/689) and am in the same boat.
I enforce HTTPS on my server if that matters.
I have mod enable rewrite on.
I have done a chown www-data * -R on the paperwork fol

[2017-06-02 14:48] #807 closed

[2017-06-02 19:54] Liongold commented on #807
@davidtessier Why have you closed this issue? Did you fix the problem?

[2017-06-04 13:04] codejockey1 commented on #713
Having the same issue installing on a Raspberry PI using both the tarball and git clone. Any ideas?
/var/www/paperwork/frontend/public/css/ only has boostrap-editible.css and mathquill.css in it. I've tried this multiple times cloning from git and finally with tarball as recommended above.

[2017-06-06 13:14] Liongold commented on #713
@codejockey1 Can you temporarily assign more permissions to the paperwork folder while installing? Would it work?

[2017-06-06 20:55] codejockey1 commented on #689
Having the same issue and I've attempted all of the above with no luck.
http://<%host%>/paperwork/frontend/public/setup/installDatabase returns a 404

I'm missing files in /public/setup:
/var/www/paperwork/frontend/public/setup $ ls -l
total 12
-rwxrwxrwx 1 root root 1791 Jun  6 14:45 check_database_credentials.php
-rwxrwxrwx 1 root root  589 Jun  6 14:45 convert_settings.php
-rwxrwxrwx 1 root roo

[2017-06-07 13:00] codejockey1 commented on #713
That seems to have gotten me past the missing files and any install errors, but now I'm stuck in the in-browser setup flow. I responded to a related issue here: https://github.com/twostairs/paperwork/issues/689

[2017-06-07 13:25] Liongold commented on #802
Sorry for the late reply. Which browser are you using? Do you have any console output when opening the dialog? Is the user you're testing with the owner of the note?

[2017-06-07 13:44] Liongold commented on #802
To try and fix this issue, I've created a test branch that includes more console output intended to gather information about the bug. If it's not a problem for you, could you please try checking if the bug exists in that branch? You can switch to it by doing `git checkout issue-80 and then `gulp`. If you do it, please post the whole browser console log, please.

[2017-06-07 13:45] Liongold commented on #713
Thus, for future reference, the solution for this problem is to temporarily assign more permissions to the paperwork folder during installation.

[2017-06-07 13:54] Liongold commented on #689
Are you trying to access Paperwork from a subfolder, like domainname/paperwork? The request you're mentioning should be domainname/setup/installDatabase, the paperwork/frontend/public/ part should not be in the URL.

[2017-06-07 14:02] Liongold commented on #807
Did you follow some of the solutions in #689? Are you using Paperwork from a subfolder? Can you assign more permissions to the paperwork folder during installation and try again?

[2017-06-07 14:07] klm46 commented on #807
hi, yes i did try the solutions. subfolder of document root? yes. i did changeown nginx with the hole files. do i need to give 777?

[2017-06-07 14:17] Liongold commented on #807
Try 777 during installation and then change it again. However, probably, it's the subfolder that is causing the problem. Can you post a screenshot of the Developer Tools' Network tab of your browser please?

[2017-06-07 14:21] klm46 commented on #807
i come back tomorrow, need to hurry up. but thanks for the quik replays!

[2017-06-07 15:12] codejockey1 commented on #689
@Liongold Correct, I'm using domainname/paperwork/

[2017-06-07 19:15] Liongold commented on #689
Paperwork is built on top of Laravel that is designed to work outside of subfolders (meaning domainname only without /paperwork/). Can you try using Paperwork in that way?

[2017-06-07 20:22] zMietek commented on #802
Hi,

"late reply" is no problem for me, especially in non-profit and volunteer-based software area :) So, no need to say "sorry" for reaction, if even this was indeed late ... everybody has own life, own families, job and something extraordinary things like holidays ;)

Unfortunately I'm moving my flat now. At this moment my whole IT-related infrastructure (incl. self-hosted server with paperwork

[2017-06-08 02:29] codejockey1 commented on #689
With that, I was able to get everything working. Thanks for your help!

[2017-06-08 07:11] klm46 commented on #807
So, back here. Console says 500 by building database, but mysql says:

MariaDB [(none)]> SHOW TABLES FROM paperwork;
+---------------------+
| Tables_in_paperwork |
+---------------------+
| attachment_version  |
| attachments         |
| language_user       |
| languages           |
| migrations          |
| note_user           |
| notebook_user       |
| notebooks           |
| notes

[2017-06-08 19:56] jsEveryDay commented on #713
I do remember having permission issues but then I realized it was due to the initial files on this repo, everything is unecessary, you only need 1 folder **frontend**

This file https://github.com/twostairs/paperwork/blob/master/.tx/config pings transifex.com
Try my fork, it may work.

As far as permissions, I have all files running at 644 and php files at 664.
I never really changed them as they

[2017-06-11 05:48] JohnSheepert opened #808 "Installing Paperwork in Arch Linux is failing"
I installed all packages via 'npm install' (and the other stuff bower and gulp and so on), but the setup page still tells me that I didn't run 'npm install'. So I skipped the setup with the "workaround".
After I added database.json and paperwork.json and inserted 8 in setup (everything in app/storage/config) I could enter index.php. Now there is a strange page:
![screenshot_2017-06-12_03-20-19](ht

[2017-06-12 01:25] JohnSheepert commented on #808
Ok, I mixed somehow some paths. After I added database.json and paperwork.json and inserted 8 in setup (everything in app/storage/config) I could enter index.php. Now there is a strange page:
![screenshot_2017-06-12_03-20-19](https://user-images.githubusercontent.com/6233221/27016292-747f7f90-4f1e-11e7-9766-7e09607a1ff9.png)
I use PHP@7.1.6 and cannot downgrade.
Do you have any ideas?

[2017-06-12 06:53] klm46 commented on #807
@Liongold any idea?

[2017-06-12 14:14] Liongold commented on #808
Paperwork is built on Laravel 4.2 which does not seem to support and work on PHP 7.1. Since you said you can't downgrade to PHP 7 (which should work), you can try either

1. following the advice given at https://github.com/laravel/framework/issues/16884 to override the error handling by Laravel
2. use a branch of Paperwork built on Laravel 5 - the code for it can be found https://github.com/twosta

[2017-06-12 14:14] #808 closed

[2017-06-12 14:43] Liongold commented on #803
Are you trying to run Paperwork as domainname/paperwork-type of structure? Or a reverse proxy?

[2017-06-12 14:46] Liongold commented on #803
Can you also post a screenshot of your browser's Network tab in the Developer Tools?

[2017-06-12 14:48] Liongold commented on #713
I'll close this issue. If anyone encounters any new issues, please open a new one. Thank you for using Paperwork.

[2017-06-12 14:48] #713 closed

[2017-06-12 14:49] Liongold commented on #731
@jacek-1210 Can this issue be closed?

[2017-06-12 14:50] Liongold commented on #781
@Alexandero89 Did you update the Wiki please?

[2017-06-12 14:51] Liongold commented on #780
@InCommingMessage Any progress?

[2017-06-12 14:56] Liongold commented on #807
@klm46 The Setup wizard will be updated soon. Can you try the branch running the new setup wizard version? It can be found in pull request #809. Can you test it and see if it works please?

[2017-06-13 13:40] klm46 commented on #807
809 pulled, now the failure is @ database step! tried many times, credentials are correct. this is really sad :/

![screenshot from 2017-06-13 15-38-38](https://user-images.githubusercontent.com/7510750/27085087-8e6f753c-504e-11e7-8eba-0fbe3d1586e0.png)

[2017-06-13 13:50] klm46 commented on #807
`2017/06/13 15:49:27 [error] 1140#0: *75 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefined index: HTTP_REFERRER in /var/www/html/paperwork/frontend/public/setup/check_database_credentials.php on line 37" while reading response header from upstream, client: IP, server: URL, request: "POST /setup/check_database_credentials.php HTTP/1.1", upstream: "fastcgi://unix:/var/run/php-fpm/php-fpm.

[2017-06-15 03:06] codejockey1 commented on #665
Having the same problem here. Has anybody come across a fix for this?

[2017-06-18 17:37] cabdirazzaq opened #810 "Landing page?"
Hi

Love the app. I have a newbie question, currently I have paperwork installed on my main domain. I want to use a separate landing page  when someone goes to my domain, and when they click on a specific page, I want them to go to the sign-in page for the app.

How do you go about doing this?

[2017-06-20 13:37] Liongold commented on #807
Are you running Nginx? Anyway, I've done some additional changes to that pull request and I've removed the use of HTTP_REFERRER so that should, in any case, take away one of the errors. Can you try again?

[2017-06-20 13:38] Liongold commented on #810
Do you mean that you want to use Paperwork as a subfolder? For example having domainname/paperwork and then domainname/otherapporpage at the same time? Or do you want just a Paperwork page that does not show the Log in form immediately?

[2017-06-20 14:02] Liongold commented on #665
Can anyone of you test this change please?

In `frontend/app/lib/Paperwork/Import/EvernoteImport.php`, lines 163 and 164 (both lines), replace them with
`$fileName = ($hasResourceAttr && $hasFileName) ? $attachment['resource-attributes']['file-name'] : uniqid(rand(), true);`.

That could help fix this issue. Thank you.

[2017-06-20 22:29] andyforceno commented on #665
I made the change, and then successfully imported two .enex files that I could not import before.

[2017-06-21 12:49] Liongold commented on #665
@andyforceno Can you open a pull request with that change to the develop branch then please?

[2017-06-23 07:46] midaw1 opened #811 "Import pictures from copy-paste"
Often the sites from which we copy information are lost from the Internet. And links to these sites become empty. I would like a function in the program that will pull the image into its own repository and insert them instead of the links. It would be nice to do this in the form of a button / function and settings for importing and starting the function of converting links into your own pictures.

[2017-06-28 20:02] admintome commented on #381
I too would like this.  Im trying to use Paperwork for "Getting Things Done" (GTD) and being able to filer by tags like @JamborJan mentioned would be awesome to help sort tasks.

[2017-06-29 17:23] svigneau opened #812 "Sorted notes reset to default order after opening a note"
After sorting notes using the "Sort notes by" menu, if I click on a note to open it, the order of the notes is reverted back to the default order. In addition, the default order does not seem to have any apparent logic to it. I am running Paperwork on an up-to-date self-hosted Cloudron. Do you have an idea of what the problem might be and how to fix it?
Thank you in advance!

[2017-06-30 21:31] codejockey1 commented on #665
I made the change as well and had success with most of my notebooks. However, I did run into two other issues once I got past that hurdle. First, if 2 notes have the same exact title the import woudl fail with an error. I forgot to capture the exact response but it was something along the lines of a filename too long. Next, on some of my larger notebooks I was receiving a PHP out of memory issue.

[2017-07-01 02:31] codejockey1 commented on #665
Correction, that should be added at line 62

[2017-07-03 12:24] Liongold commented on #665
@codejockey1 Can you open a pull request with the updated code, please? About the filename error please open a new issue. However, until the pull request fixing this issue is merged, it is difficult fixing another problem.

[2017-07-03 21:47] zMietek commented on #802
Hi,

sorry for late answer, moving flat can be very stressed experience, but after all "advantures" I'm online again.

I tried your branch (issue-802-information), now the code in Settings/About shows following information: a255e88ed621186b5f312ef5433e03e8effacea7

But I can't see any additional log files ... can you tell me, where you're expecting this "console log" which I should to post?

[2017-07-04 03:05] codejockey1 commented on #665
pardon the newbiness, but here's what I get when I attempt to push my branch before the PR:
$ git push origin issue-665-out-of-memory-fix
remote: Permission to twostairs/paperwork.git denied to codejockey1.
fatal: unable to access 'https://github.com/twostairs/paperwork.git/': The requested URL returned error: 403

[2017-07-04 12:32] Liongold commented on #665
@codejockey1 Thank you for your interest. You'll need to first fork this repo using the button at the top and then push to your repo instead to origin. After that, when coming to this repo, you'll see a yellow bar informing of recently pushed branches. From there, you can open the pull requests. Please, target develop in the pull request not master. I hope this helps. If you have any other difficu

[2017-07-04 12:34] Liongold commented on #802
@zMietek In the Browser's Developer Tools console.

[2017-07-04 20:19] JeyDee opened #817 "Not connecting to ldap server"
I've configured LDAP as described [here](https://github.com/twostairs/paperwork/wiki/Ldap-support), to authenticate against an OpenLDAP server running on localhost. Login to paperwork fails, the syslog file shows no sign of a connection attempt from paperwork to the OpenLDAP server (I'm sure that logging works properly, tested it with other applications). This is my ldap.php:

[code]

Also tried I

[2017-07-04 20:47] JeyDee commented on #817
Ok, as it seems the changes suggested in step 3 of the instructions somehow got lost in my configuration file. Consider my issue as a result of choosing the wrong authentication driver.

[2017-07-04 20:47] #817 closed

[2017-07-04 22:07] JeyDee commented on #605
+1

[2017-07-05 17:59] #731 closed

[2017-07-05 18:52] marvinwankersteen opened #818 "Docker: Forbidden - You don't have permission to access /login on this server."
Hey guys,

I tried to build a docker-image. I pulled the master-branch and started the build with:
`docker build --rm -t paperwork:0.1 .`

I use Rancher and created a stack "paperwork". In this stack I started mysql:5.5.
Then I started the paperwork:0.1 with the following environment variables set:

[code]

When I open the website I get this error from apache:
[code]

I already tried to set the pe

[2017-07-06 15:04] Liongold commented on #605
@JeyDee Do you think you could be able to build this feature and contribute it to Paperwork yourself? Unfortunately, there's no one, who is currently working on the LDAP functionality, so help is needed on this issue.

[2017-07-06 22:26] marvinwankersteen commented on #818
[code]

[code]

[code]

[2017-07-09 16:10] klud1 commented on #818
is paperwork being proxied by anything? do the proxy and the paperwork container have the same user/uid/gid for the "html" user?

[2017-07-09 16:17] klud1 opened #819 "Upgrade to PHP 7?"
Hello, everyone.

I'm not a php expert or anything, but i've been reading about php 7 and the improvements it has.

(*maybe super dumb*) question...can this project be upgraded to php 7?

[2017-07-10 13:49] Liongold commented on #819
Paperwork is based on Laravel 4.2. Laravel 4.2 has been upgraded to work with PHP7, thus Paperwork should work with PHP7 as well. Compatibility with PHP 7.1 has not been tested yet but Laravel 4.2 has not been specifically updated to work with it. More information can be found in #808. Thank you for your interest in Paperwork. Feel free to ask more questions or do other contributions.

I'll close

[2017-07-10 13:49] #819 closed

[2017-07-10 16:05] klud1 commented on #819
@Liongold thanks for the answer, as you've seen i opened a PR (#820) though i could do some test with php 7 and 7.x as well.

[2017-07-10 16:40] marvinwankersteen commented on #818
No, its not proxied.
Its a bit strange. I built the image on a second host and there it works. Then I copied the image from the second host to the first host and it also works.

So I think there was some errors at the build process.

[2017-07-10 19:32] Liongold commented on #808
If you are willing to @JohnSheepert, you can test the code found in pull request #821. This implements option 1 of the options I mentioned earlier. If you test it, can you report if it works and whether you find anyother problems, please?

[2017-07-10 19:35] Liongold commented on #819
If you can and want to, It would be a great help if you test Paperwork using PHP 7.1. If you do so, could you please use the code proposed in pull request #821. That should remove the errors brought about by the use of Mcrypt.  Those errors should be the main incompatibility between Paperwork and PHP 7.1.

If you find any issues, please comment in the pull request itself. Thank you.

[2017-07-10 21:10] zMietek commented on #802
I didn't found the possibility of saving console output, so I marked all and just copied all output. The resullt is not satysfying me. I tried to get output in english, but browser wanted to produce all output only only in german language ,.. sorry for it:
(what I did? not too much, logged in as not first created user, starting browser developer console and tried to share one note)

22:53:00.554 D

[2017-07-12 11:21] JeyDee commented on #605
@Liongold I'm have no affinity to web technologies and therefore lack the knowledge to do so, unfortunatelly. I'm more of a C++ guy. I solved this situation for me by changing a few lines of the code, but I consider my approach a dirty hack at best.. Nothing worth contributing to the repository, I'm afraid.

[2017-07-12 15:29] Liongold commented on #802
Thank you. Can you pull the latest code in that branch and re-test please? I've added an additional call. If you're using Firefox, can you also turn off all the top options and leave only the Logging button toggled? One last thing, while you have the console open, can you please write this in the command line in the browser console and paste the output, please `document.getElementsByClassName('use

[2017-07-18 22:24] lujandavid opened #822 "Something went wrong while sharing your note. You might not have permission to share."
hi, I can´t share notes since the amount of user grew up.

I'm getting the message,

 "Something went wrong while sharing your note. You might not have permission to share."

when I inspect the code of the error page, I can see the message -->

GET http://localhost/api/v1/notebooks/597ca48a-1510-43ba-a184-90429ba5cf99/note…,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

[2017-07-20 04:43] clemlaf commented on #822
Yes ! you're trying to share with a bunch of users, and as the user ids and permissions are passed in the URL via a get request from the frontend to the backend, the URI becomes too long.

It might be a good idea to transfert to a post request.

See notes.service.js
`factory.shareNote = function(notebookId,noteId,toUserId,toUMASK,callback){
      NetService.apiGet('/notebooks/'+notebookId+'/notes/

[2017-07-20 04:54] clemlaf commented on #583
If I remember well, there are public tags and private tags. The public tags will be seen by all users but can be set only by note owner. To set a tag as public, prepend tag name with a '+'. A public tags shows with a yellow background, as the "welcome" tag in the demo.

[2017-07-20 12:39] Liongold commented on #822
@clemlaf Would you be interested in doing this yourself and submitting a pull request?

[2017-07-20 19:07] patriclougheed commented on #605
I have started looking into using adLDAP2 and the first showstopper is it requires v5 of the Laravel framework. I noticed there is a branch with some changes to upgrade to v5 so will start with that and see how far I get.

[2017-07-20 20:19] clemlaf commented on #763
This behavious is somewhat intended: when a user shares a note, he does not share the notebook and does not share the private tags. A separate "share Notebook" feature is possible, but not currently implemented in the front-end. However, on backend side, methods for sharing notebooks are implemented.

[2017-07-20 20:28] clemlaf commented on #822
ok, i'll do that

[2017-07-21 15:31] Liongold commented on #822
Thanks.

[2017-07-21 16:04] Liongold commented on #763
@clemlaf I'm sorry if I'm asking for too much but do you think you could find the time to implement Share Notebook in the frontend as well, please?

[2017-07-22 15:41] clemlaf commented on #763
I think I have a branch with work in that direction on my old computer, I'll try to find some time to start from that and merge with the issue on post requests

[2017-07-25 12:47] Liongold commented on #763
Thank you.

[2017-07-25 22:23] jacek-1210 commented on #810
I want to use Paperwork as a subfolder. So: domainname/paperwork & domainname/othersomeapp1 & domainname/othersomeapp1 etc. at the same time. Is it possible ? (Frontend isn't a root folder of paperwork)

[2017-07-26 01:31] iangreenleaf opened #823 "Content truncated after emoji"
If an emoji character is entered into the note body or title, that character and all text after it are truncated when the note is saved. For example, try entering:

[2017-07-28 13:17] cabdirazzaq commented on #810
@Liongold sorry for the delayed response. Thanks for the quick reply.
What I mean is that I wish to have a separate landing page on my domain name:
http://www.avidnote.com

Currently, it is linking to the app (http://www.avidnote.com/login). Instead, I want my domain name to show a landing page that I have made from which I would later link to the app page (http://www.avidnote.com/login). Is it po

[2017-07-28 21:17] clemlaf commented on #763
After starting digging into this, I realized that the "Share Notebook" feature was already implement (yet not really visible), since commit 5cd7a5d7.
To share a Notebook, one need to click on the Edit menu, found in the top menu bar. Then, in the modal view, a check box allows to propagate the permissions given at notebook level, to all the notes that are included in the notebook.

![image](https:

[2017-07-29 12:47] kyserthehun commented on #790
I know this is old but I second the checkboxes request. Crossing-out seems clunkier for a shopping list.

[2017-07-31 07:27] JeyDee commented on #605
Sorry for my late reply. I just changed "samaccountname" in the login-function to whatever OpenLDAP expects (i belief it was around line 730 of the LDAP related php file, if I recall correctly). No big change and its just a hack to handle the login information correctly.

[2017-07-31 15:13] Liongold commented on #763
@clemlaf Do you think you could do come up with some ideas and implement them? If you need help, just ask.

[2017-07-31 15:14] Liongold commented on #810
@cabdirazzaq Yes, you can do something like that. Just add this code in an .htaccess file in your webroot folder.

[code]

You can change `home` with the name of your landing page, so probably index.php. Also make sure that the path in the other lines matches that of your install. If not, fix to make it match yours.

@jacek-1210 Paperwork is not designed to run like that. However, this seems to wo

[2017-07-31 15:15] Liongold commented on #823
@iangreenleaf Sorry for the late reply. What have you actually written in the note? Can you show a screenshot of the note content and the Network tab of the DevTools window, please?

[2017-08-01 20:03] lujandavid commented on #822
Hi guys, do we have any advance on this matter. best regards.

[2017-08-02 13:21] jhellerstedt opened #824 "import/ export self consistency"
Hi,

I installed this 'as-is', am specifically interested in the import/ export features.

It seems the current export enex file can't be re-imported with the import feature?

However, when I just replaced the EvernoteImport.php file from [JamborJan's fork](https://github.com/JamborJan/paperwork/blob/master/changedfiles/frontend/app/lib/Paperwork/Import/EvernoteImport.php) it seems to fix this sel

[2017-08-03 12:08] Liongold commented on #824
@jhellerstedt Good to know.

@JamborJan Can you put your fork's EvernoteImport.php file in a pull request to merge it with the actual Paperwork? Of course, assuming there's nothing Sandstorm-specific.

[2017-08-04 06:19] JamborJan commented on #824
Hey guys,

I'm doing 3 things differently. I try to explain as best as I can remember, it is some time since I have done this:
1. when importing a new notebook I create a new name with timestamp because otherwise it would crash when multiple imports are done. See [these lines](https://github.com/JamborJan/paperwork/blob/master/changedfiles/frontend/app/lib/Paperwork/Import/EvernoteImport.php#L22).

[2017-08-04 15:58] Liongold commented on #824
@JamborJan I think point 1 would help as well. I think there were reports of problems with duplicate notebooks and problems with them.

[2017-08-04 16:01] Liongold commented on #824
And point 3 seems to be a small change as well. Do you mind if you put all the changes in the pull request, again assuming no special relationship with Sandstorm and that they do not introduce regressions please?

[2017-08-04 16:34] JamborJan commented on #824
Okay @Liongold I added point 1 also to the [PR](https://github.com/twostairs/paperwork/pull/825/commits/7169625f0cdfc8b0c1cba25ad1418a3500e127f9). But point 3 is not so easy. It's still not working very well. There are a lot of different error messages. I improved the error message (see image below) but I was not able to fight them all. When I chose random notes from Evernote and export them I hav

[2017-08-05 11:47] labudis commented on #745
What is the solution to this problem?

[2017-08-07 12:32] Liongold commented on #745
You can either merge the code found in #821 to disable the errors (at that point Paperwork *should* work with PHP 7.1 but hasn't been tested) or use the laravel5 version developed in #54.

[2017-08-07 12:39] Liongold commented on #824
@JamborJan Thank you.

@jhellerstedt Can you, by any chance, test the pull request code and make sure your issue is fixed with that, please?

[2017-08-07 12:54] jhellerstedt commented on #824
I just switched to issue-824-fix branch on my installation, can confirm that the file exported can now be re-imported without throwing errors.

Thanks @JamborJan

[2017-08-07 15:12] Liongold commented on #790
@kyserthehun Do you mean having a clickable checkbox?

[2017-08-07 15:20] kyserthehun commented on #790
@Liongold Yep, just something easy to check off while shopping. Hitting edit, highlighting text and selecting cross-out is a little cumbersome.

[2017-08-07 15:23] Liongold commented on #790
@kyserthehun Unfortunately, Paperwork does not handle editing outside of the Edit screen. That would of course change when #259 is fixed. Do you think you could be able to find a CKEditor plugin that can give you the possibility to have a checkbox in the note (however still the Edit button will need to be clicked)?

[2017-08-07 16:07] kyserthehun commented on #790
I've never heard of CKEditor, i'll look into it.

[2017-08-07 16:09] Liongold commented on #790
@kyserthehun Would you be interested in the possibility of supporting this syntax?
`[X]Item 1` transform itself in ~~Item 1~~, for example? If so, can you test the *experimental* branch in checkbox-experiment branch of this repo and see whether it fits your purpose?

[2017-08-07 16:10] Liongold commented on #790
AS for CKEditor, it's the editor on which the Paperwork text box is built, more info http://www.ckeditor.com. Paperwork does not run the latest version as far as I know.

[2017-08-09 13:18] ivanvastag commented on #54
Any status updates? Help needed? I could try and contribute if needed.

[2017-08-11 12:33] JamborJan commented on #54
Hey guys,

I was able to makes some tests. Unfortunately I cannot dig into this further right now. Maybe you can do something with my feedback.

First I had issues because the folder structure slightly changed. It used to be paperwork/frontend/**app**/storage/config/ and now the app level is away: paperwork/frontend/storage/config/.

I’m getting errors when the mysql database is initiated:

[code]

[2017-08-11 13:19] mheppner commented on #54
@JamborJan did you try clearing the caches? Try `artisian key:generate` and then `artisian config:cache`. Check your `.env` file or the `config/app.php` file to see what length your key is.

[2017-08-11 13:25] JamborJan commented on #54
When building the app I always run it from scratch. So there is no cache to empty. I'll try to add the suggested lines to my setup scripts and test again. When setting up empty instances works, it will be interesting to se how it works with existing ones which need to be updated.

[2017-08-11 13:28] mheppner commented on #54
@JamborJan which PHP version are you running?

[2017-08-14 04:00] idreamerhx commented on #746
I have 1700+ notes which is converted from youdao note.  (php memory limit to 256MB works)  In paperwork "All notes" takes a long time to dump the whole database. I suggest this api can only return titles and preview.

[2017-08-14 04:02] idreamerhx commented on #811
I currently working on a copy-paste hook. If it works I'll push to github.

[2017-08-14 04:54] JamborJan commented on #54
I just noticed that the build process is still using php PHP 5.6.30. I could change that to the latest version 7 soon. Will check if this works out of the box.

[2017-08-16 20:10] lujandavid commented on #763
@clemlaf do think you can help us with this, I have a mess in my company due to users can't share their notes. kind regards.

[2017-08-17 12:52] Liongold commented on #824
@jhellerstedt Good to know. Thank you for testing this.

[2017-08-17 12:57] Liongold commented on #824
@JamborJan Would #816 help improve the point 3 code? Maybe you could merge your work and that in the pull request and achieve a better result.

[2017-08-17 13:19] Willzyc opened #826 "Your credentials are invalid with eloquentldap"
I always get the error that my credentials are invalid.

The ldap configuration is correct and everytime I login, I see the right query in the ldap logs, which returns 1 entry.

I use the docker image and if i switch to eloquent in the auth config and turn registration link on everything works fine.

I tried debugging the login process with

`var_dump($userInfo); `

It returns this for login name

[2017-08-17 17:19] Willzyc commented on #826
I reimplemented the class myself, maybe this issue occured because I am using OpenLDAP, this solution now works for me:

`<?php namespace Paperwork;
use Illuminate\Auth\EloquentUserProvider;
use Illuminate\Auth\GenericUser;
use Illuminate\Hashing\HasherInterface;
use Illuminate\Auth\UserInterface;
use Illuminate\Support\Facades\App;

class EloquentLdapAuthenticatedUserProvider extends EloquentUser

[2017-08-17 17:19] #826 closed

[2017-08-18 04:12] idreamerhx commented on #811
I finished part of the work. Currently I can copy image form base64 to my binary download server. My binary server depends on Simple-Web-Server previously.

I don't know how to pull request on github. I wish paperwork owner to develop a better one.

https://github.com/idreamerhx/paperwork/blob/master/copy_image.diff
https://github.com/idreamerhx/paperwork/blob/master/http_examples.cpp
https://gith

[2017-08-18 07:42] midaw1 commented on #811
Sorry, I do not have the opportunity to check now. It is easier for you to create a change request for the author of the development and he will check the improvements.

[2017-08-18 13:04] btafoya opened #827 "Let's Encrypt and Paperwork"
Anyone have a rewrite rule I can use to allow Let's Encrypt to work with this app?

Thanks!

[2017-08-19 16:19] OriginalDotte opened #828 "Disable registration after setup"
Hi,
Just installed Paperwork yesterday and I am really impressed with it and I hope it can replace Evernote for me.

After installation, I forgot to turn off allow registration for new users. After looking through the wiki and open issues I found a thread explaining that `frontend/app/config/paperwork.php/` had setting that needed to be changed to false.

Which was easy enough to do, although that

[2017-08-20 15:41] JamborJan commented on #824
Thanks for pointing me at this @Liongold , I'll put it on my backlog for the next tests and build for Sandstorm.

[2017-08-21 12:05] Liongold commented on #828
@OriginalDotte Did you try setting to `false` the registration line in `frontend/app/storage/config/paperwork.json`?

[2017-08-21 12:13] Liongold commented on #811
@idreamerhx Feel free to open a pull request with that code and someone might review it. To open the request, just push your updated version to your own fork and then open the pull request from the Github UI. If you need any help, please ask.

[2017-08-21 12:15] Liongold commented on #826
@Willzyc Can you please open a pull request with the code you are proposing here? I think this fixes #605.

[2017-08-21 12:21] Liongold commented on #812
Fixed in #813.

[2017-08-21 17:16] Liongold commented on #790
#830 has been submitted which implements the experimental code as a feature. For more information, check out the pull request. If anyone would like to test the proposed code, feel free to do so. Thank you.

[2017-08-21 19:19] OriginalDotte commented on #828
Yes I did do that before I changed the `paperwork.php` file, and the sign up button was still there. It didnt go away until I altered the `paperwork.php` file as well.

[2017-08-21 19:49] Liongold commented on #828
@OriginalDotte What branch are you using? In the latest develop branch, setting registration `"false"` (with the quotes) removes the Sign up button.

[2017-08-23 01:57] OriginalDotte commented on #828
@Liongold Works as expected. My only explanation is perhaps I forgot to restart Nginx after I changed the `paperwork.json`

My issue can be closed now, thanks for your quick response

[2017-08-23 01:57] #828 closed

[2017-08-23 11:41] Liongold commented on #828
Thank you.

[2017-08-31 12:48] clemlaf commented on #822
Hi,
I could not set a Laravel4.2 version of Paperwork on my machine so I started from the laravel5 branch to perform the modifications mentioned above (transfer from get to post request for the "share Note" and "Share Notebook" features). Is that ok with you ?
If not, I can always add a commit forked from the "develop" branch with the same modifications in the corresponding sources files, however

[2017-09-06 14:10] dengwancheng opened #832 "How to run paperwork on"

[2017-09-06 14:11] dengwancheng commented on #832
On my Synology DiskStation

[2017-09-15 14:06] ShashankaNataraj opened #833 "docker version doesnt work"
Followed the wiki and ran:

`docker-compose up` but Im getting the below error:

    bootstrap-css-only#3.3.7 app/js/bower_components/bootstrap-css-only

    rangy#1.3.0 app/js/bower_components/rangy

    bootstrap3-ie10-viewport-bug-workaround#1.0.0 app/js/bower_components/bootstrap3-ie10-viewport-bug-workaround
    └── bootstrap#3.3.7

    font-awesome#4.7.0 app/js/bower_components/font-awesome

[2017-09-20 11:25] xkpd3 commented on #461
I just want to add a "me too" here. I'm also looking for a solution to migrate my digital office (scanned documents) from Evernote to something I can host on my one server for privacy reasons.

[2017-09-20 11:34] xkpd3 opened #834 "Cloudron and Website Demos are not working"
Hello,

The demo on the website is not working. Navigating to http://demo.paperwork.rocks results in a DNS error. The demo on cloudron is also not working, as there is no paperwork app installed nor in the app catalog.

Best Regards,
Stefan

[2017-09-20 23:54] gramakri commented on #834
@xkpd3 (Co-founder of Cloudron.io here) Thanks for reporting, there seems to be some problem in our app store listing that has made some apps not appear. We are working on a fix.

[2017-09-21 00:21] gramakri commented on #834
@xkpd3 Fixed now. You can try it at https://my-demo.cloudron.me (username/password: cloudron)

This issue can be closed.

[2017-09-21 07:03] xkpd3 commented on #834
@gramakri Works like a charm now. Thank you.

The issue is partially fixed. I keep it open as the domain demo.paperwork.rocks does not resolve.

[2017-09-23 15:41] Panagiotarakos opened #835 "Recovery Delete Notebook (?)"
Hello,

can be restored folder that has been deleted?

[2017-09-30 16:36] jsEveryDay commented on #745
Can we somehow make use of this? for php 7.1
[laravel/legacy-encrypter](https://github.com/laravel/legacy-encrypter)

Can someone confirm the app is stable on PHP 7.0 with errors suppressed? before I downgrade.

[2017-09-30 17:23] jsEveryDay opened #836 "Feature Req: Export to HTML or plain text"
I just finished a script that uses node mysql which queries the database and returns an html file for each note on the Versions using "title" as filename and "content" as the html body. Or .txt file using "content_preview".

It's funny how we ended up here because of Evernote and yet Evernote is the only way out. More export formats should be supported and it's easier to open plain text or html in

[2017-09-30 17:26] jsEveryDay commented on #835
Not sure what folder you are referring to but all your notes and every revision is on a table called "versions" in the db.

[2017-09-30 17:36] jsEveryDay commented on #833
Don't know much about docker but I don't see how docker is needed here....
run `npm install http-parser-js`
then try again

if error then report your error and Node version.
Most http modules have been depreciated since the native http is now very stable and covers all aspects. Even express is slowly rolling out. Native http is so much more efficient.

[2017-09-30 17:39] jsEveryDay commented on #834
Yupp, still no A records

[2017-09-30 17:45] jsEveryDay commented on #827
Any SSL should work...
What's special or different about Let's Encrypt?

im using self signed cert and no problems. Nginx works like charm.

[2017-09-30 17:56] jsEveryDay commented on #735
out of scope for Paperwork.... built for note taking not file sharing.
Only properly encoded H.264 with an image url in the metadata can be used to thumbnail in the browser, 95% of the cases you need ffmpeg or any video renderer on the serverside to capture/generate thumbnails for video files.

Will do, once paperwork becomes more popular than gmail or youtube.

[2017-10-02 02:18] listairee opened #837 "Is PHP 7.1 supported?"
Ran 2 different installations, one with 7.0 and it worked fine. 7.1 seems to give me an error on Step 4, configuration has not been set correctly. Wondering if anyone else has issue with PHP 7.1?

[2017-10-02 04:48] clemlaf commented on #837
I had to use the feature/laravel5 branch to have Paperwork running on Php7.1

[2017-10-02 14:40] listairee commented on #837
Thanks. Will it be merged with master?

[2017-10-03 03:29] zikeji commented on #827
I think @btafoya might be asking for a rule so Lets Encrypt in webdir mode can renew the cert.

Unfortunately I don't have such a rule for Apache (which it sounds like he is asking for), but on nginx I just use this:

[code]

Where "alias" is where you've configured your webdir to be. So /var/www/acme-challenge is the webroot as given to letsencrypt in the above example. We append .well-known beca

[2017-10-04 16:55] bkoffler opened #838 "Mobile"
Hi - big fan of paperwork and have migrated my onenote and evermore docs over to it. Mobile interface isn't great - are there plans to work on the CSS to clean that up a bit? I would happily help if i thought i could be useful here - just wondering about the roadmap.

[2017-10-07 12:25] jacek-1210 commented on #735
Hi,
 
I have ffmpeg on the server side. (And I have another application on the server typical DAM: "resourcespace" for storing photos, and it does automatically do thumbnails. Makes thumbnails even to pdf. But resourcespace is not suitable for notes where everything is together: notes, photos, documents, etc. ). The problem is the paperwork side
 
 
 
 

[2017-10-07 23:03] marcbritten commented on #689
Just wanted to drop a note that the main cause of the setConfig failed error is missing         try_files $uri $uri/ /index.php; from the nginx config

thought I had everything right and didn't.  Since this seems to have been logged several times with no one posting what worked I figured I would drop this here.

[2017-10-08 00:31] marcbritten commented on #728
Hi, I'm getting this same error, and I don't have a code under settings  php-xml is installed

[2017-10-11 12:33] mogsub opened #839 "Docker version doesn't work"
Tried to install it with docker compose to two different cloud providers and both of them failed and stopped at step

[code]

with error:

`ERROR: Service 'web' failed to build: The command '/bin/sh -c find ./app/storage -type d -print0 | xargs -0 chmod 0755 &&     find ./app/storage -type f -print0 | xargs -0 chmod 0644 &&     composer install && npm update && npm install &&     npm install -g gu

[2017-10-23 21:09] alazare619 commented on #839
likely has to do with the fact that /app/docker-runner.sh doesnt exist.

[2017-10-23 21:33] alazare619 commented on #839
https://github.com/twostairs/paperwork/pull/841

[2017-11-01 14:31] idreamerhx commented on #835
ext4 or other linux file system folder may not easy to recorver. If you delete a notebook, just set some flags in mysql/pgsql can recorver the notebook.

[2017-11-02 03:45] alazare619 opened #843 "[Enhancement] Link github with Dockerhub for automated docker pulls"
Link the git repo with dockerhub for automated updates for end users without having to git clone and docker build

[2017-11-04 16:01] idreamerhx opened #844 "Get some errors from version 'Merge pull request #842 from twostairs/develop'"
1993  jquery.min.js:4388 [Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as 'passive' to make the page more responsive.

[Violation] 'readystatechange' handler took 6316ms
[Violation] Forced reflow while executing JavaScript took 322ms
angular.min.js:8605 [Violation] 'readystatechange' handler took 171ms
angular.min.js:8661 GET h

[2017-11-06 17:37] xenithorb commented on #833
Got this one myself:

[code]

[2017-11-06 17:49] xenithorb opened #845 "Docker build fails on dependency"
[code]

Can you consider version locking on known good versions so building isn't such a dependency-roulette?

[2017-11-07 17:01] Liongold commented on #790
#830 has been merged to develop. I'm closing this issue. If you have any issue with this or any other feature, please open a new issue,.

[2017-11-07 17:01] #790 closed

[2017-11-07 17:14] Liongold commented on #834
I'll close this issue since the issue with Cloudron has been fixed (thanks @gramakri). The demo site has been suspended. There are no news on when it will be reactivated. Anyway, there's an issue for that #726.

Thank you for your interest in Paperwork.

[2017-11-07 17:14] #834 closed

[2017-11-07 17:20] Liongold commented on #835
Thank you for your issue report. To un-delete a note/notebook/collection, just unset the `deleted_at` timestamp field value. Unfortunately, there's no UI to do this at the moment.

[2017-11-07 17:21] Liongold commented on #835
#264 is the issue dedicated to the creation of something like this so I'll close this as a duplicate of that issue. Thank you for using Paperwork.. If you have any issues, feel free to open a new issue.

[2017-11-07 17:21] #835 closed

[2017-11-07 17:24] Liongold commented on #837
As far as I know, there are some missing things in the laravel5 version. #821 proposes some code which should make it possible to run Paperwork in PHP 7.1. Feel free to test that. Otherwise, if you use the laravel5 version, feel free to use it and report any issues you have.

Thank you for using Paperwork.

[2017-11-07 17:25] Liongold commented on #837
I'm closing this as a question. Feel free to open a new issue if you any problems and/or questions about Paperwork.

[2017-11-07 17:25] #837 closed

[2017-11-09 13:12] lujandavid opened #846 "Multiple domains"
Hi guys how can we customise paperwork in order to connect to multiple domains, the actual method through adldap just allow one domain. any clue?. kind regards.

[2017-11-12 00:18] zartek-io commented on #745
interested in the resolution to this as well.

[2017-11-16 07:27] idreamerhx commented on #844
Request

http://daemon.com/#/n/87f04563-26af-4ea4-a016-06e3168ad413/0b1897c8-1969-4a00-a948-ce518883b999/edit

Why hit controller ApiNotesController.php/index

This method dump the whole database!

[2017-11-18 18:17] virtadpt commented on #845
I ran `npm install jshint` and re-ran `gulp` and it seems to have worked.  Wonder why it's not listed as a dependency...

[2017-11-24 16:57] upq opened #848 "No setConfig"
followed all instructions on initial install docs and getting this
``` /setup/setConfig - No such file or directory ```
I'm not a PHP developer i just want to use paper work locally, so what I did was ``` touch setConfig ``` and re ran the server
on the last config step of creating an admin account  the server fails with ``` Segmentation fault: 11```

any help is appreciated.

[2017-11-29 16:03] omarryhan opened #849 "Docker version not working"
After running `docker compose up`, it gives this:

[code]

[2017-12-03 09:57] RundleSG commented on #838
@bkoffler I would also be happy to contribute

[2017-12-03 09:59] RundleSG commented on #838
@bkoffler Not sure if you've started on anything, I might spend some time on this tomorrow

[2017-12-07 19:27] stueja opened #850 "paperwork broken with php7.2"
After update to php7.2 on Arch Linux, opening paperwork in a browser errors out with "Mcrypt PHP extension required."
However, php-mcrypt is deprecated since php7.1.
How can I use paperwork with php7.2?

[2017-12-11 10:27] jadjay commented on #848
+1

[2017-12-11 10:29] jadjay commented on #848
👍
there is no file setConfig... in the directory
https://github.com/twostairs/paperwork/tree/master/frontend/public/setup

Can you please explain this to us ?
Thanks,

[2017-12-14 03:48] alexandery opened #851 "Is the project dormant?"
Hi guys,

Is the project no longer actively maintained? Doesn't seem to have too much activity, unless you are done with it and there is no reason for further work.

Thanks!

[2017-12-21 13:43] Liongold commented on #851
As it is, Paperwork should work and do its job well. Thus, it still can be installed by new users. Unfortunately, progress on new features and fixes is slow but contributions are still welcome.

[2017-12-21 13:47] Liongold commented on #848
That is a route defined in Laravel. Can someone please give additional info about this?

Branch used? (master or something else)
Contents of `frontend/app/storage/config/setup`?
Do `frontend/app/storage/config/database.json` and `frontend/app/storage/config/paperwork.json` exist?
Are you using some form of reverse proxy or something similar?

[2017-12-21 13:57] Liongold commented on #850
Thank you for your interest in Paperwork.

Unfortunately, the normal version of Paperwork is based on Laravel 4.1 which depended on the mcrypt extension. Thus you need to either enable that extension or switch to the Laravel 5.3 port of Paperwork. The code for this can be found by doing `git checkout feature/laravel5`. This version may however have some things missing. Obviously, if you decide to

[2017-12-21 13:57] #850 closed

[2017-12-21 13:59] Liongold commented on #838
@RundleSG  and @bkoffler Any help with this is welcome. Feel free to open pull requests targeting the develop branch.

[2017-12-21 14:12] Liongold commented on #849
Thank you for your interest in Paperwork and your issue report. This issue seems similar to #845. Can you confirm this? Until your reply, I'll leave this open but tag with the `duplicate` label.

[2017-12-21 14:15] Liongold commented on #845
Can someone confirm that this issue is a duplicate of #833? I'll leave this issue open and label it as `duplicate` until someone replies.

[2017-12-21 14:27] Liongold commented on #843
@mrusme I guess this should be done by you as the owner of the repository.

[2017-12-21 14:31] Liongold commented on #689
@marcbritten Can you edit the wiki to point out this tip please?

[2017-12-21 14:33] Liongold commented on #824
@JamborJan Can I close this issue now that the pull requests has been merged?

[2017-12-21 17:31] JamborJan commented on #824
I'm a bit out of sync with the project. I have no need for this issue to be longer open but I also didn't test or do anything lately. I'll close this issue now but if anybody feels like something went missing please feel free to open a new issue. Thanks.

[2017-12-21 17:31] #824 closed

[2017-12-22 16:19] mgolisch opened #852 "docker packaging is completely broken"
I tried building the docker image but it fails due to missing dependency jshint in the package.json file.
After fixing that it builds but the resulting image is still broken.
the compose file tries to run a nonexistent file /app/docker-runner.sh (the Dockerfile add its to /usr/local/bin/)
the docker-runner.sh file is broken too. it calls su-exec with invalid arguments ommiting the userspec.
Not su

[2017-12-23 20:32] jacek-1210 opened #853 "Congratulations :)"
This year I complained a little about paperwork.
But I have to admit that in the last 2-3 months the program has made a big step forward. Collections finally display and close correctly (only the tools for managing/editing collections are missing - it was in the program a long time ago), icons of the type of attached file have arrived. Added "sort notes by....".  Sorting is still a little bit weak

[2017-12-25 17:31] jacek-1210 commented on #853
Small correction: "sort notes by.." works correct in notebooks but dont work on root "All notes"

[2017-12-27 15:18] Liongold commented on #833
A pull request #854 has been opened to fix the jshint warning.

[2017-12-27 16:02] Liongold commented on #852
Can you do `git checkout 346bfb05613167225f1d18a2cb57c0e52333b6cf` and then reo the installation (except the clone part), please? Thank you for using Paperwork.

[2017-12-27 16:05] Liongold commented on #728
@marcbritten Sorry for the late reply. Can you post a screenshot of the response to the save request? You can see this from the Network tab of the browser's Developer Tools.

[2017-12-28 23:01] mgolisch commented on #852
Yes that works it builds a working image.

[2017-12-29 21:25] SadieD opened #856 "Unable to use "Insert Math" more than once"
I can use insert math on a note once but once I try to use it again it will
be unresponsive when I select "ok" but allow me to exit using cancel or the dialog close "x".
Occasionally my browser will freeze and I'll be forced to close the tab containing Paperwork.
I'm using Firefox 57.0.3

Here's my console output:

Error: $rootScope.templateNoteEdit.version is undefined
thisController/<@http://pap

[2017-12-31 17:44] alexandery commented on #851
Thank you for your reply!

[2018-01-01 20:50] andyforceno opened #857 "Self-duplicating notes after deletion"
I have an issue where a particular note I created on the Android app keeps duplicating itself after being deleted, like some kind of Fibonacci zombie. I loaded Paperwork on my desktop PC's browser, and there were 6 copies. I deleted one and refreshed the page and then there were 11 copies. If I delete another, more will show up. I don't see this at all on the Android app, I just see a single note,

[2018-01-04 09:04] Erwyn commented on #82
Hello there!

I'm looking for this kind of features.

Any news on that matter?

Best Regards,

[2018-01-07 03:03] andyforceno commented on #857
Deleted all the duplicated notes as well as the original, and they haven't come back, so I'm closing this.

[2018-01-07 03:03] #857 closed

[2018-01-10 10:42] mrusme commented on #843
https://hub.docker.com/r/twostairs/paperwork/builds/

[2018-01-10 10:42] #843 closed

[2018-01-10 13:55] Liongold commented on #852
Thanks for you help. I'm closing this bug then. If you re-encounter this bug or any other one in Paperwork, feel free to open a new issue.

[2018-01-10 13:55] #852 closed

[2018-01-10 13:56] Liongold commented on #82
No updates on this. However, if anyone can contribute, feel free to do so.

[2018-01-10 13:58] Liongold commented on #833
The pull request mentioned has been merged to both the 'develop' and 'master' branches. Thus, this issue will be closed. If you encounter any issues with Paperwork, feel free to open a new issue. Thanks for using Paperwork.

[2018-01-13 17:40] romu70 commented on #852
I've a Dockerfile  to run Paperwork with PHP 7:
[https://github.com/romu70/self-hosting-containers/tree/master/paperwork]

Enjoy!

[2018-01-13 17:45] romu70 opened #859 "image not shown on my mobile"
I've just setup my paperwork Docker container, and it works well. I've just a strange issue, from my PC, I added an image to a note and saved.

From my mobile photo, I can open the note, and see the text, but I don't see the image, I just see the symbol which shows the image link is broken.

Any idea?

[2018-01-14 16:23] esin commented on #848
Hi

Have same problem :(

$ cat setup
4

$ ls -hlas frontend/app/storage/config/database.json
4.0K -rw-r--r-- 1 www-data www-data 127 Jan 14 19:06 frontend/app/storage/config/database.json

$ ls -hlas frontend/app/storage/config/paperwork.json
ls: cannot access frontend/app/storage/config/paperwork.json: No such file or directory

Distr: Debian 7 x86

$ node -v
v6.12.3

Thank you

[2018-01-15 20:30] romu70 opened #860 "Copy/Paste seems broken"
I'm moving my notes from Leanote to Paperwork, and found that once an image has been pasted to a note, it's impossible to paste another ones.

No error message or warning, just nothing happens. The same action works on a fresh created note.

May be related to https://github.com/twostairs/paperwork/issues/859 ?

[2018-01-17 09:47] crostif opened #861 "Installation failed : incomplete interface, inefficients buttons"
Hi !
I try to install Paperwork on my vps. I installed all dependancies but here the problem :
I install gulp with `sudo npm install -g gulp`
but there is an error at unsupported.js:28 :
`console error('a bug known to break npm (...)`
`SyntaxError: Unexpected token ILLEGAL`

Composer and NPM are installed and i verified versions.

An idea ?

[2018-01-17 10:50] crostif commented on #861
Here is the whole error message :
`/usr/local/lib/node_modules/npm/lib/utils/unsupported.js:28
        console.error(`a bug known to break npm. Please update to at least ${r
                      ^
SyntaxError: Unexpected token ILLEGAL
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load

[2018-01-20 18:58] petrk94 opened #862 "OAuth Multiuser login functionality"
Hello,
I would like to know, whether paperwork has a OAuth Multiuser functionality?

[2018-01-22 21:09] itsmehemant123 commented on #860
@romu70 I'm curious, why are you moving from leanote to paperwork? I'm trying to decide which to use.

[2018-01-23 09:12] romu70 commented on #860
[OFF TOPIC]
I used Leanote for a few weeks. It's easy to use (even if it has some usability issues), and it's surprising lightweight (20 MB for the Leanote container). If you want to try it, my Docker files are public here: https://github.com/romu70/self-hosting-containers/. Just change back from 2.6 to 2.5.

I spent a lot of time trying to setup a Dockerfile to run Leanote. And it worked...with t

[2018-01-23 16:14] Liongold commented on #860
@romu70 Can you use the Insert image button to add those images? Also, are you using the standard paste or one of the paste buttons provided in the toolbar? Also, could you please include the version ID which can be found by going to the Settings page > About tab, please.

[2018-01-23 16:16] Liongold commented on #860
Everyone is free to send feedback and contribute in other ways to the project. Paperwork is open source software.

[2018-01-23 16:19] Liongold commented on #862
At the moment, Paperwork does not support OAuth functionality. Multiple user accounts are supported but have to be saved in the Paperwork database. This functionality has already been suggested in #21 and progress (at the moment none) is tracked here. Thank you for your feedback. Do you have any other questions?

[2018-01-23 16:22] Liongold commented on #861
@crostif Can you retry again? If it happens again, can you share the whole output from the `npm install` command onwards please.

[2018-01-23 16:24] Liongold commented on #859
Is there any way you can get the image URL from your mobile and compare it with the image URL on PC?

[2018-01-23 16:26] Liongold commented on #852
@romu70 Thank you for that work. Would you be interested in proposing it to this repository?

[2018-01-23 16:28] romu70 commented on #852
Yes of course, no problem. How to proceed? (I'm not a GH expert).

[2018-01-23 16:28] romu70 commented on #859
I'll try this, and post the results.

[2018-01-23 16:29] Liongold commented on #848
@esin Are you using any form of reverse proxy? Which web server are you using?

[2018-01-23 16:30] crostif commented on #861
I tried again a few days ago. I managed to reinstall and install all dependencies, but there is another issue now : i am blocked at step 4 of the installation. The "next" button is not responding... (url : http://vps381044.ovh.net/paperwork/frontend/public/setup.php). The step 3 is validating my mysql informations, but the step 4 is not working...
I haven't found any solutions anywhere...

[2018-01-23 16:33] romu70 commented on #860
No and No. I only did with Ctrl+C / Ctrl+V. Following your message, I've just seen the small popup which says Paperwork can't get access to the clipboard. This explains of lot of troubles I'm having with clipboard indeed!!

No version ID in the settings page, I created the image 2 weeks ago maybe, so a very recent code.

![screenshot-2018-1-23 paperwork](https://user-images.githubusercontent.com/1

[2018-01-23 16:36] Liongold commented on #861
OK, good to know your initial problem has been fixed. You can skip that step, as a workaround, by putting 5 in `frontend/app/config/setup`, renaming the `default_paperwork,json` to `paperwork.json`, change its contents according to your liking and then go to the Setup again. It should skip that step.

Also, can you indicate whether you're using any form of reverse proxy and which web server you're

[2018-01-23 16:36] Liongold commented on #852
@romu70 To do this you could fork the Paperwork repository, add the files you've done to that repository, push to Github and then open a pull request from the pull requests page. If you need more detailed instructions, just ask.

[2018-01-23 16:38] Liongold commented on #860
Which browser and OS are you using? Can you try with those buttons as well?

[2018-01-23 16:50] romu70 commented on #860
Firefox 57 on Fedora 27 on the client side. Yes I'll do the testing and post the results.

[2018-01-23 19:39] crostif commented on #861
Thanks, it worked !
But this application is very difficult to install !! Now that i logged up, i can't create any library because there is no interface to enable it, just a blank page...

[2018-01-23 21:29] romu70 commented on #860
Just tried with the buttons, same problem.

1. Add some text tin the popup for pasting, OK, it works.
2. Then, reopen the popup, type something and OK.
-> You see "Auto saved", but the popup is still there and nothing has been pasted.

Try the copy/paste but without using the buttons. Once you pasted the first time, try a second time. This "breaks" paperwork , as when using the buttons.

When "bro

[2018-01-23 21:56] petrk94 commented on #862
@Liongold no thanks, I would like to use Paperwork for a community where OAuth is used to allow all people to use Paperwork without the need to register a new account by themself.
Im looking forward to see your next release of Paperworks.

[2018-01-23 21:56] #862 closed

[2018-01-23 21:57] petrk94 commented on #862
Is there still a active development?
As I just saw, the last release is from 2015

[2018-01-24 12:53] prototol opened #863 "Docker compose runtime error. /app/docker-runner.sh not found"
`>>> Docker-compose up`
`ERROR: for web  Cannot start service web: oci runtime error: container_linux.go:265: starting container process caused "exec: \"/app/docker-runner.sh\": stat /app/docker-runner.sh: no such file or directory"
ERROR: Encountered errors while bringing up the project.`

[2018-01-24 14:36] dskrad opened #864 "Used deploy to heroku button, config is not saved between dynos"
I am using a free dyno on heroku, and whenever the dyno stops and restarts, I lose the database configuration. It bumps me back to setup.php. I can then reenter all the database configuration data, and then I have to create a new user again. When I log in using the original user account, my notes are there, so the database connection is correct and my data is being committed. It is the configurati

[2018-01-25 14:21] lufy90 opened #865 "Chrome and Firefox cannot display words."
![paperwork-cannot-display-words](https://user-images.githubusercontent.com/22901336/35393005-8f8cb29e-0198-11e8-8f6f-eb8b34b1b95c.jpg)

Chrome and Firefox cannot display words, see attachment.

[2018-01-27 00:51] lufy90 commented on #865
It is solved after I update my windows 7

[2018-01-27 20:54] kiwiz commented on #832
You'll likely have to package it up yourself. See here: https://synocommunity.com/

[2018-02-03 12:34] jsEveryDay commented on #851
Yes it is dormant!
I got excited when I first found it, I even customized it a bit. Now, there might be small fixes here and there but nothing more. I do regret relying on it, it's limited to PHP 5.6 due to the Laravel version it was built with. Now I'm stuck with Php 5.6 while most apps and the best performance is at PHP 7.1, so now im limited because of it, Occupying a whole server since my apps

[2018-02-06 11:00] JamborJan commented on #851
Hey folks,

I'm not sure who knows how it feels to contribute to OSS projects in your spare time. I'm not talking about any tech giants employees who make 100K plus a year and accidentally worked on a project which has been released as open source by management decision. I'm talking about projects like paperwork which are initiate by individuals because of an idea.

You start with a good feeling o

[2018-02-06 18:25] davidtessier opened #866 "Navigation dissapears when in edit mode"
Hi,
I installed Paperwork on my LAMP server and have a strange issue (at least I think it's an issue) where I don't see the paperwork note navigation sections when editing a note.
I have included 2 screenshots in the link below that show you what I see in edit mode, and what I see in the desktop mode.

[Link to screenshots](https://imgur.com/a/vo39I)

I don't have any errors in my `/var/log/apache

[2018-02-07 15:52] Liongold commented on #865
Good to know. Since your issue is fixed, I'll close this issue. Thank you for using Paperwork. If you encounter any new issues, feel free to open a new issue.

[2018-02-07 15:52] #865 closed

[2018-02-07 15:53] Liongold commented on #861
@crostif Can you show a screenshot of the Network tab in the Developer Tools of the browser please? Also, if possible, post a screenshot of the Settings' About page.

[2018-02-07 15:54] Liongold commented on #861
Also, if possible, could you please rename the issue to describe the new issue.

[2018-02-07 15:56] Liongold commented on #862
Development is slow since contributors are lacking. Do not consider the releases - those were ad hoc and do not represent the latest code. To get the source code, please use `git clone`.

[2018-02-07 15:57] Liongold commented on #862
However it isn't stopped completely. Feel free to submit pull requests if you want.

[2018-02-07 16:27] Liongold commented on #851
@JamborJan Thank you for your additional explanation and kind words. Also thank you for your help.

@jsEveryDay To use PHP7, there are 2 options.
1. Use the Paperwork in the master branch (even though not yet supported - it should work - feel free to open issues if it does not).
2. Use the Laravel 5.1 version that is being developed in #54.

If anyone can contribute, please feel free to open pull

[2018-02-07 18:03] Liongold commented on #853
@jacek-1210 Sorry for the late reply. Thank you for keeping trust in Paperwork and for using it. Can you show the code shown in the Settings page's About tab? Also, can you clarify the issue a little more please?

[2018-02-07 18:05] Liongold commented on #844
Can you show a screenshot and include the version code found in the Settings page please?

[2018-02-07 18:08] Liongold commented on #866
@davidtessier That is intended. In fact, the issue is the empty side space you see on the left. That is a bug. Thank you for reporting it.

[2018-02-07 18:45] jacek-1210 commented on #853
Thx for reply. 1 hour ago, I upgrade my paperwork to newer version and it's looking good

[2018-02-07 18:45] #853 closed

[2018-02-07 19:11] mrusme commented on #851
https://github.com/twostairs/paperwork/tree/2

[2018-02-07 19:11] #851 closed

[2018-02-07 21:38] petrk94 commented on #862
@Liongold my problem is the lack of PHP knowledge^^

[2018-02-07 23:08] mrusme opened #869 "Users concept & schema"

[2018-02-07 23:10] mrusme opened #870 "Notebooks concept & schema"

[2018-02-07 23:10] mrusme opened #871 "Notes concept & schema"

[2018-02-07 23:11] mrusme opened #872 "Attachments concept & schema"

[2018-02-07 23:11] mrusme opened #873 "Permissions concept & schema"

[2018-02-07 23:13] mrusme opened #874 "Users schema implementation"

[2018-02-07 23:13] mrusme opened #875 "Notebooks schema implementation"

[2018-02-07 23:14] mrusme opened #876 "Notes schema implementation"

[2018-02-07 23:15] mrusme opened #877 "Attachments schema implementation"

[2018-02-07 23:15] mrusme opened #878 "Permissions schema implementation"

[2018-02-07 23:16] mrusme opened #879 "User login endpoint"

[2018-02-07 23:17] mrusme opened #880 "User registration endpoint"

[2018-02-07 23:18] mrusme opened #881 "User password recovery endpoint"

[2018-02-07 23:19] mrusme opened #882 "User authentication concept"

[2018-02-07 23:21] mrusme opened #883 "Notebooks CRUD endpoints"

[2018-02-07 23:21] mrusme opened #884 "Notes CRUD endpoints"

[2018-02-07 23:22] mrusme opened #885 "Attachments CRUD endpoints"

[2018-02-07 23:22] mrusme opened #886 "Permission administration CRUD endpoints"

[2018-02-07 23:24] mrusme opened #887 "Notebooks & Notes sharing concept"

[2018-02-07 23:25] mrusme commented on #870
Keep https://github.com/twostairs/paperwork/issues/887 in mind.

[2018-02-07 23:25] mrusme commented on #871
Keep https://github.com/twostairs/paperwork/issues/887 in mind.

[2018-02-07 23:25] mrusme commented on #872
Keep https://github.com/twostairs/paperwork/issues/887 in mind.

[2018-02-07 23:26] mrusme opened #888 "User administration CRUD endpoints"

[2018-02-07 23:28] mrusme opened #889 "Tags concept & schema"

[2018-02-07 23:28] mrusme opened #890 "Tags CRUD endpoints"

[2018-02-07 23:30] mrusme opened #891 "Encryption / data-security concept"

[2018-02-07 23:32] mrusme opened #892 "Importer for Paperwork v1 data"

[2018-02-07 23:33] mrusme opened #893 "Importer for Evernote data"

[2018-02-07 23:34] mrusme opened #894 "Importer for OneNote data"

[2018-02-07 23:36] mrusme opened #895 "OCR for attachments"
Just like before, we need to implement OCR (maybe through tesseract?) for uploaded documents (images, PDFs) in order to be able to extract text which then can be used for:

- Search
- Displaying
- Note rules

[2018-02-07 23:37] mrusme opened #896 "Note search endpoints"

[2018-02-07 23:38] mrusme opened #897 "Note rules endpoints"
Users should be able to configure Note rules. Example:

A user should be able to set up a rule, that searches note's (and attachment's!) contents for certain keywords. Even regex might be provided to the user. Now, when he built a rule that goes like:

When the content includes the words 'Telekom' and 'bill', automatically move the note to the Notebook 'Phone Bills' and tag it with 'Paid'
When the

[2018-02-07 23:41] mrusme opened #898 "Document / attachment language guessing"
Right now, there's a "languages" feature implemented, which allows the user to define, in what kind of languages the documents he usually uploads are written in. Under "Settings", each Paperwork user can select the languages he'd like Paperwork to support for his account.

This was being implemented, so that tesseract can be called with the according language option, which helps OCR.

Now, this is

[2018-02-07 23:41] mrusme commented on #895
Keep https://github.com/twostairs/paperwork/issues/898 in mind!

[2018-02-07 23:43] mrusme opened #899 "Quick-import endpoints"
For a future Chrome/Safari/Firefox extension, that's similar to Evernote's Webclipper, a quick-import API needs to be provided by Paperwork, where the extension could send the currently active website to, including some additional information about the note title, the notebook to save it in, etc.

[2018-02-07 23:44] mrusme opened #900 "Note revisions / history"

[2018-02-07 23:44] mrusme commented on #876
Keep https://github.com/twostairs/paperwork/issues/900 in mind!

[2018-02-08 00:03] mrusme commented on #54
Closing in favour of https://github.com/twostairs/paperwork/tree/2

[2018-02-08 00:03] #54 closed

[2018-02-08 00:04] mrusme commented on #55
Will be done in https://github.com/twostairs/paperwork/issues/873

[2018-02-08 00:04] #55 closed

[2018-02-08 00:05] mrusme commented on #39
Will be closed in favour of https://github.com/twostairs/paperwork/issues/896

[2018-02-08 00:05] #39 closed

[2018-02-08 00:06] mrusme commented on #345
Will be done with https://github.com/twostairs/paperwork/tree/2

[2018-02-08 00:06] #345 closed

[2018-02-08 00:10] mrusme commented on #312
Closing this issue in favour of the more detailed https://github.com/twostairs/paperwork/issues/241

[2018-02-08 00:10] #312 closed

[2018-02-10 15:24] mrusme opened #901 "Overall Architecture"
Build a concept for the overall Paperwork architecture.

[2018-02-10 15:29] mrusme commented on #901
I'm currently investigating whether Kong could be useful for the overall Paperwork architecture, follow the [evaluation progress here](https://github.com/Kong/kong/issues/754#issuecomment-364288176).

The thought was to be able to build each component of the Paperwork back-end as individual (micro-)service – utilising whatever tech stack fits best for the specific service – and unify them using Ko

[2018-02-10 18:49] mrusme commented on #901
Adjusted directory structure and `docker-compose.yml` in order to run Kong: https://github.com/twostairs/paperwork/commit/6ad887284cc3c3611132510c10547eda4b43b5e6

[2018-02-10 21:57] mrusme commented on #901
Committed the first working draft using Kong, with the draft implementation of `service-users`: https://github.com/twostairs/paperwork/commit/794fa76e377f84a1e33af7b76b3320d1df3b52af

<img width="1107" alt="screen shot 2018-02-10 at 10 53 11 pm" src="https://user-images.githubusercontent.com/151967/36067012-317ca1f8-0eb5-11e8-843e-655350c79cb1.png">

As for the URL, `service-users` needs to remove

[2018-02-12 14:35] crostif commented on #861
Hi,
please find the screenshot. It seems to have some errors due to js.
The settings' page can't be loaded (error 404).

Thanks.

![capture](https://user-images.githubusercontent.com/3015118/36101639-2f54e998-100a-11e8-8efe-03e7e131134e.jpg)

[2018-02-14 22:26] jacek-1210 opened #902 "OMG - how to pull & install old, v1 of Paperwork ???"
How to pull or get snapshot of Paperwork v.1 ? Where is some manual ? I want to upgrade my Paperwork, but still in v.1 version, how to do it ?

git pull https://github.com/twostairs/paperwork.git

give me v2 Paperwork. I need v1 paperwork actually version

[2018-02-15 20:13] JamborJan commented on #902
Hey @jacek-1210,

Use

https://github.com/twostairs/paperwork/tree/1

instead and it should be the latest v.1

Hope that works for you.

[2018-02-15 21:21] jacek-1210 commented on #902
THX, but

git pull https://github.com/twostairs/paperwork/tree/1

didn't work.
And snapshot isn't
Is it possible to use git pull on v.1 Paperwork ?

[2018-02-16 07:27] jacek-1210 commented on #902
THX, works.

[2018-02-16 07:27] #902 closed

[2018-02-16 14:08] Sblop opened #903 "Docker db"
A quick suggestion. I am trying to use paperwork using docker on my qnap nas.
First of all thanks for making a docker image available, however it refuses to start due to a lack of an MYSQL db. I have tried with built-in mysql db on nas, or an additional mysql official docker image. Somebody made a docker image including a db several years ago and this works fantastic, however this is outdated.

Lo

[2018-02-21 03:50] richerlariviere commented on #901
Thanks for detailing a lot your thought process.

[2018-02-28 09:48] kypdk opened #904 "CK editor error"
[CKEDITOR] Error code: editor-incorrect-destroy.
ckeditor.js:21:212
[CKEDITOR] For more information about this error go to http://docs.ckeditor.com/#!/guide/dev_errors-section-editor-incorrect-destroy
ckeditor.js:21:256
[CKEDITOR] Error code: editor-incorrect-destroy.
ckeditor.js:21:212
[CKEDITOR] For more information about this error go to http://docs.ckeditor.com/#!/guide/dev_errors-section-edit

[2018-02-28 09:52] kypdk opened #905 "paperworkViewParent isn't full screen"
paperworkviewparent if you do class="main col-xs-12"is fixing but opens with class="main col-xs-12 ng-scope  col-sm-offset-7 col-sm-5 col-md-offset-5 col-md-7"

[2018-03-08 13:35] Liongold commented on #863
The version of Paperwork you opened this issue for has been moved to the `1` branch. Can you use the code found in that branch and retry?

[2018-03-08 13:53] Liongold commented on #862
@petrk94 I guess you'll need to wait until Paperwork v2 implements that feature then. Unfortunately, all work is currently going there and it is very difficult to have new features in v1.

[2018-03-08 13:55] Liongold commented on #851
For information clarity's sake, the code referenced in @mrusme's comment is now in the master branch. The old master code (Paperwork v1) has been moved to the `1` branch.

[2018-03-08 14:46] Liongold commented on #904
@kypdk Does CKEditor stop working because of them? I think those errors should not affect functionality.

[2018-03-08 14:49] Liongold commented on #861
@crostif Can you try running `npm install`, `bower install` and `gulp` please? Sorry for the late reply. Remember that the code has now been moved to the `1` branch.

[2018-03-08 16:25] mrusme commented on #851
@Liongold thanks, fixed the link

[2018-03-08 16:58] Liongold commented on #856
Can you update to the latest version of Paperwork v1 and then try again? If you re-encounter this bug, can you post a screenshot please? Remember that the v1 code is not in the `master` branch anymore but has been moved to the `1` branch.

[2018-03-08 17:00] Liongold commented on #838
Pull requests should target the `1` branch now instead of the `develop` branch.

[2018-03-08 17:01] #833 closed

[2018-03-08 17:02] Liongold commented on #849
Since nobody has replied to this issue and #833 has already been closed, this issue will also be closed. Thank you for using Paperwork. If you encounter any issues, feel free to open a new issue.

[2018-03-08 17:02] #849 closed

[2018-03-08 17:03] Liongold commented on #845
Since nobody has replied to this issue and #833 has already been closed, this issue will also be closed. Thank you for using Paperwork. If you encounter any issues, feel free to open a new issue.

[2018-03-08 17:03] #845 closed

[2018-03-08 17:05] Liongold commented on #839
Can someone try this again to see whether it has been fixed or not, please?

[2018-03-08 20:07] Liongold commented on #905
This should be fixed in the latest pull request merged to the `1` branch. Please pull the latest code and try again. Thank you for your interest in Paperwork. This issue will be closed. If you encounter any new issues, feel free to open a new issue.

[2018-03-08 20:07] #905 closed

[2018-03-08 20:08] Liongold commented on #866
This should be fixed in the latest pull request merged to the `1` branch. Please pull the latest code and try again. Thank you for your interest in Paperwork. This issue will be closed. If you encounter any new issues, feel free to open a new issue.

[2018-03-08 20:08] #866 closed

[2018-03-12 15:30] crostif commented on #861
Here is the result of my tryout :

`root@vps381044:~# sudo npm install
npm ERR! install Couldn't read dependencies
npm ERR! package.json ENOENT, open '/root/package.json'
npm ERR! package.json This is most likely not a problem with npm itself.
npm ERR! package.json npm can't find a package.json file in your current directory.

npm ERR! System Linux 3.16.0-4-amd64
npm ERR! command "/usr/bin/nodejs"

[2018-03-12 17:21] Liongold commented on #861
@crostif Did you `cd` to the `frontend` folder of the Paperwork code before running those commands?

[2018-03-12 22:42] mrusme commented on #869
Based on the information gathered in https://github.com/twostairs/paperwork/issues/901, I started building the users management as an individual service (based on Node.js, Paperframe and Koa.js). The service consists of:

- `/users`, for all direct user-resource-related actions (create, update, show, index & destroy)
- `/auths`, for all user-authentication-related actions (login, password-reset)

[2018-03-12 22:58] mrusme commented on #882
Authentication is being done by the `service-users` component for now. See [this](https://github.com/twostairs/paperwork/issues/869) for more info.

The `/auths` business logic checks the submitted user credentials against the credentials stored inside the `users` collection and – if matching – crafts the JWT tokens required for authentication by using the consumer that was added to Kong during us

[2018-03-13 03:31] road0001 commented on #848
The same problem, I use web server caddy, the config is following:
http://xxx {
    redir https://xxx{url}
}
https://xxx {
    tls xxx@xxx
    gzip
    root /var/www/html/paperwork/frontend/public
    fastcgi / 127.0.0.1:9000 php
}

[2018-03-13 12:49] crostif commented on #861
Sorry !!!
Here is the new result.

`root@vps381044:/var/www# cd html
root@vps381044:/var/www/html# cd paperwork
root@vps381044:/var/www/html/paperwork# cd frontend
root@vps381044:/var/www/html/paperwork/frontend# npm install
root@vps381044:/var/www/html/paperwork/frontend# bower install
bower ESUDO         Cannot be run with sudo

Additional error details:
Since bower is a user command, there is n

[2018-03-18 20:34] mrusme commented on #901
Here's an update to the overall architecture:

The initial idea of building the whole software up in a service-oriented way *and* stick to it across every layer (from code to the actual setup) progressed and lead to having the main repository (`paperwork`) being only a meta-layer that bundles each component into a ready-to-use infrastructure. Hence, all service code was removed from it and as of n

[2018-03-18 20:59] richerlariviere commented on #901
+1 for Docker Swarm. I also have experience with those who would like to use Kubernetes. Just let me know if you are interested in that kind of support.

[2018-03-19 11:36] mrusme commented on #901
Thanks! Do you think it'd make sense to provide a minikube setup? Not sure how many people really have K8s running locally.

For a hosted setup, on the other hand, it would be cool to have some kickstart resources for hosting Paperwork on K8s of course.

Wdyt?

[2018-03-19 13:00] richerlariviere commented on #901
If we provide a simple way to run it locally I think a lot of users would find this interesting and relevant because some of them would like to try it locally before paying for a container service). It's also easy to write a K8s config based on Docker swarm.

[2018-03-19 18:30] mrusme commented on #901
@richerlariviere would you be interested in doing that? I'd be happily accepting PRs regarding K8s. :)
Bear with me when the setup might change and requiring adjustments to the K8s config, though. As you see here it's still in a very early stage.

[2018-03-19 19:55] richerlariviere commented on #901
I'm down. Don't worry I know Paperwork v2 is a young project. When the K8s configuration is mature enough I'll send you a PR. I will let you know when I'm ready to show you something.

[2018-03-21 07:15] Svarto opened #907 "Docker persistence"
First of all, super impressed with the quality of paperworks - thanks a lot for all the work you do!

I have a quick question on docker persistence, I want to make sure that my notes and uploads are saved even if I migrate my server to new hardware.

Where are the notes and attachments stores?

I run a mysql database and I can see entries from paperworks in tables such as "notes" and "attachments"

[2018-03-21 13:52] Liongold commented on #907
Which branch are you using?

[2018-03-21 14:14] Svarto commented on #907
Branch 1.

I read the readme that the master branch is not ready yet - is it already usable? Then maybe I'll try and move over 😀

[2018-03-22 16:55] Liongold commented on #907
@Svarto No, as far as I know it isn't usable. Since you're using Paperwork, then some things are in the database and others not. In fact,

- Notes, Notebooks, Tags, Version History and User accounts are saved in the Database you defined in database.json
- References to attachments (which attachments have been uploaded and to which notes) is saved in the database
- Raw attachment files are saved in

[2018-03-22 17:55] Liongold commented on #848
@road0001 Does it work if you do not redirect?

[2018-03-22 19:42] crostif commented on #861
Same result when running from root.
With bower install --allow-root it gives :

bower invalid-meta  for:/var/www/html/paperwork/frontend/bower.json
bower invalid-meta  The "name" is recommended to be lowercase, can contain digits, dots, dashes
bower extra-resolution      Unnecessary resolution: angular-animate#~1.2
bower extra-resolution      Unnecessary resolution: angular-resource#~1.2
bower ext

[2018-03-24 17:04] flohall opened #908 "Founding Proposal"
I got an idea for improving founding @twostairs

I dont't know if you heard about https://de.liberapay.com/ an open source provider for regular foundings to open source projects by anyone. I really high % of the money goes directly to the open source project.

There is already some little money raised. You just must create a new account there.
https://de.liberapay.com/on/github/twostairs

I guess

[2018-03-24 17:20] Svarto commented on #907
Thanks Liongold!

[2018-03-24 17:20] #907 closed

[2018-03-28 15:10] Liongold commented on #861
@crostif Was that the only output? Did you try running gulp after that?

[2018-03-28 15:18] crostif commented on #861
Yes it was. I tried and it was without any effect.

[2018-03-28 15:25] Liongold commented on #861
Can you try running the same command with -V added at the end please?

[2018-03-28 15:44] Liongold commented on #861
I'm sorry for causing some more work for you but could you try installing the bower dependencies one-by-one please? You need to run `sudo bower install X --allow-root -V` for each line in the dependencies object defined in [this file](https://github.com/twostairs/paperwork/blob/1/frontend/bower.json). For each row replace X with the name of the package then # and then the version of the package re

[2018-03-28 16:52] crostif commented on #861
The result :

root@vps381044:/var/www/html/paperwork# cd frontend
root@vps381044:/var/www/html/paperwork/frontend# sudo bower install angular#~1.2 --allow-root -v
1.8.2
root@vps381044:/var/www/html/paperwork/frontend# sudo bower install angular-animate#~1.2 --allow-root -v
1.8.2
root@vps381044:/var/www/html/paperwork/frontend# sudo bower install angular-animate#~1.2 --allow-root -v

1.8.2
root@vps

[2018-03-28 19:43] fenandosr commented on #889
Proposal for tags:
Meta-tags: tags of tags. Maybe something like "Adding Parent tag when child tag is added".
Keyboard shortcuts for tags.

[2018-03-28 21:02] mrusme commented on #889
@fenandosr can you specify on how this would look like & work in detail? And what would be the benefit? Thanks!

[2018-04-05 07:12] crostif commented on #861
I've got some news ! This last trying have finally been partially successfull.
Look at those screenshots, the interface is now there. But buttons are inefficients : i can't create anything. No button is working.
![paper1](https://user-images.githubusercontent.com/3015118/38351802-67595aac-38b1-11e8-86fc-749125a1dcb3.png)
![paper2](https://user-images.githubusercontent.com/3015118/38351803-677a252a

[2018-04-05 15:41] Liongold commented on #861
Glad to see it works better. However, it is necessary to see the output of the browser console again.

[2018-04-05 15:52] crostif commented on #861
Right ! Some errors refers to two folders which don't exist : /frontend/public/api an /frontend/public/templates

![paper3](https://user-images.githubusercontent.com/3015118/38376962-1316335e-38fa-11e8-9c20-3c3614263b83.png)

[2018-04-17 14:26] danieldaeschle opened #909 "Problem loading packages with composer"
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for erusev/parsedown dev-master -> satisfiable by erusev/parsedown[dev-master].
    - erusev/parsedown dev-master requires ext-mbstring * -> the requested PHP extension mbstring is mis

[2018-04-26 02:50] IcedMango opened #910 "Wiki Rpm package link no longer exists."
Hi

Page https://github.com/twostairs/paperwork/wiki/Installation-----CentOS-Fedora
`rpm -Uvh http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm`

The link is no longer exists. The newest link is http://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-7-11.noarch.rpm

[2018-05-07 17:16] danieldaeschle commented on #909
nope

[2018-05-31 02:15] adamhorsburgh commented on #909
@myesn @danieldaeschle I have found a workaround for the issue, see the link below for more information:

https://www.techtrekking.net/getting-started-with-laravel-with-ubuntu-16-04/

Ran the following commands from the shell, and everything worked fine!

sudo apt-get install php-mbstring -y
sudo apt-get install php-xml -y
./scripts/composer_wrapper.php install --no-dev

[2018-06-19 16:45] Liongold commented on #909
Can this issue be closed? It seems like there's a workaround for it.

[2018-06-19 18:13] danieldaeschle commented on #909
I didn't tried it yet. Close it, i will tell you to reopen it if it doesn't work.

[2018-06-20 19:06] Leopardinho opened #911 "When installing dependencies, a directory mentioned in the installation guide does not appear"
I was installing dependencies, everything went well, until I ran into the following:

Typed:
`mkdir -p /var/www/html && cd /var/www/html`
`git clone https://github.com/twostairs/paperwork.git`
`cd /var/www/html/paperwork/frontend`

After this I typed ls -a and could not locate a directory "frontend"

`curl -sS https://getcomposer.org/installer | php`
`php composer.phar install`

This is what pops

[2018-06-28 14:29] Liongold commented on #861
@crostif Sorry for the late reply. Can you put the paperwork as the web folder so that Paperwork becomes accessible at the www.example.com without the /paperwork part? That should fix your issue.

[2018-06-28 15:31] IcedMango commented on #910
@Liongold Fixed

[2018-06-28 15:39] Liongold commented on #910
Can you close the issue please?

[2018-06-28 15:48] #910 closed

[2018-06-28 15:50] Liongold commented on #910
Thanks.

[2018-06-29 11:20] #909 closed

[2018-07-04 12:46] danieldaeschle opened #912 "Docker Compose MySQL Error"
When i start the containers using `docker-compose up` i get an endless loop with `
Waiting for MySQL container...`.

Log of the db container is:

[code]

[2018-07-05 20:49] crostif commented on #861
@Liongold I'm sorry, but i don't understand what you mean...

[2018-07-10 11:48] TiMESPLiNTER commented on #850
@Liongold Where is this feature branch gone?

[2018-07-10 13:06] Liongold commented on #850
Unfortunately, since most of the development has switched to the v2 version, most branches have been removed. The removed branches includes the laravel5 version.

[2018-07-10 13:09] Liongold commented on #861
@crostif You need to identify the webroot folder and put paperwork there. The webroot folder is the folder in which you put files to have them served at the top level. So, the folder where example.php is placed to be accessible from www.example.com/example.php. Once you find this, make sure that the public folder is in the webroot.

[2018-07-10 16:50] Liongold commented on #861
Return it to how it was to have something that works.

[2018-07-10 16:54] Liongold commented on #861
Actually what was the error you got? Did you follow this page to skip the Setup Wizard https://github.com/twostairs/paperwork/wiki/Installing-and-configuring-Paperwork-without-using-the-Setup-Wizard

[2018-07-24 15:51] gdgeorge commented on #786
Given that this is over a year old and the project has moved on, I'm closing this. Thanks all!

[2018-07-24 15:51] #786 closed

[2018-08-14 09:52] udiNur opened #913 "there is any demo or screenshots?"

[2018-09-05 00:00] caseyhoward commented on #913
My first google search result was pretty worthless.
https://github.com/twostairs/paperwork/wiki/Screenshots
No screenshots, says to use demo, doesn't provide link to demo.

[2018-09-08 17:16] PackElend commented on #913
I think that is urgent

[2018-09-22 13:09] ScrumpyJack commented on #476
how are we with the plans for an IOS app?

[2018-10-04 10:12] theerror commented on #726
I would like to give a try paperwork as server install is not quote straightforward so I can see, if it makes sense. It's almost two years and nothing. So sad...

[2018-10-21 07:09] fytztx opened #914 "how to migrate all the paperwork data to another server?"
Deployed on the server A, but the server A is going to shutdown, now need to migrate all the data from server A to server B, how that can be done?

[2018-11-07 12:11] #726 closed

[2018-11-10 19:02] svigneau opened #915 "Notebooks can't be deleted when they are part of a collection"
I can't delete notebooks that are part of a collection, but deletion works after moving the notebooks outside of a collection. Using Paperwork v1.1.0 inside Cloudron 3.1.2.

[2019-04-01 00:02] jsEveryDay commented on #914
sqldump?

[2019-04-16 05:27] sunrez commented on #913
Hi,

The twostairs page linked for screenshots / demo is non-functional

[2019-05-03 09:24] mrusme commented on #901
The architecture has changed to what was initially approached and documented here, to something that's more feasible as basically a "one man show". Would have loved to use Scylla, unfortunately compatibility was a big pain point. Also I would have liked to use Kong, however, it really became a PITA to integrate, especially when they basically completely changed their admin API recently. Hence the

[2019-05-03 09:24] #901 closed

[2019-05-03 09:26] mrusme commented on #900
An initial implementation of this was recently committed to [service-notes](https://github.com/paperwork/service-notes).

[2019-05-03 09:26] #900 closed

[2019-05-03 09:27] mrusme commented on #889
Tags are now part of the [service-notes](https://github.com/paperwork/service-notes) and were implemented as a first draft to build on top of.

[2019-05-03 09:27] #889 closed

[2019-05-03 09:28] mrusme commented on #884
First draft implementation available in [service-notes](https://github.com/paperwork/service-notes).

[2019-05-03 09:28] #884 closed

[2019-05-03 09:29] mrusme commented on #883
No dedicated endpoint for notebooks planned so far, as notebooks will only be a `path` a user can specify inside a note. A draft implementation is already available within [service-notes](https://github.com/paperwork/service-notes)

[2019-05-03 09:29] #883 closed

[2019-05-03 09:30] mrusme commented on #887
A draft implementation of this is available inside [service-notes](https://github.com/paperwork/service-notes).

[2019-05-03 09:30] #887 closed

[2019-05-03 09:30] mrusme commented on #882
A draft implementation of this is available inside [service-users](https://github.com/paperwork/service-users) and [service-gatekeeper](https://github.com/paperwork/service-gatekeeper).

[2019-05-03 09:30] #882 closed

[2019-05-03 09:31] mrusme commented on #880
A draft implementation of this is available inside [service-users](https://github.com/paperwork/service-users).

[2019-05-03 09:31] #880 closed

[2019-05-03 09:31] mrusme commented on #879
A draft implementation of this is available inside [service-users](https://github.com/paperwork/service-users).

[2019-05-03 09:31] #879 closed

[2019-05-03 09:31] mrusme commented on #876
A draft implementation of this is available inside [service-notes](https://github.com/paperwork/service-notes).

[2019-05-03 09:31] #876 closed

[2019-05-03 09:32] mrusme commented on #875
This is not required anymore.

[2019-05-03 09:32] #875 closed

[2019-05-03 09:32] mrusme commented on #874
A draft implementation of this is available inside [service-users](https://github.com/paperwork/service-users).

[2019-05-03 09:32] #874 closed

[2019-05-03 09:32] mrusme commented on #871
A draft implementation of this is available inside [service-notes](https://github.com/paperwork/service-notes).

[2019-05-03 09:32] #871 closed

[2019-05-03 09:33] mrusme commented on #870
This is not needed anymore. A draft implementation of this is available inside [service-notes](https://github.com/paperwork/service-notes).

[2019-05-03 09:33] #870 closed

[2019-05-03 09:33] mrusme commented on #869
A draft implementation of this is available inside [service-users](https://github.com/paperwork/service-users).

[2019-05-03 09:33] #869 closed

[2019-05-03 09:35] mrusme commented on #827
This is not directly an issue with Paperwork (neither v1 nor v2), as it targets the proxy in front of/httpd hosting Paperwork. Please find information on this on the [official Let's Encrypt documentation](https://letsencrypt.org/getting-started/).

[2019-05-03 09:35] #827 closed

[2019-05-03 09:45] mrusme commented on #914
Your safest bet is probably to use `mysqldump` and also `rsync` the attachments folder to the new location. However, with such little information provided on hosting nobody can answer this question accurately. Also: GitHub issues should not be used for questions but rather for reporting issues. Please head to the chatroom for questions, thanks!

[2019-05-03 09:45] #914 closed

[2019-05-03 09:48] mrusme commented on #913
As for v1: There are no more screenshots/demos available (at least from my side, maybe some users do still host them).

For v2, you can find info about the current state and aesthetics [in the web repo](https://github.com/paperwork/web). Also, if you want to fiddle around yourself, you can [launch your own v2 infrastructure](https://github.com/paperwork/paperwork#docker-stack) now.

[2019-05-03 09:48] #913 closed

[2019-05-03 09:51] mrusme commented on #908
Thank you for this suggestion! I've transferred it to my private to do list and will eventually take it in consideration. :-)

PS: If you got further ideas, feel free to [join the chat](https://riot.im/app/#/room/#paperwork:matrix.org) and communicate them there!

[2019-05-03 09:51] #908 closed

[2019-05-03 09:53] mrusme commented on #903
This issue was reported for v1, which is not in active development anymore. However, for v2 I did just that. Check out the [Docker stack file](https://github.com/paperwork/paperwork/blob/master/paperwork.yml). It allows you to [easily set up your whole v2 infrastructure](https://github.com/paperwork/paperwork#docker-stack).

[2019-05-03 09:53] #903 closed

[2019-05-03 09:55] #911 closed

[2019-05-03 09:55] #904 closed

[2019-05-03 09:56] #863 closed

[2019-05-03 09:57] #861 closed

[2019-05-03 09:58] mrusme commented on #860
This is related to v1, which is not in active development anymore.

[2019-05-03 09:58] #860 closed

[2019-05-03 09:59] mrusme commented on #859
Closing due to lack of feedback and due to this issue being related to v1.

[2019-05-03 09:59] #859 closed

[2019-05-03 09:59] #856 closed

[2019-05-03 10:00] #848 closed

[2019-05-03 10:00] mrusme commented on #846
You will be able with v2.

[2019-05-03 10:00] #846 closed

[2019-05-03 10:01] #844 closed

[2019-05-03 13:19] mrusme commented on #839
Docker is now working for v2. v1 is not under active development anymore.

[2019-05-03 13:19] #839 closed

[2019-05-03 13:20] mrusme commented on #836
Will take this on the roadmap for v2, thank you!

[2019-05-03 13:21] mrusme commented on #823
Lack of feedback.

[2019-05-03 13:21] #823 closed

[2019-05-03 13:22] mrusme commented on #822
Sharing in v2 will use a different approach, hence this v1 issue is not relevant anymore.

[2019-05-03 13:22] #822 closed

[2019-05-03 13:23] mrusme commented on #763
Sharing in v2 will use a different approach, hence this v1 issue is not relevant anymore.

[2019-05-03 13:23] #763 closed

[2019-05-03 13:24] mrusme commented on #818
Docker setup works with v2.

[2019-05-03 13:24] #818 closed

[2019-05-03 13:24] #812 closed

[2019-05-03 13:25] #810 closed

[2019-05-03 13:26] mrusme commented on #811
This idea was reported for v1, but it seems relevant for v2 as well. Taking it on the v2 roadmap.

[2019-05-03 13:26] #803 closed

[2019-05-03 13:27] #802 closed

[2019-05-03 13:28] mrusme commented on #787
With v2 one-click-deployments via Docker are/will continue to be possible. Due to the complexity of the setup a "prebuilt binary" is not that easily possible, though. However, v2 will improve on the installation part in order to make it more easy to set up.

[2019-05-03 13:28] #787 closed

[2019-05-03 13:29] mrusme commented on #785
You are able to install v2 on Windows Server by using Docker.

[2019-05-03 13:29] #785 closed

[2019-05-03 13:30] mrusme commented on #783
As long as your NAS supports Docker, v2 will run on it.

[2019-05-03 13:30] #783 closed

[2019-05-03 13:30] mrusme commented on #782
This issue was related to v1. Uploads in v2 will work differently, hence closing this for now.

[2019-05-03 13:30] #782 closed

[2019-05-03 13:31] #781 closed

[2019-05-03 13:31] #780 closed

[2019-05-03 13:32] #752 closed

[2019-05-03 13:32] #749 closed

[2019-05-03 13:33] mrusme commented on #746
It was reduced in v2. Please refer to the [service-notes](https://github.com/paperwork/service-notes) repo for this.

[2019-05-03 13:33] #746 closed

[2019-05-03 13:33] #741 closed

[2019-05-03 13:34] mrusme commented on #735
Will take this on the v2 roadmap. The idea would be to include a video thumbnail for videos.

[2019-05-03 13:35] #733 closed

[2019-05-03 13:37] mrusme commented on #729
This question was directed towards v1. However, this is relevant for v2 as well. Answer: The [web](https://github.com/paperwork/web) UI v2 is going to use will be put inside an Electron container and shipped as *native* app for Linux, Mac and Windows.

[2019-05-03 13:37] #729 closed

[2019-05-03 13:37] #728 closed

[2019-05-03 13:38] mrusme commented on #708
This will be possible with v2.

[2019-05-03 13:38] #708 closed

[2019-05-03 13:39] mrusme commented on #700
You will be able to run v2 [on FreeBSD using Docker](https://wiki.freebsd.org/Docker).

[2019-05-03 13:39] #700 closed

[2019-05-03 13:39] #696 closed

[2019-05-03 13:40] #690 closed

[2019-05-03 13:41] mrusme commented on #687
This was reported for v1 but is still relevant for v2.

[2019-05-03 13:42] #686 closed

[2019-05-03 13:42] #675 closed

[2019-05-03 13:42] #672 closed

[2019-05-03 13:42] #668 closed

[2019-05-03 13:42] #665 closed

[2019-05-03 13:43] mrusme commented on #655
v1 is not under active development/support any more. For v2 Docker works.

[2019-05-03 13:43] #655 closed

[2019-05-03 13:43] #649 closed

[2019-05-03 13:43] #646 closed

[2019-05-03 13:44] mrusme commented on #645
v2 does not have a calendar by default.

[2019-05-03 13:44] #645 closed

[2019-05-03 13:44] mrusme commented on #643
This was reported for v1, however it's relevant for v2 as well. Adding this to the roadmap.

[2019-05-03 13:45] #640 closed

[2019-05-03 13:45] mrusme commented on #639
v2 will heavily rely on containers, hence this is not relevant anymore.

[2019-05-03 13:45] #639 closed

[2019-05-03 13:46] #608 closed

[2019-05-03 13:46] #605 closed

[2019-05-03 13:46] #596 closed

[2019-05-03 13:46] #595 closed

[2019-05-03 13:47] #594 closed

[2019-05-03 13:49] mrusme commented on #587
Sorry to hear that contributors behaved badly here. Hope this won't happen again.

[2019-05-03 13:49] #587 closed

[2019-05-03 13:51] #585 closed

[2019-05-03 13:51] #584 closed

[2019-05-03 13:51] #583 closed

[2019-05-03 13:51] #582 closed

[2019-05-03 13:52] #577 closed

[2019-05-03 13:52] #576 closed

[2019-05-03 13:52] #556 closed

[2019-05-03 13:52] #550 closed

[2019-05-03 13:53] #535 closed

[2019-05-03 13:53] #534 closed

[2019-05-03 13:53] #528 closed

[2019-05-03 13:53] #526 closed

[2019-05-03 13:53] #525 closed

[2019-05-03 13:54] #519 closed

[2019-05-03 13:55] #508 closed

[2019-05-03 13:55] #507 closed

[2019-05-03 13:55] #488 closed

[2019-05-03 13:55] #484 closed

[2019-05-03 13:55] #483 closed

[2019-05-03 13:56] #477 closed

[2019-05-03 13:56] #473 closed

[2019-05-03 13:56] #470 closed

[2019-05-03 13:57] mrusme commented on #461
This was reported for v1, but is relevant for v2 as well. Taking this on the v2 roadmap.

[2019-05-03 13:58] mrusme commented on #416
v2 [web](https://github.com/paperwork/web) is a responsive design and works on mobile as well.

[2019-05-03 13:58] #416 closed

[2019-05-03 13:59] itisNathaniel commented on #461
Sounds good, super interested to see were V2 goes, and hope to get involved!

[2019-05-03 13:59] #408 closed

[2019-05-03 13:59] #404 closed

[2019-05-03 13:59] #401 closed

[2019-05-03 13:59] #390 closed

[2019-05-03 14:00] #381 closed

[2019-05-03 14:00] #380 closed

[2019-05-03 14:00] #341 closed

[2019-05-03 14:01] #311 closed

[2019-05-03 14:01] #273 closed

[2019-05-03 14:02] #266 closed

[2019-05-03 14:02] #259 closed

[2019-05-03 14:02] #242 closed

[2019-05-03 14:04] #223 closed

[2019-05-03 14:04] #217 closed

[2019-05-03 14:04] #197 closed

[2019-05-03 14:05] #190 closed

[2019-05-03 14:06] mrusme commented on #189
v2 has this in place now.

[2019-05-03 14:06] #189 closed

[2019-05-03 14:07] #163 closed

[2019-05-03 14:07] #140 closed

[2019-05-03 14:07] #97 closed

[2019-05-03 14:10] #82 closed

[2019-05-03 14:10] #70 closed

[2019-05-03 14:10] #67 closed

[2019-05-03 14:10] #66 closed

[2019-05-03 14:10] #65 closed

[2019-05-03 14:11] #64 closed

[2019-05-03 14:11] #63 closed

[2019-05-03 14:12] #60 closed

[2019-05-03 14:12] #59 closed

[2019-05-03 14:12] #57 closed

[2019-05-03 14:13] #56 closed

[2019-05-03 14:13] #53 closed

[2019-05-03 14:13] #49 closed

[2019-05-03 14:13] #47 closed

[2019-05-03 14:13] #46 closed

[2019-05-03 14:14] #38 closed

[2019-05-03 14:14] #37 closed

[2019-05-03 14:14] #36 closed

[2019-05-03 14:14] #35 closed

[2019-05-03 14:14] #33 closed

[2019-05-03 14:14] #29 closed

[2019-05-03 14:15] #27 closed

[2019-05-03 14:15] #25 closed

[2019-05-03 14:15] #24 closed

[2019-05-03 14:15] #23 closed

[2019-05-03 14:16] #22 closed

[2019-05-03 14:16] #20 closed

[2019-05-03 14:16] #19 closed

[2019-05-03 14:16] #17 closed

[2019-05-03 14:16] #13 closed

[2019-05-03 14:17] #4 closed

[2019-05-03 14:27] #915 closed

[2019-05-03 14:28] mrusme commented on #915
This is related to v1, which is not under active development nor supported any more.

[2019-05-03 14:28] mrusme commented on #912
This is related to v1, which is not under active development nor supported anymore.

[2019-05-03 14:28] #912 closed

[2019-05-03 14:29] mrusme commented on #864
This is related to v1, which is not under active development nor supported anymore. Will however take Heroku deployment in consideration for v2!

[2019-05-03 14:29] #864 closed

[2019-05-03 14:29] mrusme commented on #838
This is related to v1, which is not under active development nor supported anymore. However, v2 will provide a mobile client.

[2019-05-03 14:29] #838 closed

[2019-05-03 17:40] jacek-1210 commented on #735
Fantastic news, thx (now I must manually generate thumbnails)
 
Close please this issue
 
 
 
W dniu 2019-05-03 15:35:01 użytkownik マリウス <notifications@github.com> napisał:
Will take this on the v2 roadmap. The idea would be to include a video thumbnail for videos.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.
 
 
 
-

[2019-05-05 12:17] stueja commented on #668
Ah, was this solved?

[2019-05-05 12:18] mrusme commented on #668
@stueja Paperwork v1 is deprecated, hence this issue is not relevant any more.

[2019-05-16 11:51] mrusme commented on #873
Permissions are in place now.

[2019-05-16 11:51] #873 closed

[2019-05-20 09:30] mouarfff opened #918 "No latest version available"
When i list my paperwork docker image i see that :

[code]

So i can't run it ?

Sorry if i ask for a stupid quesiton...

[2019-05-20 12:57] mrusme commented on #918
The [latest tag is available](https://cloud.docker.com/u/paperwork/repository/docker/paperwork/service-notes/tags) and this output should not be the reason for you to not be able to run anything.

Follow the steps on [Usage](https://github.com/paperwork/paperwork#usage) if you'd like to spin up Paperwork v2 on your Docker Swarm. If any errors occur, feel free to re-open this ticket and post the ac

[2019-05-20 12:57] #918 closed

[2019-05-22 04:41] mrusme commented on #872
A draft implementation of this was built in [service-storages](https://github.com/paperwork/service-storages).

[2019-05-22 04:41] #872 closed

[2019-05-22 04:41] mrusme commented on #877
A draft implementation of this was built in [service-storages](https://github.com/paperwork/service-storages).

[2019-05-22 04:41] #877 closed

[2019-05-22 04:43] mrusme commented on #885
This is ongoing. A draft implementation of this was built in [service-storages](https://github.com/paperwork/service-storages). However, a few details (e.g. authorization) are lacking.

[2019-05-22 04:53] mrusme commented on #71
v2 now provides a way of exporting notes as PDFs simply by using the "Print" function, since every major OS provides [printing to PDF](https://www.digitaltrends.com/computing/print-pdf-windows/) these days.

Wondering if it's still relevant to have a dedicated PDF export and if so, why?

[2019-05-22 04:58] mrusme commented on #891
This topic is far too complex to have it done in v2, at least as long as it's only me working on it. Moving it to a later stage.

[2019-05-22 06:36] mrusme commented on #95
The voices were heard. Paperwork v2 now uses Markdown as its **main markup language**, getting rid of HTML/CKEditor altogether. By keeping the editor more minimal, Paperwork can hopefully provide a better overall experience (with less issues related to editing). The very first shot of that was implemented into [the web UI](https://github.com/paperwork/web) and can be tried by developers eager to g

[2019-05-22 06:36] #95 closed

[2019-05-22 06:41] mrusme commented on #891
Btw: https://github.com/paperwork/paperwork/issues/22

[2019-05-22 06:47] mrusme commented on #188
I rethought the implementation of password protection recently and I'd object the decision once again by not implementing the *simple way* but rather have real cryptography in place. The main reason for this is that the simple way would lure users into believing their notes would be safe from hackers/government access/etc. while they in fact would not be.

Hence, please refer [to this issue](https

[2019-05-22 06:47] #188 closed

[2019-05-22 06:48] mrusme commented on #890
No need for this any longer. Tags as such are a property of a note and all actions available via tags are possible through either the note editor or the search.

[2019-05-22 06:48] #890 closed

[2019-05-22 06:52] mrusme commented on #811
On a second thought, this feature is something that is/will be in place through notes with attachments. You will either be able to simply create a note, download the image from the internet, upload it as a note attachment and link the attachment within the note or you will be able to use a browser extension (which on its own uses [the quick-import endpoints](https://github.com/paperwork/paperwork/

[2019-05-22 06:52] #811 closed

[2019-05-22 06:54] mrusme commented on #897
Duplicate of https://github.com/paperwork/paperwork/issues/224

[2019-05-22 06:54] #897 closed

[2019-05-22 06:55] mrusme commented on #61
Use the new issue for this (https://github.com/paperwork/paperwork/issues/899).

[2019-05-22 06:55] #61 closed

[2019-05-22 07:05] mrusme commented on #322
Will have a look at implementing [MathJax](https://github.com/mathjax/mathjax) into the current markdown editor for the [web UI](https://github.com/paperwork/web) later this week.

[2019-05-22 07:09] mrusme commented on #836
This has been implemented and will be possible using the *Print* function in [the web UI](https://github.com/paperwork/web).

[2019-05-22 07:09] #836 closed

[2019-05-23 23:13] mrusme opened #919 "Setup demo for Paperwork v2"
Since the project finally reached the point where it's easily deployable via a single command (yay!) the next step would be to set up a demo version somewhere and link to it, so that people can actually try the current state of the software and play around with it.

Will leverage some resources from @twostairs to set up the demo instance, since the last couple of "sponsored hostings" this project

[2019-05-26 03:53] moblesmarti opened #920 "How do I start it on a Virtual machine?"
Hi, everyone, first of all, I have a server with Proxmox and I have installed in a virtual machine Ubuntu Server 18.04, docker, docker composer and the latest version of PaperWork 2 software according to the instructions.

It seems that it's installed correctly, but I don't know how to start it because it is a virtual machine and it is on the address 192.168.1.XXX, not localhost. I can not see whe

[2019-05-26 15:21] mrusme commented on #920
Simply add a DNS entry which points `paperwork.local`, `api.paperwork.local` and `www.paperwork.local` to your IP, e.g. `192.168.1.123`. Also make sure that you allow your Docker Swarm to bind port `80` onto `0.0.0.0` and you don't have any iptables/firewall rule that blocks incoming TCP connections on that port. That should basically get it working for you.

[2019-05-26 15:46] sandzhaj commented on #920
I've just created a new droplet on digitalocean - ubuntu+docker.
I added '127.0.0.1   localhost paperwork.local api.paperwork.local www.paperwork.local' in my /etc/hosts, and deployed paperwork.

I've got "404 page not found" in my browser, while opening my ip

[2019-05-26 15:59] sandzhaj commented on #920
I created digitalocean's droplet with ubuntu+docker, added "127.0.0.1  localhost paperwork.local api.paperwork.local www.paperwork.local" in my /etc/hosts, then i run:
1. docker swarm init --advertise-addr my-external-ip
2. make deploy

And after that i got "404 page not found" on the 80 port

[2019-05-26 16:02] mrusme commented on #920
The DNS needs to point to the Docker Swarm. If you don't run Docker Swarm locally, pointing the DNS to 127.0.0.1 makes no sense.

[2019-05-26 16:43] sandzhaj commented on #920
Oh, i see. I don't know enough about docker swarm, But it seems that i have to go trough it if i want to test this app.
By the way, on the paperwork.cloud i read "The Makefile then takes care of initializing Swarm, in case you haven’t done that already, creating the encrypted network (papernet) and deploying the Paperwork stack on top of it." But if i run makefile on the fresh install ubuntu, i'll

[2019-05-26 16:53] mrusme commented on #920
@sandzhaj thanks for pointing out. I've adjusted the Makefile, so that `make init` is now being performed within `make deploy`. Pull the latest version and you'll get the initialisation done for you.

[2019-05-26 16:56] mrusme commented on #920
@sandzhaj as for the rest: Unfortunately, yes. I've tried to made it clearer [here](https://github.com/paperwork/paperwork#spoiler). As of right now, v2 really is not suited for the average Joe who'd simply like a sneak-peek of Paperwork. However, in order to communicate the current state in a better way, I've updated the [existing screenshots and even added a couple of more](https://github.com/pa

[2019-05-26 17:56] mrusme commented on #322
Took a look into this topic and it requires a little bit of info from the Markdown renderer that's being used for v2. Hence, I've [commented on an existing issue](https://github.com/jfcere/ngx-markdown/issues/68#issuecomment-496019094) in that project. Waiting for further insights into how an implementation of LaTeX could be done best with `ngx-markdown`.

[2019-05-27 14:03] moblesmarti commented on #920
Hello again, I made a clean installation and I made the modifications indicated in the file _/etc/hosts_, but when I put the url 192.168.1.xxx I get the following error "**404 page not found**"

Some help.

Thanks in advance.

[2019-05-28 15:02] moblesmarti commented on #920
Hi, I'm still trying things, but I can not start the paperwork website.

http://url:8080 show me this... I think all is correct, but I cannot start web

![Traefik](https://user-images.githubusercontent.com/12881456/58488756-38bdf380-816a-11e9-83c3-e6a57d6d485e.jpg)

[2019-05-28 15:31] mrusme commented on #920
@moblesmarti what does `docker service ls` say? Have you checked `docker service logs paperwork_web` and maybe `docker service logs paperwork_gatekeeper`?
The Traefik config looks fine.

[2019-05-28 18:03] moblesmarti commented on #920
docker service ls
![Termius_-___114__paperwork](https://user-images.githubusercontent.com/12881456/58500930-898e1600-8183-11e9-8942-19437861dacb.jpg)

docker service logs paperwork_service_gatekeeper
![2](https://user-images.githubusercontent.com/12881456/58500971-9f034000-8183-11e9-8daf-bb03762f679c.jpg)

docker service logs paperwork_web
nothing

[2019-05-28 18:56] mrusme commented on #920
That's weird. Are you sure you're accessing the correct URL/IP?

[2019-05-28 19:34] moblesmarti commented on #920
This is my /etc/hosts file

![3](https://user-images.githubusercontent.com/12881456/58506602-0d4dff80-8190-11e9-8a86-dad857e8cbcb.jpg)

http://192.168.1.114:8080 goes to Traefik, but http://192.168.1.114 doesn't go to web, I don't undersand it too

[2019-05-28 19:56] sandzhaj commented on #920
I have got the same result. Traefik works, paperwork - doesn't.

You can also check it with every virtual machine, on fresh install, Ubuntu 18.04, behavior will be the same

[2019-05-28 19:59] sandzhaj commented on #920
I ran swarm on the same machine where I tried  paperwork to start

[2019-06-03 09:50] mrusme commented on #920
@moblesmarti first of all, you're not supposed to have duplicated entries in there. Either configure *.paperwork.local for 127.0.0.1 (if you run it on your localhost) or on 192.168.... (if you run it on that specific host).

Second (cc @sandzhaj), please make sure that:

- the user that you're starting your docker container with has the permission to allocate port 80
- the docker host process has

[2019-06-03 13:37] moblesmarti commented on #920
Hi @mrusme I have tried it in different ways and I always get the error *404 page not found*-
Now just point to the 192.168.1.114 url and I have error 404.

[2019-06-03 14:07] mrusme commented on #920
@moblesmarti I understand that. However, I'm trying to figure out where the issue might be. For that I need a little bit more information from your side, otherwise I really can't help you there.

So, have you made sure that there is no other process on that machine running on port 80? Also, have you adjusted your `/etc/hosts` to only include `paperwork.local`, `api.paperwork.local` and `www.paperw

[2019-06-03 14:10] mrusme commented on #920
@moblesmarti you could also try this request, which would register a new user account on your Paperwork instance:

[code]

[2019-06-03 20:56] moblesmarti commented on #920
@mrusme Here you have the answers to what you have requested, thanks in advance.

$ curl -v api.paperwork.local
![paperwork 1](https://user-images.githubusercontent.com/12881456/58833996-8a76ea00-8652-11e9-99a7-c389168e1ec4.jpg)

$ curl -v www.paperwork.local
![paperwork 2](https://user-images.githubusercontent.com/12881456/58834048-a8dce580-8652-11e9-8128-f0b5d57a9278.jpg)

$ ufw status
![paperwo

[2019-06-03 21:17] moblesmarti commented on #920
# netstat -plnt
![paperwork 5](https://user-images.githubusercontent.com/12881456/58835223-b34cae80-8655-11e9-9bbe-598d2b1cbf94.jpg)

[2019-06-03 21:20] mrusme commented on #920
@moblesmarti thanks for providing that information. As you can see yourself on the `$ curl -v www.paperwork.local` output, you're retrieving a valid HTML response (status code 200 OK) with the actual Angular web UI as content. I do not understand why your browser would tell you `404 page not found`. Could you please try a different browser? It really doesn't make sense from the information I see h

[2019-06-03 21:23] mrusme commented on #920
@moblesmarti is it possible that your web browser would try to automatically redirect you towards 443 (HTTPS)? Because HTTPS is not working at the very moment, since this setup does not auto-generate SSL certificates.

[2019-06-04 08:03] kkrieger85 commented on #895
Mentioned issues: #896 , #897 , #898

[2019-06-04 11:12] selurvedu commented on #380
@mrusme, is there some kind of integration available now?

[2019-06-04 11:28] moblesmarti commented on #920
@mrusme Hi! I've tried a new one on another server, and the same.

http://api.paperwork.local (Chrome, Firefox and Safari) all error 404
http://www.paperwork.local (Chrome, Firefox and Safari) all error 404
http://192.168.1.60 (Chrome, Firefox and Safari) all error 404

![Menubar_y_Mozilla_Firefox_y_Docker](https://user-images.githubusercontent.com/12881456/58875700-8b4c6200-86cc-11e9-9fa9-b94ada9

[2019-06-04 14:09] mrusme commented on #380
@selurvedu nope, and there won't.

[2019-06-04 19:13] mrusme commented on #920
@moblesmarti could you open the web inspector / console in either of these browsers and maybe check if it shows any useful info?

Also: When was the last time you `docker pull`ed the images?

[2019-06-05 09:29] moblesmarti commented on #920
@mrusme Sorry to be heavy on the topic.

This is what I get in different browsers
![Chrome_error](https://user-images.githubusercontent.com/12881456/58945727-b2ff0100-8784-11e9-91c8-f3d817d91508.png)

And this is what I have in the docker
![Docker ps](https://user-images.githubusercontent.com/12881456/58945788-ce6a0c00-8784-11e9-9c71-fa912ec4c47a.png)

I have turned off and rebooted the image, but

[2019-06-05 10:12] moblesmarti commented on #920
I've researched in the logs docker and I've seen this:

**paperwork/service-gatekeeper:latest**
Running server on V4(0.0.0.0:8080)
Not found: Request { method: GET, uri: /, version: HTTP/1.1, headers: {"host": "api.paperwork.local", "user-agent": "curl/7.58.0", "accept": "*/*", "x-forwarded-for": "10.255.0.2", "x-forwarded-host": "api.paperwork.local", "x-forwarded-port": "80", "x-forwarded-proto"

[2019-06-06 22:28] mrusme commented on #920
[code]

This should not be the case, hm. Maybe there's some issue with networking on your machine? You could check `docker network ls` and see whether there was an encrypted overlay named `papernet` created. Also, you could try to `docker exec -it <id> /bin/sh` into any of the containers and check, if you can `ping` the other containers through their DNS namens (those should be the names that are

[2019-06-07 08:21] jnjhbdjhkn opened #921 "[Feature] Support i2p"
**Feature**: Make accessible via i2p.
**Why?**: Mainly for privacy and security, but also to promote decentralized communication.
**Related Links/How To**:
https://www.invidio.us/watch?v=2ylW85vc7SA

https://geti2p.net/en/about/media

https://geti2p.net/

https://www.wikipedia.org/wiki/I2p

[2019-06-07 08:21] #921 closed

[2019-06-18 18:15] mrusme commented on #920
The Paperwork demo is now running at [http://www.demo.paperwork.cloud](http://www.demo.paperwork.cloud), using the latest paperwork.yml from this repository. It's running on a pure Docker host, no magic configured whatsoever.

That's basically the proof that deployment works, locally on my Mac but also on a Linux server - exactly the way you appear to want to deploy it.

Please update all images a

[2019-06-18 18:15] #920 closed

[2019-06-18 18:15] mrusme commented on #919
[http://www.demo.paperwork.cloud](http://www.demo.paperwork.cloud)

[2019-06-18 18:15] #919 closed

[2019-06-19 10:44] moblesmarti commented on #920
I'm sorry, but it's still the same. I have created a new VM on my Proxmox server, clean, just Docker.
I have tried all the instructions that mention, and it seems that everything works correctly, so entering the VM IP indicates error 404, but the IP: 8080 works correctly.
Don't worry, I'll try the demo and when the software is finished, and I will return to fight me with this.

[2019-06-19 11:11] mrusme commented on #920
@moblesmarti I'm sorry to be unable to help you further on this topic. I see that you have some other components (Proxmox -> KVM?) in between, which might play into this topic. However, if you have the chance maybe give it a go on your local machine, using Docker Desktop.

[2019-06-23 12:04] catastrop opened #922 "question: which programming language this is written in ?"

[2019-06-23 15:31] #922 closed

[2019-06-23 15:38] catastrop commented on #922
@mrusme  Which language ?

[2019-07-27 18:38] DirectorX commented on #476
update?

[2019-07-27 19:03] mrusme commented on #476
Well, basically it goes like this: As soon as an iOS developer is willing to join the project, we'll be able to build an iOS client. 🤷🏻‍♂️

[2019-11-03 11:23] mrusme commented on #322
LaTeX support is now live in ngx-markdown! 👍 [Here](https://github.com/jfcere/ngx-markdown/issues/181) are the details on that.

[2019-11-07 17:58] mrusme commented on #322
Updated dependencies to the latest versions, meaning that ngx-markdown should now include LaTeX support. This is still open for testing though.

[2019-11-14 05:28] imp1sh opened #923 "Cannot see SMB share in open dialog"
I use Ubuntu 18.04.03 and since paperwork is not in the repos I installed it via flatpak. I import scans through open dialog. My workflow is that the scanner just dumps the scans onto an SMB share which I also mount in Ubuntu via default File Manager which is Nautilus IIRC.
This mount I cannot access at all in paperwork. This stupid mechanism of mounting it to /run/user/<<userid>>/gvfs and so fort

[2019-11-14 05:35] imp1sh opened #924 "Date format of system is not being used"
Paperwork installation Ubuntu 18.04.03 via flatpak. Date format is American, which I cannot change through interface. In Ubuntu a different time format is already chosen but not being used by paperwork.

**Describe the solution you'd like**
Either paperwork should just use the time format from the system or you should be able to set it in the GUI. I prefer first.

Ubuntu 18.04.03

[2019-11-14 10:29] mrusme commented on #923
You've mistaken us for [someone else](https://gitlab.gnome.org/World/OpenPaperwork), I'm sorry.

[2019-11-14 10:29] #923 closed

[2019-11-14 10:29] mrusme commented on #924
You've mistaken us for [someone else](https://gitlab.gnome.org/World/OpenPaperwork), I'm sorry.

[2019-11-14 10:29] #924 closed

[2019-11-20 17:55] BonaBeavis opened #925 "ValueError: Namespace Libinsane not available on start"
**Describe the bug**
Start fail with:

[code]

This is confirmed:
[code]

But:
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 19.10

[2019-11-22 08:30] jflesch commented on #925
Wrong project. The one you're looking for is here: https://gitlab.gnome.org/World/OpenPaperwork/paperwork/
And the up-to-date documentation you're looking for:  https://gitlab.gnome.org/World/OpenPaperwork/paperwork/blob/master/doc/install.debian.markdown

[2019-11-23 10:29] #925 closed

[2020-03-29 11:45] mrusme opened #926 "Don't load Material Icons from Google's Font servers"
Currently the web UI loads its Material icons from Google:

[code]

We need to change that so that it retrieves those from our own assets.

[2020-05-08 06:42] garanews opened #927 "Edit button duplicate text"
**Describe the bug**
every time pressing edit button, all text is being duplicated

**To Reproduce**
press new note
write something in title,tag,text
press edit many times as you want

**Expected behavior**
Nothing

**Screenshots**
![image](https://user-images.githubusercontent.com/16938405/81378443-9c38fb00-9107-11ea-8ae2-6b41b39f65b9.png)

![image](https://user-images.githubusercontent.com/16938

[2020-05-08 07:19] garanews opened #928 "Sharing note between users not working"
**Describe the bug**
Sharing a note between users is not working

**To Reproduce**
Steps to reproduce the behavior:
create note
press share, select the other user
on the other user the note is not appearing (I waited 30mins)

**Expected behavior**
the note must be available on the other user

**Screenshots**

![image](https://user-images.githubusercontent.com/16938405/81381321-cccf6380-910c-11ea-8

[2020-05-08 07:31] garanews opened #929 "delete button on all note list not working"
**Describe the bug**
Delete button on all note list doesn't delete note, need to select single note and use the other delete button

**To Reproduce**
Steps to reproduce the behavior:
create note
go back on note list
select note and press delete button
refresh page and note is still there

instead if open note and use the delete button there, it works.

**Expected behavior**
Delete button not all n

[2020-05-08 07:54] garanews opened #930 "Http failure after timeout"
**Describe the bug**
after a while of inactivity the http failure response message appear

**To Reproduce**
login
wait a while
get error and system not usable
deleting cookies and browser cache doesn't help

**Expected behavior**
manage the logout session

**Screenshots**
![image](https://user-images.githubusercontent.com/16938405/81384018-5aad4d80-9111-11ea-8e16-9885ef6eaf03.png)

[2020-10-13 19:59] yowilfre82 commented on #925
i fallow this steps , but the result is the same, im still getting the error

[2020-10-13 20:07] yowilfre82 opened #931 "ValueError: Namespace Libinsane not available"
**Describe the bug**
 when run paperwork command

Traceback (most recent call last):
  File "/usr/local/bin/paperwork", line 5, in <module>
    from paperwork.paperwork import main
  File "/usr/local/lib/python3.6/dist-packages/paperwork/paperwork.py", line 54, in <module>
    gi.require_version('Libinsane', '1.0')
  File "/usr/lib/python3/dist-packages/gi/__init__.py", line 130, in require_versio

[2020-10-14 00:28] mrusme commented on #931
This is the wrong project. You're looking for https://gitlab.gnome.org/World/OpenPaperwork/paperwork.

[2020-10-14 00:28] #931 closed

[2021-03-17 09:30] gddblo opened #932 "Wizard problem at step 4"
**Describe the bug**
The setup wizard procedure stops at step 4 and does not proceed towards the request for the first access credentials.

**To Reproduce**
Steps to reproduce the behavior:
1. .../paperwork/frontend/public
2. Click on "NEXT"
3. verify the dependence if ok (and it's ok)
4. Click on "NEXT"
5. MySQL login credentials are required; input them and Click "Check Credentials";
6. click on

[2021-04-16 14:49] davidjeba opened #933 "Create Paperwork app on Cloudflare"
It would be great if you can release an app on cloudflare workers
https://developers.cloudflare.com/workers/tutorials

which can be embedded into any CMS/Pages etc

[2021-09-21 00:58] HubKing opened #934 "Live demo site, dead?"
I would like to test it without going through the hassle of installing/configuring it, but the site seems to be dead. Is it temporary or is the live demo no longer available?

[2021-09-21 04:04] mrusme commented on #934
Correct, the live demo site is dead, just like the project itself basically.

[2021-09-21 04:04] #934 closed