[2014-09-27 21:53] devilx opened #3 "Attachments API should create a new version for each new upload"
Each attachment upload should result in a newly created version of the note, in order to have a nicely browsable history.

[2014-09-28 21:03] mrusme opened #4 "Write tests"
No tests available. Write unit tests & introduce frontend tests.

[2014-11-19 09:00] volkerpfosten opened #12 "Export function"
Hey!

are there any plans for implementing an export function in nearer future? Since I see me updating quite frequently, I want to backup my notes outside of the server environment.

best regards!

[2014-12-01 00:59] geekmuse opened #13 "Evernote Import Fails Silently"
Hi,

First off, thanks for such an excellent project -- I think it's great, much-needed, and highly desirable for folks who love the Evernote concept but don't want someone else holding all of their data for them.

I've installed the latest release on my own server (CentOS 6.5), gotten it stood up, and everything seems to be running well.  I've exported my Evernote ENEX file and tried importing it

[2014-12-13 10:36] devilx opened #14 "Notes moving via drag & drop"
It should be possible to move notes by selecting and dragging/dropping them onto the notebooks-sidebar.

[2014-12-13 10:37] devilx opened #15 "Collections"
Technically, collections are possible. The thing is, that there is no way to create/edit these collections. Right now, it's impossible to move notebooks into others and by that form a new collection - because that's what collections actually are: Empty notebooks containing more notebooks.

The thing is, that collections can not contain any notes - only notebooks. So if someone would create two not

[2014-12-13 10:37] devilx opened #16 "Tag setting via drag & drop"
Allow the user to tag notes by dragging a tag and dropping it into the notes list on the specific note.

[2014-12-13 10:38] mrusme opened #17 "Clean up angular.js code"
The Angular.js code is yet pretty unstructured and not DRY enough. This should be cleaned soon.

[2014-12-13 10:39] devilx opened #18 "Notebooks sharing with other Paperwork-users"
It should be possible to share notebooks with other Paperwork-users. Therefor, a dialog/page is needed, which lets the user invite someone else to a notebook and define his/her permissions.

[2014-12-13 10:40] mrusme opened #19 "Write acceptance tests (mink/behat)"
Write acceptance tests, maybe in mink/behat?

[2014-12-13 10:40] mrusme opened #20 "Implement ARIA support"
As far as possible.

[2014-12-13 10:42] mrusme opened #22 "Implement SJCL and allow client-side note encryption"
Using SJCL (http://bitwiseshiftleft.github.io/sjcl/) Paperwork could allow client-side, JavaScript note encryption, so that every note-content could be transferred and stored encrypted within the back-end.

This probably wouldn't work for all notes, like for example shared ones, but we could at least allow the user to specifically encrypt notes separately (not by default!), using a specific per-no

[2014-12-13 10:44] mrusme opened #23 "Build ckeditor theme using paperwork-v1-variables.less"
Integrating the ckeditor better into Paperwork by adapting its look & feel to its surroundings. However, this should be built in a way, that every theme is able to theme the ckeditor itself.

[2014-12-13 10:45] mrusme opened #24 "Add contextual menus"
Each note in the listing may have a contextual menu, using this: https://github.com/ianwalter/ng-context-menu

There was @rguedes working on this, afaik, but I'm not sure whether he's still actively contributing here.

[2014-12-13 10:46] mrusme opened #25 "Document language recognition/guessing?"
Right now, there's a "languages" feature implemented, which allows the user to define, in what kind of languages the documents he usually uploads are written in. Under "Settings", each Paperwork user can select the languages he'd like Paperwork to support for his account.

This was being implemented, so that tesseract can be called with the according language option, which helps OCR.

Now, this is

[2014-12-13 10:46] mrusme opened #26 "API for sharing notebooks to other Paperwork-users"
Build APIs that allow sharing of notebooks with other Paperwork-users. The database layout is prepared for this feature and allows multiple many-to-many relations from notebooks to users, containing an "umask" column as well, which defines the users permissions on the related notebook. The values are identical to unix' chmod-values, with read adding 4, write adding 2 and ownership ("execute" in un

[2014-12-13 10:46] mrusme opened #27 "Idea: Implement WebDAV interface using sabre"
Here's an idea: How about Paperwork would implement a WebDAV interface using sabre (https://github.com/fruux/sabre-dav), which would allow working with Notes and Notebooks as they were files and folders?

Further thoughts: - How would attachments to notes appear? Would they appear at all?
- What would be the difference between a Notebook enclosing Notes and a Collection enclosing Notebooks only, f

[2014-12-13 10:48] devilx opened #28 "Provide LDAP authentication"
Paperwork needs to be configurable to allow admins to integrate it with their existing LDAP/AD infrastructure. Therefor, the user authentication back-end needs to be adapted to use some sort of Laravel-Ldap extension.

[2014-12-13 10:48] mrusme opened #29 "Write user help"
The user help should be written. The format for that is regular markdown with some specialities regarding URLs. Please refer to the current help page, to get more info.

[2014-12-13 10:49] devilx opened #30 "i18n / Translations"
It would be cool to have Paperwork translated in different languages. i18n functionalities are already available, we only need people who could translate the files contained in app/lang/<language-code>/*.php into other languages.

[2014-12-13 10:49] devilx opened #31 "Find a beautiful, responsive WordPress theme for http://paperwork.rocks"
~~Actually it doesn't necessarily need to be a GitHub page - I could set up a WordPress or whatever, so we could build the new http://paperwork.rocks page on there. We just need some nice-looking theme (maybe similar to Paperwork's, even though it's not a final theme).~~

[2014-12-13 10:50] devilx opened #32 "Write admin documentation (how to set up & update Paperwork)"
As the title says.

[2014-12-13 10:52] mrusme opened #33 "Define "brand" colors & logo"
A set of brand colors needs to be defined for Paperwork. The current colours were picked from http://www.google.com/design/spec/style/color.html#color-color-palette but I'm not sure if they fit the project, from an UI design aspect. The current logo was just something I drew to at least have a logo and surely could be done better.

This issue should be considered first, before working on #35, #36

[2014-12-13 10:54] devilx opened #34 "Reconsider fonts"
So far Lato was being used on the web, until I found out that for example the Mozilla Firefox had issues loading the font files. However, I'm not sure, whether it's the perfect font to be used for this topic, though. And I don't know about the native clients as well. Maybe there's a better (in the sense of overall appearance and readability) font that could be used on the web?

[2014-12-13 10:55] mrusme opened #35 "Define a common UI/common shapes that should be used on the web and on the native clients"
A common UI with common shapes needs to be defined, which could be used on the web as well as with the native (mobile/desktop) clients, in order to give Paperwork an nearly equal look on each platform.

This issue depends on #33.

[2014-12-13 10:55] mrusme opened #36 "Define a common look of desktop clients"
After the common UI/common shapes are being defined, there needs to be a common look (and feel) of the desktop clients defined. A user that has used the Linux client before, shouldn't have any issues using the Mac or Windows client.

This issue depends on #35 and should be worked on hand-in-hand with #38.

[2014-12-13 10:55] mrusme opened #37 "Create a "color blind" / "debility of sight" mode"
As the title says.

[2014-12-13 10:58] mrusme opened #38 "Define a common look of mobile clients"
After the common UI/common shapes are being defined, there needs to be a common look (and feel) of the mobile clients defined. A user that has used the Android client before, shouldn't have any issues using the iOS or WP client.

This issue depends on #35 and should be worked on hand-in-hand with #36.

Guidelines

Use elements from existing/competing apps so that people can easily adapt. (Evernote

[2014-12-13 11:05] mrusme opened #39 "Concept: Search"
Someone needs to think of a good concept for search. Here are some thoughts on that topic:

Should search be implemented right into the MySQL database or should an Elasticsearch (or whatever) be used? This decision would have a huge impact on the overall complexity of Paperwork. Therefor, maybe abstract the implementation allowing the administrator to decide, whether he'd like to stick with the si

[2014-12-22 01:42] jamesrascal opened #40 "Auto Save & Back option."
Autosave feature would be wonderful! That is one of the features of the evernote that I really like.

Having the option to create a nightly backup would also be very nice to have.

[2015-01-02 14:36] Liongold commented on #12
Can you show me an export of multiple notebooks please?

[2015-01-02 14:42] devilx commented on #12
It turned out Evernote can't export multiple notebooks at selectively. You can either export the notes from one notebook or *all* the notes available.

I can't demonstrate the latter since I'm - unfortunately - having sensitive data in Evernote. Please create a test account on evernote.com and try it out.

[2015-01-02 15:25] Liongold commented on #12
I've opened a pull request for this feature. It's at pull request #41. Could you please check it out and comment since it's my first Laravel code?

[2015-01-03 12:08] devilx commented on #40
@jamesrascal A thought on the auto-save feature:

You open your note and unintentionally delete half of it. That is a change you wouldn't want to be auto-saved. How would Paperwork "recognize" unintentional things and not auto-save them?

[2015-01-03 22:34] devilx opened #43 "Enhance "Move Note" dialog"
The current "Move Note" dialog looks weird to someone who doesn't know what it does:

![screen shot 2015-01-03 at 23 32 12](https://cloud.githubusercontent.com/assets/151967/5603990/dd955d92-93a0-11e4-8b36-5df9a70b4332.png)

At least one info text should be added above the list of notebooks, so the user understands what he could do with this.

[2015-01-03 23:21] jamesrascal commented on #40
That wouldn't be a problem as version control is already built into paperwork.

[2015-01-04 19:14] devilx commented on #40
@jamesrascal the current "version control" only allows users to view but not recover to previous versions. Besides, depending on how often the auto-saving would occur, the user might end up with a dozen version for each note. I'm not sure yet, how this auto-saving feature should be implemented best, but I'm open to any good ideas!

[2015-01-04 20:10] jamesrascal commented on #40
@devilx I think the best way would to save to a temp file (sort of the way MS office does it). Then the data being inputted would be saved to a temp file of sorts. When the user saves the file it would delete the temp file in favor of the newly saved version. But if the browser is closed without save the note and re-opened at a later time a message should be presented to the user something like.

[2015-01-06 18:25] devilx opened #45 "Implement "Add to homescreen""
As described [here](https://developer.chrome.com/multidevice/android/installtohomescreen), some things still need to be added to the HTML structure of the layouts and some icons need to be included in order to allow users to add Paperwork (the mobile website) to their homescreens.

[2015-01-06 19:35] mrusme opened #46 "Fix mobile web-ui"
The mobile web-ui currently doesn't neither look nor work the way it should. While browsing from a smartphone, Paperwork should be acting a lot more like a native app. Not sure yet, what the best ui design for this would be, though. It even might be better to use Polymer (or something else) instead of pure Bootstrap to build the mobile UI, although this would result in having a separate mobile lay

[2015-01-06 19:43] mrusme opened #47 "ckEditor does not apply styles correctly"
It looks like the ckEditor sometimes messes up with the styles, resulting in weirdly displayed elements. Test and check all kind of styles within the ckEditor.

[2015-01-06 19:45] devilx opened #48 "Image width within notes shouldn't be wider than the note viewing-frame"
Big images that are being included in notes should never show up wider than the view-frame they're displayed in and by that result the note to scroll horizontally. This needs to be fixed by using CSS styling within the note viewing-frame.

[2015-01-06 19:48] mrusme opened #49 "Use first linked image as preview within the notes list (2nd column)"
The notes list (second column of the three: [notebooks list][notes list][note view]) needs to be extended to allow displaying an square image on the right quarter of the list entries.

Paperwork then should always display the first image it finds within a note in that image-square. By that, we give the users the ability to find the right now by checking the images within the notes list and, what's

[2015-01-06 19:53] devilx opened #50 "Tagsinput should not only create tags on keypress ("enter") but also on "blur" (focus-out)"
Currently, the [bootstrap-tagsinput](https://github.com/TimSchlechter/bootstrap-tagsinput) by @TimSchlechter only creates tags when the user actually presses the "enter"-key. If he should just click somewhere else on the UI, the tag is not being created, remains pure text and therefor isn't being saved.

Now, this isn't something that needs to be fixed within Paperwork (but could be, although it w

[2015-01-06 19:56] devilx opened #51 "Hide unparsed AngularJS variables on page load"
Paperwork needs to hide the "ugly" AngularJS variables on page load, until there's real content inside of them. My quick try with adding `ng-cloak` didn't work the way I expected. Maybe some AngularJS expert knows the reason / a working way?

[2015-01-06 19:58] devilx opened #52 "Start with a filled notebook with tips for each new user"
Each new user should see at least one pre-created and pre-filled notebooks with tips on how to use Paperwork. Currently, when a new user registers, he sees nothing but an empty interface.

[2015-01-06 20:01] mrusme opened #53 "Implement a "guided tour through Paperwork""
To make it even more easy for users to start using Paperwork, something like a "guided tour through Paperwork" would be cool. This should be something similar to what other services do: A message right at the beginning, asking the user whether he'd like a guided tour. If the user accepts, bubble-tooltips should pop up above the UI, showing the user the most important features of Paperwork. These t

[2015-01-06 20:09] devilx commented on #31
I've set up a WordPress and currently [looking for a theme donor](https://twitter.com/paperworkrocks/status/552206265418776576), who'd like to provide Paperwork with a cool WordPress Theme for free, in return for logo/sponsoring placement on paperwork.rocks. If anyone is into WordPress theming, I'd love to hear from you!

[2015-01-06 20:28] mrusme opened #54 "Migrate to Laravel 5"
This isn't something that needs to be done now, nor tomorrow, nor in a month - it's more of a backlog task that needs to be done someday, when Laravel 5 became available and got mature enough to be used in production.

[2015-01-06 21:08] mrusme opened #55 "Admin role"
Paperwork needs to include an admin role which can be set on users, in order to allow an "Admin" account with additional views containing full user lists with management actions and other administrative features.

Idea 1: Automatically make the very first user an admin user and by that allow him to promote other users. This requires a table-structure change of either the `users`\- or the `settings

[2015-01-06 21:18] mrusme opened #56 "Admin web front-end"
As soon as #55 was implemented, an administrative web front-end could be built. For that, an additional menu-entry in between of "Settings" and "Help" could appear, as soon as the user has admin rights.

The admin area could contain initially of the following features:
- User management:
  - Listing all registered users
  - Showing information about each individual user (account data, usage, accou

[2015-01-06 21:26] mrusme opened #57 "Theme choosing"
Implement a per-user theme chooser within the settings, that allows users to switch the theme that's being used on Paperwork only for them.

There should be a setting within `/app/config/paperwork.php` that allows disabling the theme selection and setting one specific theme as default for all users.

The theme chooser should simply scan the `/public/css/themes/` folder and list all available theme

[2015-01-06 21:57] devilx opened #58 "Switch to bower?"
Not sure, whether it would be a good idea to switch to Bower for managing all JavaScript libraries needed and (currently) maintained manually within `/app/js/`.

What are the pros and what are the cons of switching to Bower?

[2015-01-06 22:21] mrusme opened #59 "Client-side caching & push refreshes"
Currently, on every click, for example on a notebook, an API call is being executed, that gets the latest data from within that notebook and displays it in form of a notes list. This leads to quite some delay while browsing through a thinner network connection (e.g. a tethered phone on 3G).

A better way to solve this would be to allow client-side caching of notebook/note/version-data and only upd

[2015-01-06 23:48] mrusme opened #60 "Conflict handling"
Paperwork needs to implement some kind of conflict management.

_Scenario 1:_
Paul has shared a notebook with Melinda. Paul opens up a note from that notebook to edit it. Melinda opens it as well, while Paul is still editing and also begins editing. A conflict of different versions needs to be handled, every time one of them clicks on the "Save" button.

_Scenario 2:_
Paul opens a note for editing

[2015-01-06 23:53] mrusme opened #61 "Quick-import URL/API"
For a future Chrome/Safari/Firefox extension, that's similar to Evernote's Webclipper, a quick-import URL or API needs to be provided by Paperwork, where the extension could send the currently active website to, including some additional information about the note title, the notebook to save it in, etc.

This feature probably depends on the implementation of #21, since it wouldn't be save to save

[2015-01-06 23:56] devilx opened #62 "Paperwork Chrome/Safari/Firefox extensions"
Extensions for quickly importing a website (full, partially or as bookmark/link-only) into Paperwork, just like Evernote has with their Webclipper extensions. This feature depends on #61 and #21.

[2015-01-06 23:59] devilx commented on #37
With the new structure, this can basically be just another theme. Before this can be build, #57 needs to be implemented. After that, a "color blind"/"debiity of sight"-friendly design needs to be created and implemented.

[2015-01-07 00:04] devilx commented on #40
@jamesrascal sounds like a good way to go. This "temp file" could be implemented easily in the browser's LocalStorage, to reduce roundtrip times and network data usage. In fact, the CKEditor Paperwork is using already provides such a plug-in: http://ckeditor.com/addon/autosave

I will check out how to include this into Paperwork.

[2015-01-07 00:08] devilx commented on #32
@DeviantEng already wrote a blog entry on installing Paperwork on CentOS 7. Also did I extend the `README.md` be more specific regarding installation and updating. Still, Paperwork lacks of an official Help-page (`/app/help/...`) dedicated to this topic.

[2015-01-07 08:45] mrusme opened #63 "OTP/Two-Factor login implementation"
Paperwork should provide OTP/Google2FA authentication if demanded. By using a PHP package like [this one](https://github.com/antonioribeiro/google2fa), implementation of Google's "Authenticator" should be fairly easy.

This should only be done for the web login, as the API login will be switched to OAuth2 sometime in future (#21).

[2015-01-07 11:36] mrusme opened #64 "API webhooks"
Paperwork should implement webhooks into its API, so third-party clients could use these to receive information on for example new notes or note changes. This issue depends on #21 in order to be able to assign a thrid-party app with its webhooks and allow the administrator to check its API use and perform administrative tasks (rate limit, block) on it.

[2015-01-07 11:37] mrusme opened #65 "Partner with IFTTT"
To fill the gap between Paperwork as a private-hosted software and the rest of the cloud services people use, we could [partner with IFTTT](https://ifttt.com/platform). This would allow people to set up rules for automatically importing all kind of data into their self-hosted Paperwork, but also export data from Paperwork to other services.

This idea is a big task, depending on some others: #21,

[2015-01-07 16:05] cweagans commented on #31
I would suggest not using Wordpress for the simple reason that Github pages only needs to be maintained insofar as you have to update content periodically. Wordpress has security patches and the like. It's not a good use of time to deal with that kind of stuff, IMO.

We took this approach with neovim.org and we're very happy with the workflow.

[2015-01-07 18:17] devilx commented on #31
@cweagans thank you for your feedback! You are totally right with what you said regarding WordPress' security flaws compared to GitHub pages and also regarding the time it takes to build a full project side on top of a WP.

On the other hand, WordPress allows to do things you can hardly do with GitHub pages out of the box: Integrating with social channels, providing blog-functionality and permit b

[2015-01-07 18:24] cweagans commented on #31
You can blog with Github Pages, and you can have users interact via Disqus or similar if necessary, and you can generate an RSS feed with Github Pages for IFTTT to consume, which can then push your content to Facebook/Twitter/pretty much anywhere else. Anyways, this is just my $0.02. We considered Wordpress for Neovim.org and it was just too much of a headache, and we eventually got to the point w

[2015-01-07 19:37] devilx commented on #12
#41 was implemented by @Liongold and just merged into master. @volkerpfosten if you'd like, feel free to update & test.

[2015-01-07 19:50] devilx commented on #3
This was pretty much fixed by allowing the user to choose when new versions are being created by simply pressing the "Save" button. Using a content check, Paperwork knows whether to create a new version or not. All attachments uploaded will then be attached to the latest version of the current note.

[2015-01-07 19:50] #3 closed

[2015-01-07 19:54] Liongold commented on #59
Do you really think adding a node.js requirement is required for this?

[2015-01-07 19:56] Liongold commented on #52
I can take care of this.

[2015-01-07 20:08] devilx commented on #59
@Liongold it's not required, but I don't know of any other read-to-use Comet-like setup that would be more convenient. With Socket.io the "push"-part would work out of the box. And it would be lot easier to set up and maintain than by using APE-Project or any other. Besides, we already have a ton of JavaScript onboard - Node.js wouldn't be as much of "another tech" within Paperwork.

However, I'm

[2015-01-07 20:12] devilx commented on #52
:+1:

One thing you need to keep in mind: Localisation. If the user-language was set to French upon registration, the pre-filled notes should also be written in French of course.

[2015-01-07 20:18] devilx commented on #18
Before the UI can be built, an API needs to be implemented -> #26.

[2015-01-07 20:20] jamesrascal commented on #56
The addition of a one click "upgrade" option would be nice.

[2015-01-07 20:36] devilx commented on #56
@jamesrascal :+1:

[2015-01-07 21:16] devilx commented on #40
Auto-saving should work now. However, there's an issue with the auto-saving plugin, which I already reported [here](https://github.com/w8tcha/CKEditor-AutoSave-Plugin/issues/38).

[2015-01-07 21:16] #40 closed

[2015-01-07 21:39] devilx commented on #12
@Liongold could you check your code? I just tested it and found an issue:

Undefined variable: attachments (View: /Users/devilx/Projects/paperwork/frontend/app/views/user/settings/export_file.blade.php)

I took a look into the file and found something weird:

``
    @if(isset($tags))
    @foreach ($attachments as $attachment)
        <en-media type="[[ $attachment['mimetype'] ]]" hash="[[ $attachm

[2015-01-08 11:30] Liongold commented on #12
Apologies for that issue. It should check for $attachments. I'll do it as
soon as possible.

--
Sincerely,
Jean Spiteri.

[2015-01-08 17:37] Liongold commented on #12
Can you check it now, please?

[2015-01-08 20:41] devilx commented on #12
Looks good now! Thank you!

[2015-01-08 20:41] #12 closed

[2015-01-09 04:14] jamesrascal commented on #32
I created a guide for Ubuntu/Debian that would help and beginner deploy it on a clean server.

[Wiki Link] (https://github.com/twostairs/paperwork/wiki/Installation---Ubuntu-Debian)

I am working on writing a guide for additional OS support.

[2015-01-09 04:51] jamesrascal commented on #53
To start this could be added as a "default" note. So when you register you have a note with an overview of what Paperwork is and how to use it.

[2015-01-10 11:39] devilx commented on #32
@jamesrascal hey, that's cool! Thank you! I'll publish that on the Paperwork social media channels.

[2015-01-10 11:45] devilx commented on #32
@DeviantEng maybe you could help out with that CentOS part, since you've already blogged a great documentation there?

[2015-01-10 12:44] mrusme opened #66 "Peering / selective sharing"
Here's one idea I had, which could allow Paperwork users to share data with each other but still keep their data private.

Paperwork should provide some peering feature, that would allow the service to communicate with other Paperwork installations. Of course, all Paperwork installations therefor would need to be reachable by each other (fixed IP/domain name, VPN, etc.). However, the "peering" sho

[2015-01-10 13:06] Liongold commented on #52
I've done some text. Any comments?

*Welcome to Paperwork (tag:welcome stored in notebook Welcome)*
Hi there, welcome to Paperwork, the open source note-taking solution. This is your first note and we'd like to explain to you some features we hope you'll find very interesting.

Notes

Notes are the basic form of writing in Paperwork. Notes are saved inside notebooks. You already have one named 'We

[2015-01-10 13:09] Liongold commented on #52
Do you think something in this format (one note) could work or better have multiple notes? Personally, I prefer this 1-note format.

[2015-01-10 13:17] devilx commented on #52
That sounds good, even though I'm not a native speaker/writer. Maybe we can get the text corrected by a native english speaker? As soon as it has gotten to its final form, I can provide a german translation for that.

Personally I think the "1-note format" is good. The user would have one Notebook pre-added containing this one note, right? Also he'd have one tag ("welcome") available. I think that

[2015-01-10 13:56] Liongold commented on #52
Thanks. It would be nice to add that feature you mentioned (the click and focus) but I think they could disrupt the actual reading of the note. Anyway, if we do this how will it be done? For example, can it be done by adding the code in the note source? If yes, I have enough knowledge of Javascript to do it.

[2015-01-10 14:20] Liongold commented on #52
Also, I don't know if it's even possible technically but I'll assume it is. Do you think we should check the signup language and add the note in the database directly or add the note in a form that can be then accessed in the language current of the user (even if he changes it - something like what is done for strings Lang::get)?

[2015-01-10 16:15] DeviantEng commented on #32
@devilx If I find the time this week, I'll port over my blog to a wiki page here.

[2015-01-11 09:26] devilx commented on #32
Thank you in advance!

[2015-01-11 09:35] thompsonson opened #67 "Window shopping"
Hi,

Just a quick note to say that the concept sounds good but I can't really see the screenshots and the demo requires registration... Maybe worth making it a bit more accessible.

Matt

[2015-01-11 09:47] devilx commented on #67
Hi @thompsonson,

thank you! What's the problem with the screenshots? Could you make a screenshot of how it looks for you? Could you right-click one missing image, copy the URL and paste it in here?

The demo requires registration since the product itself is depending on a register user. However, you can enter whatever data you want there, as the registration won't send any e-mails nor will it sto

[2015-01-11 09:55] devilx opened #68 "Check for JS code within note upon saving and ditch it"
It shouldn't be possible to add any kind of executable code (e.g. JS) through the note editor into the note. The saving functionality should check the note content for executable code and ditch either the executable part or maybe even the whole note, with an additional error message displayed to the user.

[2015-01-11 10:11] devilx commented on #52
Basically it's possible to add code to the content of a note, although I don't think it will be executed, since the note-view is being built dynamically through AngularJS and only interprets the HTML, but (from what I know) no JavaScript code at all. However, this discussion made me add a new issue: #68 - even though the code from within a note probably wouldn't be executed, we need to check for s

[2015-01-11 10:28] devilx opened #69 "Fix password reset feature"
The password resetting feature currently does not work properly.

[2015-01-11 10:52] Liongold commented on #69
Do you exactly know what is the problem?

[2015-01-11 10:53] Liongold commented on #68
How about only showing an error and not saving? (and not reloading the page so nothing is lost).

[2015-01-11 10:54] Liongold commented on #67
Can't there be a sort of demo account?

[2015-01-11 10:58] Liongold commented on #52
You're right. Will check out about the Js stuff.

[2015-01-11 11:23] devilx commented on #67
Well, there could be, although due to quite often database changes in this early stage of development, we would need to permanently adapt this test-account as well. This would result in just another task we would need to take care of when touching the database structure.

Besides, I honestly think that if somebody is really interested in testing Paperwork, it's not a big deal filling out a few inp

[2015-01-11 11:24] devilx commented on #68
Yupp, that would work, I think.

[2015-01-11 11:24] Liongold commented on #67
Maybe something after 1.0?

[2015-01-11 11:26] devilx commented on #69
As far as I remember, the regular Laravel functionality for resetting a user's password expects a username, while we only use an e-mail address as userid. Therefor, we'd probably need to rebuild this feature on ourself.

[2015-01-11 11:33] devilx commented on #67
Well, sure, if this will be a much requested feature after the 1.0 release, we might surely implement some "demo" account, that's free-for-all. With the 1.0 our database layout *should* definitely be more stable.

[2015-01-11 13:31] Liongold commented on #69
Possible cause: https://github.com/laravel/framework/blob/4.2/src/Illuminate/Auth/Reminders/RemindableTrait.php

[2015-01-11 14:01] Liongold commented on #69
Possible starting point: https://github.com/laravel/framework/blob/4.2/src/Illuminate/Auth/Reminders/RemindableTrait.php#L12

[2015-01-11 14:03] thompsonson commented on #67
Hi,

Cheers for the quick response. I’ve attached to the email - not sure if it’ll work, will post somewhere else if not.

regarding the demo account i must say I’m guilty of a quick scan and then just clicking the link; not really reading anything about the DB or requirements.

Regards,
Matt

[2015-01-11 14:04] devilx commented on #67
@thompsonson unfortunately no attachments came through. Could you upload them either on GitHub or somewhere else and link them? Thank you!

[2015-01-11 14:06] thompsonson commented on #67
will do

[2015-01-11 21:18] thompsonson commented on #67
I've uploaded it to http://i59.tinypic.com/sfxndf.png - hope that is viewable.

Matt

[2015-01-11 21:32] devilx commented on #67
Transferred your Screenshot to github.
![sfxndf](https://cloud.githubusercontent.com/assets/151967/5696921/93ddfff0-99e1-11e4-9ffd-75a520746b58.png)

So what exactly is the issue here? You're actually seeing the screenshots. :-)

[2015-01-11 21:34] thompsonson commented on #67
Yes, sorry was’t clear i guess. Images are there just that i can’t read anything on them.

Matt

[2015-01-12 18:21] jamesrascal opened #70 "Add option in profile to change email address"
Currently the only way to change a users email address is by updating the database. The profile tab has an option to update the password but not the email.

[2015-01-13 05:51] jamesrascal opened #71 "Add PDF export of individual notes"
Add the ability to create a PDF from an individual note.

[2015-01-13 09:42] devilx commented on #70
Info: This feature should be implemented with keeping in mind, that sooner or later, LDAP authentication needs to be added.

[2015-01-13 16:16] devilx commented on #59
Just found another possibility we could use, instead of pure Node.js/Socket.io: http://autobahn.ws/js/
That's an implementation of the WAMP: http://wamp.ws/

[2015-01-16 01:40] rzippert opened #72 "No File and Edit menus available on clean install"
Hello.

I've found Paperwork really interesting and tried to install it on my own server. It's an ArkOS server that runs nginx and mariadb. I were able to install it without much trouble but I'm unable to create any new note as both the File and Edit menus are not shown to me. Only the Paperwork logo and text appear on the left side of the top panel. Everything else that should work seems to be wo

[2015-01-16 08:07] Liongold commented on #72
Do you get any errors in your browser's console?
On 16 Jan 2015 02:40, "rzippert" <notifications@github.com> wrote:

[2015-01-16 15:46] rzippert commented on #72
My full console (I'm using firefox nightly as it's the only way I could get the log in english here):

Expected media feature name but found '-webkit-transform-3d'. paperwork-v1.min.css:5857:32

Expected 'none', URL, or filter function but found 'alpha('.  Error in parsing value for 'filter'.  Declaration dropped. paperwork-v1.min.css:5917:10

[2015-01-16 18:40] Liongold commented on #72
Since you're on Firefox, can you show the Network tab as well, please?

[2015-01-16 20:30] rzippert commented on #72
I've just erased my site's URL:
![network](https://cloud.githubusercontent.com/assets/2091971/5783795/2b82bc30-9dbe-11e4-8f62-068adb6a562c.png)

I do not have those api and template folders it is looking for. Tried to rebuild the whole thing with composer but there's no folders still... Did I forget to install something?

[2015-01-16 20:44] Liongold commented on #72
Did you set up the paperwork folder to be the public root folder? In other words, is the paperwork URL similar to domain.com/paperwork or domain.com only.

[2015-01-16 20:53] rzippert commented on #72
Yes it is. The public folder is the root and the index file is index.php... It doesn't open index.php automatically when I try opening the URL. I have to type manually the URL/index.php...
A little weird, but could that be related?

[2015-01-16 20:58] Liongold commented on #72
Do you have mod_rewrite enabled? Did you fix the problem?

[2015-01-16 20:59] rzippert commented on #72
I don't know what that mod_rewrite is. Is it a php configuration?
No, the problem persists.

[2015-01-16 21:01] Liongold commented on #72
It's a sort of PHP/Apache add-on. Can you try the answer in this question: http://stackoverflow.com/questions/9021425/how-to-check-if-mod-rewrite-is-enabled-in-php ? to test whether you have it or not? If you don't have it, can you try installing it?

[2015-01-16 21:06] rzippert commented on #72
Actually, it's running on nginx. Is this applicable?

[2015-01-16 21:06] jamesrascal commented on #72
What does your nginx config look like?

[2015-01-16 21:10] rzippert commented on #72
########### nginx.conf
	#user  nobody;
	worker_processes  1;

	#error_log  logs/error.log;
	#error_log  logs/error.log  notice;
	#error_log  logs/error.log  info;

	#pid        logs/nginx.pid;

	events {
		worker_connections  1024;
	}

	http {
		server_names_hash_bucket_size 64;
		client_max_body_size 100M;
		include       mime.types;
		default_type  application/octet-stream;

		#log_format  main

[2015-01-16 21:11] jamesrascal commented on #72
Can you also post the config you configured under /etc/nginx/sites-enabled/

[2015-01-16 21:14] rzippert commented on #72
Faked the port and urls:

	server {
		listen 6789 ssl;
		server_name url1 url2 url3;
		root /srv/http/webapps/paperwork/frontend/public;
		index index.php;

		location ~ ^(.+?\.php)(/.*)?$ {
		    include fastcgi_params;
		    fastcgi_param SCRIPT_FILENAME $document_root$1;
		    fastcgi_param PATH_INFO $2;
		    fastcgi_pass unix:/run/php-fpm/php-fpm.sock;
		    fastcgi_read_timeout 900s;
		}
		s

[2015-01-16 21:18] rzippert commented on #72
To illustrate a little better what is happening:

![captura de tela de 2015-01-16 19 17 06](https://cloud.githubusercontent.com/assets/2091971/5784570/30b73832-9dc5-11e4-8c87-e85a022542ea.png)

[2015-01-16 21:21] jamesrascal commented on #72
Add this to in the server block to your config  under /etc/nginx/sites-enabled/
    location / {
                try_files $uri $uri/ /index.php;
        }

[2015-01-16 21:27] rzippert commented on #72
You're a magician! It works! Thanks!
What does this block means?

[2015-01-16 21:39] jamesrascal commented on #72
Checks for the existence of files in order, and returns the first file that is found. A trailing slash indicates a directory - $uri /. In the event that no file is found, an internal redirect to the last parameter is invoked.

http://wiki.nginx.org/HttpCoreModule#try_files

(That is the best answer I can find for you)

[2015-01-16 21:39] jamesrascal commented on #72
(This issue is now resolved and can be closed)

[2015-01-16 21:58] #72 closed

[2015-01-17 21:34] twoSeats commented on #67
@devilx i would guess that @thompsonson would have preferred a popup of some sort to show the image in it's full size. @thompsonson the image is viewable in full size if you right click and view image though.

[2015-01-18 03:20] joshlemer opened #74 "Selecting a different notebook (or all notebooks) on mobile screen does not change notes dropdown"
On a small screen (for instance, less than ~700 pixels), there are two dropdown menus. The "Notebooks" and "Notes" dropdowns. If the "Notebooks" dropdown is changed to a different notebook, the "Notes" dropdown should change its contents to contain notes from the newly selected notebook.

[2015-01-18 13:10] Liongold commented on #74
Can you post a screenshot, please?

[2015-01-18 14:04] Liongold commented on #66
ID Question: Maybe a "me on install2" option?

Even though I'm not an enterprise user, I can see the large benefit that can be found by large organizations with a feature like this. I would recommend, however, that some sort of 'Shared' notebook is created  and not users having to type the note URL of the other server.

[2015-01-18 14:05] Liongold commented on #43
Taking this myself

[2015-01-18 15:37] Liongold commented on #52
I have the majority of this feature finished. However, for some reason, the ids I assigned to the links in the source are being dropped. I checked the json file that loads the note content and they're there so AngularJS or anything that touches the note before showing it is removing the ids. Can you tell me a soltuion for this? Or point me to where this is occurring in the code, please?

[2015-01-18 16:55] joshlemer commented on #74
Here's the branch: https://github.com/joshlemer/paperwork/tree/dropdown-notebook-switching
![Screenshot of the issue](http://i.imgur.com/5TUCaMg.png)

As you can see, selecting a notebook in that dropdown doesn't actually change the notes listed in the second dropdown (hard to capture that behavior in a screenshot).

[2015-01-18 20:07] devilx commented on #67
@twoSeats @thompsonson I see! Will be implemented into the new paperwork.rocks-page.

[2015-01-18 20:11] devilx commented on #52
@Liongold so, when you open the note and check your browsers developer inspector tool, you cannot find the IDs you've set for the link, is that correct? I need to test this myself. Would you mind to create a new branch (something like "52-prefilled-notebook") and commit your code into that, so I can check it out myself and test?

[2015-01-18 20:15] devilx commented on #74
This is a duplicate of #46. I'm going to close it, as it will be referenced there. Thank you for reporting it, please feel free to subscribe to the other ticket. :-)

[2015-01-18 20:15] #74 closed

[2015-01-19 06:44] Liongold commented on #52
Yes you're right. I'll do as soon as possible.

On Sunday, January 18, 2015, Marius <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-01-19 15:14] Liongold commented on #52
I've added a branch for the work on the feature. Thanks for offering to help. It's on branch issue-52-feature.

[2015-01-20 23:21] joshlemer commented on #68
Why do we want to forbid JavaScript in notes? What about people who want to make notes including code snippets?

[2015-01-20 23:32] jamesrascal commented on #68
@joshlemer This is to prevent  executable code from being run. If you allowed code to be executed in the application you risk compromising the server.

[2015-01-21 03:20] joshlemer opened #75 "Navbar covers over the rest of the UI in smaller widths"
At a screen width of ~800 px, the navbar comes down, blocking the view of the other elements.

Screenshot example:

![Here](http://i.imgur.com/Kq9trt8.png)

[2015-01-21 07:38] devilx commented on #68
@joshlemer imagine (as soon as sharing is available) that someone would share you a notebook, containing a note that uses un unpatched flaw within your browser that allows him to run code directly on your machine. Of course, the likelihood that someone you share a notebook with would do so is near to non-existent. Still I think allowing JavaScript to run from within a note would be evil (and proba

[2015-01-21 14:00] joshlemer commented on #68
@devilx Wait are we talking about all notes that contain javascript or just notes that are purely Javascript? I mean, if we deny all notes that contain any Javascript, we're alienating anyone who wants to use Paperwork to take notes about JavaScript for instance.

Maybe I have a not like this:

For loops:
for(i=0; i<10; i++) {
    console.log(i + "\n");
}

While loops:
i = 0;
while (i <10);
    co

[2015-01-21 15:42] letlive opened #77 "array_key_exists() expects parameter 2 to be array, null given"
After installing by using Composer, I visited my paperwork site and found error message above.
This error occurs in filters.php in line 29.

[2015-01-21 15:50] letlive commented on #77
screenshot.
![voila_capture 2015-01-22_12-45-49_](https://cloud.githubusercontent.com/assets/10461211/5839298/9d41b8ce-a1d0-11e4-976e-4795b9574bc6.png)

[2015-01-21 15:54] letlive commented on #77
Env: Debian/jessie (x64) PHP 5.6.4-4, Apache/2.4.10 (Debian) OpenSSL/1.0.1j

[2015-01-21 16:05] jamesrascal commented on #77
Are you using MySQL and what does your vhost config look like?

[2015-01-21 16:10] devilx commented on #77
Please show us your app/config/paperwork.php (be sure to blank your sensitive data before posting here).

[2015-01-21 16:30] letlive commented on #77
@jamesrascal Yes, vhost...Apache site configuration?

<IfModule mod_ssl.c>
<VirtualHost *:443>

        ServerAdmin webmaster@example.com
        ServerName  note.example.com
        DocumentRoot /srv/paperwork/frontend/public
        <Directory /srv/paperwork/frontend/public>
                Options MultiViews SymLinksIfOwnerMatch
                AllowOverride None
                Require all gra

[2015-01-22 12:37] devilx commented on #68
Ah, I see what you mean. I was actually referring to notes that (in their HTML code, as notes technically contain of HTML) contain inline JavaScript code that could get executed by the browser.

Writing JavaScript Code into the note from a user's point of view should work just fine, as it will be saved as something like:

[code]

This tickets refers to code that (maybe unintentionally) slipped int

[2015-01-22 12:37] devilx commented on #77
@letlive please comment the line ```'internal' => null``` and check again.

[2015-01-22 16:44] letlive commented on #77
Spot on! I could login to paperwork! Thanks, @devilx!

[2015-01-23 08:51] devilx commented on #77
@letlive thank you for reporting this, as the config-checker definitely needs to catch this exception.

[2015-01-23 22:37] #77 closed

[2015-01-23 22:41] #75 closed

[2015-01-24 16:20] joshlemer opened #80 "Wayback machine invisible elements hide Note Title when history is hidden"
Open a note in the main view. Try to highlight the note's title in the right-hand panel. It's impossible because the Wayback Machine elements (immediately above it) are blocking it.

![screenshot from 2015-01-24 10 16 53](https://cloud.githubusercontent.com/assets/5122903/5887983/496727dc-a3b2-11e4-9d56-9fa5e79c7d6c.png)

If the #wayback-machine node is deleted it works fine. I think a good soluti

[2015-01-24 17:12] joshlemer commented on #56
Currently working on this in https://github.com/joshlemer/paperwork/tree/admin-console

[2015-01-24 18:32] Liongold commented on #52
I've found the problem why ids are being removed. The problem is that the note content is passing through angular-sanitise which is removing all attributes it does not consider as correct. id is not included in these and thereforei s getting blocked and removed. @devilx @joshlemer any others: what do you suggest to fix or workaround this? Thanks for all the help.

[2015-01-24 19:48] bitsandnumbers opened #82 "Do you think it is possible to add handwriting ?"
Hi,

I wonder if is possible to add handwriting (not recognition) to paperwork ? Like just a "pencil" or anything like that which could be used with a tablet. It would make it really "touch enabled"...

[2015-01-25 04:01] ntnn opened #84 "get request to /api/v1/notebooks/{notebookId} should also return created_at and updated_at timestamps"
Currently the [get request](http://docs.paperwork.apiary.io/#get-%2Fapi%2Fv1%2Fnotebooks%2F{notebookId}) only returns id, title, type and and children, while [put](http://docs.paperwork.apiary.io/#put-%2Fapi%2Fv1%2Fnotebooks%2F{notebookId}), [delete](http://docs.paperwork.apiary.io/#delete-%2Fapi%2Fv1%2Fnotebooks%2F{notebookId}) and [post](http://docs.paperwork.apiary.io/#post-%2Fapi%2Fv1%2Fnotebo

[2015-01-25 04:15] FromBabylon opened #85 "Installation problem"
Hi,

I am running an ubuntu 14.04 server with apache. Installation of paperwork goes fine and I launch the app by reaching https://IP/paperwork/frontend/public.
(I cannot change the docroot because I have other webapps in /var/www/html)

User registration goes fine too but after I am not able to create notebooks. When the "create" button is pushed nothing happens.
Also, image on login screen and l

[2015-01-25 11:21] devilx commented on #52
It appears as ngSanitize doesn't allow (yet) to extend its whitelist: https://github.com/angular/angular.js/issues/5900

Hm, I'm not sure. Liongold: Could you maybe try setting not on id="" but maybe data-id="" instead and (even though it'll be slower) match that one? Or find any other attribute that's not being removed by ngSanitize.

[2015-01-25 11:23] devilx commented on #84
Currently I'm refactoring quite a lot regarding the database and the DAL. This will be included as soon as it's done. Thanks for requesting!

[2015-01-25 11:25] devilx commented on #85
@FromBabylon check out this issue here: https://github.com/twostairs/paperwork/issues/5#issuecomment-58722504

ToDo for the rest of us: Document the "shared hosting" problematics within the README.md, so that no more questions about this will appear. :-)

[2015-01-25 11:57] ponychicken commented on #50
I thought this might be a good first bug, but when visiting http://timschlechter.github.io/bootstrap-tagsinput/examples/ the demo shows exactly the same behaviour you desire.

[2015-01-25 12:01] ponychicken commented on #50
I'll fix this

[2015-01-25 12:12] Liongold commented on #85
I installed Paperwork while having this problem so I can work on this.

[2015-01-25 13:57] yuchi commented on #46
What about writing a native app? With Titanium SDK it could be relatively easy.

[2015-01-25 13:58] troelskn opened #86 "Sign up won't accept my name"
I'm greeted with the following message upon signup:

[code]

My last name has a hyphen in it.

[2015-01-25 14:41] kenrick opened #87 "Proposal NW native app"
Hey everyone, this is an awesome product but no everyone knows how to run it. Maybe a NW.js would compile it into a `native app` so less technical people can use it.

Let me know if this is something you guys would be interested in.

[2015-01-25 14:48] Liongold commented on #46
There are already plans for it.

[2015-01-25 14:54] bw2 opened #88 "Can click Edit > Edit Note.. even though it's grayed out"
In the demo version today, even though I haven't created any notes, I can click on the grayed-out "Edit Note.." menu item and it will take to an edit view for an empty note.

![image](https://cloud.githubusercontent.com/assets/6240170/5891863/02ef365c-a478-11e4-93d7-4e6ee5c6d74f.png)

[2015-01-25 14:55] bw2 commented on #88
![image](https://cloud.githubusercontent.com/assets/6240170/5891868/3445a6f0-a478-11e4-9b65-ab230276d5fa.png)

[2015-01-25 15:19] jylertones opened #89 "AngularJS Bindings show Before Page is Loaded"
When I reload the page, I see the Angular bindings {{ ... }} before the page has rendered.

![reload mov](https://cloud.githubusercontent.com/assets/1456156/5891922/627cc424-a462-11e4-9b1b-687fcc75bbe3.gif)

From my familiarity with AngularJS, you probably need to add an ng-cloak onto the html or body elements.

[2015-01-25 16:08] Liongold commented on #88
Can you show a full page screenshot?

[2015-01-25 16:09] Liongold commented on #89
Thanks for the report.

[2015-01-25 16:27] scrapcode opened #90 "Last tag in the form field is not added to the taglist."
When creating or editing a note if you press <tab> to change focus from the tag field to the field for the content of the note, the trailing tag is not added to the list as a tag.

**Expected behavior:** The last tag in the tag list should not require a comma to commit it as a tag.

**Screenshot:**
![Last tag does not add](http://i.imgur.com/44UGoRi.png)

**Tested on:**
Firefox 34.0.5
Chromium 41.

[2015-01-25 16:35] ponychicken commented on #90
Dupe of #50

[2015-01-25 16:40] scrapcode commented on #90
Definitely overlooked that. My apologies!

[2015-01-25 16:40] #90 closed

[2015-01-25 16:48] plainspace opened #91 "Make a 'webclipper' like Evernote for Chrome"
https://evernote.com/webclipper/

https://chrome.google.com/webstore/detail/evernote-web-clipper/pioclpoplcdbaefihamjohnefbikjilc?hl=en

[2015-01-25 17:07] Liongold commented on #91
Duplicate of #62

[2015-01-25 17:07] #91 closed

[2015-01-25 17:15] #50 closed

[2015-01-25 17:16] devilx commented on #85
:+1:

[2015-01-25 17:24] devilx commented on #87
Hi @kenrick,

I'm not sure how NW.js could get handy in here. Right now, Paperwork consist of a PHP-back-end and a more-or-less 100% AngularJS front-end, which basically just makes use of the already available REST API the back-end provides.

In future, we will hopefully be able to provide native desktop and mobile apps, that make use of the API. The back-end itself will then still need a bit of k

[2015-01-25 17:26] devilx commented on #46
@yuchi it would be very nice to have native mobile apps, of course. One could think for utilising Mono/Xamarin for that, in order to keep the "development costs" low.

Yet, the team is pretty small and we're not having the capacity of already providing the full stack of applications. If you (or anyone else) have ambitions in that direction, feel free to join the Paperwork team and plan these with

[2015-01-25 17:33] kenrick commented on #87
Oh, so the plan is have a hosted service that you connect to from one of the clients using the api?

Well my idea was to run the php server using node, and use the angular app as the front end in a NW.js app.

[2015-01-25 17:34] irl commented on #28
Hi, just wanted to register interest in this enhancement. I'd like to deploy this for our hackerspace members and would be happy to help with testing.

[2015-01-25 17:36] devilx commented on #89
This was actually fixed in #51 by @joshlemer. @jylertones are you running the latest GIT version of Paperwork?

[2015-01-25 17:42] devilx commented on #28
@irl sounds great! We'll get back, as soon as someone started implementing this. :-)

[2015-01-25 17:44] devilx commented on #87
@kenrick ah, I see. Well yes, you can think of Paperwork just like for example a Drupal or a WordPress: You'll need to have some webserver (e.g. nginx/apache), a PHP and a database (e.g. MySQL) in order to run the service + web-ui. In addition to that, you could connect to its API, with some sort of desktop or mobile client.

I don't think it'll be a good thing to run the whole Paperwork service t

[2015-01-25 17:53] kenrick commented on #87
Right I realized that this would be more like a hosted service. In thats case you could give deploy to heroku a shot. A one click way for people to host their own.

[2015-01-25 18:02] joshlemer commented on #88
Working on this

[2015-01-25 18:22] jylertones commented on #89
I'm pulling code right now. I figured I could either verify it or submit a PR :). I will let you know tonight

[2015-01-25 18:32] FromBabylon commented on #85
Which Readme ?

Finally I understood this is a laravel problem.
To get things working on a Linux environment I move all frontend/ content into /var/www/ and all frontend/public content into /var/www/html/ (my doc root). Edit bootstrap/path.php and I replaced 'public' by 'html'. Then everything works fine.

The only problem here is that my server is now messed up by all Paperwork files. And I reall

[2015-01-25 18:41] ponychicken commented on #86
I would suggest removing any constraints on the name fields. See also: http://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/

[2015-01-25 18:44] ponychicken commented on #68
Isn't then the simplest solution just strip any strip tags and onclick="" etc attributes on save?

[2015-01-25 19:13] joshlemer commented on #85
@FromBabylon This might be a stupid question, but did you remember to do this from the paperwork/frontend directory in terminal:
    php artisan serve

If you don't do this, you'll have to add /index.html to everything and a lot of things won't work.

[2015-01-25 19:33] FromBabylon commented on #85
No I didn't do that because it is not written anywhere in the doc ^^
What will this command do exactly ?

[2015-01-25 19:40] ntnn commented on #15
How about redefining that and saying that notebooks can contain notebooks and notes? Practically like a folder structure. That would eliminate the problems of 'collections' and also make the concept easier to grasp for users (plus that there definitely will be requests to add notes to collections).

[2015-01-25 19:40] joshlemer commented on #85
It starts a Laravel Development Server on Localhost:8000. Try doing that. I agree we should work on the setup instructions - I was thinking I might upload my Linux Mint virtual machine development environment so people can get it up and running in a VM right away actually.

[2015-01-25 19:48] FromBabylon commented on #85
I don't understand why sould I do that ? ^^
Furthermore I won't be able to go at localhost:8000 on my remote machine which do not have any GUI. I think it's possible but I just don't see the point

[2015-01-25 20:10] kiall opened #94 "Last name can't contain spaces"
Many last names include spaces, hyphens etc. These characters should be allowed.

The best solution is likely to not restrict the name fields at all, many people have names that don't fit the [A-Za-z]+ regex...

[2015-01-25 20:12] devilx commented on #86
@ponychicken thanks, sounds reasonable! Still, I would like to check whether it's possible to make it configurable before, so that every users can set up their Paperwork service the way they need it.

[2015-01-25 20:13] JoshTGreenwood commented on #94
Duplicate of #86 I believe

[2015-01-25 20:15] devilx commented on #68
@ponychicken yupp, it would be the simplest, yet not the best solution. Here again, we should provide configurability through the app/config/paperwork.php, so every Paperwork admin could define own rules of what content to strip away and what not.

I'm not sure yet what's the best way to allow this. I remember Drupal having something similar built in, maybe a peek into their code might help.

[2015-01-25 20:18] #88 closed

[2015-01-25 20:23] devilx commented on #15
@ntnn technically it's already implemented like that. A collection is nothing more than a row within the "notebooks" table, which has other rows in that very same table, that contain the row's id as "parent_id".

The thing is, that we still need to make a visual differentiation between these two types of notebooks. If we treat them like folders, users would expect to be able to stack a dozen folde

[2015-01-25 20:24] devilx commented on #94
@kiall thanks for reporting, please continue in #86!
@JoshTGreenwood :+1:

[2015-01-25 20:24] #94 closed

[2015-01-25 20:24] JoshTGreenwood opened #95 "Markdown support"
Is there any interest in adding markdown support to the note body?

[2015-01-25 20:28] devilx commented on #95
@JoshTGreenwood right now Paperwork uses the CKEditor. So the most convenient way would probably be, to have a Markdown plugin for the CKEditor, takes the Markdown a user entered and saves it in its regular HTML format, as it does currently with WYSIWYG. When content is being loaded, the CKEditor then would need to transform the saved HTML into Markdown – again, just the way it does with its curre

[2015-01-25 20:35] ponychicken commented on #58
The only con I see is that you might have to reorganize the folder structure a bit. Bower components will contain a lot of file you don't want (tests etc), so it would be sensible to have a gulp or grunt task to concat/minify/copy/whatever the files to the place you want.

[2015-01-25 20:49] pedro605 opened #96 "Tagging: late-inserted comma doesn't split tags"
When the user starts typing a new tag, like "first tag second tag", and he wants to go back and place the comma before the word "second", the tags won't split up. The new tag will be "first tag second tag" instead of two tags: "first tag" and "second tag".
Minor issue, with easy workaround ;) Found on the demo page.

[2015-01-25 20:50] devilx commented on #58
@ponychicken thanks! So, what would be the pro, compared to the current setup? We wouldn't have to keep the libraries within our Git repository, since every user could fetch them on their own, using the bower.json – but that's pretty much it, right?

[2015-01-25 20:53] devilx commented on #96
@pedro605 thanks for the feature request!

Since Paperwork is using https://github.com/timschlechter/bootstrap-tagsinput for the tags input, this enhancement should be submitted to the bootstrap-tagsinput project and then pulled from the official version into Paperwork.

[2015-01-25 21:06] ponychicken commented on #58
Keeping the dependencies up to date is pretty much the one. You can use semver to get patch/minor updates automatically and use `bower list` to see which one got a major update.

[2015-01-25 22:15] brianjking opened #97 "Heroku Button Install"
Any plans for a 1 click deploy to Heroku?

[2015-01-25 22:39] devanp92 commented on #89
This should be a simple fix via ng-cloak

[2015-01-25 22:51] th3m4ri0 opened #98 "Can't use my last name :("
![image](https://cloud.githubusercontent.com/assets/2685884/5893659/bb72f230-a4ba-11e4-8d39-fbc0bdae2872.png)

[2015-01-26 00:06] AlJohri commented on #95
Check out this tangentially related project's UI and support for markdown/latex: http://marxi.co

[2015-01-26 00:35] y5j7k2 opened #99 "Last tag duplicates itself"
When I write tags separated by commas and hit enter, the last tag is "tagged" (blue decoration) but gets repeated in the end in plain text.

[2015-01-26 01:18] wmealing commented on #98
Looks like a dupe of https://github.com/twostairs/paperwork/issues/86 , Save the git repo owner sometime and add yourself on that CC if its not already solved.

[2015-01-26 01:29] lherich opened #100 "Can't create a new note in the demo version"
After sign into the demo version, I tried to create a new note via "file -> new note", but it failed due to the following reason:

Request URL:http://demo.paperwork.rocks/api/v1/notebooks/1545/notes
Request Method:POST
Status Code:500 Internal Server Error

[code]

[2015-01-26 03:13] mbenford commented on #96
@devilx Perhaps you'd be interested in checking out [ngTagsInput](http://mbenford.github.io/ngTagsInput/). It's 100% Angular code, has no external dependencies and comes with lots of features (including Bootstrap support). :)

[2015-01-26 03:40] jylertones commented on #89
Yep, @devilx is right. This was fixed in #51 . I've verified by pulling the latest code. (I tested on the demo site, my bad!) Sorry for the trouble!

[2015-01-26 03:40] #89 closed

[2015-01-26 03:50] yekz commented on #95
thanks for your work

[2015-01-26 04:40] OmgImAlexis opened #101 "Tags tab ui error?"
Currently if you enter a tag and then press tab or click anywhere other than the tag input you're left with the tag in "tag" form and the text.

![gui error](https://cloud.githubusercontent.com/assets/6525926/5895392/512f0a40-a56d-11e4-9ce9-66931523391f.PNG)

[2015-01-26 04:42] OmgImAlexis commented on #99
#101

[2015-01-26 04:44] OmgImAlexis opened #102 "UI missing saved successfully dialog"
There's currently no indication that the save button worked apart from seeing the XHR request in the console.

[2015-01-26 05:35] montogeek opened #104 "Keyboard shortcuts"
Is there any plans to add keyboard shortcuts?

[2015-01-26 06:15] th3m4ri0 commented on #98
Sure. Thanks.

[2015-01-26 06:15] #98 closed

[2015-01-26 07:15] mjnaderi commented on #95
I think converting HTML to Markdown is not possible. People want to edit the original plain text they have written, not after converting to html and then from html to Markdown.

This is my idea:

It is better to save in both Markdown and HTML formats. User selects which editor to use (HTML or Markdown).

In HTML case, just save in html format.
In Markdown case, save in both html and markdown forma

[2015-01-26 08:25] N00D13 opened #105 "Can't add Notice"
Mac OSX 10.10.1
Chromium V 42.0.22

[2015-01-26 08:42] hoffi commented on #105
Same here.
OS X 10.9.5 on Chrome and Safari.

This error is returned by the request:
[code]

[2015-01-26 09:39] devilx commented on #97
We're open to any enhancement. Do you (or anyone else here) have experience with Heroku, to set up the "1 click deploy"? :-)

[2015-01-26 09:40] devilx commented on #105
Duplicate of #100.

[2015-01-26 09:40] #105 closed

[2015-01-26 09:42] devilx commented on #96
@mbenford it was last authored over a month ago. Is it still in active development? And do you know whether it provides everything we currently have with bootstrap-tagsinput? I think, switching towards something new should always go along with a real benefit for the users.

[2015-01-26 09:44] devilx commented on #99
Actually #101 is a duplicate of #99. :-) But since #101 has a screenshot attached, let's pick that one. @y5j7k2 thanks for reporting! You might add yourself cc to #99 now.

[2015-01-26 09:44] #99 closed

[2015-01-26 09:45] devilx commented on #101
That's another issue that would go into @timschlechter's https://github.com/timschlechter/bootstrap-tagsinput repo first and then being pulled into Paperwork. Just like #96.

[2015-01-26 09:48] devilx commented on #102
True. Although I think a "saved successfully"-dialog might be too obtrusive here. Maybe perform some UI magic with the save button, as in:

1) Save button clicked
2) Save icon transforms to rotating circle while it performs the XHR request
3) Rotating icon transforms to "check"-icon and stays for a couple of seconds
4) "check"-icon switches back to save icon.

Does anyone know, if there's some ng-

[2015-01-26 09:49] devilx commented on #104
Good idea! What kind of shortcuts would you expect to see in Paperwork?

[2015-01-26 09:50] OmgImAlexis commented on #101
#101 doesn't seem to be an issue with @timschlechter's https://github.com/timschlechter/bootstrap-tagsinput as the demo pages for it don't seem to have this issue at all.

I just went to check if the paperwork demo and the tagsinput demo are running the same version and it seems paperwork's demo is down?
![server down](https://cloud.githubusercontent.com/assets/6525926/5897846/ae984cac-a598-11e4-8

[2015-01-26 10:01] lutze commented on #102
@devilx - If I can offer a refinement to that, it would be helpful if the save button (and the "saved" state) was aware of changes in the document.

As in, for step 3, the "saved" state remains until the user makes a new change to the document that would require saving again, then stepping to step 4.

[2015-01-26 10:04] Baldrs opened #106 "Can't connect to mysql on demo.paperwork.rocks"
PDOException (2003)
    SQLSTATE[HY000] [2003] Can't connect to MySQL server on '127.0.0.1' (111)

When submitting the register form: http://demo.paperwork.rocks/register

[2015-01-26 10:04] devilx commented on #95
Thank you guys for the suggestions. Marxi looks cool, but that's only a Markdown editor from what I see.

I like the idea of having Markdown along with traditional WYSIWYG editing. I'm not sure about saving the Markdown separately, though. In worst cases, this would double the size of each note. Plus, we need to consider that content is not being simply saved within the "content"-column of a note-

[2015-01-26 10:06] devilx commented on #101
@OmgImAlexis Whoopsie. Yeah, it should be back up again. That's a $5 digitalocean droplet with not enough RAM to serve the current load.

[2015-01-26 10:09] devilx opened #107 "New hosting for demo.paperwork.rocks"
Currently, demo.paperwork.rocks is a $5 DigitalOcean Droplet that's being paid by me/twostairs. This worked out pretty well, until Paperwork got featured on HackerNews recently. Since then, the MySQL database permanently runs out of RAM (as mentioned here: https://github.com/twostairs/paperwork/issues/101#issuecomment-71436211).

Maybe we could find some generous people running some sort of infras

[2015-01-26 10:11] devilx commented on #102
@lutze that's aleady implemented. You should notice it when you watch your XHR requests. You won't be able to perform another save until you haven't changed anything. But yes, we could visualise this more explicitly, for example by disabling the save button, until a change was made.

[2015-01-26 10:12] OmgImAlexis commented on #107
Try contacting DO, they seem to be really behind open source projects like this. They may be able to help you out with a 4GB machine or something, worst thing they can do is say no.

[2015-01-26 10:12] devilx commented on #106
I've explained the reason for this here: https://github.com/twostairs/paperwork/issues/107

Sorry for that, but unfortunately I can't do anything about it right now.

[2015-01-26 10:12] #106 closed

[2015-01-26 10:14] devilx commented on #107
@OmgImAlexis :+1: https://twitter.com/paperworkrocks/status/559655528637689856 let's see what they say. :-)

[2015-01-26 10:33] Baldrs commented on #95
I think you can distinguish the content by adding something like content types, like that:

1. Generic - can be edited using CKEditor(or whatever) and not markdown editor. Here the clipped content goes too.
2. Markdown - can be edited using markdown editor and then converted into generic but not back.

So then you won't have the double content problem, because when the third way(for example LaTEX)

[2015-01-26 10:46] devilx commented on #95
@Baldrs your idea would work perfectly, if there was an editor (like CKEditor) that would support all these different "back-end" formats, but presents them in a common way to the user. But I think that presenting the user a different editor for each content type is a no-go. And: Sooner or later, users will probably expect to be able to "migrate" contents, e.g. from Markdown to HTML/WYSIWYG.

[2015-01-26 11:00] djave-co opened #108 "Tabbing out of the tag editor in chrome doesn't add a tag"
![image](https://cloud.githubusercontent.com/assets/1035284/5898751/7d61c7ba-a54a-11e4-9337-fa637d46330f.png)

You need to always write a comma, even if you are finished and want to tab to the next section.

[2015-01-26 11:03] devilx commented on #108
This should have been fixed in #92. Are you running the latest Git version of Paperwork?

[2015-01-26 11:05] devilx commented on #80
Maybe this needs to go into https://github.com/twostairs/freqselector - depending whether it's only a problem of the CSS used within Paperwork or a general library issue.

[2015-01-26 11:11] Baldrs commented on #95
Unfortunately you cannot just show markdown and **WYSIWYG** editor and then show them in a common way.

From markdown website:

So as we see from that definition, markdown is a way of (X)HTML authoring. And that means that **WYSIWYG** and markdown have different philosophies, despite of solving the same thing. And, as consequence of the before, it means it can't be displayed in a common way.

As a

[2015-01-26 11:28] lutze commented on #102
@devilx that's great.

Is the request here open for forking and a pull request? I think it'd be interesting to dig into what y'all have put together.

[2015-01-26 11:37] devilx commented on #102
@lutze sure, if you'd like to work on this just go ahead. :+1:

[2015-01-26 12:24] Silberling opened #109 "Source code handling as note"
Hi,

I use digital notebooks mostly for snippets / scripts / stuff I can hardly put into a file on my HDD. I need some kind of notebook which is capable of handling (displaying) source code correctly.

At the moment paperwork uses a non-fixed-width font. I'd like to see a solution so I can read source code in my browser.

Maybe using ACE as plugin or some other syntax highlighting would be cute.

[2015-01-26 12:27] devilx commented on #95
I think we're talking at cross purposes. You are full right with that you said. What I was asking was, whether there is a way, which allows us to save data in one format (preferably HTML, since we'll soon want to clip website, as described above) but let the user edit this format in certain ways: Either raw or filter through a specific "view". One of these views we already provide is the WYSIWYG e

[2015-01-26 12:30] kaystrobach opened #110 "not able to create a note in the online demo (note books can be created)"
[code]

[2015-01-26 12:33] lutze commented on #102
Great, I'll give it a look when I get home from work tonight.

[2015-01-26 12:37] devilx commented on #110
Could you show us the screenshot of that issue please? We need a further more lines of the error for this to fix. Thanks!

[2015-01-26 12:39] kaystrobach commented on #110
@devilx currently not possible, as the demo is down ...

![2015-01-26_13-38-58](https://cloud.githubusercontent.com/assets/1185776/5899749/bdc78ce8-a560-11e4-8389-098361812c67.png)

[2015-01-26 12:40] kaystrobach commented on #110
perhaps this was the main issue and the reason for the error, in the meantime the frontpage was maybe cached ...

[2015-01-26 12:41] devilx commented on #110
Could you try again please?

[2015-01-26 12:45] kaystrobach commented on #110
steps to reproduve,

* register
* create notebook
* select the notebook
* try to create new note

ajax response:

[code]

![2015-01-26_13-44-35](https://cloud.githubusercontent.com/assets/1185776/5899822/90287972-a561-11e4-9c98-9273eba068cb.png)

![2015-01-26_13-44-20](https://cloud.githubusercontent.com/assets/1185776/5899825/9730ae24-a561-11e4-8747-c5e2cd17a532.png)
![2015-01-26_13-43-44](https:

[2015-01-26 12:46] kaystrobach commented on #110
PS: it's still broken, but imho it's just a migration issue or a missing migration :smile:

[2015-01-26 12:47] devilx commented on #110
Thank you for this extended info! It appears to be a duplicate of #100. Going to close this now, as we're working on #100 already. Feel free to subscribe there. :+1:

[2015-01-26 12:47] #110 closed

[2015-01-26 13:24] Baldrs commented on #95
I think contemporary programmer should avoid such magic to fit KISS principle. When converting back to markdown you will definitely lose some data. To reclaim it, you will likely will end up in some additional  "metadata", in workarounds, specific edge case workarounds, bugs, tons of code, etc. Such a converter will definitely will end up in some over-complicated huge monster with lots of extensio

[2015-01-26 15:36] Baldrs opened #112 "Tidy up all angular code according code style"
Having all scripts lying around as junk without any particular structure is a bad practice, especially in angular applications. And all javascript should be organized as well.

https://github.com/johnpapa/angularjs-styleguide
https://github.com/johnpapa/angularjs-styleguide#application-structure

[2015-01-26 15:38] Baldrs opened #113 "Move JS dependencies into bower"
Bower allows you to manage dependencies of your frontend. I suggest you to move everything you did not write into bower.json and just install the deps before the building the application itself. There's no reason to hold all the third-party stuff here.

[2015-01-26 15:48] Baldrs commented on #104
I'd would expect a setting to disable them alongside with them. For example, they will definitely will conflict with chrome extensions that provide vim emulation.

[2015-01-26 15:52] Baldrs commented on #109
Fortunately, threre are plugins for that
http://ckeditor.com/addon/codesnippet (pure highlight.js)
Using GeSHi http://ckeditor.com/addon/codesnippetgeshi (server-side highlighter)

[2015-01-26 15:58] brunobatista commented on #30
:+1:

[2015-01-26 16:00] brunobatista opened #114 "Translate on transifex"
I propose use transifex to help translate this project for another languages. I wish translate for portuguese.

[2015-01-26 16:05] Baldrs commented on #114
I could help with russian/ukrainian

[2015-01-26 16:33] mbenford commented on #96
Not as active as I'd like it to be, but it's definitely not dead. ;)

I don't. :\

I totally agree with you. My intention was just to let you know that there's an alternative built for AngularJS. And since this is an Angular project, I thought you'd be interested in checking it out. Perhaps I should have posted this message elsewhere. My apologies for that.

[2015-01-26 16:47] erayaydin opened #115 "Adding Tag"
Hello,

This issue about "Adding tags to note". When I set tags with ",", my last tag duplicate (when I click to textbox)

![Screenshoot](http://i.imgur.com/rbj0MN7.png)

[2015-01-26 16:48] erayaydin commented on #115
So sorry I forget search issues... sorry :(

#101

[2015-01-26 16:48] #115 closed

[2015-01-26 17:07] devilx commented on #115
Np, thanks for reporting/closing! :+1:

[2015-01-26 17:09] devilx commented on #96
@mbenford don't get me wrong, I'm up for trying things that would fit Paperwork's technology stack better! So, thank you for pointing me towards your project. :-)

Anyway, I/someone need(s) to take a look at your AngularJS solution and find out, whether it allows us to do the same we're currently doing with the (quite inactive) bootstrap-tagsinput plugin first.

[2015-01-26 17:12] devilx commented on #114
@brunobatista open for any kind of suggestions in that area. The way translating currently works can definitely be enhanced!

I personally don't know "transifex" -> you mean this here, right? https://www.transifex.com

Do you know if they have some "opensource" plan, which is free of charge?

@Baldrs that would be cool!

[2015-01-26 17:13] devilx commented on #109
:+1: so, we could use "codesnippet" for the CKEditor and pure highlight.js for displaying the note.

[2015-01-26 17:14] devilx commented on #113
Duplicate of #58, please continue there. :-)

[2015-01-26 17:14] #113 closed

[2015-01-26 17:17] devilx commented on #112
Basically there is *some* structure, even though it might not be perfect. I'm thankful for anyone better with AngularJS than I am taking a look at it and refactoring everything that's implemented improperly. :+1:

[2015-01-26 17:18] devilx commented on #112
PS: Duplicate of #17. Sorry. :-)

[2015-01-26 17:18] #112 closed

[2015-01-26 18:12] jamesscottbrown opened #116 "Installation problem using fig"
I cloned the repository and started a server using fig, but then got an error message when I tried to create the first user:

    Illuminate \ Database \ QueryException (HY000)

    SQLSTATE[HY000]: General error: 1364 Field 'remember_token' doesn't have a default value (SQL: insert into `users` (`username`, `firstname`, `lastname`, `password`, `updated_at`, `created_at`) values (a@example.com, a,

[2015-01-26 18:39] mbenford commented on #96
@devilx I can do that. What's the best way to communicate my findings with you? I don't want to clutter this issue (more) with non-related stuff.

[2015-01-26 19:08] erayaydin commented on #107
Any news about new machine ? Is DO confirm? I'm using DO and I am interested about this.

[2015-01-26 19:24] KamesCG opened #117 "Running Paperworks on MAMP"
I installed Paperwork on MAMP with PHP version 5.5.10.

Changed the database.php settings to match the MAMP environment.

When I login and try to add a Notebook, I'm met with nothing...Is this because the port and host was changed?

I added the following to my .bash_profile to run successfully run "composer install"
export PATH="/Applications/MAMP/bin/php/php5.5.10/bin:$PATH"

'mysql' => array(

[2015-01-26 19:33] KamesCG commented on #82
If I am not mistaken this would be a job for Canvas API -- correct?

Paperwork would need to allow to people to draw on Canvas using a stylus and then save the resulting input as a PNG or JPG output.

[2015-01-26 20:07] sunyoureyes commented on #114
I also can help translate to russian/ukrainian. I will contact Baldrs to discuss.

[2015-01-26 20:13] sunyoureyes commented on #109
It will be a very cool featur. For example Evernote not have this one.

[2015-01-26 20:19] AlexanderS commented on #114
@devilx Yes there is a free plan for open source projects. Look at: https://www.transifex.com/pricing/ just in the middle under the "Try it for free" button.

[2015-01-26 20:24] sunyoureyes opened #118 "MindMap feature in Paperwork."
I think that is will be good to create a mind map in my notes.
For the first time in some basic level mind maps.
I always missed this function in other notebooks.

Have ideas how to realize this?
![map_3](https://cloud.githubusercontent.com/assets/7645796/5907734/204a5ae6-a5aa-11e4-971b-5887bec74d4e.gif)

[2015-01-26 20:43] Silberling commented on #109
Thats the main reason why I don't use anything like Evernote: It destroys your code ^^ Gonna try this the next days ;-) @Baldrs

[2015-01-26 20:45] devilx commented on #116
This is something maybe @bsingr could help with, as he was the one submitting the docker stuff. :-)

[2015-01-26 20:49] devilx commented on #107
Status update: DO said that they're interested in general and I should write them an e-mail with all the details. So I did. Now let's wait and see what they're answering. :-)

In addition, "RunAbove" tweeted us: https://twitter.com/runabove/status/559656500172701696

Has anyone experience with them?

[2015-01-26 20:52] devilx commented on #96
@mbenford cool! I'm on irc://irc.freenode.net/#paperwork - although I won't be available all the time. Besides of that, you could just shoot me an e-mail to marius@paperwork.rocks / paperwork-dev@googlegroups.com

[2015-01-26 20:54] devilx commented on #117
Could you show us some more info? Like ```tail -n 20 /Applications/MAMP/logs/php_error.log```?

[2015-01-26 20:58] devilx commented on #82
@KamesCG this could theoretically be done with Canvas, yes. Although, the more elementary question here is: Is it worth to add this feature to the web-ui? I personally would like to have that on a tablet client, maybe on a smartphone client but not on a desktop.

Are there so many people writing on their desktop using something like a Wacom tablet?

[2015-01-26 20:58] johb opened #119 "Can't create a new note."
I can't create a new notebook if i choose "German" as a language.
I get the following error in chrome dev tools when clicking on "Create note":
POST http://demo.paperwork.rocks/api/v1/notebooks/1567/notes 500 (Internal Server Error) angular.min.js:8522

Steps to reproduce:
1. Sign up an account in demo with User Interface "German".
2. Create a new notebook.
3. Select this notebook and try to creat

[2015-01-26 21:16] devilx commented on #114
Okay, so I've set up a Paperwork project there: https://www.transifex.com/projects/p/paperwork/

Could anyone check it out and see, whether that's the best way to do it? Right now, I need to upload every translation manually from the .php files we have in Paperwork. Could I somehow make this service sync translations with GitHub?

[2015-01-26 21:17] KamesCG commented on #117
I would love to, but there is nothing in my php_error.log...

[2015-01-26 21:21] devilx commented on #118
I think, this would reach too much into another area/market. There are plenty of tools for creating great MindMaps already. What's the purpose of implementing this feature *into* Paperwork? Basically, you could export your MindMaps as PDFs and upload them into Paperwork.

I might be wrong here, but I believe that Paperwork shouldn't become a jack of all trades device.

[2015-01-26 21:21] KamesCG commented on #82
Is it worth it add to web-ui? Is this project planning on developing applications for Smartphones and Tablets?

I'm currently working with a local Farmers Markets, with 250+ merchants who might love writing notes and other information via the stylus on a smartphone/tablet browser. Why create applications, when the browser will delivery a majority of the functionally to our devices in the next 2-3

[2015-01-26 21:43] KamesCG commented on #117
It was a root directory problem... sorry for the confusion.

Remember to create a new server for Paperwork and navigate to it by using paper:8888 everyone :)

![screen shot 2015-01-26 at 1 42 35 pm](https://cloud.githubusercontent.com/assets/3408362/5908999/3efc834a-a561-11e4-9d91-e9be17e5b5dd.png)

[2015-01-26 21:59] devilx commented on #119
Duplicate of #100. Please feel free to subscribe there!

[2015-01-26 21:59] #119 closed

[2015-01-26 21:59] brunobatista commented on #114
Thanks @devilx, I submitted request for Brazilian Portuguese. Transifex is a nice place to start translate for another languages. I not know how import it for github, but I think is possible.

[2015-01-26 22:00] devilx commented on #117
@KamesCG so everything is running smoothly now? Then I'll just close this. :-)

[2015-01-26 22:00] #117 closed

[2015-01-26 22:01] brunobatista commented on #114
I'll close this because I believe that was resolved. Thanks @devilx, @AlexanderS, @Baldrs and @sunyoureyes :+1:

[2015-01-26 22:01] #114 closed

[2015-01-26 22:09] devilx commented on #30
As suggested, we are now using https://www.transifex.com/projects/p/paperwork for managing translations.

[2015-01-26 22:33] johb commented on #100
Hi,
the reason for this bug is, that in paperworkSidebarNotesController.js in line 37 the default name (untitled) for a new note is taken from the language files:

    var data = {
      'title': $rootScope.i18n.keywords.untitled,
      'content': ''
    };

For the german version, there exists no such entry, so title is undefined and this causes the error.

[2015-01-26 22:41] devilx commented on #100
@johb great, thank you! :+1:

[2015-01-26 22:41] #100 closed

[2015-01-26 23:32] brunobatista commented on #114
Portuguese done! https://www.transifex.com/projects/p/paperwork/language/pt_BR/

[2015-01-26 23:39] brunobatista commented on #69
I get this:

![error](https://cloud.githubusercontent.com/assets/441774/5910665/baf9cab0-a5a3-11e4-83e3-0405d37c2ad3.gif)

[2015-01-27 05:42] Baldrs commented on #112
Am I welcome to submit a pull requests on some issues?

[2015-01-27 06:29] Baldrs commented on #109
That's seems to be already done in e393d61

![scrot](https://cloud.githubusercontent.com/assets/814651/5914465/892d8a98-a5fe-11e4-86cc-adc2b50bfd08.png)

[2015-01-27 06:35] Baldrs commented on #109
And the third is that note cannot be edited at all

[2015-01-27 08:05] ntnn commented on #84
Will that also include tagging notes and creating tags via api?

[2015-01-27 08:18] wagonza commented on #107
and as a friend pointed out maybe a SSL cert for the demo site

[2015-01-27 08:48] devilx commented on #84
@ntnn this will include the things you mentioned later on, initially this refactoring prepares Paperwork for #66. This means, cleaning up the database requests and migrating towards UUIDs. Check out the branch "issue-66-feature" (b121109a83b1d7c5a27058c5e36120ee458355c9) for more details.

[2015-01-27 08:50] devilx commented on #109
Couldn't remember including that plugin when updating CKEditor - but as it seems, I did. Yet, highligh.js isn't included site-wide, therefor highlighting in view-mode doesn't work so far.

I'm wondering why you can't edit the note afterwards. Could you check your web-console and give more insights on this?

[2015-01-27 08:50] devilx commented on #112
@Baldrs you are welcome! :-)

[2015-01-27 08:53] devilx commented on #69
@brunobatista yes, this is a known feature. The issue here is the following:

Laravel expects the database to have a username and an email address column, while Paperworks uses only the username column (which is the e-mail address). Now the built-in functionality for resetting the password tries to look up the email column, which doesn't exist.

The question now is: what's the easier way? Rebuildi

[2015-01-27 08:54] devilx commented on #114
@brunobatista very cool, thank you! So, how do we export this in order for it to land into Paperwork?

[2015-01-27 09:16] Baldrs commented on #109
I will file an issue in the evening, I currently don't have paperwork installed on my work machine and my DO droplet ran out of money. It was something in paperwork.min.js

[2015-01-27 09:29] dulio opened #123 "Some unknown requests"
I found some requests to 116.252.178.237

What do these requests work for?

[2015-01-27 09:30] devilx commented on #109
@Baldrs remember: paperwork.min.js is being built out of all the sources within js/paperwork/ using gulp.

[2015-01-27 09:36] dulio commented on #123
Sorry about that.
I have a browser extension, which cause this problew  :b

[2015-01-27 09:36] #123 closed

[2015-01-27 09:44] sango0711 opened #124 "New Note not possible in German"
When i change the language to german i can't add a new note. In the english setting it is possible. Tried Chrome, Firefox and IE on Win7, with Apache+PHP and nginx+php-fpm

[2015-01-27 09:51] paulcuth opened #125 "Sign up form error message does not match form fields."
When attempting to sign up on the demo page, I get the error message:

However, this message does not relate to any of the form fields; there are only: Email address, First name, Last name, Password, Confirm, UI Language. The is no Username field.

Presumably, this refers to Email address? Should be more explicit though.

Steps to recreate:
1. Go to http://demo.paperwork.rocks/register
2. Enter "t

[2015-01-27 10:03] wgroenewold commented on #82
How about implementing http://www.supersignature.com/ ? Works for us as a reliable component.

[2015-01-27 10:26] bitsandnumbers commented on #82
I can see the use for desktops, where if you don't own a dedicated graphic tablet you can still use a dedicated app on your tablet that synchronize with your computer and allow to write/draw on it through the tablet. That's what I do, although I found that precision vary from program to program.

The issue with applications is that you have to make one for every platform to get a descent user base

[2015-01-27 10:53] Liongold commented on #124
Do you have the latest version of the repo?

On Tuesday, January 27, 2015, sango0711 <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-01-27 10:54] pradeepsekart opened #126 "On tags input"
![ss](https://cloud.githubusercontent.com/assets/9690835/5917304/43e11cfa-a641-11e4-96f0-2a9f38182452.png)
After creating the tags, the tag text of the created tag is duplicated.

[2015-01-27 11:01] maced0n commented on #107
You can also switch to Nginx and FPM + Opcache

[2015-01-27 11:10] Baldrs commented on #114
We have done Ukrainian and Russian localisations. By now they are quite crude and should attend real usage testing to be corrected and improved, but seem to cover all the strings in the files.

[2015-01-27 11:13] Baldrs commented on #107
@maced0n their main problem is mysql side, they need a couple of instances of mysql to deal with increasing load and better caching of everything that can be cached to reduce mysql load, too. Nginx + PHP-FPM will not fix mysql outages, but will improve overall response time.

[2015-01-27 11:29] maced0n commented on #107
@Baldrs Under heavier load Apache consume far more RAM than Nginx.

[2015-01-27 11:32] devilx commented on #107
Jfyi: We went from 12 Users a day to over 24k/day, from one day to another. Of course, there are a lot of optimisations that could be performed on the demo system, even though I wouldn't consider the whole thing something "mission critical", as it is just a demo system. I believe, we're good to go with a machine that has a couple of more GBs of RAM in order for the MySQL to work properly. Especial

[2015-01-27 11:34] devilx commented on #126
Duplicate of #101.

[2015-01-27 11:34] #126 closed

[2015-01-27 11:35] devilx commented on #124
@sango0711 please update to the latest version of the repo, this was fixed yesterday.

[2015-01-27 11:35] #124 closed

[2015-01-27 11:36] devilx commented on #125
Good point!

[2015-01-27 12:03] devilx commented on #82
Okay, there were some good points made here. Let me sum it up:

- People want stylus input/handwriting, I think there's no need to argue on this
- I suggested to not implement this feature into the web client, but rather use native clients for doing this, as they would allow better interaction (with for example bluetooth styluses)
- You guys said that using the web client would be much better in t

[2015-01-27 12:29] AlexanderS commented on #114
@devilx You want to install the transifex-client (on linux you could either install it from your package management or [using pip](using pip)) and execute ``tx pull`` in the repo (you can limit the languages with options see ``tx pull --help``, maybe you have to use ``-a`` for new languages). You also want to have a look at ``messages.php``, it seems that transifex does not support nested arrays.

[2015-01-27 12:42] bitsandnumbers commented on #82
You made some valid points, and I agree that bluetooth styluses support for web-app is still in its early development.

On a personal note, I use a BT stylus (adonit jot touch) and usually use apps that differentiate palm and stylus (53's Paper, Notability essentially).

Again, the issue I see in native apps like notability is that they are iOS or Android only. I pledged for a Jolla Tablet recentl

[2015-01-27 15:20] DeviantEng commented on #32
@devilx CentOS page has been added to Wiki, and updated the link on the wiki homepage.
[Installation - CentOS 7](https://github.com/twostairs/paperwork/wiki/Installation-----CentOS)

Got to say man, this project has really advanced from where I first used it back in Sept/Oct.  I had only used this in testing, but I think I'm going to give it a run to replace my Tagspaces setup on top of OwnCloud (

[2015-01-27 16:36] devilx commented on #32
@DeviantEng thanks for adding and glad you still stick with us! :+1:

[2015-01-27 16:40] DeviantEng opened #127 "Proper backup/restore method?"
Has there been any thought into backups and restore?  I assume notes are stored in the database, so I could see this falling back to normal mariadb/mysql backups, yes?

Any chance of a file-based backup?  It would fit better with my environment, but can do db backups if that's recommended.

Thanks!

[2015-01-27 16:41] devilx commented on #114
@AlexanderS danke! I will check out the client and see how messages.php can be fixed. Maybe by using the other array-type transifex provides.

[2015-01-27 16:43] devilx commented on #127
Duplicate of #12 and #13. :-) Please continue there.

[2015-01-27 16:43] #127 closed

[2015-01-27 18:29] jacobbridges commented on #118
What if you allowed snippets of HTML to be included into a note? Such as a Gist embed or (gasp!)  an iframe. This way if I create a mindmap through an external product then I could embed that mindmap into a note.

[2015-01-27 18:38] jacobbridges commented on #97
The most difficult part I foresee with creating a Heroku 1-click deploy is the MySQL database migrations. Heroku manages database differently than other servers--perhaps an option for using SQLite?

I'll take a look at this tonight. I really like this project though it has a long path until it's production ready.

[2015-01-27 22:03] weems opened #128 "Install Issue"
when running php composer.phar diagnose:

Checking composer.json: FAIL
require.jenssegers/agent : unbound version constraints (*) should be avoided
require.erusev/parsedown : unbound version constraints (dev-master) should be avoided
require.thiagoalessio/tesseract_ocr : unbound version constraints (>= 0.2.0) should be avoided
Checking platform settings: OK
Checking git settings: OK

[2015-01-28 03:20] jamesrascal commented on #128
What OS are you attempting to install this to?

[2015-01-28 03:43] bluebear94 commented on #86
I have this problem with my first name (which has a space) too.

[2015-01-28 04:40] sunel opened #129 "Noting happens while creating new Notes"
when i create a new note and hit the save button no response, the page sites as it is

[2015-01-28 04:53] billyct opened #130 "when i type some words in the tags input then i focus out the tags input,my words typed cant change to be tag"

[2015-01-28 05:36] jamesrascal commented on #129
This sounds similar to #102

[2015-01-28 05:41] jamesrascal commented on #130
Hi Billct,

Are you adding a comma at the end of each tag?

[2015-01-28 05:53] jamesrascal commented on #56
I think there needs to be a check in place, if you are upgrading from an older version and there is only one users is should change the "is_admin" to 1. Otherwise you are stuck going through and making that change in your database.

[2015-01-28 06:18] Baldrs commented on #129
The same on save, you must watch the requests in web inspector to ensure it is saved.

[2015-01-28 06:21] mappmechanic opened #131 "AngularJS Bootstrapping visible with {{ }} Tags"
{{ }} Tags are getting displayed in the view template till the time AngularJS is bootstrapped, you should find a way to delay loading initial view till the time AngularJS is not bootstrapped.
![screen shot 2015-01-28 at 11 50 06 am](https://cloud.githubusercontent.com/assets/4088925/5933261/faf360c2-a6e3-11e4-91d4-156e95366d66.png)

[2015-01-28 08:24] billyct commented on #130
no, i think if i focus out it can change to be a tag , may be more firendly

[2015-01-28 08:56] Baldrs commented on #131
It just should be wrapped in ng-cloak with appropriate class inside stylesheets

https://docs.angularjs.org/api/ng/directive/ngCloak

[2015-01-28 10:00] firstrow opened #132 "Feature request: calendar"
It would be nice to have calendar feature to make easier to switch between years.
For example, its good for personal journal.

[2015-01-28 11:24] devilx commented on #56
@joshlemer :+1: if you'll push the branch to the official repo, make sure to keep the current naming convention ("issue-<xy>-<type>", as in "issue-56-feature").

[2015-01-28 11:26] devilx commented on #129
It's probably the same as #102, just as @jamesrascal mentioned. Closing, please follow the other issue.

[2015-01-28 11:26] #129 closed

[2015-01-28 11:27] devilx commented on #130
@billyct are you running the latest GIT version of Paperwork? @ponychicken seems to have fixed this in #50.

[2015-01-28 11:29] devilx commented on #131
This was fixed in #51 by @joshlemer. I'll check the demo-instance to see, why it's not available there yet.

[2015-01-28 11:31] devilx commented on #131
Indeed, they're still showing up. Closing this issue, continuing in #51.

[2015-01-28 11:31] #131 closed

[2015-01-28 11:32] devilx commented on #51
@joshlemer seems like the fix doesn't work properly yet. It has been deployed on demo.paperwork.rocks and still shows the variables upon loading. Mind re-checking?

[2015-01-28 11:34] devilx commented on #132
A calendar for filtering notes sounds like a good idea. It should be only a filter, though, and not a full featured calendar component. A good example for this is the Day One App (http://dayoneapp.com/), which also uses a calendar view to filter entries.

[2015-01-28 11:43] ponychicken commented on #130
Looks like the demo hasn’t been updated yet, so they might be using that..

On Wed, Jan 28, 2015 at 12:27 PM, Marius <notifications@github.com> wrote:

[2015-01-28 13:45] firstrow commented on #132
+1 dayone is good example.

[2015-01-28 14:37] joshlemer commented on #56
@devilx yep sorry about that

[2015-01-28 14:39] RoryOSiochain opened #133 "Last Name requires only letters and numbers. Should this not be letters and symbols?"
My Surname has either a space or apostrophe in it. Most double barrel surnames would tend to use a dash. Not sure if anyone uses numbers in their name though.

[2015-01-28 14:46] RoryOSiochain opened #134 "New Note not available on Safari"
Able to create collection, but not a new note using safari for mac. Can edit notes created in Chrome

[2015-01-28 16:40] informationmissing opened #135 "unable to enter equations in a note"
Trying to enter math into the note, I was unable to do so. the "enter equation" box opened  but did not accept any input.

[2015-01-28 16:47] jamesrascal commented on #133
This is related to #86

[2015-01-28 17:09] weems commented on #128
OSX 10.10.1

[2015-01-28 19:49] joshlemer commented on #56
@jamesrascal What if there are multiple users? Should the earliest-created user become admin?

[2015-01-28 21:53] jamesrascal commented on #56
@joshlemer The idea was yes the earliest user would become the admin. This might even be a non-issue as it will only effect early builds. Newer builds will auto make the first user and admin.

[2015-01-29 03:10] joshlemer commented on #51
@devilx I am pretty confidend the issue is that the demo server hasn't compiled the new Less code into CSS. I just assumed that Gulp was run on the beta server before being deployed. Or would you prefer us to include compiled CSS in our pull requests?

[2015-01-29 06:11] iamgeef commented on #134
I've just tested in Safari (v8.0.3) on Yosemite and it works fine for me. Are any errors listed in Safari's error console?

[2015-01-29 06:14] lixonic opened #138 "prevent the html template from being displayed"
![pw1](https://cloud.githubusercontent.com/assets/934220/5953231/215b45ae-a7ac-11e4-8f9c-51e8df864615.png)

[2015-01-29 06:22] lixonic commented on #138
oops ! #51 :smile:

[2015-01-29 09:04] iamgeef commented on #69
The starting point provided by @Liongold works.
Changing line 12 from
`return $this->email;`
to
`return $this->username;`
enables the password reset option

Requires app/config/mail.php to be updated with smtp details for the email to actually send...obvs.

By default, the emails come through with no subject but editing the getPasswordRemindResponse (L#168) function of UserController.php enables a

[2015-01-29 09:07] awchauhdry commented on #102
i think we should maybe disable the save button, visually to show until it can be saved again, at the moment, it just doesn't seem like anything happened

[2015-01-29 09:21] awchauhdry opened #140 "note - social media share button"
is there a ticket to work on the social media share button? the button seems inactive at the moment

[2015-01-29 09:27] awchauhdry opened #141 "delete attachment hyperlinks in note"
upon deletion of any documents attached to a note, the hyperlinks pointing to the uploaded document remain in the document, they should be removed

[2015-01-29 10:07] awchauhdry commented on #86
according to the post link by @ponychicken, the only way to achieve this is to remove any validations at all against the names...

[2015-01-29 11:16] RoryOSiochain commented on #134
No errors are output. The issue seems to be with the menu. There is space for the option but it doesn't appear.

I'm running Safari Version 8.0.3 (10600.3.18)

![screenshot 2015-01-29 11 09 26](https://cloud.githubusercontent.com/assets/721089/5956663/0e2bfe64-a7a8-11e4-88d3-2630c3d088cb.png)
![screenshot 2015-01-29 11 09 59](https://cloud.githubusercontent.com/assets/721089/5956664/0e5cf5c8-a7a8-

[2015-01-29 11:26] #138 closed

[2015-01-29 11:39] iamgeef commented on #134
Ahh, I see. I think that's by design. Possibly due to the way the database references the notes (@devilx could confirm), you have to create a notebook first to save the note in.
Same result on Chrome:
![screen shot 2015-01-29 at 10 25 31 pm](https://cloud.githubusercontent.com/assets/10751405/5956809/d7b40cba-a805-11e4-8b2c-aea6de87e2b6.png)

Create a notebook first, and then you'll be able to cre

[2015-01-29 11:47] RoryOSiochain commented on #134
Yep, my bad! Closing issue.

[2015-01-29 11:48] ponychicken commented on #86
That's what I would suggest, except maybe a check length > 0

On Thu, Jan 29, 2015 at 11:07 AM, awchauhdry <notifications@github.com>
wrote:

[2015-01-29 14:04] lutze commented on #102
@awchauhdry that's exactly the idea, definitely.

[2015-01-30 00:38] Silberling commented on #109
I just installed paperwork and tried your suggestions.
It works pretty well. Yeah, Highlighting does not work, that's right. But there is a way to insert code blocks and define a language. At the moment I use a mediawiki for this case with a plugin which is pretty nasty.

I am pretty surprised how well paperwork meets the requirements I a missing in so many good applications. But there is still wo

[2015-01-30 00:41] Silberling opened #145 "Error while saving a note won't be displayed"
I am using mod_security. I accidentally forgot to disable it for paperwork.

Saving a note failed but I did not get any response. If I would have closed the tab in my browser the changes would have been lost and I would not have recognized it.

It might be me being blind but if there are any errors not caught, this should be an issue.

A note got created without a title and it was empty.

[2015-01-30 01:49] FromBabylon commented on #145
Is this same as #102 ?
I also noticed that sometimes save fails without any message.
But I can know if a note was saved by always closing with the button just aside saving one which pop up a message with "Close without saving ? " when note wasn't saved.

[2015-01-30 01:58] FromBabylon commented on #109
How to add ckeditor plugins ?
I've noticed there are some highlighting ones and I was really interested in that feature !

[2015-01-30 04:57] nikhilben opened #146 "Missing notifications on deleting a Notebook / Note"
There is no notification after deleting a notebook or note. It would be nice to show a notification "The notebook have been deleted successfully"  or something similar after deletion.

[2015-01-30 06:59] jasondavis commented on #104
Please add keyboard shortcuts to at least do these...

- `CTRL+S` - Save
- `CTRL+N` - New Note

I find myself constantly trying to hit `CTRL+S` to save the records!

[2015-01-30 07:48] Silberling commented on #145
I'm kinda not interested if anything worked but I'd like to know if anything did NOT work. But I would just drop my own opinion and have a good usability. Getting feedback anyway would be necessary. Maybe if the save button flashes green indicates success and a error message dialog on error would be a good solution.

[2015-01-30 07:49] Silberling commented on #109
Is there a plugin functionality already? Or did I miss it? Or do I have to install plugins manually?

[2015-01-30 08:51] Haroenv opened #147 "Languages list shows languages.sv"
When an account is registered, it's possible to choose `languages.sv` in the list of languages.

![list](https://cloud.githubusercontent.com/assets/6270048/5973163/6c612424-a865-11e4-893d-27359c6d301e.png)

[2015-01-30 09:20] Baldrs commented on #109
@devilx  I rebuilt it and it works now, seems like gulp rebuild is important part of the install process.

I think now that displayed html should be decoupled from source, because having highlight to highlight the notes dynamically is quite inefficient, and the rendered snippet should be rendered only once.

[2015-01-30 09:21] Baldrs opened #148 "Open gitter room"
There is a [service][1] that serves as a chat for developers that using github. I propose to open a room for this repo, to have a nice place for the intense conversations here. It is free of charge for most of it.

[1]: https://gitter.im/

[2015-01-30 09:40] ntnn commented on #148
Additionally it provides an [irc bridge](https://irc.gitter.im/) which is really nice.

[2015-01-30 10:30] Liongold commented on #148
Paperwork already has an IRC channel. It's on freenode.net channel #paperwork

[2015-01-30 10:35] Baldrs commented on #148
It is not mentioned in readme.

[2015-01-30 10:40] nrajasekar7 opened #150 "language.sv is shown"
Hey,

in register page, the language.sv option is also listed in dropdownlist..what is the meaning???
![lang](https://cloud.githubusercontent.com/assets/10460244/5974450/7fafe33c-a89a-11e4-99f2-610c54f94c97.png)

[2015-01-30 10:54] Liongold commented on #150
That happens because there's no translation for sv in https://github.com/twostairs/paperwork/blob/master/frontend/app/lang/en/languages.php

[2015-01-30 10:54] Liongold commented on #150
I think in the other folders too.

[2015-01-30 10:55] Liongold commented on #147
Same answer as #150.

[2015-01-30 10:57] Haroenv commented on #147
I didn't notice it was already asked

[2015-01-30 11:08] Baldrs opened #152 "Refine readme"
I propose to refine readme into shorter version, which states clear, what is the project, its goals and how to contact the developers. Any extended info is better to be placed in wiki(ie screenshots).

For example, I have added [screenshots][1] page to wiki

[1]: https://github.com/twostairs/paperwork/wiki/Screenshots

[2015-01-30 11:22] joshlemer opened #153 "Missing Japanese Translations"
We need translations for a few words. These include: Admin Area, Admin Status, Users, ID, First Name, Last Name. This is due to #83.

Maybe @letlive can look at this, since they did the other Japanese translations.

[2015-01-30 11:23] dulio opened #154 "User registration fail"
mysql table users.member_token has no default value, and without any value set in the registration

[2015-01-30 11:24] dulio commented on #154
PHP: 5.5.7
MySQL: 5.6.21

[2015-01-30 11:24] joshlemer commented on #153
Here are the exact keys and values that should be added:

'admin_area' => 'Admin Area',
'admin_status' => 'Admin Status',
'deleted_at' => 'Deleted',
'id' => 'ID',
'users' => 'Users',

'Admin Status', in case it isn't clear, is a user's status as either being an admin or not. As in "They do/don't have Admin Status".

[2015-01-30 11:30] joshlemer commented on #148
It is done!
https://gitter.im/twostairs/paperwork

[2015-01-30 14:11] #148 closed

[2015-01-30 15:54] joshlemer commented on #152
Also to be considered in any readme changes

* Exact, step-by-step instructions for how to get this project running. I have a rough draft document for this.
* mention running gulp in the setup instructions
* mention running "php artisan serve" in the setup instructions
* mention the "issue-123-name" convention in a contributing section

[2015-01-30 16:03] joshlemer commented on #153
Closed by #156

[2015-01-30 16:03] #153 closed

[2015-01-30 17:59] swengmatt opened #159 "Unable to create New Note"
I traced this down to the versions table having a field 'content_preview' which is not set, and doesn't have a default value/cannot be nullable when a new note is created.
I will create a migration and make sure it solves the unable to create a note problem.

I also wonder how many more database fields need to be nullable/given default values...

[2015-01-30 18:00] Liongold commented on #159
I think there's a bigger problem somewhere because normally that field should be set. Can you send a screenshot of what you were posting?

[2015-01-30 18:19] #150 closed

[2015-01-30 18:29] Liongold commented on #147
This should now be fixed. If you encounter the issue again, please re-open.

[2015-01-30 18:29] #147 closed

[2015-01-30 18:30] swengmatt commented on #159
The error I am getting from the response to the post is:

{"error":{"type":"Illuminate\\Database\\QueryException","message":"SQLSTATE[HY000]: General error: 1364 Field 'content_preview' doesn't have a default value (SQL: insert into `versions` (`title`, `content`, `updated_at`, `created_at`) values (Untitled, , 2015-01-30 17:13:23, 2015-01-30 17:13:23))","file":"C:\\Users\\majacobs\\GitSource\\pap

[2015-01-30 18:31] Liongold commented on #109
@Silberling Could you open an issue for your suggestions (one for each suggestion please)?

[2015-01-30 18:31] Haroenv commented on #147
It might be just too quick, but it still shows on the demo.

[2015-01-30 18:33] Liongold commented on #147
The demo updates via a cron job. I don't know the time however. Please try again tomorrow (if I'm not mistaken it happens overnight).

[2015-01-30 18:34] Liongold commented on #159
Can't test it right now but I think this could be a bug.

[2015-01-30 18:51] Liongold commented on #146
I might check this out so assigning this to me for now.

[2015-01-30 18:57] swengmatt commented on #159
Okay, instead of changing the database schema, I went ahead and passed content_preview along with  the existing title and content parameters, and the next error I get is:

{"error":{"type":"Illuminate\\Database\\QueryException","message":"SQLSTATE[HY000]: General error: 1364 Field 'umask' doesn't have a default value (SQL: insert into `note_user` (`note_id`, `user_id`) values (1, 1))","file":"C:\\

[2015-01-30 18:59] Liongold commented on #159
@swengmatt I think there's some underlying bug which is causing this.

[2015-01-30 19:13] swengmatt commented on #159
@Liongold It's because my mysql server is running in strict mode (which I could turn off, i suppose), which basically throws errors instead of warnings when you are trying to store a null value into a field without a default or nullable type.
The question would then become, do you want to support strict mysql databases.. this isn't the first occurrence of this type of error. See #154 and #116

[2015-01-30 20:52] Liongold commented on #159
Oh did not think of that difference to be honest. Setting as enhancement. Thanks for your pull request as well.

[2015-01-30 22:22] jasondavis opened #162 "Some feature requests"
As mentioned in another comment, I am very grateful for this application.  It is so perfect for me because of my desire to self-host and own my data + the fact it;s built on my language of choice (PHP+Laravel) it is a dream come true!  Also I use Evernote daily for so many things and this app is the perfect self-hosted replacement that I thought I would never have, so thank you!

Some features tha

[2015-01-30 22:28] swengmatt commented on #104
I would like to try to take this on, maybe use a library like [AngularHotkeys.js](http://chieffancypants.github.io/angular-hotkeys/)

[2015-01-30 23:06] joshlemer commented on #162
@jasondavis Thank you for this issue! These are great ideas. Some thoughts:

* Could you go into more detail or provide an example of an application that uses this drag and drop functionality? It's not clear to me how this would work.

* I love the password protected idea! Maybe this could also apply to entire notebooks.

[2015-01-30 23:24] joshlemer commented on #162
Maybe we could use something like [CryptoJS](https://code.google.com/p/crypto-js/) to encrypt notes client-side with a password.

[2015-01-30 23:49] devilx commented on #135
Looks like a bug in the CKEdtior Plugin. What browser are you using, @informationmissing?

[2015-01-30 23:50] devilx commented on #133
Exactly! :-) Duplicate of #86 .

[2015-01-30 23:50] #133 closed

[2015-01-30 23:53] devilx commented on #128
That's basically no issue... diagnose only tells you things you *shouldn't* do. You should still be able to run composer install (or update) in order to get all dependencies and run your own Paperwork installation. :-) Please report back if not.

[2015-01-30 23:53] #128 closed

[2015-01-30 23:56] devilx commented on #51
@joshlemer understood the problem. I will work on allowing the demo-server to build these sources on its own and we should proceed the way you suggested it (not checking in compiled/compressed sources). Thanks!

[2015-01-30 23:56] #51 closed

[2015-01-31 00:01] devilx commented on #69
@iamgeef thanks for the detailed info! Now, as far as I see it, changing ```src/Illuminate/Auth/Reminders/RemindableTrait.php``` isn't the nicest way to fix this. Is there a more elegant way, which does not imply chaning Laravel itself, but rather "overwriting" this through an own Class that extends Laravel's?

[2015-01-31 00:02] devilx commented on #140
Now there is one - #140. :-) Feel free to work on it, if you'd like!

[2015-01-31 00:09] #141 closed

[2015-01-31 00:09] devilx commented on #141
@awchauhdry please update to the latest GIT version and check, as @ChrisLahaye just implemented this.

[2015-01-31 00:12] devilx commented on #134
@iamgeef was right here, it's by design. Now, my question here would be: Is it "broken by design"? Is this UI behaviour understandable for everyone, or will it lead to confusion? Surely something to think about.

[2015-01-31 00:15] devilx commented on #145
Yupp, that's a good point - but let's stick to #102, as it's basically the same idea behind. We definitely need to show the user when something completed/failed.

Setting as duplicate of #102.

[2015-01-31 00:15] #145 closed

[2015-01-31 00:18] #159 closed

[2015-01-31 00:22] devilx commented on #152
:+1: good points!

[2015-01-31 00:23] devilx commented on #146
This is similar to #102.

[2015-01-31 00:24] devilx commented on #104
:+1:

[2015-01-31 00:29] joshlemer commented on #162
Also note that double clicking a note takes you to its edit page. But if @devilx thinks it's appropriate, I have a branch up where there's an edit button added at the top right as well. If he thinks that's a good idea I'll make a Pull Request. Here's what it looks like
![screenshot from 2015-01-30 18 22 23](https://cloud.githubusercontent.com/assets/5122903/5985822/d7a0fa0a-a8ad-11e4-8625-55b8597d

[2015-01-31 04:09] swengmatt commented on #101
I am unable to reproduce this.

[2015-01-31 04:18] codingmatty opened #163 "Suggestion: Add a dirty flag when in edit mode"
The suggestion is to add a dirty flag when in edit mode so that if you want to cancel editing a note you don't get a pop-up asking if you really want to cancel when you didn't actually change anything.

[2015-01-31 04:20] OmgImAlexis opened #164 "Can't create new notes"
When I try making a new note nothing happens on screen but I get a 500 error in the console.

![500](https://cloud.githubusercontent.com/assets/6525926/5986764/5f9bec6c-a958-11e4-812c-2b2e6cfd1716.PNG)

[2015-01-31 04:38] ntnn commented on #164
The same happens to me:
[code]

Looks like the demo is broken currently.

[2015-01-31 05:05] heywoodwt opened #165 "Last name hyphen"
I think that the symbol block should be removed from the last name form. It blocks people from using their legal last name.

[2015-01-31 05:14] swengmatt commented on #164
This is similar to #159, which should have been fixed with merge #160. If you update your repo, it should work. Your POST to notebooks/:id/notes should contain a content_preview field. Another idea would be to start your database with strict sql set to off.

[2015-01-31 05:28] ntnn commented on #164
@swengmatt We are both accessing demo.paperwork.rocks - @OmgImAlexis through the webpage and I through my wrapper.

That POST should include content_preview is interesting - thats not mentioned in the api, but works fine normally.

[2015-01-31 05:34] ntnn commented on #164
[code]

That indeed fixes it. Either #160 hasn't solved it or the demo isn't up to date.

[2015-01-31 05:37] swengmatt commented on #164
The demo gets recreated every night at 3am (not sure what time zone), so any fix done today will not fix the demo until tomorrow.

[2015-01-31 05:39] ntnn commented on #164
Ah, I didn't see that the commit was from today. Thanks for the quick response.

[2015-01-31 08:42] devilx commented on #162
Hey there @jasondavis,

thank you for your valuable feedback. Happy to see that you like the project! Let me answer a few of your ideas quickly:

1. Duplicate of #102

2. HTML support isn't planned yet (as it would be hard for us to validate and fix it, in order to avoid the user breaking the whole web-ui by writing malformed HTML code), but there is an issue for extending Paperwork in order to al

[2015-01-31 08:42] #162 closed

[2015-01-31 08:46] devilx opened #166 "Fix notebooks tree to not allow super long names to break the UI"
@joshlemer posted a screenshot that made me think we could use some checks or CSS magic in order to avoid super long notebook names to break the UI:

![screenshot from 2015-01-30 18 22 23](https://cloud.githubusercontent.com/assets/5122903/5985822/d7a0fa0a-a8ad-11e4-8625-55b8597dd678.png)

[2015-01-31 08:48] devilx commented on #101
Then let's close this issue. @OmgImAlexis if you're still having trouble, while using the latest GIT version please re-open.

[2015-01-31 08:48] #101 closed

[2015-01-31 08:50] devilx commented on #163
This should actually be already working like that:

https://github.com/twostairs/paperwork/blob/master/frontend/app/js/paperwork/paperworkNotesEditController.js#L64

Doesn't it work for you?

[2015-01-31 08:51] devilx commented on #165
Thank you for reporting. We're already working on this, though. Duplicate of #94.

[2015-01-31 08:51] #165 closed

[2015-01-31 08:53] devilx commented on #164
@ntnn cool, a Paperwork CLI client! Keep it up! :+1:

[2015-01-31 09:07] ntnn commented on #164
@devilx I wrote that actually just to test the interaction with the host. I'm more inclined to have [a vim plugin](/ntnn/vim-paperwork).

[2015-01-31 09:22] OmgImAlexis commented on #101
@devilx This was on the demo site and I can't currently test if that's still an issue as the demo is currently broken and I don't have a spare machine to test this myself.

[2015-01-31 09:22] lixonic commented on #166
`word-break: break-all`

`.tree li.tree-notebook span{ word-break: break-all;}`

[2015-01-31 09:47] lixonic commented on #166
and control the overflow by giving a 200px width for span
`.tree li.tree-notebook span{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 200px;
}`

[2015-01-31 12:08] devilx commented on #164
@ntnn saw it as well, starred! Cool work. Is that working already? Maybe you could screenrecord how it looks/works? Would love to share that with the Paperwork community.

[2015-01-31 12:09] devilx commented on #166
@lixonic thank you. :-) Why not sending a pull-request, so the credit for this goes to you?

[2015-01-31 12:41] ntnn commented on #164
It works for the most part. Creating/deleting and editing notebooks and notes already works - the bigger problem is time, because it currently syncs instantly to the remote host - and I wrote the wrapping classes a bit too heavy and sluggish. Some conditions also still have undefined behaviour.

I'm currently refactoring paperwork.py to get a better performance (maybe even adding optional threadin

[2015-01-31 13:20] Liongold commented on #52
I'm happy to announce that this issue has just been fixed and a commit has been pushed to master. However, the advanced features mentioned in the issue's discussion could not be completed so they are not available. However, the things included should help a lot. If anyone encounters any issues, please re-open this issue or open a new one.

[2015-01-31 13:20] #52 closed

[2015-01-31 13:22] Liongold commented on #154
@dulio Can you try again?

[2015-01-31 13:29] lixonic commented on #166
I never knew that there were several tweaks for compiling :trollface:

https://github.com/lixonic/paperwork/compare/twostairs:master...master

[2015-01-31 14:36] Baldrs commented on #17
I'm working on changing file structure according to this:https://github.com/johnpapa/angularjs-styleguide#application-structure

[2015-01-31 14:57] devilx commented on #17
@Baldrs invited you to join the team. As soon as you're in, you/me can assign this issue to you.

[2015-01-31 15:00] dulio commented on #154
well, it works!

[2015-01-31 15:00] #154 closed

[2015-01-31 15:28] joshlemer commented on #166
Oh hey guys, I actually fixed that yesterday and the pull request was merged after the screenshot was taken, try running gulp on master branch and you'll see that the notebook titles truncate.

[2015-01-31 15:33] joshlemer commented on #166
See #161

[2015-01-31 15:54] lixonic commented on #166
:sweat_smile:

[2015-01-31 20:55] brunobatista commented on #114
@devilx I waiting for portuguese approval. Thanks.

[2015-01-31 21:27] Baldrs commented on #17
There is also need to remove jquery usage at least into directives

[2015-02-01 15:20] ntnn commented on #164
@devilx Took a bit longer, but it works fine now and I added a screenshot/link to asciinema.org. Also this ticket can be closed, nor?

[2015-02-01 15:30] OmgImAlexis commented on #164
@ntnn I'm guessing this should have been fixed in an earlier commit. I'm still using the demo site and it's still broken on there. I can't create any notes at all.

[2015-02-01 15:33] ntnn commented on #164
@OmgImAlexis Oh, you're right! Sorry, I thought I created a note through the demo site earlier.

[2015-02-01 15:41] ChrisLahaye commented on #132
I am working on this, can anyone post some examples of textual date filters?

Had something in mind like:
date:2014y
date:03m2014y
date:06d

[2015-02-01 16:56] Liongold commented on #43
@devilx Do you think changing the dialog header to Move note to... would fix this?

[2015-02-02 02:46] rishabhranawat opened #176 "Scroller not functional for the index"
Respected Developer,

The scroller is not working for the second vertical devision of the first user page. It is the index division of the website.

[2015-02-02 04:40] nikhilben opened #177 "Delete tags that are no longer available"
If a tag is associated exclusively to a note, deleting that note also should delete that tag. Else they will be shown in "Tags" section, even though no notes are associated with it. Nothing happens on clicking these tags (as no notes are available). There should be some way to clean up these 'orphan' tags ?

[2015-02-02 08:49] Baldrs commented on #176
Can you clarify? What is the second division of the first user page? Can you take a screenshot?

[2015-02-02 15:09] Liongold commented on #69
This has just been fixed.

[2015-02-02 15:09] #69 closed

[2015-02-02 15:13] saibot2013 opened #180 "No redirect on session timeout"
Currently there is happing nothing when session was timedout. Only the console displays a failed request to api - maybe we should add an redirect to login-page here.

[2015-02-02 15:29] Liongold commented on #180
Screenshot please?

[2015-02-02 15:32] Liongold commented on #177
Is this for a 'Delete Tag' feature?

[2015-02-02 16:01] Liongold commented on #125
I've fixed this with the mentioned commit.

[2015-02-02 16:01] #125 closed

[2015-02-02 16:09] nikhilben commented on #177
@Liongold Not really.

 I think the most elegant way is to automatically delete the tag while deleting the note (only if the tag is not associated with some other note).

May be use the Laravel model events ? Whenever a note is removed from the model, check if the tags associated with it is associated with some other notes. If not, delete those tags.  Thus the "Tags" section will only show actual

[2015-02-02 16:13] saibot2013 commented on #180
![Screenshot after session-timeout and clicking "new note"](https://cloud.githubusercontent.com/assets/8065624/6003799/c3ea36ae-aafe-11e4-9acd-b01763198223.png)

[2015-02-02 16:28] Liongold commented on #180
If you redirect, are you be taken to the login form?

[2015-02-02 16:29] Liongold commented on #80
I'd like to do this if it isn't a problem.

[2015-02-02 16:33] pmatos opened #181 "Clicking the share button in the demo does nothing"
If I open the demo note on the demo of paperwork and click on the share button nothing happens.

[2015-02-02 16:41] Liongold commented on #181
Duplicate of #140. Please continue discussion there.

[2015-02-02 16:41] #181 closed

[2015-02-02 17:00] saibot2013 commented on #180
![sessiontimeout](https://cloud.githubusercontent.com/assets/8065624/6004735/2fe810a0-ab05-11e4-8f8b-cde4554f3133.gif)
Every link which is handled by javascript seems to do nothing. A real redirect on /settings for example or a page reload will show the login page. It's also on demo site, not only on my personal instance. I am using the current Firefox on a linux machine.

[2015-02-02 18:16] Whisprin commented on #85
Please have a look at:
https://github.com/Whisprin/paperwork/commit/8445d3197e3aaca66dca7a6ce5b0a50ff337b8c2

It fixed this problem for me.
Basically a few paths were changed to use relative paths instead of staring with a "/".

[2015-02-02 18:21] Liongold commented on #85
I have updated the README with more details. Can you check if it's enough, please?

[2015-02-02 18:22] Liongold commented on #180
Thanks for the bug report.

[2015-02-02 19:05] Whisprin commented on #85
@Liongold The .htaccess you are suggesting would rewrite all requests to domain.com/* to paperwork. Therefore I could not use it because it would disable all other sites running on domain.com. Additionally I already have an .htaccess file in my document root.

The easiest way to run paperwork from a subfolder, e.g.: domain.com/paperwork:
Clone repo into some folder
Symlink frontend/public/ to <doc

[2015-02-02 21:32] Tagnard opened #184 "Can't create new note"
I am using the latest version through fig and when i try to create a new note i get error 500 with the message.

    SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'content_preview' at row 1

[2015-02-02 22:24] Baldrs commented on #184
Any additional text in message? Like file name or line? Any traces? At least URL of the requested resource?

[2015-02-02 22:35] devilx opened #185 "Transifex: "No PHP array pattern was found!""
I'm receiving e-mails from Transifex regarding the translations:

[code]

Maybe someone could help me here, as I don't really know Transifex?

[2015-02-02 22:47] devilx commented on #132
@ChrisLahaye maybe we should use some ISO/standardised format here? Not sure, though, as (if this could be used in the search input box later on) users might want to have different ways to enter the date, maybe in a more "humane" way. :+1: for working on it!

[2015-02-02 22:49] devilx commented on #43
@Liongold I guess some description above the list would be best. The thing is, I built that dialog pretty generic, so that you'd probably need to extend this generic methods in order to support some sort of "description" field.

[2015-02-02 22:54] devilx commented on #176
I think he means the notes list, maybe. Not sure though, as this text looks like it was send through google's translate. (no offence!)

[2015-02-02 22:56] devilx commented on #69
4 Lines without modifying Laravel's core code? Great dude! :+1:

[2015-02-02 23:14] devilx commented on #177
@nikhilben thank you for the suggestion. Some thoughts on it though:

Deleting tags -> should be definitely available. Maybe through an additional menu entry on top and (soon) via a context menu (right click). But: Deleting a tag when the last note that uses it was deleted? If right now Evernote would do this to me (and many other users) I'd go pretty mad ad them. Example:

I use to collect every

[2015-02-02 23:18] devilx commented on #180
Weird. I remember, that I tried to implement this feature before (https://github.com/twostairs/paperwork/blob/master/frontend/app/js/paperwork/net/net.service.js#L11) but it looks like it still doesn't work properly.

[2015-02-02 23:22] devilx commented on #184
Did you try to upload an image containing text? Maybe the tesseract OCR parsed an crazy amount of text out of it.

[2015-02-02 23:51] devilx opened #186 "Adjust GIT workflow?"
Just had a conversation with @joshlemer on [gitter](https://gitter.im/twostairs/paperwork) regarding this:

[code]

For me, the workflow suggested by @joshlemer looks pretty good. What do you other guys think? Could we implement it here that way?

[2015-02-03 00:06] swengmatt commented on #186
Thats pretty much how I setup my repos, and atlassian has a cool local git repo manager that supports that kind of workflow [sourcetree](http://www.sourcetreeapp.com/)

[2015-02-03 00:08] joshlemer commented on #186
Ah hah, my initial worry about the ability to implement gitflow on github are no longer a concern, because [all pull requests merge with the --no-ff option](https://help.github.com/articles/merging-a-pull-request/), so we're already ready to go. We'll need to keep this in mind though when merging develop into master though. That is, merging develop into master should be done either with an actual

[2015-02-03 00:27] joshlemer commented on #185
I can't find anywhere that indicates they specifically don't allow concatinated strings (such as is found in the array's "welcome_note_content"), but I have a feeling this ha something to do with it. I don't know how to test it but I'd maybe try putting the entire content in one very long, un-concatinated string.

[2015-02-03 01:08] Tagnard commented on #184
Here is the full message.
https://gist.github.com/Tagnard/fe83454714010b095e27

[2015-02-03 01:38] jasondavis opened #188 "Password Protected Notes, Notebooks, and/or Content"
A feature request I have is to be able to password protect either all of these or at least some of these:
- Notebooks (all notes in a notebook, perhaps even the note names in that notebook)
- Notes (password protect viewing the content of a note on a per note basis)
- Content (password protect part of a note.  Evernote does this and the screenshot image below shows an example inside of evernote wh

[2015-02-03 01:54] jasondavis opened #189 "Request for a Planned Feature Roadmap/Log"
I know that GitHub issues are amazing and really design well and that there is an appropriate "Enhancement" Label already, however...

The other day I had just discovered the application which really made my day!  I instantly jumped in playing with it and seeing what I loved about it and what I felt it still lacked to be my DREAM Evernote replacement.  I without hesitation rushed and posted a requ

[2015-02-03 02:15] jasondavis opened #190 "HTML Source View/Edit Mode"
As part of my bigger first issue post I had mentioned in my list that I would like to be able to edit the HTML from the Source.  My reason is mainly to adjust things as copy/pasting content into WYSIWYG style editors generally works about 90% how I would like it to but there is always that 10% where I WISH I could simply access the source code and "fix" spacing issues or whatever the issue is!

As

[2015-02-03 02:43] joshlemer commented on #186
@Liongold @Baldrs I thought I'd mention you guys to chime in if you have any issues with this style of development.

[2015-02-03 03:48] joshlemer opened #191 "paperwork.min.js syntax error"
Load the master branch and run gulp to produce the minified JS.

Get this error:

https://docs.angularjs.org/error/$injector/modulerr?p0=paperworkNotes&p1=Error:%20%5B$injector:nomod%5D%20Module%20%27paperworkNotes%27%20is%20not%20available!%20You%20either%20misspelled%20the%20module%20name%20or%20forgot%20to%20load%20it.%20If%20registering%20a%20module%20ensure%20that%20you%20specify%20the%20depe

[2015-02-03 03:58] #191 closed

[2015-02-03 06:20] Baldrs commented on #176
There is scroll, chrome 40 linux
![2015-02-03-080800_1680x1050_scrot](https://cloud.githubusercontent.com/assets/814651/6015302/f1d24ca0-ab7b-11e4-91fa-27cbf53215df.png)
There is scroll in firefox 35
![2015-02-03-081933_1680x1050_scrot](https://cloud.githubusercontent.com/assets/814651/6015475/7ccfd416-ab7d-11e4-91ae-4b5832474d30.png)

[2015-02-03 10:39] Baldrs commented on #186
No issues, lets add devel branch for intense merging and let @devilx decide when to merge into master and us to merge into devel all these intense changes we add and break things(As I have messed up with that comma)

[2015-02-03 10:48] Baldrs commented on #186
And let's add the contributing guide somewhere where we all agree on how to contribute and on standards we use in code for all the stuff.

[2015-02-03 11:14] pwmvx1289 commented on #97
@jacobbridges May you guide me on deploying on Heroku?

[2015-02-03 12:21] ponychicken commented on #130
That seems to have been it. Issue can be closed

[2015-02-03 12:23] ponychicken commented on #134
I think it's broken, I just stumbled on the same.

Suggested UI: new note is never gray, and when clicked while no notebook is active or existing, a selection/creation thing pops up

[2015-02-03 15:12] DeviantEng opened #197 "Paperwork behind Nginx Reverse-Proxy?"
Hi guys.

So yeah, a few weeks ago I revisted this project, and I am very happy with it.  I've moved over my stuff from Evernote to Paperwork, and configured paperwork to proxy through my Nginx reverse proxy, and now I'm having issues.

paperwork.domain.local is my server name that paperwork is running on.  domain.com is my public facing domain, and I have my Nginx reverse-proxy setup using that a

[2015-02-03 22:05] devilx commented on #184
Ah. That explains it. The content_preview column should only save a preview of the note's content, in order to display it within the notes list. It looks like right now, it tries to save everything it receives as content, without cutting the content correctly at a maximum point.

I will fix this while working on issue-66-feature.

[2015-02-03 22:16] devilx commented on #188
@jasondavis thank you for the detailed suggestion! Now, the first question here that pops into my mind would be: Should the note be hidden, until the user enters a password (super easy, super simple solution) or should the note be encrypted within the database using that password and not only be visually hidden, but actually unable to read without the correct password (hard but awesome solution).

[2015-02-03 22:29] devilx commented on #190
@jasondavis thanks for writing. Basically, you quoted the most important thing: Validation. Indeed, we use CKEdtior which provides a Source-View by default and it wouldn't take a big amount of work to make this configurable, so that users could turn on an "advanced mode" within their settings. The only thing I'm still seeing as a big problem is the validation issue. From what I know, WordPress has

[2015-02-03 22:31] devilx commented on #191
Just one additional comment to this: We should consider adding some linting for the JS code to Travis (if that's supported), in order to catch such errors before deploying.

[2015-02-03 22:38] Baldrs commented on #191
`jslint`/`jshint` are simply `npm` packages and `php_codesniffer` is a composer package. In travis logs I saw both `composer` and `npm` present, so I think it is not very hard to add some script running the checks against the code.

[2015-02-03 22:41] #130 closed

[2015-02-03 22:49] devilx commented on #197
@DeviantEng what's inside your ```frontend/app/config/app.php``` defined as 'url'?

[2015-02-03 22:54] #80 closed

[2015-02-03 22:57] devilx opened #198 "JS Linting within Travis build"
As mentioned by @Baldrs within https://github.com/twostairs/paperwork/issues/191#issuecomment-72751224 we should add some linting functionality to our Travis builds.

[2015-02-03 23:16] devilx commented on #186
All open pull requests have been merged to the master now. I will now create the develop branch.

[2015-02-03 23:20] devilx commented on #186
Should master be pulled into develop using a regular merge or by using rebase?

[2015-02-03 23:34] devilx commented on #189
Thank you for your feedback!

A few months ago, Paperwork used a publicly visible Trello board to organise features. Back then, I was the only one using it, because I was still the only one on the project. In order to make it more easy for others to get into development, I then migrated everything into GitHub issues.

However, right now, there is a milestone available here on GitHub issues: https:

[2015-02-03 23:44] joshlemer commented on #186
You could either just do a regular merge of master into develop (it's just a fast-forward) or you could just delete the develop branch and branch a new one from master

[2015-02-03 23:46] joshlemer commented on #166
Can we close this issue?

[2015-02-04 00:19] CoolkcaH opened #199 "Sandstorm.io port"
A port to Sandstorm.io would have many advantages. It's the future of web-apps.
A direct port is possible, but using the Sandstorm API would be much better and make the app easier to maintain and develop.

See this thread I started:
https://groups.google.com/forum/#!topic/sandstorm-dev/JXrDH8APlkU

Apps currently ported:
https://sandstorm.io/apps

[2015-02-04 00:31] jasondavis commented on #188
It sounds like a nightmare when considering all those issues!  Would like to hear some others feedback on it as well.    Looking at something like WordPress again as an example of how they handle per-post passwords.  They do not alter the post content but simple password protect the view of it on the frontend.  For my own personal needs and for simplicity sake, this would be enough for my own need

[2015-02-04 00:51] jamesrascal commented on #188
Personally I love this idea. @devilx  brings up a lot of good points. Something that I think would work for the moment is having the note content hidden until you type a password.

I would like to have the option to possibly install Paperwork in a paranoid mode where you can set up a master key to encrypt all of the notes by default and then provide the user an option to setup their account as a n

[2015-02-04 00:55] DeviantEng commented on #197
@devilx 'url' is defined as 'http://localhost'.

Should I try changing this to 'https://notes.domain.com'?

[2015-02-04 04:44] joshlemer opened #200 "Freqselector background, ruler, and other images missing"
When you click on the wayback machine (the little clock icon in the upper right hand side of the view of a single note), the browser cannot find these two images, this seems to be a relatively new phenomenon, within the last few days at most, but haven't been able to investigate further.

angular.min.js:25305 GET http://localhost:8000/css/images/freqselector/default/background.png 404 (Not Found)

[2015-02-04 04:58] joshlemer commented on #200
Okay well I've found the commit that broke this, and it is 8d3ab2853afaf112fafa42b6d198381ce1af1d6c
So @Liongold and @devilx you guys might want to check this out :-)

[2015-02-04 06:41] Baldrs commented on #189
@devilx we can continue to use the issues while providing some document with generalization of the issues and some plans and goals. It will help even as to understand what to do in some way. Setting goals, I think, is important, and most important thing is to record what do we want to see in Paperwork 1.0, ie to have better and more than in evernote functions, write a pair of clippers, have markdo

[2015-02-04 06:44] awchauhdry commented on #140
we are going to need oauth api keys to integrate the social media functionality, are there any specific accounts that they should be created under?

[2015-02-04 06:45] Baldrs commented on #186
I vote for the second variant.

[2015-02-04 06:51] Baldrs commented on #199
It does not support php, I think? Why do we must port it to anything anyway? For one platform instead of billions running PHP? Or to nodejs while there are no reason? This is no-go.

[2015-02-04 08:30] Liongold commented on #69
Thanks. However, Google helped with this too. :D

On Monday, February 2, 2015, Marius <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-02-04 09:58] jasondavis commented on #188
@jamesrascal Yu bring up another possible use case however even if it was implemented in the manner you mention then I believe there should still be an option to password protect on a per note basis for us users who want to protect data behind a password but only on certain notes and not others.

[2015-02-04 10:00] jasondavis commented on #199
I agree, personally I love the fact that it is built in my language of choice: PHP and further on my favorite framework Laravel!  My dream app on my favorite platform...perfect how it is in my opinion

[2015-02-04 10:03] jasondavis commented on #189
great +1

[2015-02-04 11:28] Baldrs commented on #199
It seems to support PHP but it changes the applications in some way, for example WordPress is not just run on that platform, it is changed in some way, and I, personally, don't like the way they changing things or losing cross-platform app to a single platform anyway. It may be good if someone will maintain and adapt Paperwork to work with that thing, but I see no reason to do this. If you need th

[2015-02-04 11:54] CoolkcaH commented on #199
Baldrs, this was meant as a suggestion to generate discussion. Marking as wontfix instead of enhancement is the kind of thing that can drive developers and users away. I am a dev and maybe would consider contributing to paperwork in the future. I am not affiliated with Sandstorm, but I'm interest because I want to start running web-apps on my own and want a good platform I trust.

If Paperwork is

[2015-02-04 13:18] Baldrs commented on #199
Ok, lets ask @devilx about his opinion on this. This is not enhancement, this is the change of lot of the things and much of development effort anyway.

[2015-02-04 13:26] #200 closed

[2015-02-04 13:53] CoolkcaH commented on #199
A basic port doesn't seem difficult. Since you already support Docker in Paperwork, it seems to be even easier.
Of course to take advantage of all the features instead of just running as is would take more effort.

https://blog.sandstorm.io/news/2014-05-12-easy-port.html

https://github.com/sandstorm-io/sandstorm/wiki/Porting-Guide

https://groups.google.com/forum/#!searchin/sandstorm-dev/php/sand

[2015-02-04 17:48] saibot2013 commented on #180
It looks like you cannot handle status 302 by javascript/angular because the browser has to do it. There seems to be actually no possibility to handle this. I think there are two options how to manage the problem:
* on ui-side: parsing the response (on every api-call) and check if the given data is a valid json-string. That would be nice, because the api currently returns json only. But on the oth

[2015-02-04 19:47] THS-on opened #205 "tags are not removed automatically"
When i create a new tag in a note, the tag will be added in the tag list. But when i remove the tag from all the notes that use the tag, the tag is still there.
Is there a way to delete the tag over the interface?
If not, can that be added, becaue its annoying to delete the tags in the database.
Thanks THS-on

[2015-02-04 23:13] jasondavis commented on #199
Another thing to consider is most of the apps that it supports are matured apps that aren't being developed in their infancy stage.  Perhaps if this were implemented if should be down the road, a year or more even.  Just my thoughts out loud.

[2015-02-05 00:38] CoolkcaH commented on #199
jasondavis,
It is possible now to run the whole Paperwork app without big modifications inside Sandstorm, just like it does now with Docker. Sandstorm supports the conversion of the Docker container.
So that is a way to make it run easily and it would probably be the easiest way for a end user to install Paperwork, especially after Sandstorm opens the Indie App Store.

Right now for end-users it's

[2015-02-05 02:57] jasondavis opened #207 "Toggle visibility of the Note List"
Has it been mentioned yet to possibly allow the visibility of the Notes List to be toggled in and out of view?  When hidden it would make the Note view wider for a wider view of a note?

In Evernote you can go to View menu and check/uncheck "Note List" to make it visible or not,  When hidden you can view a wider view of the note.

Ideally if such a feature was added, I think it would be good to ha

[2015-02-05 07:01] jasondavis opened #208 "Update and Migrate to Laravel 5"
Laravel 5 has been released which has a different folder structure from Laravel 4 and I think it would be a good idea to update Paperwork to use Laravel 5 just for the sake of staying up to date with the latest.  What are the thoughts on this?

[2015-02-05 07:55] Baldrs commented on #199
Rule of thumb in open-source - you need it, you do it.

[2015-02-05 08:04] jasondavis opened #209 "Keyboard Support for common tasks"
I know I saw this feature mentioned elsewhere but could not find it right now.  I would like to expand on it with some nice libraries that I have seen other projects use to add keyboard shortcuts support...

When I say keyboard shortcuts I mean something similar to this...
- `CTRL + S` - Save Note
- `CTRL + N` - Create new note

## 1) KeyCSS - CSS Library to show nice looking Keyboard Keys
This CS

[2015-02-05 08:21] nkuba opened #210 "Login Page - CSS and JS are not loading"
On Demo instance styles are not being loaded.

Following errors noted in FireBug on the Login Page:
"NetworkError: 404 Not Found - http://demo.paperwork.rocks/css/themes/paperwork-v1.min.css"
paperwo...min.css
"NetworkError: 404 Not Found - http://demo.paperwork.rocks/js/libraries.min.js"
libraries.min.js
"NetworkError: 404 Not Found - http://demo.paperwork.rocks/js/jquery.min.js"
jquery.min.js
"N

[2015-02-05 08:21] jasondavis commented on #209
I am adding this as a comment to issue #104

[2015-02-05 08:21] #209 closed

[2015-02-05 08:21] jasondavis commented on #104
I would like to expand on it with some nice libraries that I have seen other projects use to add keyboard shortcuts support...

When I say keyboard shortcuts I mean something similar to this...
- `CTRL + S` - Save Note
- `CTRL + N` - Create new note

## 1) KeyCSS - CSS Library to show nice looking Keyboard Keys
This CSS library is useful for providing a nice screen to show the available keyboard s

[2015-02-05 08:31] jasondavis commented on #39
Personally I prefer the basic MySQL search for the reason that I can simply install this on my localhost server or anywhere I have a LAMP stack running and not have to worry about yet another piece of software being installed and configured.  I can't comment on the other stuff mentioned!

[2015-02-05 08:49] Baldrs commented on #208
Wow, good news, lets all read [this][1]

[1]: http://laravel.com/docs/5.0/upgrade#upgrade-5.0

[2015-02-05 09:07] Liongold commented on #208
Duplicate of #54

On Thursday, February 5, 2015, Arseniy Lozicki <notifications@github.com>
wrote:

--
Sincerely,
Jean Spiteri.

[2015-02-05 09:08] #208 closed

[2015-02-05 11:25] stephen-hill commented on #210
Ditto

![image](https://cloud.githubusercontent.com/assets/205619/6059464/b5eb2acc-ad29-11e4-827d-b85911736661.png)

[2015-02-05 11:35] pwmvx1289 commented on #191
@Baldrs @devilx This is a nice js lint npm package https://www.npmjs.com/package/jscs

[2015-02-05 19:22] swengmatt commented on #104
AngularHotkeys.js actually uses Mousetrap to do the key bindings.
The problem I did run into is 2-fold:

1. Things like Ctrl + N in Chrome opens up a new window.  I'm not even sure what would happen in other browsers; making customizable hotkeys would probably be the best answer, but I would like some feedback for that idea.
2. Also, to be able to add a checkbox to be able to disable them altogeth

[2015-02-06 15:06] pwmvx1289 commented on #207
I've also been thinking about it to add a small arrow on the list that serves as a show/hide button.
Current interface may have a viewing space for notes that have large amount of content.

[2015-02-06 21:08] devilx commented on #197
That's weird. Are you sure your nginx config doesn't perform the rewriting/redirecting?

[2015-02-06 21:11] devilx commented on #140
@awchauhdry I wouldn't implement such a deep integration, but instead use the default share-URLs. Check out this service for the URLs: http://www.sharelinkgenerator.com/

[2015-02-06 21:13] devilx commented on #186
As I didn't perform anything so far, I was wondering that's the status of master and develop, as I've seen that new commits have been merged into master and develop as well...? @Baldrs @joshlemer

[2015-02-06 21:29] devilx commented on #188
@jasondavis let me clarify this:

WordPress does not encrypt the content inside the DB using the password but just not show you the content until you enter the right password. That's the easy way I described above, which could be implemented pretty quickly into Paperwork but would only provide a small level of security.

On the other hand, the "paranoid mode" (as called by @jamesrascal) would be t

[2015-02-06 21:36] devilx commented on #205
Duplicate of #177. Please also check out this comment: https://github.com/twostairs/paperwork/issues/177#issuecomment-72559453

[2015-02-06 21:36] #205 closed

[2015-02-06 22:43] ntnn opened #214 "Upload of file through API works, but returns 500"
When uploading a file through the API the file goes through, but the response is [this page](https://gist.github.com/ntnn/40d1f70561c48f1c1044) (viewable [here](https://ntnn.github.io/paperwork_file_upload_error.html)) and a 500 error code.

Below is the output of the terminal client showing the process, a double dash signals an attachment, a single dash a note:
[code]

[2015-02-06 23:26] devilx commented on #199
@CoolkcaH thank you for suggesting this. Let me tell you my honest opinion about Sandstorm.io as it is today.

Basically, I find it an interesting concept: Building an *app store* for the open-source world (or more precisely for open-source web services, just like Paperwork is one) – at least, if I should have gotten the idea right, because there is no clear statement about what problem Sandstorm

[2015-02-06 23:26] #199 closed

[2015-02-06 23:36] devilx commented on #210
Fixed for now. Thanks!

[2015-02-06 23:36] #210 closed

[2015-02-06 23:39] devilx commented on #191
@pwmvx1289 thanks! Looks like it's even getting along with Gulp: http://isimmons.github.io/

What do you guys think, @Baldrs @joshlemer @Liongold? Should we integrate JSCS into our Gulp or rather use a composer package?

[2015-02-06 23:45] devilx commented on #207
I'm fine with the idea. Right now, it could be hidden by calling SidebarNotesController.isVisible(). This is the function being used for expanding the note editing to full-width.

[2015-02-06 23:47] devilx commented on #214
@ntnn do you upload as regular form-submission or JSON?

[2015-02-06 23:49] ntnn commented on #214
Regular form-submission with the [requests library](http://docs.python-requests.org/en/latest/user/quickstart/#post-a-multipart-encoded-file), implemented [here](https://github.com/ntnn/paperwork.py/blob/master/paperworks/wrapper.py#L422-437).

[2015-02-06 23:54] devilx commented on #214
@ntnn okay, if it was pure JSON there was a big chance for it to not work, as nobody ever tested it. But form-submissions should work, as the web-ui uses the same. Does uploading through the web-ui work? Could you get the request body of the 500 error being display?

[2015-02-07 00:05] ntnn commented on #214
Uploading through the webui works fine.

Also I'm checking if requests is actually using multipart/form-data to upload files or if it is using json - I just noticed that it doesn't work at all (with the same response) if I add 'multipart/form-data` as  a header to the request.

[2015-02-07 00:19] rpietzsch commented on #210
What commit/branch to pick up the fix? I did ``fig up`` on master and develop branch, both still have the issue. Thanks.

[2015-02-07 00:23] devilx commented on #185
I've contacted support, they're looking into this issue.

[2015-02-07 00:23] ntnn commented on #214
[It is definitely using multipart/form-data.](https://github.com/kennethreitz/requests/blob/master/requests/models.py#L102-L109)

[2015-02-07 00:32] devilx commented on #107
Here are some news on the DO topic:

Juliann from DigitalOcean replied to my request with the following:

With this credit, a $20 instance (2GB RAM, 2 Cores, 40 GB SSD, 3TB transfer) could be used for no more than 3 months. No words about a follow-up sponsoring so far. The thing is: If I would upgrade the DO instance to the $20 version, I'm not sure whether I can downgrade it again to $5 as soon a

[2015-02-07 00:36] OmgImAlexis commented on #107
You can downgrade quite easily, just save a snapshot and then delete the droplet and create a new one on the $5 plan with the snapshot. I do this quite often and only leaves about a minute of down time.

Also like people in #31 have said WordPress provably isn't the best option.

[2015-02-07 00:38] devilx opened #215 "Fix Docker deployment (or remove it)"
Due to the recent changes in LESS transformation and JS minification, the current Docker deployment doesn't work any more. Someone who's into this topic is needed to fix this issue. Either this, or we'll need to remove it completely.

[2015-02-07 00:38] devilx commented on #210
@rpietzsch sorry, the demo system doesn't run the dockerized Paperwork – even though this might probably be a good idea in future. I've created an issue relating to your problem: #215.

[2015-02-07 00:39] devilx commented on #214
@ntnn as I requested before: It would be great to see the response body.

[2015-02-07 00:42] ntnn commented on #214
The response body is actually the page I linked in the first comment.

[2015-02-07 00:43] devilx commented on #107
@OmgImAlexis this would require changing the DNS, since the IP would change, wouldn't it?

As I commented on #31, WordPress surely isn't the best option from a tech point of view – but makes life a lot easier from a marketing standpoint. And at a certain point, we will need to market to users. :-)

[2015-02-07 00:47] devilx commented on #214
@ntnn sorry, overseen that. Please pull latest develop and try with that.

[2015-02-07 00:48] OmgImAlexis commented on #107
Not necessarily, if you rebuild from a current droplet you almost always keep the IP.

Yeah I read what you said but what did you mean by "social channels, providing blog-functionality and permit better user interaction". The "user interaction" and "social channels" doesn't really sound like it'd be needed all that much with a project like this, I could be wrong though. Have you looked at somethin

[2015-02-07 01:36] jacobbridges commented on #97
@pwmvx1289 I tinkered with a Heroku deployment this evening and will continue tomorrow evening after work. It's been almost two years since I used Heroku and the system has changed (somewhat).

I'll post a link once it's running, and if @devilx approves I'll submit a pull request to add the "one click deploy" button.

[2015-02-07 01:39] ntnn commented on #214
@devilx No worries.

I set paperwork up on my local machine to test it - it works.

[code]
Thanks for the fast response.

But I've directly got something else - uploading an image gets [this error](https://ntnn.github.io/paperwork_file_upload_error2.html) - maybe there is a step in the wiki missing?

[2015-02-07 06:05] pwmvx1289 opened #216 "Tags within notes should redirect to filter when clicked"
There's a list of tags within each note.
The tags should act as those in the sidebar which redirect users to the tag filter list when clicked.

[2015-02-07 08:42] devilx commented on #97
:+1:

[2015-02-07 08:45] mrusme opened #217 "Fix documentation: Add info about ImageMagick and Tesseract"
For Paperwork to be able to scale uploaded images (generating thumbnails) imagemagick is needed. Also, for Paperwork's OCR capabilities (e.g. when you upload a photo of a written document, Paperwork tries to parse the text out of it) to work, you will need tesseract (+ language files) installed on your system.

We need to fix the documentations in order to provide some information on installing th

[2015-02-07 08:46] devilx commented on #214
@ntnn indeed, the Wiki does not contain every detail yet. For Paperwork to be able to scale uploaded images (generating thumbnails) imagemagick is needed. Also, for Paperwork's OCR capabilities (e.g. when you upload a photo of a written document, Paperwork tries to parse the text out of it) to work, you will need tesseract (+ language files) installed on your system.

I've created a new issue for

[2015-02-07 09:17] ntnn commented on #214
@devilx Ah, that makes sense - thanks for the quick fix!

[2015-02-07 09:17] #214 closed

[2015-02-07 11:50] oompf opened #218 "Install Paperwork in subpath"
I think it would be nice if you could configure Paperwork to be installed in a subpath of a webserver.
I expierienced problems with loading ressources.

[2015-02-07 12:22] devilx commented on #218
Please search the closed issues here for a more in-depth information about this. Also see https://github.com/twostairs/paperwork#can-i-run-paperwork-on-a-shared-host-environment-where-im-not-able-to-set-frontendpublic-as-document-root

[2015-02-07 12:22] #218 closed

[2015-02-07 13:25] Baldrs commented on #215
Seems we just need to extend Dockerfile with what I have written in readme - gulp build part. For this I will add nodejs to container and then build step for gulp.

[2015-02-07 13:35] Baldrs commented on #191
Never heard of jslint composer package :) I think we should, and also add php codesniffer hook to check for coding standards. And use this checking in our IDE's of choice. And don't accept PRs violating them.

[2015-02-07 17:52] DeviantEng commented on #197
@devilx
Yeah, my Nginx isn't doing any rewriting other than using the proxy_pass option.

Here is my default.conf for Nginx:
http://textdump.net/read/6675/

Like I said, it's working for everything else (I removed several services from the conf linked above, but there is enough there to see what I am doing).  It's so weird, and I'm not sure how to fix it.  If I can get this figured out, I am sold

[2015-02-07 19:37] joshlemer commented on #190
@devilx @jasondavis Posting this here, I asked this in the Gitter chat but just for visibility:

What do you guys think about this:

Have Markdown notes and have WYSIWYG notes, but we don't have to provide WYSIWYG <-> Markdown conversion. This would greatly simplify the issue, and having a markdown editor seems to me to be a very important feature for a lot of users.

I'm not sure how it would wor

[2015-02-07 19:54] devilx commented on #197
Just performed a quick search on google and found this: http://fideloper.com/laravel-4-trusted-proxies

Could you try to include this piece of code:

[code]

For example into ```/frontend/app/filters.php```? Just to check, if that's the real problem behind your issue.

[2015-02-07 19:59] devilx commented on #190
Quoting what I wrote on Gitter:

Adding a column "type" which preferably is a fixed with char (not an integer id!).

[2015-02-07 20:46] DeviantEng commented on #197
@devilx
That didn't change any behavior.

However, I added "proxy_set_header HOST $host;" to my Nginx config on the reverse proxy, and I am getting different behavior.

So now i have:

server {
    listen 443 ssl;
    server_name notes.domain.com;

    ssl on;

    location / {
        proxy_pass http://paperwork.domain.local/;
        proxy_set_header HOST $host;
    }
}

And when I hit Sign in,

[2015-02-07 21:26] joshlemer commented on #216
This was done in #219

[2015-02-07 21:26] #216 closed

[2015-02-07 21:49] devilx commented on #197
@DeviantEng sorry, I never tried such a setup before. It appears that a few users did so, though: http://laravel.io/forum/10-25-2014-configuration-for-running-laravel-with-nginx-and-apache

You appear to have a similar issue in which paths are being rewritten in a weird (twice?) way. Maybe check the try_files setting?

[2015-02-07 22:11] Baldrs commented on #186
I haven't merged anything into master after we agreed on a new workflow, as I recall

[2015-02-07 22:59] mrusme opened #223 "Plugins interface / API"
We need to think of a way for implementing a plugins interface/API in order to allow other devs to easily extend Paperwork without modifying its core. Here are some requirements:

Plugins should be placed into a specific subfolder within Paperwork. Every plugin should contain of only one base folder with all plugin code and data inside. The tricky part is, that nothing but the /public folder is ac

[2015-02-07 23:09] devilx opened #224 "Note rules (similar to email rules)"
Users should be able to configure Note rules. Example:

A user should be able to set up a rule, that searches note's (and attachment's!) contents for certain keywords. Even regex might be provided to the user. Now, when he built a rule that goes like:

When the user then uploads a photo he took of last months phone bill, Paperwork would automatically move the note this attachment was uploaded to i

[2015-02-07 23:10] devilx commented on #186
Okay. We'll just move along, as there's nothing to see here. :-) let's close this for now then.

[2015-02-07 23:10] #186 closed

[2015-02-07 23:12] Baldrs commented on #215
I think we must consider to reconfigure it into a persistent setup at least for database part.

[2015-02-08 04:32] jasondavis commented on #188
@devilx The password column is really the way I prefer it to be and that's exactly how WOrdPress does it too.  A simple password to access the view note screen is all it needs to do and for me personally is plenty good enough!

[2015-02-08 05:11] jamesrascal commented on #217
Is there anything special that will need to be configured for these to work with Paperwork? If it is just a matter of having them installed based on the the official documentation this will be easy to update.

[2015-02-08 08:40] pwmvx1289 commented on #71
There is a HTML to PDF converter in PHP.
https://github.com/dompdf/dompdf

[2015-02-08 09:09] kentonv commented on #199
Hi! I'm the founder and lead developer of Sandstorm. Just want to clarify a few points:

I don't think @CoolkcaH is suggesting that Paperwork should _require_ Sandstorm, just support it. That is, the core would remain independent of Sandstorm, but there would be a Sandstorm package built as one option for deployment, which means the user would have more choices, not fewer.

That said, it is of cou

[2015-02-08 10:06] devilx commented on #217
@jamesrascal the only configuration needed should be enabling imagemagick within the php.ini and making sure that the tesseract binary is available within the folders listed inside the $PATH variable. Of course, tesseract needs every language installed as well - this shouldn't be a problem though, since most major distributions provide these as packages (e.g. https://packages.debian.org/search?key

[2015-02-08 10:11] devilx commented on #71
Seems to look good @pwmvx1289. Every tried it yourself?

[2015-02-08 10:32] devilx commented on #199
Hey there @kentonv,

thank you for taking time and replying to this issue! I have a few questions regarding your replies:

I wasn't able to find out what *"just support it"* would take. Is there a way to simply build/maintain some docker-like configuration, which would make Paperwork (rudimentary) work on top of Sandstorm, without initially using all the features like the authentication mechanism?

[2015-02-08 10:35] devilx commented on #66
@Liongold

What do you mean here?

[2015-02-08 10:44] devilx commented on #66
Thought:

With this kind of peering, it would be theoretically possible that 10 installation peer among each other. Or 20. Or 100. Now data synchronisation could get tricky, especially when it comes to transferring uploaded attachments. When Installation1 would upload a new document (120MB PowerPoint presentation – I know people doing that) to a peer-shared notebook, it would need to transmit it t

[2015-02-08 10:48] devilx commented on #176
As @rishabhranawat didn't comment on this for the last six days, I'm going to close it. Feel free to re-open if the issue persist.

[2015-02-08 10:48] #176 closed

[2015-02-08 10:52] devilx commented on #188
Let's implement it the simple way. I've added this feature to Paperwork 2.0.

[2015-02-08 10:56] devilx commented on #177
I thought some more about this and think it's not a great idea to remove the user's tags. Not only, because we would end up in quite some trouble on the technical side of this enhancement, but also because I believe that users like to keep empty tags by default, which is why Evernote and all the others leave them until the user actively removes them manually.

[2015-02-08 10:56] #177 closed

[2015-02-08 10:57] devilx commented on #166
I think we can.

[2015-02-08 10:57] #166 closed

[2015-02-08 10:57] devilx commented on #164
This issue should have been fixed by now.

[2015-02-08 10:57] #164 closed

[2015-02-08 10:59] devilx commented on #163
However, besides the local dirty flag, we should consider adding a server-side dirty flag, in order to support shared notebooks/notes.

[2015-02-08 11:00] devilx commented on #135
@informationmissing ping?

[2015-02-08 11:03] devilx commented on #134
How about we leave it gray, as it is right now, but build in popups that describe why it is gray? The "graying out" of menues usually is a standard across all desktops, therefor I would like to keep it like this, but also provide users an information about why it's impossible to create a new note when there is not notebook available. "All notes" is not a notebook, but as of today, notes expect to

[2015-02-08 11:05] devilx commented on #118
I thought this through. Including external references always is a bad idea when *archiving* something. The external reference could be gone someday, leaving you with one (or many) note(s) containing just an empty iframe. I think, building the mindmap using some tool and simply uploading it using Paperwork's uploader is generally the best approach for this.

[2015-02-08 11:05] #118 closed

[2015-02-08 11:25] devilx commented on #102
@lutze anything new on this?

[2015-02-08 11:29] devilx commented on #95
In #190 @joshlemer and I commented on how this could be implemented. I think the best solution for this would be, to add a new column ("type") to the notes table, which defines the note's type. On creation, the user should specifically be able to say, what kind of note he'd like to create. The type should be a fixed length char in order to allow future plugins to extend the note types.

Initially,

[2015-02-08 11:30] devilx commented on #87
Let's close this, as Heroku is being worked on in #97.

[2015-02-08 11:30] #87 closed

[2015-02-08 11:32] devilx commented on #86
@joshlemer committed an initial fix to this in #220, I guess. As soon as it will be configurable through app/config/paperwork.php, this can be closed.

[2015-02-08 11:34] devilx commented on #85
@Whisprin will your changes work with both versions? (shared and standalone hosting)

[2015-02-08 11:42] Baldrs commented on #71
It is bullshit, mPDF is better and easier to use.

[2015-02-08 11:43] devilx commented on #53
Info: @Liongold already implemented one point from this issue by fixing #52.

[2015-02-08 11:47] devilx commented on #39
@jasondavis simplicity indeed is a good point here. I'm not sure though, whether MySQL (or better MariaDB) will allow us to search a big amount of data within an acceptable time. Imagine a company installation of Paperwork with dozens of notes and attachments inside.

Some search expert is needed here, in order to provide us some insights about how things could be done best, while still keeping th

[2015-02-08 11:51] devilx commented on #32
I think, we have a great basic documentation at the moment. Documentation also became a continuous process. Therefor, I would close this issue now. As soon as documentation is missing, new issues will be created.

[2015-02-08 11:51] #32 closed

[2015-02-08 11:52] devilx commented on #30
As this became a continuous process, I will close the issue now. As soon as translations are faulty/missing, people will open up new issues.

[2015-02-08 11:52] #30 closed

[2015-02-08 12:01] devilx commented on #22
The issues regarding encrypted notes were discussed in #188. It looks like this is something that's not trivial to implement.

However, this feature should definitely be re-considered in future versions.

[2015-02-08 12:12] devilx commented on #189
Okay guys. I've now created milestones for Paperwork 2.0, 3.0 and 4.0 as well. Also, I went through all our issues and tried to assign milestones in a way it made sense to me. If you should see anything wrong with the assignments make sure to comment/re-assign.

Every new issue/enhancement that we (or other users) will come up with should be assigned to a milestone, as soon as it's clear that it s

[2015-02-08 12:16] devilx opened #225 "Fix Lato fonts"
The webfont files currently available in Paperwork seem to be completely broken in Firefox (and IE?) while Chrome renders them without any issue. I've downloaded them from the official Lato website.

Maybe someone could point me to another source, where I could receive the Lato webfonts from, in order to re-include them into Paperwork?

[2015-02-08 12:17] devilx commented on #34
I've checked out some other fonts and wasn't really happy the way the whole UI looked. Therefor, I'd really like to move back to Lato. For this, I created an issue (#225) which describes the current problematic. Closing this for now.

[2015-02-08 12:17] #34 closed

[2015-02-08 12:20] devilx commented on #33
As webfont we should stick to Lato, as mentioned in #34. In order to do so, we need to fix #225.

[2015-02-08 12:49] pwmvx1289 commented on #71
@devilx No, I just found it on the web, it seems to have rather comprehensive functions and simple usage.

[2015-02-08 12:54] pwmvx1289 commented on #34
@devilx Have you considered Open Sans, a very popular font used for web design?
http://www.google.com/fonts/specimen/Open+Sans

[2015-02-08 12:55] Baldrs commented on #225
On linux they look well, what do you mean by broken? Are they broken on [google fonts][https://www.google.com/fonts#UsePlace:use/Collection:Lato] for you?

[2015-02-08 13:20] devilx commented on #34
@pwmvx1289 I did, but honestly I didn't like how Paperwork's Web-UI looked like using Open Sans. Maybe it is *because* it's being so widely used in web design, that I just had enough of it.

[2015-02-08 13:21] pwmvx1289 commented on #132
Is it about a whole new page with a calendar-based layout which lets user interact with it?
Or it's just something like a date-picker?

[2015-02-08 13:25] devilx commented on #225
@Baldrs how did you test? Because right now, Lato is not being used because of these issues. Google Fonts looked great on every computer I tested them on. But the font files that (still are) included in Paperwork simply did not work on Windows + Firefox. I believe that Google uses other font files than we do / are downloadable from http://www.latofonts.com/lato-free-fonts/

The website says:

Back

[2015-02-08 13:28] devilx commented on #132
I think this should only be a widget inside the sidebar, which could be displayed or hidden, using a "View"-menue entry.

It could look like for example Sunrise calendar's picker:
![screen shot 2015-02-08 at 14 25 58](https://cloud.githubusercontent.com/assets/151967/6096660/afff742a-af9e-11e4-8816-236566a026d9.png)

[2015-02-08 14:50] pwmvx1289 commented on #34
I see. What about Helvetica, although it's widely used, it is still suitable for different themed layouts.

[2015-02-08 15:27] devilx commented on #34
@pwmvx1289 thanks for suggesting. I like Noto, due to the amount of different locales that are supported. The biggest issue, that's killing Noto for Paperwork is the fact, that it doesn't provide the extensive style-set we will need. For example the sans serif font only contains of two widths (400 & 700), with italic available for both. I loved Lato because of its amount of different widths, which

[2015-02-08 16:08] devilx commented on #225
@joshlemer @Baldrs @Liongold could anyone of you guys, who does **not** have the Lato font installed on their local system check out the commit above and test, whether the webfont works in a number of browsers please?

[2015-02-08 16:29] JamborJan opened #226 "content of index.php shown instead of application"
After having followed your setup instructions I get this when I want to open the instance:

![bildschirmfoto 2015-02-08 um 17 25 08](https://cloud.githubusercontent.com/assets/7508960/6097268/bdd94512-afb7-11e4-9ddb-1f7edea0b3f2.png)

Seems that there is something missing, a component not installed or configured of Apacha / PHP or something like this. Any ideas where this comes from?

JJ

[2015-02-08 20:56] joshlemer commented on #225
Well I'm on Linux Mint and I don't see anything out of the ordinary in Firefox of Chromium. I don't think I have lato font installed unless it gets installed at some point in the build process of Paperwork..

[2015-02-08 21:51] kentonv commented on #199
I just got a chance to check out the Paperwork demo -- it looks very nice! I think it will fit very nicely into the Sandstorm model and I'd be excited to see it on the platform.

I also just checked our [app porting voting list](https://sandstorm.io/vote) and it looks like among apps we haven't ported yet, Paperwork is number 4! (The voters here are our "app committee" -- 32 people who purchased v

[2015-02-09 00:13] devilx commented on #225
@joshlemer it won't. Could you please check /usr/share/fonts, /usr/local/share/fonts and ~/.fonts in order to make sure that Lato is definitely not installed on your Linux machine?

[2015-02-09 10:15] Baldrs commented on #226
You definitely need to double-check **Apache** config because it does not have php installed or enabled. Try `a2enmod php5` as root and then restart apache web server.

[2015-02-09 10:26] Baldrs commented on #34
Hope on client machines to have fonts is bad practice. I don't have any of the fonts above, for example, as they are all non-free ones. All of the above are resolving to this: DejaVu sans, Nimbus Sans and Arial(but I have installed it via ms-corefonts package, others may not have it).

I think that good practice is to serve Lato font or similar with app, to have the consistent UX among all platfor

[2015-02-09 11:20] ChrisLahaye commented on #132
Will continue with this next week, any preferences for calendar libraries?

[2015-02-09 13:47] Baldrs commented on #225
@devilx my gentoo install do not possess any lato fonts at all, even no package for it. The default fonts look somewhat ugly. Font-size is somewhat small, I'd prefer it to be 0.1-0.2 em larger

[2015-02-09 13:49] Baldrs commented on #225
@devilx regarding the testing, I just have opened paperwork with lato embedded in both firefox/chrome and saw that all was ok. Then I opened the google fonts page and everything was ok too. I suspect that it is somehow related to windows.

[2015-02-09 14:50] jasondavis commented on #217
This OCR with tesseract is a great idea, It's not actually implemented yet is it?

[2015-02-09 16:24] JamborJan commented on #226
okay that was weird, I don't know why it happened but ```libapache2-mod-php5``` was missing. Having this installed of course helped with the issue.

Sorry for bothering.

JJ

[2015-02-09 16:24] #226 closed

[2015-02-09 18:12] Whisprin commented on #85
@devilx Yes, I've tested my changes both ways:

domain.com pointing to /srv/http
-> domain.com/paperwork is functional
At the same time:
paperwork.domain.com pointing to /srv/http/paperwork
-> paperwork.domain.com is functional as well

[2015-02-09 18:39] devilx commented on #107
Okay, status update: Since communication with DigitalOcean was way too slow and tiring, the great guys from RunAbove jumped on the Paperwork-train, offering us a pretty sweet infrastructure for the future paperwork.rocks site and the demo.paperwork.rocks. Currently, I'm building up the new server – this time using a more lightweight setup with Nginx. I guess, this issue can be closed now. :-)

[2015-02-09 18:39] #107 closed

[2015-02-09 21:03] Baldrs commented on #107
Can't we completely get rid of apache? I'm running nginx+php5-fpm+mariadb setup of paperwork and it feels better than apache setup.

[2015-02-09 21:15] SquirrelNinja commented on #29
Hi,
I came across this project looking for an Evernote alternative.  My background is Software Engineering.  I would be happy to help document how this tool works, and then once I understand it, perhaps would have time to write some code.  I have limited PHP experience, but can code in C, C++, Java, Ruby, Groovy and probably some others that have fallen by the wayside, so what's anther language?
P

[2015-02-09 22:34] devilx commented on #132
@ChrisLahaye cool. I'd stick with anything that work's great with AngularJS and appears to be supported for the next few years. It would be cool if it was built on top of bootstrap as well.

[2015-02-09 22:38] devilx commented on #225
Okay, well then let's close this issue for now, if for both of you the Lato font that's being delivered as webfont now works.

[2015-02-09 22:38] #225 closed

[2015-02-09 22:41] devilx commented on #217
@jasondavis it is, that's what I stated above and in #214. The thing is, as a regular user you (currently) have no benefit from it, as the data is being written inside the attachments content column, but not displayed anywhere (yet). I'm not sure, whether the search would currently find any of the parsed text either.

[2015-02-09 22:43] devilx commented on #85
@Whisprin well, then feel free to request a pull to develop! :+1:

[2015-02-09 22:44] devilx commented on #107
@Baldrs that's what I just said. :-) For the new instance, I'll be using exactly the setup you described.

[2015-02-09 22:51] devilx commented on #29
@SquirrelNinja sure we are! Right now, there's already some technical information about setting up Paperwork on your own machine located within our Wiki: https://github.com/twostairs/paperwork/wiki

Regarding this issue here: As soon as you got your own Paperwork installation running, you might want to check out ```paperwork/frontend/app/help/```, where there should be several index.<locale>.md fi

[2015-02-09 23:29] FromBabylon commented on #85
I still have images problem if I try to install paperwork like any other apps and access via IP/paperwork. I'm currently digging into nginx and perl to find a good solution.
Did @Whisprin changes were applied to this repo ?

[2015-02-09 23:49] #215 closed

[2015-02-09 23:56] Whisprin commented on #85
@FromBabylon Not yet. But feel free to clone my fork and report back.

[2015-02-10 00:05] Baldrs commented on #190
I agree with @joshlemer, type serves just right, and we can use as many different editors as we want.

But for some formats, like for markdown, the source differs from the representation, and it is highly inefficient to have it recompiled every time it is accessed, so I propose(and @devilx already proposed this earlier), to have additional column with the resulting representation.

[2015-02-10 00:25] Baldrs commented on #109
Let's plug the highlight js into note display first

[2015-02-10 01:04] jamesrascal commented on #217
Would it be possible to add some info under the admin page that does a check to see if these items are installed.

Example, if you login and go to the admin page you will see the current users and then under that you would see additional components. Something similar to this:

![2015-02-09 17_02_09-paperwork](https://cloud.githubusercontent.com/assets/6054150/6119437/b52d8786-b07d-11e4-8736-28ff50

[2015-02-10 02:31] joshlemer commented on #86
@troelskn @ponychicken @bluebear94 @awchauhdry Just to let you guys know, the new updated master branch will now allow you to customize the characters allowed in user fist/lastnames. In fact, the new default configuration will probably be fine, since it allows letters, spaces, hyphens, and apostrophes. If you'd like to disallow these, or allow numbers or underscores, you can change the values in /

[2015-02-10 02:31] #86 closed

[2015-02-10 02:33] joshlemer commented on #86
Also mentioning people who posted duplicates:

@kiall @heywoodwt @th3m4ri0 @RoryOSiochain

[2015-02-10 15:11] SquirrelNinja commented on #29
Hi,
I'm working on the install now.  BTW - on the github page, the link to
composer takes you somewhere very bad... You should probably look at it...

Cheers,
Chuck

On Mon, Feb 9, 2015 at 2:51 PM, Marius <notifications@github.com> wrote:

[2015-02-10 16:26] ChrisLahaye commented on #29
@SquirrelNinja Thanks for mentioning this, created a pull request with the correct domain (#232)

[2015-02-10 19:28] Liongold commented on #223
About including assets, I suggest having a sort of manifest file for each plugin that includes all files needed for the plugin to work. Another way could be a function to be used in the plugin, like loadCSS() but that would require scanning the code to load the files during load.

About id, I think an identifier could be good but there should be some sort of developer access to make sure these rem

[2015-02-10 19:29] Liongold commented on #207
@pwmvx1289 Interested in doing this?

[2015-02-10 19:32] Liongold commented on #134
Maybe have a slight gray for the text as well? So that the text is visible and maybe as a tooltip have something like: "This is disabled because....".

[2015-02-10 19:33] Semigradsky opened #233 "Undefined variable: user"
Today I got error in demo (http://demo.paperwork.rocks/) after registration:

Maybe it will be fixed with this PR: #229

![image](https://cloud.githubusercontent.com/assets/1198848/6134591/8d4991be-b173-11e4-8b69-9c01bc0a1822.png)

POST Data
_token	waG2ewtB59sPewFoJanECnQbZzJTS51pE3HEZTpt
username	semigradskyd@gmail.com
firstname	Dmitry
lastname	Semigradsky
password	PASSWORD
password_confirmation

[2015-02-10 19:38] Liongold commented on #66
@devilx My comment was about it the problem you wrote about for users.

I think that there could be a config switch to sync uploads and also have a limit on the size of files.

[2015-02-10 19:42] Liongold commented on #224
I think this could be a good idea. However, some more info needs to be available to see it in a better context.

[2015-02-10 19:50] Liongold commented on #191
Don't have any opinion on this. Just want to make sure that with this sudden increase in contributors and commits, we still not build barriers for committing by new developers.

[2015-02-10 21:20] devilx commented on #217
This info is a good idea in general, but how about we do not add it in the admin page, but rather use this idea to extend Paperwork setup by providing a "setup.php" (similar to what Drupal, WordPress, etc. provide), which helps the user setting up the whole basics?

[2015-02-10 21:21] devilx commented on #29
:+1:

[2015-02-10 21:22] jamesrascal commented on #217
@devilx I think this will need to be a new issue slated for the 1.0 or 2.0 release to create a php setup wizard.

[2015-02-10 21:23] devilx commented on #223
I like the manifest idea. Some description file would indeed save us a lot of "blind scanning". :+1:

[2015-02-10 21:26] devilx commented on #134
Which text do you refer to? The menu text currently already is slightly grayed out.

[2015-02-10 21:27] devilx commented on #233
It was only a temporary hickup, sorry for that. Engines at full speed again, enjoy your flight @Semigradsky!

[2015-02-10 21:27] #233 closed

[2015-02-10 21:37] mrusme opened #234 "Setup Wizard"
It would be very neat if we could provide users some sort of setup wizards (similar to the ones WordPress and Drupal have), which would assist them with installing their Paperwork instance. It probably should be some script that's totally out-of-context and not using any of the stuff one would need composer for. By that, we could allow users running it without users having executed composer or gul

[2015-02-10 21:37] devilx commented on #217
@jamesrascal you are pretty damn right with that! -> #234. :+1:

[2015-02-11 02:04] jasondavis opened #235 "Annotate Images"
I forgot about this fairly new feature in Evernote.  You can right click on an image in a Note and click on "Annotate Image" which then opens the image in an editor with tools to annotate with text overlay, lines, arrows, etc...

This might be a cool feature to add to Paperwork if we can find a nice open source editor/annotator type script to use?  If we are adding OCR support than I feel this fea

[2015-02-11 04:09] AlJohri commented on #95
If you go with the approach of having a content type column, you may be able to integrate some of the work done on [StackEdit](https://stackedit.io/).

Check out the github here: https://github.com/benweet/stackedit.

[2015-02-11 07:40] Baldrs commented on #223
First of all, we have quite a complex situation here. We have backend and a frontend tied to it, but also we will have platform clients in near future, so what will be the plugin in fist place? It seems every desktop/mobile app would re-invent the every web-frontend plugin or the plugins will be backend-only?

Regarding the web part:  Will it unite backend and frontend features or there will be se

[2015-02-11 09:28] Baldrs commented on #234
When Drupal installer fails to find some component or does not agree with some configuration it is just refusing to continue, so it does need any rights, but provides user with information how to fix the issues.  It can even pull in composer and install, but what about gulp? You can't just give php script root rights and say do whatever you want.

However, we can provide kind of prebuilt release,

[2015-02-11 20:15] Liongold commented on #134
In the screenshot above and in my install, the New Note text is not gray but invisible.

[2015-02-11 20:20] FromBabylon commented on #85
I have tried your fork. On its own no css and js are running so I can only get to login screen but with some nginx rewriting rules I am now able to run Paperwork in a subfolder. App runs well I can do all the tasks the only problem is that I don't have login page logo (nginx misconfiguration) and fonts like tags, notebooks, notes logos are not displayed. I have a 404 error for https://IP/paperwork

[2015-02-11 20:31] Liongold commented on #85
Did you try running gulp in the frontend folder? Any errors in the console
or anything interesting in the Network panel?

Sincerely,
Jean Spiteri.

On Wed, Feb 11, 2015 at 9:20 PM, FromBabylon <notifications@github.com>
wrote:

[2015-02-12 00:43] FromBabylon commented on #85
I forgot to run gulp but it seems that it didn't change anything (strange ?). When on login screen I still can see errors in the console :
GET https://IP/paperwork/frontend/public/index.php/images/paperwork-logo.png 404 (Not Found) login:38
GET https://IP/paperwork/frontend/public/fonts/fontawesome-webfont.woff?v=4.1.0  login:74
GET https://IP/paperwork/frontend/public/fonts/fontawesome-webfont.tt

[2015-02-12 00:50] joshlemer commented on #85
Did you run
php artisan serve
In the frontend directory?

[2015-02-12 01:47] FromBabylon commented on #85
That's what you suggested to me earlier in the thread but I still don't understand what does it really do. It just says "Laravel development server started on http://localhost:8000" and nothing happens after. And nothing change.
I can get rid of error related to login logo if I set url to ip/paperwork/frontend/public/login but I can't login thereafter because I am redirected to ip/paperwork/fronte

[2015-02-12 01:55] joshlemer commented on #85
Yeah I couldn't really tell you what exactly artisan is doing when you tell it to serve, but okay do that and now you should be able to access the site at localhost:8000, which should redirect you to the login page.

[2015-02-12 02:00] FromBabylon commented on #85
Is there a difference between nginx or apache that serves the app and artisan ? I mean this for testing right ? The problem is that paperwork is on my server which do not have any GUI so I can't browse to localhost:8000.

[2015-02-12 02:08] joshlemer commented on #85
@FromBabylon Sorry I can't be of more help - I'm really not the right guy at all to ask about these sorts of things though.

[2015-02-12 13:35] pwmvx1289 commented on #207
@Liongold I'm very interested in it but I'm not very sure whether I could handle it.

[2015-02-12 14:52] DeviantEng commented on #234
I feel that this is definitely needed.

My thoughts would be (I'm more of a devops guy, fyi) that when loading the "setup.php", the first step would be a prereq checker to verify all dependencies where installed, permissions were set (paperwork files are owned by the user running httpd, nginx, etc), etc, and only after all those prereqs are satisfied will you be able to click the install button.

[2015-02-12 15:56] lutze commented on #102
Lost this in a heavy sprint at work -- thanks for the reminder. Let me check back in a day.

[2015-02-13 11:10] Liongold commented on #234
I'd like to have a look at this, if no one is planning to do it.

[2015-02-13 12:00] Baldrs commented on #234
I've been considering to write it this weekend, but I'm not sure if I'll have time to start. I actually wanted to implement the list I wrote above.

[2015-02-14 06:24] AlexIs72 opened #237 "Installation problem"
Hi!
I have a problem with Paperwork installation.

/opt/www/notes/paperwork/frontend# export PATH=/opt/nodejs/bin:$PATH;/opt/nodejs/bin/gulp
[12:11:04] Using gulpfile /opt/www/notes/paperwork/frontend/gulpfile.js
[12:11:04] Starting 'compileLessBootstrapTheme'...
[12:11:04] Finished 'compileLessBootstrapTheme' after 55 ms
[12:11:04] Starting 'compileLessPaperworkThemeV1'...
[12:11:04] Finished 'co

[2015-02-14 23:53] jasondavis opened #240 "Laravel 5 Socialite Extension to login with multiple OAuth accounts and with email/password login!"
http://w3layouts.com/preview/?l=/facebook-twitter-google-login-page/The new Laravel 5 release came with a new extension for the Laravel team called Socialite which allows you to very easily do account creation and login using OAuth in a Laravel app using sites like Google, Facebook, Twitter, Github, etc...

I think that if this is implemented that a create user and login functionality should still

[2015-02-15 01:17] FromBabylon commented on #85
After a lot of tries I think there really is something with paperwork that make it "impossible" to run it in a subfolder and use directive like alias or root or nginx rewrites to make it work properly. I have tried every Laravel nginx config available ^^ It appears lots of these config don't even follow Nginx basis rules/pitfalls. As its goal is simplicity I made my own starting from scratch.
So f

[2015-02-15 01:32] FromBabylon commented on #197
I am able to run paperwork using proxy_pass nginx directive. My config may not be exactly yours as for now I only redirect to another port but it is working quite well.
This is my location block :
<pre>
location /paperwork {
                 rewrite ^/paperwork/(.*)$ /$1 break;
                 proxy_pass https://IP:8080;
                 #proxy_set_header Host $http_host;
                 #proxy_

[2015-02-15 07:06] jasondavis opened #241 "Linking to other Notes from within a Note like Evernote does but with a Flavor of WordPress..."
While in a Note in Evernote I can go to the `Note` menu at the top and then click on `Copy Note Link`

It then puts something like this into my clipboard...
`https://www.evernote.com/shard/s277/nl/36292135/2d93a985-41c2-41fb-8312-d72ecd69663f`

I can then go to another Note and simply Paste it into the Note and it will end up inserting something like this....

`<a href="https://www.evernote.com/sh

[2015-02-15 07:14] jasondavis commented on #235
In my research so far, I have not been able to find any good open source apps that we could use for this =(

The closest thing I have found is an Annotation script that I used on a previous project and it is very basic, it only allows you to insert an arrow, or some other type image onto your image and it puts it overlayed on the image anywhere you click.  It simply saves the coordinates of where

[2015-02-15 07:27] jasondavis commented on #235
I think I am looking at this from the wrong angle...

What I should be looking for is not a simple open source Annotation script, but instead a simple editor.  There are tons of editors that allow lines, arrows, text, shapes, etc... Either way if anyone has ideas for a good library or way to do this, share here for all of us to see please!

[2015-02-15 09:41] jasondavis commented on #54
With all the Laravel 5 changes, it may be easier to do this upgrade sooner than later after the app has grown larger.  Just a thought

[2015-02-15 09:49] jasondavis opened #242 "Upgrade Paperwork from inside Paperwork or from an external script similar to the other mentioned Setup wizard."
I would be nice to be able to simple hit a button from the admin panelwhen a new version of the app is available and have it...
- download the files
- run any database migrations
- show success page with update log with what is new in the new version.

I realize this would need some planning since some people might skip versions.  Looking at WordPress how they handle upgrades is really well done a

[2015-02-15 10:35] ntnn commented on #235
Imho the easiest way would be to use a simple annotation script that allows to add text/arrows/... to an image and then save it as a new version of the attachment - this, of course, would require to also version control versions of an attachment, which currently doesn't seem to be the case (but a dev would need so say something about that).

That way would also be easier to implement for other app

[2015-02-15 10:58] devilx commented on #134
Apparently, the color used for graying out is invisible to some display color configurations. This needs to be fixed within the paperwork-variables.less.

[2015-02-15 11:01] devilx commented on #237
Oh, that's weird. I just tested building master and everything works. What branch are you trying right now?

[2015-02-15 11:12] devilx commented on #240
Thanks for suggesting @jasondavis! There's one major with providing OAuth logins: Users would need to create OAuth apps in order to receive an OAuth app id + secret, which then they need to configure within your Laravel config. I'm not sure, whether that's making things easier.

For cloud services like Evernote and others, social logins are pretty fine, since they create their own OAuth apps, conf

[2015-02-15 11:19] devilx commented on #85
Just my own humble opinion here: I simply can not understand, why people would actually run Paperwork within a subfolder, if they already have access to Nginx. I mean, I could partially understand, when someone says "Hey, I have this free-of-charge webspace from 1999 that I don't have root-access to and I want to run Paperwork inside a subfolder, so I can still keep my phpBb running." – but in any

[2015-02-15 11:25] devilx commented on #241
@Liongold now the feature you implemented for the Welcome-note comes in pretty handy, doesn't it? :-)

One possibility here: The user could copy the URL of one note and paste it into another one. Paperwork then would need to recognise that it's another note's URL and simply run openNote() when user clicks the URL. I'm not sure about the details though, as this issue has correlations with #18 and #

[2015-02-15 11:28] devilx commented on #31
We found a theme. The kind people from http://ninzio.com sponsored us their Kapital theme.

[2015-02-15 11:28] #31 closed

[2015-02-15 11:33] devilx commented on #235
@ntnn correct. Attachments aren't being version controlled. But a buddy of mine, @frontend-gmbh, built a nice preview of how this could be done using pure JS/CSS. The arrows and other annotations there are being saved within an array, which could easily be added to the attachment, using a new database-column. Then these annotations would remain dynamic / changeable. When the user want's to send th

[2015-02-15 11:42] ntnn commented on #235
@devilx Personally I'd step back from that idea.

In the view from an API dev this would need three additional steps:
Create a new version of the note through updating, delete the old attachment from the new version, upload the 'new' attachment.

Wouldn't it be easier to make attachments version controlled? That would also enable users to use one attachment for multiple notes (this would actually

[2015-02-15 11:43] AlexIs72 commented on #237
I clone latest brach. I did step-by-step on instruction

[2015-02-15 12:10] AlexIs72 commented on #237
Resloved.
It's version's incompatibility.
After install:

All ok:
 gulp
[18:07:12] Using gulpfile /opt/www/notes/paperwork/frontend/gulpfile.js
[18:07:12] Starting 'compileLessBootstrapTheme'...
[18:07:12] Finished 'compileLessBootstrapTheme' after 63 ms
[18:07:12] Starting 'compileLessPaperworkThemeV1'...
[18:07:12] Finished 'compileLessPaperworkThemeV1' after 23 ms
[18:07:12] Starting 'compileLe

[2015-02-15 14:43] devilx commented on #235
@ntnn well, we have two different ballparks here:

1) The way annotations are being saved:

I my opinion, we should never *ever* modify a user-uploaded document/image/whatever. Therefor I pledge for modifying not the source image, nor saving a modified version as whatever kind of file (either a copy or a versioned successor), but rather saving that special metadata somewhere and recall it for disp

[2015-02-15 16:28] JamborJan opened #244 "Running paperwork with sqlite"
I have seen in this file https://github.com/twostairs/paperwork/blob/0b5f72581ca6ff394d3288a044a281bea7a3f588/frontend/app/config/database.php

That sqlite is a supported / soon to be supported database.

I have played a bit around. And the init process to setup the database ```php artisan migrate```seems to start but then runs in an error:

[code]
and
[code]
I assume the init script here here: ht

[2015-02-15 20:03] FromBabylon commented on #85
To run it aside other webb apps. So all apps on the webserver are accessed with IP/app. It more more convenient and as I said I don't know whether it's a good idea to open one port per app.
That's exactly what I said, I am moving to 197.