[2015-02-15 20:10] Liongold commented on #43
@devilx Is the dialog currently being used for something else other than Move Note? I'm working on the fix and am thinking about adding two parameters to 'modalData': header and description. I think I'll push some code next time.

[2015-02-15 20:30] Liongold commented on #43
I've uploaded the code at branch issue-43-feature. @devilx, feel free to check it out.

[2015-02-15 22:29] Baldrs commented on #85
For locally hosted things I usually point nginx to a folder and use dnsmasq to host some local dns zone.

For example:

     /srv/paperwork
     /srv/mediawiki
     /srv/otherapp

And the domains:

     paperwork.app
     mediawiki.app
     otherapp.app

You can of course omit hosting your dns and just add them to your `hosts` file. You even can host many apps with the same config file by using re

[2015-02-15 22:36] jasondavis commented on #235
@devilx As for keeping any annotation data separate from the file and not like saved into an actual image file I agree 100% and wanted to add that Evernote does not save the image either!

I see this might be a difficult feature but still worth having on the roadmap for someday =)

[2015-02-15 23:19] FromBabylon commented on #85
That seems to be an interesting idea.
I would have to configure nginx using 'paperwork.app' domain pointing to the root folder of paperwork. I don't understand how my browser will know that 'paperwork.app' is the IP of my server. I could put this into hosts file as you said but that would force me to edit hosts file on each machine I use. And I won't be able to reach my apps on a random machine (L

[2015-02-16 02:19] jasondavis commented on #85
@devilx I curently run it only on my local machine where I have a HOST file entry for `paperwork.dev`.  In reply to your comments about why anyone would ever run Paperwork inside a subfolder.  Me personally I would probably set it up on a subdomain instead of a subfolder however I don't see anything wrong with using a subfolder.  If you have 1 domain name for a website then you might have other ap

[2015-02-16 07:16] ntnn commented on #235
@devilx

What I can understand - but this will create problems with third-party applications such as desktop clients or mobile apps. All these applications would need to write their own interpretation of the way the metadata is saved and applied (if there isn't such a project yet).
I'd prefer separate meta-data too, but I see too many problems with that.

I tried to visualize my idea how it should

[2015-02-16 11:42] sheafferusa opened #245 "Prebuilt Package, anyone? Please."
Hello! Amazing Work! :)
I was just looking for a prebuilt package of the application. Could someone here, please provide me a prebuilt package so as to enable me to test-drive it quickly on my own servers?

Thanks!

[2015-02-16 12:32] Baldrs commented on #245
[Grab it](https://github.com/twostairs/paperwork/releases/download/snapshot-9f0655b/paperwork-snapshot-9f0655b.zip)

[2015-02-16 12:32] #245 closed

[2015-02-16 12:36] sheafferusa commented on #245
Thank you so much!

[2015-02-16 13:05] Baldrs commented on #244
These lines are from default laravel configuration file and the compatibility have never been tested or migrations considered sqlite-compatible.

[2015-02-16 13:07] Baldrs commented on #237
What are the exact versions of npm and nodejs?

[2015-02-16 13:07] JamborJan commented on #244
Thats fine, my question now would be how can I disable the database encryption to do the sqlite compatibility check and testing? Is this something you can answer or rather the guys from laravel?

JJ

[2015-02-16 13:50] AlexIs72 commented on #237
/opt/nodejs/bin# ./npm -v
2.5.1

/opt/nodejs# cat ChangeLog | head -n 10
2015.02.06, Version 0.12.0 (Stable)

* npm: Upgrade to 2.5.1

* mdb_v8: update for v0.12 (Dave Pacheco)

[2015-02-16 15:15] Liongold commented on #54
I think a sort of feature freeze would need to be done before migrating. So
I think there should be a rough timeline before this is started.

On Sunday, February 15, 2015, Jason Davis <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-02-16 15:23] Liongold commented on #207
If you want to, I'll try to give you some pointers about this.

On Thursday, February 12, 2015, pwmvx1289 <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-02-16 15:25] Liongold commented on #234
Do you want to do this yourself then? If so, did you do something or not
yet?

On Friday, February 13, 2015, Arseniy Lozicki <notifications@github.com>
wrote:

--
Sincerely,
Jean Spiteri.

[2015-02-16 15:59] Baldrs commented on #234
@Liongold no, I will unlikely have enough time in nearest two weeks

[2015-02-17 13:09] pwmvx1289 commented on #207
Is this function already implemented by others?

[2015-02-17 16:43] Liongold commented on #207
No, I don't think so. If it was, this bug would be closed I guess.

[2015-02-17 17:20] Liongold opened #247 "Javascript Fatal Error"
I think this is related to the latest changes. The JS error is below:

[code]

This is quite major because Paperwork is not continuing to load for me.

[2015-02-17 18:59] Liongold commented on #240
Maybe this could be a good idea for plugins when they are implemented? (#223)

[2015-02-18 18:06] Liongold commented on #247
Sorry, false positive.

[2015-02-18 18:06] #247 closed

[2015-02-18 20:39] Liongold commented on #198
Is this open?

[2015-02-19 14:31] RenoFR commented on #28
:+1:

[2015-02-19 16:01] Baldrs commented on #28
Anybody tried this package? https://github.com/dsdevbe/ldap-connector

[2015-02-19 16:17] nbbn opened #251 "installation instructions are outdated"
Hello, current and working instruction is [here](https://github.com/twostairs/paperwork/blob/master/README.md).

Unfortunately,
  - http://paperwork.rocks/
  - https://github.com/twostairs/paperwork/wiki/Installation---Ubuntu-Debian
  - https://github.com/twostairs/paperwork/wiki/Installation-----CentOS

instructions has nothing about gulp, etc., and following those instructions ends with installa

[2015-02-19 21:09] doc-jay opened #252 "Can't upload attachments"
Just did a clean install with mysql community server.  I can log into the site, create an account, create notes, tags.  I cannot though, upload an attachment.  I tries very briefly, but then turns into a 'red yeild sign' and then goes away.  There is no sign of an attachment left, except to start over again with the attachment.

Both of the attachment and attachment_version tables are currently em

[2015-02-19 21:51] ChrisLahaye commented on #252
Does the user that is running the webserver (usually www-data) has write permissions in the frontend/app/storage/attachments folder?

[2015-02-19 22:23] doc-jay commented on #252
the user is 'nginx' and the permissions were '755' for the whole '/var/www/html/paperwork' folder.  I changed it to '777' for '/var/www/html/paperwork/frontend/app/storage/', but it had no effect.  One thing I noticed is that while I am on the 'edit note' area, if I hit 'F5' to refresh myscreen, I end up with three boxes to the right side under the attachment area.  They read 'UPLOAD' 'CANCEL' 'RE

[2015-02-19 22:26] doc-jay commented on #252
just saw this in the 'laravel.log'....
Next exception 'Illuminate\Database\QueryException' with message 'SQLSTATE[HY000]: General error: 1364 Field 'content' doesn't have a default value (SQL: insert into `attachments` (`filename`, `fileextension`, `mimetype`, `filesize`, `updated_at`, `created_at`) values (cfindrq.xsl, xsl, text/plain, 2270, 2015-02-19 22:21:20, 2015-02-19 22:21:20))' in /var/www

[2015-02-20 07:45] RenoFR commented on #28
i try it
i configure ad access, i delete *'Illuminate\Auth\AuthServiceProvider',* and i put *'Dsdevbe\LdapConnector\LdapConnectorServiceProvider',* but where i'm try this part https://github.com/dsdevbe/ldap-connector#usage ?

[2015-02-20 11:04] Baldrs commented on #28
What do you mean by "bypass sign up"? Your ldap server must provide logins and passwords as I understand and no sign up must be present.

[2015-02-20 11:34] RenoFR commented on #28
i want all users in LDAP can directly login (sign in) without sign up (if possible)

[2015-02-20 12:36] Baldrs commented on #28
Just go into the code and remove the signup button. We will provide better support for this in future.

In particular, you want to remove lines 31-35 of this file to remove the button: https://github.com/twostairs/paperwork/blob/master/frontend/app/views/user/login.blade.php

[2015-02-20 12:47] RenoFR commented on #28
Ok, thx :)
But for the moment, i don't hope support to configure ldap connector ?
I must wait the next version ?

[2015-02-20 13:03] Baldrs commented on #28
It should work out of the box by overriding the default auth, you just need to configure it as in their readme. Anyway this is not top priority right now.

[2015-02-20 13:08] Baldrs commented on #68
I propose to filter out tags on save.

Something like that snippet(this is for partials and does not strip attributes, but it can be improved to do so):
[code]

[2015-02-20 13:13] RenoFR commented on #28
Ok, i understand.

if someone has some free time to help me :)

I install it (maybe not correctly) and it doesn't work oob.

Thx

[2015-02-20 14:31] doc-jay commented on #252
I got attachments to work in mysql community release.  Here is what I did.

Edit sql mode and remove 'STRICT_TRANS_TABLES' Save it.

[2015-02-20 18:40] crazymao commented on #251
Having same problem, finally got it to run but no css files are loaded.

[2015-02-21 11:58] Liongold commented on #252
@doc-jay You're using SQL Strict then?

[2015-02-21 12:27] jasondavis commented on #240
understood, could probably scratch this idea then!

[2015-02-21 13:49] devilx commented on #43
@Liongold yes, from what I remember I implemented that one to be quite generic, so text shouldn't be included directly on the template. Will check out issue-43-feature asap.

[2015-02-21 13:53] devilx commented on #85
Okay, so as I assumed, the only reason people would want to run Paperwork alongside other web apps is, because they think that this way it's easier, than messing around with vhosts and separate domains for each vhost. Unfortunately (as everyone can see) it's not.

@FromBabylon regarding your question: In order for your clients to know of paperwork.app, mediawiki.app, etc. you might either add thes

[2015-02-21 13:53] #85 closed

[2015-02-21 14:10] devilx commented on #235
@ntnn regarding 2: I understood you quite well initially. I will try to explain the fundamental issue here using a more precise scenario:

You create a new note. It contains one ```version-1```. You change the note's text and save it. ```version-2``` is being created. Now you add an attachment to that note. ```version-3``` is being created, towards which ```attachment-1``` is being linked, which f

[2015-02-21 14:18] devilx commented on #244
@JamborJan I think it's rather broken than encrypted. You probably shouldn't take that error too literally. I believe, that due to the errors your SQLite database wasn't created successfully and therefor you receive this error.

Honestly, nobody tested SQLite compatibility so far. Since Laravel's QueryBuilder/Eloquent doesn't yet provide all the abstraction needed by Paperwork, I doubt that the da

[2015-02-21 14:19] devilx commented on #237
Any news here?

[2015-02-21 14:23] devilx commented on #207
Not yet, nope. So it's free to do, althought I'm not sure whether @7brend7 might have started revamping the whole web-ui or not. At least he suggested some nice dribbble-mockup recently.

[2015-02-21 14:26] devilx commented on #198
@Liongold I haven't seen anyone adding JSLint so far, nor did I. So I guess it is. :-)

[2015-02-21 14:32] devilx commented on #68
Why filtering video or audio? However, this needs to be configurable anyway.

[2015-02-21 14:34] devilx commented on #28
Signup can be disabled through configuration. In ```app/config/paperwork.php``` set ```'registration' => false```. Please don't hack the code. :-)

[2015-02-21 14:37] devilx commented on #251
Rebuilt the GitHub page. Now it also says something about gulp. :-) The other two Ubuntu/Centos entries need to still be updated.

[2015-02-21 14:38] #240 closed

[2015-02-21 14:58] Liongold commented on #252
Try uploading an attachment without changing any SQL configuration, now please? I made a commit which should fix the error.

[2015-02-21 16:26] Liongold commented on #14
This has been implemented and its pull request merged to develop. Plese test this feature and report back any issues you might find.

[2015-02-21 16:26] #14 closed

[2015-02-21 16:27] Liongold commented on #16
This has been implemented and its pull request has been merged to develop. Please test this feature and report back any issues you might find.

[2015-02-21 16:27] #16 closed

[2015-02-21 20:23] doc-jay commented on #252
thanks, I'll try it out.  Yes, I was using SQL Strict.  Didn't know it was default with mysql community as apparently its not with mariadb.  Is there an easy way to update paperwork?  I'll do some reading.

thanks

[2015-02-21 20:58] nbbn commented on #251
I've made debian7 guide (that should work) from ubuntu/debian. No Ubuntu, because there is difference in nodejs installation. No CentOS/ubuntu installation to write and test new tutorials. I will review debian7 tut and try to write centos/ubuntu if anyone won't do it earlier.

[2015-02-21 23:15] Baldrs commented on #85
It's dead easy to run dnsmasq in local net, you just need to configure your clients to listen to it.

[2015-02-21 23:17] Baldrs commented on #68
Ah that's the code that filters snippets in an infinite scroll js payload. Just left it as is.

[2015-02-21 23:55] FromBabylon commented on #85
@devilx I think you've misunderstood a little point (even if, as you said, this is off topic). "because they think that this way it's easier". It is indeed much more easier UNLESS you have a domain name. But not everybody has one. The only way for separate vhosts would be open new ports for each app which would not be recommended. That is why people run apps in subfolders. When you only got your I

[2015-02-22 00:20] nbbn opened #254 "session cookie regeneration"
According to [OWASP](https://www.owasp.org/index.php/Session_Management_Cheat_Sheet#Renew_the_Session_ID_After_Any_Privilege_Level_Change) session cookie should be regenerated after e.g. successful login.

During debugging of something  else I noticed that `laravel_session` cookie has the same value before and after login.

[2015-02-22 00:42] nbbn opened #256 "installation in subfolder, relative paths"
Hello,
please treat it as a question or enhancement request.
I tried installation of paperwork in subdirectory, e.g. example.com/hidden/paperwork/.

It's not a problem to cut off frontend/public by webserver's config (what will be explained later).
There is line in paperwork/frontend/app/config/app.php, that allows to modify path:
[code]
it allows to correctly point css/js files.

Things that stil

[2015-02-22 00:54] nbbn commented on #85
@FromBabylon if you really want a domain, you can take free subdomain from [here](https://freedns.afraid.org/). As I remember, they give subdomains in http://chickenkiller.com/. For this purpose it's enough.

BTW: I think that instruction for installation in subfolder is matter of time, Paperwork is free (like in freedom) project, and still evolves.

[2015-02-22 01:15] #254 closed

[2015-02-22 10:58] pwmvx1289 commented on #207
@devilx Where may I find the new mockups?

[2015-02-22 11:01] Liongold commented on #207
This is the code used for the theme:
https://github.com/7brend7/paperwork-theme and a non-working prototype:
http://7brend7.github.io/paperwork-theme/.

--
Sincerely,
Jean Spiteri.

[2015-02-22 11:37] Liongold commented on #252
Try with git pull. There should be some info in the README.

--
Sincerely,
Jean Spiteri.

[2015-02-22 12:34] Liongold commented on #185
@devilx Did you hear something from them?

[2015-02-22 12:49] Liongold commented on #198
@devilx @joshlemer What did the mentioned above commit do then? From what I've read JSLint and JSHint do the same purpose.

[2015-02-22 13:29] Liongold commented on #241
@devilx Sorry, but what feature?

[2015-02-22 13:34] Liongold commented on #189
I very much like this idea (and its implementation). I don't think a release date is suitable for now but then we organise a meeting (we = all developers and/or interested parties) discuss about a possible release date, considering the progress done.

[2015-02-22 16:30] devilx commented on #85
@FromBabylon these days there are a huge variety of options if you need an additional domain but don't want to spend money on one: @nbbn mentioned one solution to this, but also you could simply use dyndns for, just as I mentioned before, provide the people that use your installation with a /etc/hosts entry, that points some pseudo-domain (e.g. "paperwork.frombabylon") to your hosts IP.

You are r

[2015-02-22 16:33] devilx commented on #207
Maybe you @pwmvx1289 and @7brend7 would want to team-up on this topic?

[2015-02-22 16:34] devilx commented on #252
Yeah, as @Liongold mentioned, a simple git pull should work for updating the code-base. Make sure you run the artisan database migrations and rebuild the gulp-stuff as well after upgrading.

However, the actual issue here was found right? I'm going to close now. If there's anything else regarding this issue, feel free to re-open.

[2015-02-22 16:34] #252 closed

[2015-02-22 16:35] devilx commented on #185
@Liongold yes, it actually looks like they fixed this, as I didn't receive any error mail again. But I'm not 100% sure yet, therefor this is still open.

[2015-02-22 16:37] devilx commented on #241
@Liongold finding certain elements inside a note and linking JS functions to them.

[2015-02-22 20:03] 7brend7 commented on #207
I've added button near the logo which toggle first column (notebooks and tags block). It's ok for me that column with notes list is always visible especially if main content will take full browser width.

[2015-02-23 19:48] jamesrascal commented on #251
Added Ubuntu guide, the CentoOS one is still outdated. I am working on updating the CentOS guide now. We will need to add info on installing with alternative databases and configuring SSL and what not. Once the CentOS guide is done I think that this issue can be closed.

[2015-02-23 21:49] jamesrascal commented on #251
We now have 3 guides:

- [Debian 7](https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Debian-7)
- [Ubuntu 14.10](https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10)
- [CentOS](https://github.com/twostairs/paperwork/wiki/Installation-----CentOS)

All of them are now updated and tested to be working with the current build of Paperwork.
This issue is no

[2015-02-23 23:22] jamesrascal commented on #46
@devilx  - The biggest thing that is broken in the mobile UI is the missing save icon. You can see a note and read notes but trying to edit or add a new note is impossible.

[2015-02-23 23:33] jamesrascal opened #258 "Option for a Right-Click menu"
I am currently using paperwork as a chrome "application", it would be handy if paperwork had an option to enable a right-click context menu to edit, delete, share, etc.

[2015-02-24 08:19] Liongold commented on #258
Duplicate of #24?

On Tuesday, February 24, 2015, jamesrascal <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-02-24 10:20] pwmvx1289 commented on #207
Perhaps we could have a new board to discuss new UI ideas?

[2015-02-24 22:16] joshlemer commented on #198
@Liongold I had a PR up a few weeks back that added JSHinting to the gulp builds but it never got accepted so I took it down. I could definitely add it again.

[2015-02-25 00:50] DeviantEng commented on #251
@jamesrascal Thanks for updating my CentOS install.  I wouldn't have noticed it was outdated otherwise!

[2015-02-25 00:57] DeviantEng commented on #197
@FromBabylon Thanks for the info, but unfortunately doesn't work for me.  Still redirecting to my internal address, which obviously won't work from outside my network.  :(

[2015-02-26 21:35] jamesrascal commented on #258
Opps duplicate of #24 in deed.

[2015-02-26 21:35] #258 closed

[2015-02-26 21:36] jamesrascal commented on #251
@DeviantEng Thanks for writing the first guide :+1: saves me time :)

[2015-02-27 10:16] Liongold commented on #234
I thought a little about this. Before it can be done we need to have a definite format for build distribution? What are we going to include (or not in the normal user build)?

[2015-02-27 13:57] PercussiveRepair opened #259 "In place editing"
I'm trying paperwork having used simple-note.appspot.com for a long time.

Simplenote has no "save" button. Notes are edited in screen and saved automatically in the background.

An easier to implement middleground would be to have paperwork open the edit screen where the notes are displayed on the home page (right half of the screen) without moving to a new, separate edit page.

[2015-02-27 14:03] joshlemer opened #260 "Filtering by date (selecting a calendar day) disables filtering by other dates."
If you select a day in the calendar on the left menu, the other dates that were previously bold to show there are notes from those days become disabled.

[2015-02-27 16:11] Baldrs commented on #260
@joshlemer author of original calendar promised to fix this this weekend

[2015-02-27 20:46] ChrisLahaye commented on #260
"But I don't think he will", I feel so appreciated :smiley:. Will fix this tomorrow (Saturday).

@Baldrs: Would be nice if you could be active at Gitter tomorrow for in case I need any help ;)

[2015-02-28 00:43] Baldrs commented on #260
@ChrisLahaye I'll try, but it will be near 20:00 GMT and no earlier.

[2015-02-28 02:26] ntnn commented on #235
@devilx

I see the problem you mean now - but that could be solved by directly linking a `noteversion` to an `attachmentversion`. But still that would use up a lot of space and additionally it would need to check for remaining version-links when removing a note or attachment, etc pp.

All in all your idea is better - thanks for explaining!

[2015-02-28 09:17] devilx commented on #207
@pwmvx1289 there is paperwork-dev@googlegroups.com and also Gitter. Wouldn't want to spread information across yet another platform.

[2015-02-28 14:00] pwmvx1289 commented on #207
Ok I'll put put things on Google Group when necessary. (Didn't know there has been one)

[2015-02-28 15:34] ntnn commented on #251
Since the installation for CentOS also applies to Fedora (aside from `dnf`/`yum`) I added that to the wiki.

[2015-03-05 02:27] cale250 commented on #135
I also have this issue.

I am using Google Chrome on a Chromebook.

Version 41.0.2272.76 (64-bit)
Platform 6680.58.0 (Official Build) stable-channel quawks
Firmware Google_Quawks.5216.204.6

[2015-03-05 02:59] jasondavis commented on #259
Auto saving is a nice feature but for me personally I prefer the save button just so you "know" for sure the data is saved.  Technically I prefer for it to show the save button but to then be able to hit the keys "ctrl + s" on a PC and have that"click the save" button.  IT's a really nice and fast workflow for myself...I guess being a Developer I am constantly hitting "ctrl + s" in Sublimetext so

[2015-03-05 03:01] jasondavis commented on #241
When the right context menus are added to the notes, one of the items could be a "copy note link" or something which could then be used to paste into another note for internal linking.  I think Evernote does this...

[2015-03-05 11:15] Liongold commented on #135
Do you get any errors in your browser's console?

On Thursday, March 5, 2015, Cale Cunningham <notifications@github.com>
wrote:

--
Sincerely,
Jean Spiteri.

[2015-03-05 20:29] tashivani opened #264 "Creating a trash bin that can store all deleted notes #261"
We can have a trash button in the navbar that will list all the deleted notes. It can even have a 'search', 'sort by date' or 'delete all' option to manage the deleted notes.

[2015-03-06 18:20] Gauss-- opened #265 "Centered text doesn't get displayed in preview mode"
Centered text doesn't get displayed in preview mode

[2015-03-06 18:22] Gauss-- opened #266 "Tag duplication"
I have the same tag twice,
when I click on them, its not the same notes that are displayed.
Looks like a blank space got there.

[2015-03-06 18:28] Gauss-- commented on #259
Both would be useful.

[2015-03-06 18:30] joshlemer opened #267 "translations for note_history and share"
Due to #263 we will need translations for:

'note_history' => 'Note History'
and
'share' => 'Share'

[2015-03-06 18:38] joshlemer commented on #267
I thought I'd go ahead and notify some of the must recent translation helpers in case they wanted to help out again :) (just tell me if you don't want to be bothered again)

@enedil (Polish)
@baldrs (Russian/Ukrainian)
@haroenv (dutch)
@janisz (Polish)
@dexafree (Spanish)
@mzch (Japanese)
@cfj (Swedish)

[2015-03-06 18:50] Haroenv commented on #267
I'm on it

[2015-03-06 19:24] dexafree commented on #267
Will do soon (tonight/tomorrow) :+1:

[2015-03-06 20:16] cale250 commented on #135
Yes, I do. Here's the error and call stack:

    Uncaught TypeError: undefined is not a function      ckeditor.js:911
    CKEDITOR.plugins.add.init.CKEDITOR.dialog.add.contents.elements.setup       ckeditor.js:537
    (anonymous function)    ckeditor.js:536
    CKEDITOR.dialog.foreach    ckeditor.js:537
    CKEDITOR.dialog.setupContent    ckeditor.js:912
    CKEDITOR.plugins.add.init.CKEDITOR.dial

[2015-03-06 20:43] mzch commented on #267
Hi,

Count on it. :)

[2015-03-07 00:02] joshlemer commented on #266
Thank you for reporting this.

[2015-03-07 10:35] janisz commented on #267
Done #270

[2015-03-07 11:01] Baldrs commented on #267
I think @devilx may update the origin files on transifex, #269 is incomplete before they are added. I have no access to push updated english files.

[2015-03-07 12:22] dexafree commented on #267
Updated spanish translations
https://github.com/twostairs/paperwork/pull/271

[2015-03-07 20:24] joshlemer opened #273 "When a Notebook is open and a tag is selected on the sidebar, the all notes with that tag should show, not just from that Notebook."
If you open a Notebook, then open a tag, the app searches for notes in the open Notebook with that tag. Should we clear the NotebookSelectedId and just search for any note with that tag, or should we search within the notebook? I'm personally in favor of just selecting any note with that tag.

[2015-03-07 21:15] joshlemer commented on #266
@Gauss-- Could you give an example? I tried making a tag:

"mynote" and "mynote " (the second having a trailing space), but this doesn't create a new tag. Nor does " mynote" (leading space). Or are you talking about if you do something like "my note", which creates a new tag?

[2015-03-08 09:04] Gauss-- commented on #266
@joshlemer,
I took a look and reproduced the error. You can check on paper work demo with this email address: juju_123@yopmail.com

**3 Steps** :
- create new account,
- edit the welcome note and add a new tag "tag",
- save.

**Outcome** :
- as you can see, there are now two "welcome" tags, and they don't list the same notes.
Here are two screenshots :

![welcome_tag_none](https://cloud.githubuser

[2015-03-08 17:10] joshlemer commented on #266
Ah okay yes this seems to be an issue only with the "Welcome" note, and the bug is still happening in the latest develop version.

[2015-03-08 21:06] cfj commented on #267
Done 277

[2015-03-08 22:22] devilx commented on #264
Should be no biggy, as we never really delete notes but only set a timestamp to their deleted_at column. Simply add a similar notebook to "All", which lists all notes with deleted_at != null.

[2015-03-09 10:14] jasondavis commented on #241
## Online Web Version of EverNote  ##

## Note List Right Click Context Menu:  Copy Note Link to the Clipboard  ##

![note-right-click-context-menu-copy-self-link](https://cloud.githubusercontent.com/assets/186818/6552825/8627a594-c620-11e4-9a5f-30e985f884f9.png)

## Paste Note Link into another Note for Inter-Note Linking ##

In this screen shot you can see at the very top of the Note that is ope

[2015-03-09 10:23] jasondavis commented on #241
Another comment about PaperWork in general and Evernote.... Today was the first time in a long time that I actually logged in online and saw the web based version of Evernote!  It is really amazing and best of all I see it as working live proof of what is possibble with paperwork over time!

If anybody hasn't looked and played around with the Web version of Evernote recently and is interested in t

[2015-03-09 10:57] saibot2013 commented on #180
Is it still open? For me it is working in chrome, firefox and safari.

[2015-03-09 17:26] Liongold commented on #264
@tashivani: do you still want to do this yourself?

On Sunday, March 8, 2015, Marius <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-03-09 18:20] tashivani commented on #264
@devilx thanks for the advice! I will try to do as you explained.

@Liongold Yes please, I have another thing that I'm working on right now. I am trying to create a check box for keeping the ckeditor open by default in the settings tab and after that I will start working on the trash bin, if that's okay?

[2015-03-10 02:47] jasondavis commented on #273
I would vote for a global search of any note with that tag as well!

[2015-03-10 08:27] Liongold commented on #264
@tashivani: Of course. I just asked so that anyone interested in doing it
will know that you are assigned to it. Good luck with your work and hope to
see your contributions soon. :)

On Monday, March 9, 2015, tashivani <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-03-11 16:55] JamborJan opened #279 "Cannot create notes after setup from scratch"
I have played with the setup of paperwork a bit and it worked well so far. Now I have updated my fork with latest version and from that point onwards I'm not able to create any notes. I also had some sample notes which have not been displayed. I did a reset to the database and also ran ```~/paperwork/frontend$ php artisan migrate```which brought no change.

Any idea where this might come from? Any

[2015-03-11 16:56] jamesrascal commented on #279
Can you post your Nginx configuration?

[2015-03-11 17:07] JamborJan commented on #279
I'm not using nginx in this setup but will do so in a next iteration. The important lines of the config:

[code]
As mentioned before it has been working before I updated to the latest commits some days ago.

When I load the site I get the following error in the browsers console. Maybe this is helpful.

[code]

[2015-03-11 17:12] jamesrascal commented on #279
I am not sure what OS that you are using but it looks like you may have missed a step.

You did run Gulp right?

[2015-03-11 17:15] JamborJan commented on #279
Sorry ... I indeed did miss the step after having updated to the latest version.

Thanks for your help and sorry for bothering.

JJ

[2015-03-11 17:15] #279 closed

[2015-03-15 11:14] JamborJan opened #281 "Paperwork is not recognizing https connection and serves content via http"
I have running paperwork behind a nginx webserver who redirects to the paperwork server. Everything is running via https managed by that nginx server.

I have only one issue: paperwork requests all css and js includes used via http which causes error message when loading the application. E.g. "Firefox has blocked insecure content" etc.

All CSS includes in the head are like this:
<link media="all"

[2015-03-15 13:23] JamborJan opened #282 "Nesting of tags"
It would be a huge organizational improvement to have the possibility to nest tags.

For example when I want to create groups of tags for when or where to do tasks or with whom or which project, I create parent tags and would nest the child tags underneath that.

Thats how it would look like in a very simple mockup:
![bildschirmfoto_2015-03-15_um_14_18_36](https://cloud.githubusercontent.com/asset

[2015-03-16 01:03] nixsiow commented on #237
Thanks for you pointing out the incompatible node module's version. Help me alot, cheers!

[2015-03-16 06:20] narcolepticsnowman commented on #28
I'm currently working on this. I gave ldap-connector a shot but it was having some problems that I could not figure out. I am now creating a userprovider that extends the eloquent user provider and does authentication checks using adldap. This makes it so that we can still use the same model that we have, but still be able to use ldap for authentication. I've got it most of the way done, but there

[2015-03-16 09:09] Rhymond opened #285 "Redirect didn't work after save"

[2015-03-16 11:21] anlutro commented on #26
Your [welcome note seems to imply that this is currently possible](https://github.com/twostairs/paperwork/blob/59bcad74f39249eb3ffb40a44e2193c29f9415e1/frontend/app/lang/en/notebooks.php#L30-L32), when it's not.

[2015-03-16 18:45] Liongold commented on #26
@anlutro Not everything mentioned in the Welcome note has been implemented yet since the note has been written with a set of features in mind. Once we are closer to an official release, we'll take care of updating it to fit the feature-set available.

[2015-03-16 18:49] Liongold commented on #285
@Rhymond Can you provide a more detailed description about this issue? What redirect did not work for you?

[2015-03-16 19:20] jamesrascal commented on #281
It seems like there is an issue with you configuration. When HTTPS is enabled ( you can also turn on force HTTPS) the loaded JS and CSS files are pulled through HTTPS and not over HTTP.

If you would like to post your current configuration its possible that you are missing something that forwards it over HTTPS (port 443) vs HTTP (port 80).

[2015-03-16 19:34] JamborJan commented on #281
Where do I set this in paperwork?

The server which is running paperwork has nothing more than minimum configuration. The local nginx server has no ssl configured. Obly the one forwarding to that.

Thanks.

[2015-03-16 19:44] jamesrascal commented on #281
I would recommend that the server you have Paperwork installed on setting up SSL.

Configure Nginx on that box to listen on port 443 and adjust the config file for paperwork to force HTTPS: /paperwork/frontend/app/config/paperwork.php

[2015-03-17 02:58] AlexIs72 opened #288 "Waiting cursor"
Need to set waiting cursor (hourglass) and blocking page actions on long-time operations (create notebooks/notes, save changes, etc)

[2015-03-18 14:59] unnikked opened #293 "gulp does not work"
I'm finding trouble on running gulp, cloned the repository today 18 March 2015

[code]

I'm using `nodejs v0.12.0` and `npm 2.7.1` on a raspberry pi that runs raspbian.

[2015-03-18 15:19] unnikked commented on #293
sorry for double posting, the issue seems already been resolved in #237

[2015-03-18 15:19] #293 closed

[2015-03-18 21:06] Liongold commented on #135
I'll take a look at this.

[2015-03-19 01:06] narcolepticsnowman opened #294 "Can't register new users then log in on develop"
merged upstream/develop and refreshed the database with php artisan migrate:refresh
![paperwork_reset](https://cloud.githubusercontent.com/assets/5445491/6722534/2b544ca2-cda1-11e4-8f7b-3d00b66ece4d.JPG)

Login page loads fine, registration page loads fine.

Filled out the registration and clicked sign up, got this error:
![registration_error](https://cloud.githubusercontent.com/assets/5445491/672

[2015-03-19 07:44] JamborJan commented on #281
Thanks for your help so far @jamesrascal but unfortunately in my use case it's not possible to setup ssl in the container where paperwork is running.

The ```/paperwork/frontend/app/config/paperwork.php```already says it's running on forced https. But I still have the issue that CSS and JS are loaded via http and thus the side looks crap because browsers are blocking these resources as a result of

[2015-03-20 01:13] #285 closed

[2015-03-20 11:32] Liongold commented on #281
I think I've found a solution for your problem. Can you give me some time
to do a fix for it, please?

On Thursday, March 19, 2015, JJ <notifications@github.com> wrote:

--
Sincerely,
Jean Spiteri.

[2015-03-20 13:01] JamborJan commented on #281
Sure! Take all the time you need. Would be really good if you can send me a quick hack beginning next week. Thanks a lot @Liongold

[2015-03-20 15:44] JamborJan opened #298 "Improvement capturing notes process: add and save notes"
It would be great to have a "new note" button directly on the UI which creates a new note in the current selected notebook or a default notebook. I find it quite odd to have to go to the file menu to create a new note which is not possible if no notebook is selected. From my perspective capturing must be super quick and easy to get important quick ideas out of my mind in the note app.

Saving a no

[2015-03-20 17:41] Liongold commented on #135
This issue should now be fixed. If you encounter this bug again, please open a new issue. Thanks for reporting.

[2015-03-20 17:41] #135 closed

[2015-03-20 17:42] Liongold commented on #294
This issue should now be fixed. If you encounter this issue again, please open a new bug report. Thanks for your contribution.

[2015-03-20 17:42] #294 closed

[2015-03-20 18:52] Liongold commented on #198
@joshlemer Is this issue totally fixed now?

[2015-03-20 19:15] joshlemer commented on #198
Yep

[2015-03-20 19:55] Liongold commented on #198
Ok, I'm closing it then.

[2015-03-20 19:55] #198 closed

[2015-03-21 03:59] truetrup opened #299 ""share" button not work"
"share" button does nothing. Tested in Firefox 35.0.1 & Chromium 40.0.2214.111

[2015-03-21 10:26] truetrup commented on #299
Duplicate of #140

[2015-03-21 10:26] #299 closed

[2015-03-21 13:10] Liongold commented on #281
@JamborJan Can you check if the value specified in [here](https://github.com/twostairs/paperwork/blob/develop/frontend/app/config/paperwork.php#L30) is the same as the URL used to access your install of Paperwork (URL)?

[2015-03-21 13:10] Liongold commented on #281
I mean in your config files of course

[2015-03-21 13:18] JamborJan commented on #281
Strange, I didn't take care about that so far. No it's not the same. The tricky part is: I'm working on the sandstorm.io port of paperwork where the app is running in a container which will be accessed later by a partial random domain e.g. randomstuff.server.com this because you can create a new instance by clicking on a button.

[2015-03-21 13:21] Liongold commented on #281
@JamborJan Just to very if that's the problem, can you change the config value and see if it works?

[2015-03-21 13:31] JamborJan commented on #281
I included there now the complete URL of one test instance of a container but it's not working. The odd thing is: without having taking care about this line: https://github.com/twostairs/paperwork/blob/develop/frontend/app/config/paperwork.php#L26 before the app found the complete correct URL of the JS and CSS which are required.

[2015-03-21 13:33] Liongold commented on #281
@JamborJan So it still did not work? I didn't understand the complete second statement.

[2015-03-21 13:37] JamborJan commented on #281
No it didn't work.

I can literary put "anything.com" in that line. It has no affect. The page is loading. It only doesn't know weather it should do a http or https.

Hope that clarifies something.

[2015-03-21 13:38] Liongold commented on #281
@JamborJan You can't share the config file you are running right?

[2015-03-21 13:45] JamborJan commented on #281
Sure I can. So far I used the default without taking care. I changed now the domain and also tryed to adjust the port, reason is point 1 below. To understand completely what I have done so far:
1. I created a docker container with paperwork, see https://github.com/JamborJan/paperwork/blob/master/Dockerfile (exposed to port 33411)
2. I then export the last status of that container: https://github.c

[2015-03-21 13:46] Liongold commented on #281
Ok, I'll try and post the idea I had yesterday in a few minutes.

[2015-03-21 13:47] JamborJan commented on #281
here is my config so far: https://gist.github.com/JamborJan/497a965529938782d0ed

[2015-03-21 13:58] Liongold commented on #281
@JamborJan Can you try running the code in branch issue-281-investigation of this repo, please?

[2015-03-21 14:01] JamborJan commented on #281
I guess these changes are required: https://github.com/twostairs/paperwork/commit/dabdc0ab7a7f7db29ac4143f65776720355a6477?

Will check it right now.

[2015-03-21 14:02] JamborJan commented on #281
Have to improve my GitHub skills a bit, pulling the changes without deleting mine and switching the branch -.-

[2015-03-21 14:02] Liongold commented on #281
@JamborJan Those are the only changes made to the branch. You can checkout the whole branch, so no need to touch your develop branch.

[2015-03-21 14:03] Liongold commented on #281
Try git checkout issue-281-investigation and run gulp

[2015-03-21 14:15] JamborJan commented on #281
Okay I'm running now on upstream/issue-281-investigation but have the same, you can check it here: https://paperwork.pandorica.centur.io/login

[2015-03-21 14:23] Liongold commented on #281
@JamborJan Can you include a `die(Request::secure())` somewhere in the Laravel code?

[2015-03-21 14:25] JamborJan commented on #281
any specific place required?

[2015-03-21 14:26] Liongold commented on #281
No.

[2015-03-21 14:29] JamborJan commented on #281
Sorry, I'm too stupid to find a place where I can put it with a usable result ... can you specify where I should place it?

[2015-03-21 14:33] Liongold commented on #281
Oh no it was my mistake. Please wait a few minutes.

[2015-03-21 14:35] Liongold commented on #281
Go to frontend/app/controllers/LibraryController.php and add `var_dump(Request::secure());die();` before `View::make('main');` please.

[2015-03-21 14:42] JamborJan commented on #281
It answers now ```bool(false) ```.

(see: https://paperwork.pandorica.centur.io)

[2015-03-21 14:43] JamborJan commented on #281
Can I overwrite ```Request::secure()``` somehow?

[2015-03-21 14:43] Liongold commented on #281
That means the problems is that Laravel is not recognisiing that you are using HTTPS.

[2015-03-21 14:45] JamborJan commented on #281
I'm not experienced with Laravel at all, is there a way of overwriting this value?

[2015-03-21 14:46] Liongold commented on #281
Give me some time to test something else. I'll get back to you in a few minutes.

[2015-03-21 14:46] JamborJan commented on #281
Take your time, I'm here for testing :-)

[2015-03-21 15:03] Liongold opened #300 "Left indented form"
The Edit form is intended to the left because there's a left margin. It could be related to the new sidebar collapse switch.

[2015-03-21 15:03] Liongold commented on #281
Let me take a look now...

[2015-03-21 15:08] Liongold commented on #281
@JamborJan Sorry for asking for too much things but could you do the same as the thing above this (var_dump and die) but replacing `Request::secure()` with `Request::server()`. I think I can deduce that the problem lies with the fact that you don't have real HTTPS.

[2015-03-21 15:11] JamborJan commented on #281
Visit https://paperwork.pandorica.centur.io and check the result.

[2015-03-21 15:12] Liongold commented on #281
I get the page itself.

[2015-03-21 15:14] JamborJan commented on #281
??? strange, here is the result:

[code]

[2015-03-21 15:16] Liongold commented on #281
OK, please pull the latest changes I made to issue-281-investigation and tell me what output you get?

[2015-03-21 15:21] Liongold commented on #281
You'll need to add a semi-colon in line 32 of filters.php

[2015-03-21 15:27] JamborJan commented on #281
The ```Request::server()``` is now removed. The page is displaying now ```error```when loaded.

[2015-03-21 15:34] Liongold commented on #281
I understand if you are frustrated with this but a hack can be done. However, it can't be applied anywhere and requires several changes. If it isn't a problem for you, I'd like you to help me to turn the hack into correct code that can be used by all.

[2015-03-21 15:38] JamborJan commented on #281
As mentioned before: I'm here for testing :-)

Today I have to make a break in one hour or so but tomorrow I have plenty of time.

[2015-03-21 15:39] Liongold commented on #281
Ok, I'll try to get back to you as soon as possible. If you're not here, don't worry.

[2015-03-21 16:27] Liongold commented on #281
@JamborJan I'm not sure that you're online right now. However, whenever you can could you please repull the latest commit I made in the issue-281-investigation?

[2015-03-21 16:39] JamborJan commented on #281
Will do the test in approx one hour and let you know. Thanks so far for your help.

[2015-03-21 16:40] Liongold commented on #281
No problem.

[2015-03-21 17:26] JamborJan commented on #281
Hey @Liongold , I merged your changes and tested it. Unfortunately no better result so far. See: https://paperwork.pandorica.centur.io

Let me know if I can provide anything more to make your work easier.

[2015-03-22 00:03] Baldrs commented on #28
#297 needs testing

[2015-03-22 10:34] wongalvis commented on #288
An alternative method would be adding an overlay with a loading logo. Which one do you guys think is better?

[2015-03-22 10:50] wongalvis opened #301 "PHP fatal error upon upgrading"
After running git pull, I switched to frontend and ran php artisan migrate.
Here's what I get:
PHP Fatal error:  Class 'Paperwork\EloquentLdapConnectorServiceProvider' not found in /home/username/Web/paperwork/frontend/vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php
 on line 157
{"error":{"type":"Symfony\\Component\\Debug\\Exception\\FatalErrorException","message":"Class

[2015-03-22 11:50] Liongold commented on #301
It has to do with a pull request recently merged to include support for LDAP authentication. I'm very sorry for any disruption this may cause and promise that a solution will be found soon.

[2015-03-22 12:03] Liongold commented on #281
Sorry for asking you again to do this but could you re-pull the latest changes to the issue-281-investigation. It isn't fit to be in the actual code but could be a way to fix your problem until a real fix is found (if it works in the first place).

[2015-03-22 12:06] Liongold commented on #281
@JamborJan: forgot to tag you.

[2015-03-22 12:09] JamborJan commented on #281
Congratulations @Liongold! You made it! My first test instance is working with that change. Now I would have to apply this to my master branch and test it in my containers.

[2015-03-22 12:10] Liongold commented on #281
I knew of that option right from the start but hoped of finding a real solution to the problem. Apologies for maybe wasting your time but I hope you understand my reasons and I'm still hoping you could help me to fix the real issue.

[2015-03-22 12:11] JamborJan commented on #281
No Problem. I will build my package with that quick-fix and will keep testing the stuff you provide, no problem at all. Simply let me know when you need something from my side.

[2015-03-22 12:12] Liongold commented on #281
Do you want to use Gitter to avoid adding a lot of comments to this issue?

[2015-03-22 12:13] JamborJan commented on #281
Sure.

[2015-03-22 12:48] Liongold commented on #301
You can fix this issue by running `composer dump-autoload`. Run it and everything should work well again.

[2015-03-22 12:54] Liongold commented on #301
I think this issue should be left open at least for now so that people can see it before submitting a new issue.

[2015-03-22 13:14] wongalvis commented on #301
Running composer dump-autoload solved the issue. Thx.

[2015-03-22 13:17] wongalvis commented on #301
Is this issue associated with the current related to the above error mentioned?
![2015-03-22 21_15_48-paperwork](https://cloud.githubusercontent.com/assets/6073063/6769493/be361bd8-d0d8-11e4-94c2-78d636a03246.png)

[2015-03-22 13:19] wongalvis opened #303 "Share button not working"
The share button (on the top-right corner of note content) is not working. Nothing appears after clicking it several times.

[2015-03-22 13:22] wongalvis commented on #140
It is not necessarily to include oauth to implement sharing via social media. A simple method would be putting on a share button/retweet button etc., the shared content is provided and Facebook/Twitter would do all the stuff with authentication.

[2015-03-22 13:33] Liongold commented on #303
Duplicate of #140.

[2015-03-22 13:33] #303 closed

[2015-03-22 13:37] Liongold commented on #301
I'm not sure but I don't think so. However, you can click on the sidebar links right?

[2015-03-22 13:39] wongalvis commented on #301
They're clickable. The "Welcome" note isn't appearing upon log in as before, when I clicked "Welcome" notebook, then a tag, then click the tag again to uncheck it, this issue appears.

[2015-03-22 13:40] wongalvis commented on #301
Sorry the issue is actually appearing whenever a tag is selected.

[2015-03-22 13:42] Liongold commented on #301
OK, that's better. Could you open a new issue? I don't think it has to do with this one. Also, could you include a screenshot of your browser console and/or network tab, please?

[2015-03-22 13:43] wongalvis commented on #140
Another way to implement Facebook sharing without oauth is to include a href to a url like https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.google.com

[2015-03-22 13:58] wongalvis opened #304 "Note list error"
The issue is actually appearing whenever a tag is selected.
![2015-03-22 21_57_45-paperwork](https://cloud.githubusercontent.com/assets/6073063/6769595/850e3484-d0de-11e4-9157-3c056743ccfb.png)
Mentioned in https://github.com/twostairs/paperwork/issues/301

[2015-03-22 20:25] Baldrs commented on #301
`composer dump-autoload` is a must after any pull into a repo already containing installed composer files

[2015-03-22 20:46] narcolepticsnowman commented on #304
@wongalvis did you run gulp after you pulled last?

[2015-03-22 20:54] Baldrs commented on #304
@wongalvis consider fresh install before posting a ton of issues

[2015-03-22 20:55] narcolepticsnowman commented on #304
I can confirm that filtering by tags is completely broken on develop. This was probably related to code changes from #66 . On my system, the list of notes never even shows up. Also the tagid put in to the search box is acting very strange. For some tags I get a reasonable id value, some have the id NaN, and some give me super high numbers for some reason (588359 for example). So I think the whole

[2015-03-22 20:57] Baldrs commented on #304
@narcolepticsnowman @devilx stated that #66 broke up a lot of things, and fixing them is appreciated

[2015-03-22 21:07] narcolepticsnowman commented on #300
Confirmed on my machine.
![edit_indented](https://cloud.githubusercontent.com/assets/5445491/6771495/2012ed2e-d0a5-11e4-9da4-a63c3484d9bc.JPG)

I'll publish a fix in just a minute.

[2015-03-22 21:54] narcolepticsnowman commented on #184
#295  pull request fixed this.

[2015-03-23 07:36] Baldrs commented on #58
Done in #306

[2015-03-23 07:38] #301 closed

[2015-03-23 09:56] wongalvis commented on #301
@Baldrs I've added the text but not 100% sure whether it's accurate and informative enough. https://github.com/twostairs/paperwork/pull/307

[2015-03-23 09:57] wongalvis commented on #304
@Baldrs I checked that it has nothing to deal with gulp/composer or any procedures to be done after git pull updates, nor issues related to previous installations.

[2015-03-23 10:32] Baldrs commented on #301
@wongalvis as of composer update autoloading, it is, but we must add some additional steps too, because npm and bower packages may be installed. I've been thinking of writing an artisan command to    reduce amount of steps required as well.

[2015-03-23 11:29] Liongold commented on #300
Is this fixed?

[2015-03-23 19:02] jasondavis commented on #53
I have been testing and researching the available libraries or this functionality and on of the best I have found is from Hubspot, they have created a library called ShepHerd http://github.hubspot.com/shepherd/

It's really nice and easy to use.  Has some nice features like scroll to and a good UI.  It's easy to use as you define the Tour "Steps" with the content and then assign which buttons to s

[2015-03-23 19:08] jasondavis opened #311 "Tour library"
I have been testing and researching the available libraries for this functionality and one of the best I have found is from Hubspot, they have created a library called ShepHerd http://github.hubspot.com/shepherd/

It's really nice and easy to use.  Has some nice features like scroll to and a good UI.  It's easy to use as you define the "Tour Steps" with the content you want to show and then assign

[2015-03-24 07:29] JamborJan commented on #281
The problem is that Paperwork doesn't recognize if it should provide content via http or https.

In my scenario the ```HTTP_X_FORWARDED_PROTO```is set to https and I also have set HTTPS to be "on" with the following:

[code]
I included that line in ```paperwork/frontend/app/config/paperwork.php```, I'm not sure if that is the right place.

Anyway the app is not properly building the page with http

[2015-03-24 07:37] JamborJan commented on #281
Additional places I found where abolute paths are used instead of realtive which makes live uneccesairy hard:

When logged in as user and looking ant the page source:
[code]
The form mentioned is appearing two times in the code.

[2015-03-24 08:51] JamborJan commented on #281
See my fork for details how I solved the issue for now.

HTTP / HTTPS: get the right protocol and depending on that force Paperwork to use the right one:
https://github.com/JamborJan/paperwork/blob/master/frontend/app/routes.php

Plus relative paths in the view/layouts.

[2015-03-24 09:24] wongalvis opened #312 "Feature: Links to other notes and quotes"
Within a note, there could be a way to add links to other notes, maybe even with a preview when the link is hovered on.
I would also suggest adding a quote function where certain text from another note could be quoted with reference details.

[2015-03-24 09:29] Baldrs commented on #237
Seems to be abandoned, closing till it gets any attention.

[2015-03-24 09:29] #237 closed

[2015-03-24 09:30] Baldrs commented on #108
Closing as abandoned and outdated.

[2015-03-24 09:30] #108 closed

[2015-03-24 09:31] #184 closed

[2015-03-24 09:34] Baldrs commented on #281
@JamborJan how about coming up with a pull request to fix that?

[2015-03-24 09:40] JamborJan commented on #281
@Baldrs I can do that but I'm not sure if my solution is super smart or just a bloody workaround :-)

My solution seems to work but I would test it a bit more, don't want to crap your code. Is there anybody able to review what I have done and tell me if it makes sense?

[2015-03-24 16:31] narcolepticsnowman opened #313 "Create update.php script that will completely update the project"
as @Baldrs  said:

It will pull, composer update, npm update, bower install and then gulp
And transifex pull too, optionally

Doing this will simplify the update process for people, and prevent issues being opened related to missing part of this process.

[2015-03-24 17:13] Baldrs commented on #313
I propose to implement this as [artisan command](http://laravel.com/docs/4.2/commands) to not overcomplicate.

[2015-03-27 13:46] zebrastribe opened #318 "New collection and share?"
Hi

Maybe my mistake but nothing happen clicking on "New collection" or "Share" in the demo.(demo.paperwork.rocks/)

[2015-03-28 02:11] kentonv commented on #298
FWIW, I also stumbled over this when trying out Paperwork. I agree having a prominent "new note" button would be a great change.

[2015-03-28 03:44] alphapapa opened #319 "Actually delete notes"
It's nice to see a nice-looking open-source Evernote/etc. alternative, so thanks for working on this.

However, I saw mentioned in another issue that you don't actually delete notes, you just mark them deleted in the database.  For me, this is a deal-breaker.  Trash bins are good to avoid accidental data loss and provide a way to get recent stuff back, but once the trash is emptied, the data shoul

[2015-03-28 07:49] Baldrs commented on #319
This is protecting the notes from accidental deletion or whatever you done that lead to the deletion of a note. That can be fairly easily changed to full deletion, but I don't think it is 100% needed by all of the users. Anyway, you host it, so you can wipe something you want out from the database manually.

[2015-03-28 08:35] alphapapa commented on #319
Isn't that what the trash bin is for, to protect against accidental deletion?

Well, opening up another tab, going to the phpMyAdmin URL for the database in question, digging through its cluttered UI to find the right table, running a search to find the right row, and then deleting it...is not something most users would want to do, and certainly not something I'd want to have to do, just to delete

[2015-03-28 11:08] zidarko commented on #319
I echo alphapapa's opinion. Deleting a note *must* delete this note. It is the expected behaviour in every piece of code I have come across so far.

[2015-03-28 12:04] Baldrs commented on #319
There is #264 and it is not yet implemented. When it is, you will have what you desire. As you may have noticed, paperwork hasn't even reached 1.0 release. And while this is _beta_ software, you have to do this as I said, in database, until the feature is implemented. So instead of saying about inodes and wrong software, you may actually help us with designing how it will look like.

[2015-03-28 12:04] #319 closed

[2015-03-28 12:05] Baldrs commented on #319
Duplicates #264

[2015-03-28 12:05] Baldrs commented on #264
As the users requested in #319, the notes deleted in trash bin must be deleted forever.

[2015-03-28 12:13] #244 closed

[2015-03-28 15:03] Baldrs commented on #304
Fixed in #320

[2015-03-29 01:24] thejadefarrar opened #321 "Paperwork & MAMP"
Hi everyone,

This is actually my first time attempting to build and run an open source project.
I'm getting a lot of errors in the terminal trying to put together all the components.
I'm using mamp 3.0.7.3 on a Mac OS 10.10 machine, I don't have a lot of experience with programming so I'm hoping someone out there will be keen to guide me through this (I'm sure others will appreciate it too).
If y

[2015-03-29 08:45] Baldrs commented on #321
And what have you tried? Your question is like "I did something I don't understand, oh they will guess what I need for free, so I'll just ask for help without details.". Nobody will do this for you, nobody will guess what do you need. Welcome to the open source.

[2015-03-29 18:10] Liongold commented on #134
This has been fixed in #290. If you encounter this issue again, please open a new issue.

[2015-03-29 18:10] #134 closed

[2015-03-29 18:28] konfiot commented on #256
I support the Idea, It would be great as it would allow to use paperwork alongside with other self-hosted applications

[2015-03-30 08:42] copyme opened #322 "LaTeX support"
Hey! At first I am really happy that you work on this project, looks really promising! Do you plan to implement LaTeX support? This functionality is missing in Evernote and OneNote but is really desired by a huge group of users. You could just use eg MathJax to render LaTeX in the web interface.

[2015-03-30 09:16] Baldrs commented on #322
Well, that's a good feature request, and this can be done rather easy, as there mathjax plugin for ckeditor that we're using. But we have lot's of urgent stuff including bugs need to be fixed, so we will add this when we will have time. Also PR is appreciated.

[2015-03-30 10:59] jasonbillebault opened #324 "apache configuration"
Hi,

I'm having troubles with apache configuration for displaying correctly Paperwork. If I type on the address bar my ip, I see the default webpage of apache showing 'it works !'.
I can access to Paperwork if I type index.php on the address bar of the navigator. Unfortunatly I don't have all the items like 'edit' or 'file' buttons.

For information, i tried to add the .htaccess quoted on the quic

[2015-03-30 13:39] vitor-faiante commented on #321
@thejadefarrar Can you give us information on what errors you got so that we could better help you.

[2015-03-30 13:53] Liongold commented on #324
Do you have mod_rewrite installed?

[2015-03-30 14:07] Baldrs commented on #267
Seems like this is done, closing.

[2015-03-30 14:07] #267 closed

[2015-03-30 14:32] jasonbillebault commented on #324
Hi,

Yes, the mod_rewrite is installed.

I did before a
sudo a2enmod rewrite and reloaded the server

If i put the .htaccess in paperwork/frontend. I have this 404 message on my web browser.

[2015-03-30 14:46] Baldrs commented on #304
Merged fixes in develop, @wongalvis @narcolepticsnowman please test latest HEAD of develop

[2015-03-30 15:06] Baldrs commented on #324
Can you provide some error.log? And access.log too(please use pastebin)

[2015-03-30 15:50] Baldrs commented on #318
I'm afraid until @devilx will see that, we could not provide any help with the demo site.

[2015-03-30 15:53] Baldrs commented on #95
There are some clues I saw today on how we can integrate ckeditor source editor with markdown support, but we will still need some type column.

We somehow need to implement [this](http://nightly-v4.ckeditor.com/ckeditor_api/#!/api/CKEDITOR.dataProcessor), basing on how the bbcode plugin was made.

[2015-03-30 16:23] jasonbillebault commented on #324
Hi Baldrs,

Here the pastebin from error.log w/o .htaccess

http://pastebin.com/b6L0qUXC

here the pastebin from access.log w/o .htaccess

http://pastebin.com/9QjfWJpK

[2015-03-30 16:30] jasonbillebault commented on #324
from error.log w/ .htaccess in frontend folder :
http://pastebin.com/3QfrY9Nz

from access.log w/ .htaccess in frontend folder :
http://pastebin.com/T9zwUeuU

[2015-03-30 17:48] Baldrs commented on #324
Try updating config to this(replace yourdomain.here with your domain):

    <VirtualHost *:80>
        ServerAdmin webmaster@localhost
        ServerName yourdomain.here

        DocumentRoot /mnt/naslab/www/paperwork/frontend/public/
        <Directory /mnt/naslab/www/paperwork/frontend/public/>
            Options FollowSymLinks
            AllowOverride All
        </Directory>

        ScriptA

[2015-03-30 18:53] jasonbillebault commented on #324
Everythings seems to work remarkably. Thanks !
I can begin to enjoy your solution now. :)

[2015-03-30 19:32] #324 closed

[2015-03-30 22:06] jamesrascal opened #326 "Move content from the readme.md file into the Wiki"
Content in the readme.md file should be migrated to the wiki. This would allow the content of the readme file to be updated by more people without having to make pull requests each time. I also feel like there is a value added to directing new users to a full install guide instead of the quick and dirty guide.

The read me file should be short and to the point and direct everything else to the Wik

[2015-03-31 03:08] wongalvis commented on #304
From what I get so far the list didn't display any notes with the tag at all.

[2015-03-31 06:49] Baldrs commented on #304
Have you pulled the latest develop and rebuilt assets with gulp? Also, have you wiped your cache out?

[2015-03-31 06:53] Baldrs commented on #326
Wow, that looks good. I certainly vote for this. But we still need to move the articles into wiki. There is more generic issue #152 , but I won't mark this as duplicate because this is actually a solution. I think when we will finish merging #306(adds bower to readme), we can merge this change and write the articles in wiki.

[2015-03-31 07:10] wongalvis commented on #304
I've ran php artisan migrate, composer dump-autoload and gulp.

[2015-03-31 12:53] zebrastribe commented on #318
ok, Baldrs. So I hope he will see it. Paperwork looks promising...

[2015-03-31 18:30] jamesrascal commented on #313
I think that this is related to #234 having a setup wizard would do the hard lifting. Once that exists having it run updates would not be to difficult.

[2015-03-31 18:44] jamesrascal commented on #313
Also #242

[2015-03-31 19:31] Baldrs commented on #304
Can you try installing paperwork into another folder with clean database and check again(also please wipe out browser cache, it is javascript related problem)? I had to run `php artisan migrate:refresh` after #66 to get it work, not just `php artisan migrate`

Also if you don't see UUIDs in browser url, you have some obsolete version

[2015-03-31 23:05] Baldrs commented on #326
#327 introduces this change

[2015-03-31 23:05] #58 closed

[2015-03-31 23:05] Baldrs commented on #58
Merged into develop.

[2015-03-31 23:06] Baldrs commented on #68
CKEditor removes scripts by default, now note saving api does that too.

[2015-03-31 23:06] #68 closed

[2015-03-31 23:12] #116 closed

[2015-03-31 23:13] Baldrs commented on #116
Seems to be long fixed

[2015-03-31 23:14] #207 closed

[2015-03-31 23:17] Baldrs commented on #132
Okay, we now have calendar. Please file any new issues into new threads.

[2015-03-31 23:17] #132 closed

[2015-03-31 23:18] #180 closed

[2015-04-01 01:20] wongalvis commented on #304
What are UUIDs?

[2015-04-01 01:44] skeidel commented on #237
Had the same issue in Debian wheezy 7.8 with the very latest npm 2.7.4 just now. Pinning the packages listed by @AlexIs72 above worked though.

[2015-04-01 04:27] Baldrs commented on #304
Stuff like this 6d90e8c1-9ef5-47d0-820b-9026090fa149

[2015-04-01 05:12] wongalvis commented on #304
Any idea why?
username: ~/Web/paperwork/frontend $ php artisan migrate:refresh
**************************************
*     Application In Production!     *
**************************************

Do you really wish to run this command? y
**************************************
*     Application In Production!     *
**************************************

Do you really wish to run this command? y
N

[2015-04-01 05:18] wongalvis commented on #304
And this
PHP Fatal error:  Class 'PaperworkUpdate' not found in /home/pwmvx128/Web/paperwork/frontend/app/start/artisan.php on line 14
Error in exception handler: The stream or file "/home/pwmvx128/Web/paperwork/frontend/app/storage/logs/laravel.log" could not be opened: failed to open stream: Permission denied in /home/pwmvx128/We
b/paperwork/frontend/vendor/monolog/monolog/src/Monolog/Handler/St

[2015-04-01 06:11] Baldrs commented on #304
Nevermind the last one, just pull again.

[2015-04-01 06:12] Baldrs commented on #304
I'm afraid you have to start your database from scratch as @devilx mentioned after he merged #66

[2015-04-01 06:41] #300 closed

[2015-04-01 06:57] Baldrs commented on #288
I think it is better to block control that fires an action and display some loader image. Splashing black thing on any action is easier to implement, but it is dreadfully annoying.

[2015-04-01 06:58] wongalvis commented on #304
I'm using VM on Koding, is there any quick way to restore the database?

[2015-04-01 07:03] Baldrs commented on #266
Can't reproduce this using the steps, can you confirm whether it is fixed or not with the latest develop?

[2015-04-01 09:03] Baldrs commented on #304
Use the ~~force~~ terminal ~~Luke~~ @wongalvis and re-create database using mysql command-line tool. ~~The force~~ google is your friend on how to do this because it is very basic task.

[2015-04-01 09:05] Baldrs commented on #304
Okay I consider that fixed because problems related to updating Koding VM are not related to note list problems. For I cannot reproduce it anymore.

[2015-04-01 09:05] #304 closed

[2015-04-01 09:21] wongalvis commented on #304
Sorry @Baldrs I am extremely unfamiliar with backend tasks, should I follow the guide in README starting from DROP DATABASE IF EXISTS paperwork; CREATE DATABASE IF NOT EXISTS paperwork DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;

[2015-04-01 09:46] Baldrs commented on #304
@wongalvis these commands will be enough. Then you may `php artisan migrate` to get a new database. BTW you may better use gitter to ask questions.

[2015-04-01 15:53] Liongold commented on #313
@jamesrascal These issues are to have something temporary until the issues you mentioned are fixed completely.

[2015-04-01 18:13] narcolepticsnowman commented on #313
@Liongold This script could actually be implemented in such a way as to facilitate exactly what #242  is referring to. Thus, #242 would actually just involve creating some sort of front end to look up the versions in git, let you choose it, then execute this script.

[2015-04-02 05:38] wongalvis opened #328 "Tags list update"
When a new note is created with new tags, the tab has to be refreshed in order for the tag to appear the in the sidebar list.
If I added a new note, saved, clicked "Library", the tag is not found in the sidebar.
It would be better if the tab could be automatically refreshed, or the tag could appear without any refresh.

[2015-04-02 06:26] wongalvis opened #330 "Error text"
When the latest commit in the local copy is not equal to the one in paperwork GitHub repo, this message appears in error-reporting box "Found a bug? It seems like you are not running the latest version of Paperwork. Please consider updating before submitting an issue."

But sometimes it is because people committed to their repo that the latest commits in the two repos are different, this message m

[2015-04-02 08:52] Baldrs commented on #330
Yeah that code is kind of blunt, it does not check if it is your commit newer than upstream, and it's kind of temporary, but there's nothing more permanent that temporary. So I'll fix that this week, if I'll have the time.

[2015-04-02 11:43] Liongold commented on #326
Can this be set as fixed now?

[2015-04-02 12:01] Liongold commented on #311
@jasondavis Are you planning on doing this yourself?

[2015-04-02 12:09] Baldrs commented on #326
@Liongold seems like, if anything is missing in the wiki we can dig it out from history and put it in the wiki.

[2015-04-02 12:50] QkiZMR opened #332 "SQLSTATE[HY000] [2002] Permission denied"
After installing Paperwork with guide from http://paperwork.rocks/ and attempt to run application I got error like in topic. Other messages:
Open: /var/www/html/paperwork/frontend/vendor/laravel/framework/src/Illuminate/Database/Connectors/Connector.php
41.   public function createConnection($dsn, array $config, array $options)
42.	{
43.		$username = array_get($config, 'username');
44.
45.		$passw

[2015-04-02 13:23] Baldrs commented on #332
The paperwork.rocks unfortunately receives updates infrequently, so it is may be outdated.

Which branch you are currently trying? If develop, then follow [this article](https://github.com/twostairs/paperwork/wiki/Initial-installation) for installation guide, we're trying to keep it up to date.

Additionally, please post your database configuration, your steps that you have done with the initial d

[2015-04-02 13:39] Liongold commented on #326
Ok, closing then.

[2015-04-02 13:39] #326 closed

[2015-04-02 14:01] QkiZMR commented on #332
How do I check branch?

[2015-04-02 14:11] Baldrs commented on #332
What? Where did you get the source code and how?

[2015-04-02 14:18] QkiZMR commented on #332
Did you see this website? Instructions are on this page below.
http://image.qkiz.pl/di/44QS/Zrzut_ekranu_z_2015-04-02_16:14:25.png
I got source code from that website after clicking 'Download ZIP file' 9https://github.com/twostairs/paperwork/zipball/master).
I'm using Mysql.

[2015-04-02 14:27] Baldrs commented on #332
Well, I've not just have seen them, I have written the version you see on the site. But it does not help, I was asking what have you done, literally the commands you issued to have the initial setup, contents of `database.php`(without your password).

If your database is on some non-local hosted server, then user creation will not work for you, as you gain no access if your host is not `localhost`

[2015-04-02 14:32] Baldrs commented on #332
BTW, the files on the site are quite outdated, last development version can be obtained  [here](https://github.com/twostairs/paperwork/archive/develop.zip).

[2015-04-02 14:40] QkiZMR commented on #332
Commands are same like on website. Database and Apache is on same server.
Database.php -> http://pastebin.com/jXQHaMSE

[2015-04-02 14:43] Baldrs commented on #332
Try changing this:

    'host'      => (getenv('DB_1_PORT_3306_TCP_ADDR') ? getenv('DB_1_PORT_3306_TCP_ADDR') : '127.0.0.1'),

To this:

    'host' => 'localhost'

Your server may be configured to not listen to 3306 port at all, and `localhost` has special meaning, mysql extension will try to connect using unix socket when host is `localhost`.

[2015-04-02 15:00] QkiZMR commented on #332
How to turn off basic auth? Browser asks me for login and password.

[2015-04-02 15:11] Baldrs commented on #332
Depends, first look into `.htaccess`, then in apache config

[2015-04-03 02:52] wongalvis commented on #311
I'm interested in it.

[2015-04-03 03:06] wongalvis opened #333 "Clicking on icon doesn't work in Collapsible"
In http://materializecss.com/collapsible.html
Clicking on the icon doesn't make the item expand.

[2015-04-03 03:06] wongalvis commented on #333
Posting on the wrong repo sorry.

[2015-04-03 03:06] #333 closed

[2015-04-03 07:21] QkiZMR commented on #332
I don't turn on basic auth. Here is my .htaccess:
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfMo

[2015-04-03 10:41] Baldrs commented on #332
Try removing this line:

    RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization},last]

[2015-04-03 10:55] QkiZMR commented on #332
I'm tried this. Not working. Here is debug log from apache:

    [Fri Apr 03 12:51:07.434164 2015] [authz_core:debug] [pid 31692] mod_authz_core.c(802): [client 172.25.26.211:34332] AH01626: authorization result of Require all granted: granted
     [Fri Apr 03 12:51:07.434173 2015] [authz_core:debug] [pid 31692] mod_authz_core.c(802): [client 172.25.26.211:34332] AH01626: authorization result of <

[2015-04-03 18:56] devilx commented on #281
@JamborJan I just flew over this issue, without spending as much thoughts on it as you guys did. Just a hint from my side: It's probably not the *best* solution if things like HTML::style needs to be replaced by a hardcoded link tag. In general, I would say that all this fixing should be done in Laravel, rather than within Paperwork, as it's the framework that needs to provide us with the HTTP_X_F

[2015-04-03 19:02] devilx commented on #321
First things first: You'll need MAMP PRO, since the free version doesn't provide all PHP extensions that are needed.

[2015-04-03 19:04] devilx commented on #95
@Baldrs :+1:

[2015-04-03 19:05] devilx commented on #318
Simple: Collections aren't implemented yet. :-) Technically, they are. But the UI isn't ready to display them yet.

[2015-04-03 22:40] thejadefarrar commented on #321
Thank you @devilx I will look into that.

The other thing I noticed is in the provided installation instructions it refers to:
`fig up`

I understand `fig` is somewhat depreciated does anyone have any advice on this?

[2015-04-04 12:09] Liongold commented on #281
@devilx I am currently working with @JamborJan on a way to fix this issue as good and Laravel-friendly way as possible.

[2015-04-04 12:10] Liongold commented on #318
The Share is also not implemented so technically there isn't any issue here. Should this be closed?

[2015-04-04 12:26] Liongold commented on #43
@devilx Did you check this, please?

[2015-04-06 06:51] 7brend7 opened #335 "Error in console related to calendar"
I've noticed error message in console for current 'develop' branch:

Not sure, but I think it's related to calendar control.

[2015-04-06 07:18] Baldrs commented on #335
Yes, saw that, needs fixing. You welcome to create PR to fix that.

[2015-04-07 13:49] DSpeichert opened #337 "Migration fails: Invalid default value for 'created_at' (table: users)"
[code]

[2015-04-07 13:56] DSpeichert commented on #337
https://github.com/laravel/framework/issues/3602

Framework problem.

[2015-04-07 13:56] #337 closed

[2015-04-11 12:08] joeinnes opened #338 "Disable sign up"
I think it would be useful to have the option to disable signups - I'm using it as my own personal notebook, but I don't want just anyone to be able to register. I'd like to be able to enable/disable signups or approve new account creations or something along those lines.

[2015-04-11 15:28] jamesrascal commented on #338
Sign up can be disabled by editing the paperwork.php file.

On Apr 11, 2015 5:08 AM, Joe Innes <notifications@github.com> wrote:

[2015-04-11 16:45] #338 closed

[2015-04-11 17:30] Liongold commented on #338
@joeinnes Sorry for the closing of the bug early. As @jamesrascal suggested, you can disable signup by editing the config. About your other suggestions, could you please post them in the issue currently open for the Admin Center please?

[2015-04-11 19:23] Liongold commented on #102
As part of my work on #146, I have added a notification for this until a consensus is reached on this issue. More info will be posted soon.

[2015-04-11 20:09] Baldrs commented on #338
@Liongold that must be filed separately and that should be stated in the wiki.

[2015-04-11 23:15] #332 closed

[2015-04-12 14:23] Liongold commented on #338
@Baldrs What do you mean?

[2015-04-13 07:50] Baldrs commented on #338
I mean we need to document it. This question appears weekly.
On 12 Apr 2015 17:23, "Liongold" <notifications@github.com> wrote:

[2015-04-13 18:34] jamesrascal commented on #338
The documentation is in the configuration file itself /frontend/app/config/paperwork.php

`
/*
	|--------------------------------------------------------------------------
	| Enable registration
	|--------------------------------------------------------------------------
	|
	| If set to true, user registration is enabled. If set to false
	| no new users will be able to register.
	|
	*/
	'registrat

[2015-04-13 20:50] Baldrs commented on #338
Newcomers are usually reluctant and unaware of any documentation in source files, so it must be stated clearly where are the config files, what can be configured in them, etc. All this must be in wiki, because we are not support center here and earn nothing to sit and answer questions that already answered.

[2015-04-14 04:43] CuberL opened #341 "the language support problem"
when the user's default language sets to "Chinese(Simplified)"(which i am translating now) and when login to this account it shows English. The dir name of lang files is "chi-sim",and i found the database of users' settings it only give a char(2) for "ui-language". so the "chi-sim" becomes "ch" and cause that problem.

[2015-04-14 06:04] Baldrs commented on #341
Please use transifex for translations.

[2015-04-14 06:07] Baldrs commented on #341
BTW, I always thought that simplified chinese code was zh-cn, and traditional was zh-tw, why are you using chi-sim?

[2015-04-14 08:18] CuberL commented on #341
@Baldrs yeah,i think it must be zh-cn. but in file app/lang/en/language.php,it use 'chi-sim'.
And i will work on transifex these day.

[2015-04-15 13:45] Baldrs commented on #185
Fixed that in #342

[2015-04-15 13:50] Baldrs commented on #185
PS: Transifex parser does not understand PHP string concatenation

[2015-04-16 06:33] clemlaf opened #344 "encoding problem with certain characters"
Paperwork could not save a note which contains certain characters like "×" or "œ". The mysql encoding seems correct, so it seems the problem does not come from the database.

[2015-04-16 07:37] Baldrs commented on #344
Although needs confirmation, can you try it on older paperwork from master branch or before that commit: 4e3b5ed?

[2015-04-16 09:10] Baldrs opened #345 "Decouple backend from frontend"
We have now strong ties between our angular frontend and our backend. That needs to be changed - then we will have clear client-server api, with our frontend as default client.

To achieve this, we need to remove blades with angular-only html to frontend part. As we are going to have more clients for any platform, we don't need to have one of clients implementation inside backend, it must be api-o

[2015-04-16 14:13] Liongold commented on #146
This should be fixed. If you encounter any other issues, please open a new issue.

[2015-04-16 14:13] #146 closed

[2015-04-16 14:45] Baldrs commented on #102
So here we may add some interaction to the save button and we're done

[2015-04-18 12:09] clemlaf commented on #344
I tried with the current master version, and there is also the problem.
The put query gives a 500 error with the following message:
Error type : "Illuminate\Database\QueryException"
message : SQLSTATE[HY000]: General error: 1467 Failed to read auto-increment value from storage engine (SQL: insert into `versions` (`title`, `content`, `content_preview`, `id`, `updated_at`, `created_at`) values (conf

[2015-04-18 15:48] #185 closed

[2015-04-18 15:52] Baldrs opened #349 "Subfolder installation"
1. [x] Fix frontend network service to recognize subfolder
2. [x] Fix backend to use url helper for aIl of the links

[2015-04-18 15:56] Baldrs commented on #349
As suggested in gitter, creating an issue

[2015-04-19 18:10] clemlaf commented on #344
I refreshed the database using php artisan migrate:refresh, and until then the issue did not reappeared, so I guess the issue came from my configuration. Sorry for the disturbance.

[2015-04-19 18:15] #344 closed

[2015-04-20 11:51] skinnx86 opened #351 "Share Button on the Demo does not work."
I tried the demo out for a bit, but got to a dead end when I tried to share the note.  Once clicked, nothing happens at all.

[2015-04-20 11:54] Baldrs commented on #351
See #140, it is just not implemented.

[2015-04-20 11:54] #351 closed

[2015-04-20 11:56] skinnx86 commented on #351
Many Thanks.

[2015-04-22 02:09] rusnassonov opened #352 "Nothing happens if i click File -> New collection"

[2015-04-22 02:10] #352 closed

[2015-04-22 21:45] jamesrascal commented on #349
Should #256 be closed and linked to this issue then?

[2015-04-22 21:56] Baldrs commented on #349
I think information on how to install in subfolder should be added to wiki first, and only when it is solved, it then must be closed.

This issue is a kind of task tracking.

[2015-04-23 07:48] AdiuvoDotFr opened #353 "Adding prefix to the database"
Hello,

I have tried to add a prefix to the database in the database config.
Then, when I use "php artisan migrate", it throw me an error saying that it do not find the tables.
For now I didn't have enough time to take a look at it to find the error. Maybe I will try later.

Is it a bug known by the community?

PS: It's a fresh install of paperwork.

[2015-04-24 12:46] yeannyang opened #354 "Click Share button but no response!"
when I click on the share button, nothing happened and I wondered that if there are any issues with it.
Expect for answers, thank you!

[2015-04-24 12:48] Baldrs commented on #354
Duplicates #140. It is not implemented. We will implement it in future, but we're very-very busy currently.

[2015-04-24 12:48] #354 closed

[2015-04-24 12:48] Baldrs commented on #140
We need to do something or remove that button.

[2015-04-24 12:52] yeannyang commented on #140
but is there any way to share within paperwork?

[2015-04-24 15:12] wongalvis commented on #140
Does that mean sharing the note to other users or sharing it via social platforms?

[2015-04-24 16:14] yeannyang commented on #140
@wongalvis  sharing the note to other users in paperwork. My paperwork is expected be a private notebook.

[2015-04-25 10:37] wongalvis opened #355 ""Close without saving?" always appearing"
The "Close without saving?" popup always appear when pressing the close button in the "edit note" page, telling that "There are unsaved changes in your note. Do you really want to close this note and dismiss all unsaved changes?".
It appears even if I didn't make any changes at all.

[2015-04-27 16:38] doc-jay opened #357 "Saving note with code snippet - error"
Running the latest git code from paperwork

I am trying to save a note with a code snippet that is a MYSQL query.  It acts as it saves it, but after you go back to your note, it doesn't have any snippet at all.  I can enter plain text in it just fine.

When I do the code snippet, I choose 'SQL' but it doesn't matter which one I choose, they all act the same way.

Here is the laravel.log:

[code]

[2015-04-28 15:48] Liongold commented on #353
I couldn't replicate this issue. Can you explain what did you do to install Paperwork exactly, please?

[2015-04-28 16:23] Liongold commented on #357
I couldn't replicate this issue. Can you provide some sample note text and screenshots of the browser network console, please?

[2015-04-29 14:12] Liongold commented on #355
This has been fixed. If you encounter any other issues, please open a new issue.

[2015-04-29 14:12] #355 closed

[2015-04-29 15:12] 7brend7 opened #359 "Exception when upload attachment"
I have clear installation of develop branch and I get an exception when trying to upload attachment file:
[code]
![29-04-2015 10-32-28](https://cloud.githubusercontent.com/assets/2050897/7386320/0f9592f2-ee5b-11e4-92f1-566990cf5443.png)

[2015-04-29 16:52] Baldrs commented on #256
Fixed in #360

[2015-04-29 16:52] Baldrs commented on #349
Fixed in #360

[2015-04-29 17:29] Baldrs commented on #260
That's been fixed

[2015-04-29 17:29] #260 closed

[2015-04-29 17:29] Baldrs commented on #152
Done in #326

[2015-04-29 17:29] #152 closed

[2015-04-29 17:31] Baldrs commented on #28
Done in #292 #297 and #346 . Please file new issues on this topic as they appear.

[2015-04-29 17:31] #28 closed

[2015-04-29 18:23] Baldrs commented on #359
Fixed in #361

[2015-04-29 21:17] kibwashere opened #362 "404 (not found)"
Hi,

Everything was good until I get this when I'm reach this link http://127.0.0.1/paperwork/frontend/public/ :
![fail1](https://cloud.githubusercontent.com/assets/3426213/7401459/8aaa6dbe-eec4-11e4-8fc2-1ceeffcb9c73.png)
![fail2](https://cloud.githubusercontent.com/assets/3426213/7401460/8aacb380-eec4-11e4-957c-8ef225566794.png)

Here my .htaccess at "\www\paperwork\frontend\public" :
`<IfModule

[2015-04-30 12:48] Liongold commented on #256
It's better if the issue is closed when the pull request is merged.

[2015-04-30 13:46] Baldrs commented on #256
Merged

[2015-04-30 13:46] #256 closed

[2015-04-30 13:47] #359 closed

[2015-04-30 13:47] #349 closed

[2015-04-30 19:48] rzippert opened #363 "angular.js error after update"
Hello! Good afternoon.

I've been using paperwork for a little while and decided to update my files. The process were as described on the **README**. `git pull`and then `php artisan migrate` from the `frontend` directory. Seems I had to run an *admin to user* or something update on that process, and I believe it's all fine with my database, however when I sign in and get the main *paperwork* page

[2015-05-01 16:08] Liongold commented on #288
I have added a branch for this if anyone wants to test it out. It display a slim top progress bar. It currently uses an external library but am undecided on whether to keep the library. Any feedback is welcome. The branch is issue-288-feature.

[2015-05-01 16:12] Liongold commented on #363
Can you try running `gulp` in the frontend folder?, please

[2015-05-02 03:07] rzippert commented on #363
After that the error still occurs. As an observation, in the meantime as I have failed to restore paperwork to the state prior to the update (probably I made some mistake when backing up) and ended up making a new setup from scratch, and I got the exact same error starting from the current commit...

[2015-05-02 03:17] rzippert commented on #363
PS: I can't say I'm comfortable with javascript or php, but I might be able to debug it to a minor level at least. That log I posted doesn't seem very useful (it's not for me at least). I'd be glad if someone could point me out what to look for. Does it seem like a backend issue? Frontend? Server setup? Sorry for asking this much, but I really don't want to make you lose time...

[2015-05-02 06:40] Baldrs commented on #363
Have you tried clean setup from scratch?

On Sat, 2 May 2015 06:17 rzippert <notifications@github.com> wrote:

[2015-05-02 15:19] Liongold commented on #363
What branch are you testing?

[2015-05-03 04:55] rzippert commented on #363
I tried a setup from scratch but will try again.
I'm using the master branch.

[2015-05-03 06:57] Baldrs commented on #363
Master branch is very old, try the latest develop branch.

[2015-05-03 20:33] clemlaf commented on #18
I made a few steps in that direction in the branch [clemlaf/paperwork/add-share](https://github.com/clemlaf/paperwork/tree/add-share).
I implemented a "share Note" function and a "share Notebook" function on the API side (in the Note and Notebook controllers), and added a "share Note" entry in the Edit menu on the UI side. It shows a User selection modal screen in order to define the permission gi

[2015-05-04 20:31] wiltim opened #364 "Buttons without actions"
Clicks on the "Share"-Button and the "Info"-Button are without any action, the same with the "New Collection"-Button. This happens in your demo as too in my fresh builded Frontend of paperwork.

Tested with Safari (8.0.5) und Chrome 42.

[2015-05-05 05:59] Baldrs commented on #364
Achtung! Google übersetzten Text.

Hallo, ich danke Ihnen für Ihren Beitrag. Wie Sie vielleicht wissen viele Betreuer sind nicht Deutsch sprechen und Google Translate übersetzt deutsche Sprache sehr schlecht. Können Sie die Nachricht in englischer Sprache zu wiederholen?

[2015-05-05 06:34] wiltim commented on #364
Of course, sorry my mistake. I updated the issue.

[2015-05-05 07:32] Baldrs commented on #364
Yes they will be implemented

[2015-05-05 15:32] jamesrascal commented on #362
Hello @kibwashere

It looks like you are missing the last steps in the install process:

    install npm

     wget https://www.npmjs.org/install.sh
     bash ./install.sh
    install gulp and bower

     npm install -g gulp bower
    And then npm dependencies inside project

     npm install
    Then you install bower dependencies and just run the default task

     bower install
     gulp

This

[2015-05-05 20:53] rzippert commented on #363
Development branch seems to be working here, however when I create a notebook I get an "eternal loading" and could find another js error, but not sure if it's related:

![captura de tela de 2015-05-05 17 49 58](https://cloud.githubusercontent.com/assets/2091971/7482685/af0fd33a-f34f-11e4-8fc1-34a30ee916a9.png)

[2015-05-05 21:21] cybernet commented on #362
as far as i know, tou cant execute sh files on windows ...

[2015-05-05 21:44] kibwashere commented on #362
Yay, there was a problem in my gulp install, I didn't notice but gulp-less was not build correctly.
To resolve this, I replaced "gulp-less": "^2.0.1" by "gulp-less": "2.0.1" in package.json before to run npm install.
Since it works perfectly !

On windows, I have install npm with node.js, indeed, sh files doesn't work but I think it was just an example :) !

Thanks to you,

[2015-05-05 22:14] jamesrascal commented on #362
@kibwashere then would it appear that something is incorrect in the package.json file that needs to be adjusted or just something you need to change in order to have Windows work with it correctly?

[2015-05-06 08:03] Baldrs commented on #362
Well the recommended stack is still LEMP(Linux Nginx MariaDB PHP-fpm), and none of us has windows, so we barely can provide you with support.

Aside of the support message, it seems like resolved, so I will close.

[2015-05-06 08:03] Baldrs commented on #362
Well the recommended stack is still LEMP(Linux Nginx MariaDB PHP-fpm), and none of us has windows, so we barely can provide you with support.

Aside of the support message, it seems like resolved, so I will close.

[2015-05-06 08:03] Baldrs commented on #362
Well the recommended stack is still LEMP(Linux Nginx MariaDB PHP-fpm), and none of us has windows, so we barely can provide you with support.

Aside of the support message, it seems like resolved, so I will close.

[2015-05-06 08:03] Baldrs commented on #362
Well the recommended stack is still LEMP(Linux Nginx MariaDB PHP-fpm), and none of us has windows, so we barely can provide you with support.

Aside of the support message, it seems like resolved, so I will close.

[2015-05-06 08:03] #362 closed

[2015-05-07 13:58] oralion opened #368 "Insert font awesome function not working"
Insert font awesome function not working when creating a not

[2015-05-07 13:59] oralion commented on #368
Add math function not working (text field appears compressed)

[2015-05-08 07:34] clemlaf opened #369 "Relation between tags, notes and users does not allow tag privacy"
In the current database configuration, a tag belongs to many notes, a note belong to many users, and a tag belongs to many users. During the work in progress I mentioned in #66, I noticed that the separation between users for private tags is not working.

For instance, 2 users are working on the same Paperwork instance : Alice and Bob. Let's say Alice tags a note Recipe1 with a private tag "disgus

[2015-05-08 08:41] Baldrs commented on #321
fig is replaced by [docker compose](http://docs.docker.com/compose/), but in fact they are the same thing.

[2015-05-08 17:14] clemlaf commented on #66
I worked on the implementation of a share function for notes and notebooks, to be found in [this branch](https://github.com/clemlaf/paperwork/tree/add-share). It implements share function on the API level for notes and notebooks. On the frontend level, only the notes can be shared, through the Edit menu. Caution, it is still work in progress, so the UI is not perfect.
Some adjustments had also had

[2015-05-10 11:46] Baldrs commented on #368
Confirmed

[2015-05-11 16:26] clemlaf commented on #369
In [this branch](https://github.com/clemlaf/paperwork/tree/mod-tags), I added a migration step in order to change the relation between tags and users from Many to many to one to many. I also made the consequent controller changes in order to handle private and public tagging. I made a design choice :  a reader-only cannot change a note public tags but can change his own private tags.

[2015-05-12 15:29] boboysdadda opened #375 "Problems with install following CentOS guide."
First off this can be closed as I resolved everything. but I wanted to share my findings so that others could benefit or maybe the wiki could be updated. I am running a clean install of CentOS 7.1* minimal on a vps.

First issue i had was “Fatal error: Class ‘SimpleXMLElement’ not found”. To correct this issue I had to install a different version of php.
- install the repositories
rpm -Uvh https:/

[2015-05-12 15:32] Baldrs commented on #375
You actually can update the wiki on the point, if you mind to fix your formatting.

[2015-05-12 15:32] #375 closed

[2015-05-12 15:35] Baldrs commented on #375
@boboysdadda you can use backtick character ` to highlight the commands, also [see this](https://guides.github.com/features/mastering-markdown/)

[2015-05-12 15:35] boboysdadda commented on #375
I believe i corrected the formatting a bit. But as I am not very good with the whole wiki etiquette. I Don't want to mess up everyone else's work. This could also all just be specific to my setup, even though it was on a fresh install of Cent, fully "yum upgraded"

[2015-05-12 15:36] Baldrs commented on #375
@boboysdadda I'd recommend to use ubuntu instead, never had that much problems with it.

[2015-05-12 15:39] boboysdadda commented on #375
@Baldrs I actually had all sorts of problems with Ubuntu but that was more than likely related to the fact that I installed owncloud and wordpress before paperwork.

[2015-05-12 20:22] Baldrs commented on #375
@boboysdadda what was the default php version on 7.1?

[2015-05-12 20:46] boboysdadda commented on #375
I'm not able to ssh into my vps from work but according to distrowatch it is 5.6.8

[2015-05-12 20:48] Baldrs commented on #375
Well can you please workaround it using stock version? It's kind of preferred.

[2015-05-12 20:49] boboysdadda commented on #375
I thought thats what I was getting out of the php54 packages

[2015-05-15 17:25] Liongold commented on #363
Network tab output?

[2015-05-17 17:14] xmyfree opened #376 "bower ENOENT No bower.json present"
I'm following Debian installation guide to install paperwork.
Everything woks well until this step: bower install
It says : bower ENOENT No bower.json present
Could you please help me? The folder I execute this command is /var/www/frontend

And find bower.json in side following folders:
./node_modules/gulp-livereload/node_modules/debug/bower.json
./node_modules/gulp-less/node_modules/less/bower.js

[2015-05-17 17:39] Baldrs commented on #376
Use develop branch

On Sun, 17 May 2015 20:14 xmyfree <notifications@github.com> wrote:

[2015-05-17 17:42] xmyfree commented on #376
Thank you. :)

[2015-05-18 10:32] #376 closed

[2015-05-18 17:50] Baldrs opened #378 "Wayback machine does not work"
I discovered this problem when I tried to get more space for mobile layout, so I've found a piece of markup there which had no height but margin. It turned out that it was a markup for the version widget, a "Wayback machine". The plugin itself is here: https://github.com/twostairs/freqselector
You can check out to see how does it work.

However in paperwork, it ceased to work sometime ago. The mai

[2015-05-18 18:57] nklmilojevic opened #379 "Android app?"
Hi,

I really like paperworks, but (for now) it's lacking Android application. Do you plan to develop it in the near future? I would gladly pay for it.

Best regards,

Nikola

[2015-05-18 19:00] Baldrs commented on #379
Sure we going to do it, if you want to help or donate you can contact me or
@devilx

On Mon, 18 May 2015 21:57 Nikola Milojević <notifications@github.com> wrote:

[2015-05-19 02:49] AnderRasoVazquez commented on #379
Having an open source note taking app like this, self hosted, with also an Android native app would be epic.

Keep up the good work! =)

[2015-05-19 02:52] AnderRasoVazquez opened #380 "ownCloud integration"
Are you guys planning to integrate paperwork with ownCloud?

[2015-05-19 04:54] JamborJan opened #381 "Stored search with filters by tags"
It would be good if it is possible to select a set of tags to be saved as stored search for filtering.

E.g. I have 3 kinds of tags: projects, persons and status of a task. Now I want to create a stored search for a certain project because it's high prio for all ongoing tasks. I will select the tag for the project and the tag for the status "Doing".

[2015-05-19 11:59] JamborJan opened #382 "Downloading attachments of a note saves a file named "raw""
When you have attached a file to a note you can download it by clicking on it's name in the list of attachments or on the link shown in the note if you have inserted it there.

Unfortunately the download wants to save a file named "raw". The user has to re-name the file manually before it can be used.

It would be better to save the file as it was named before. The list of attachments shows this n

[2015-05-19 12:24] Baldrs opened #383 "Yet another readme change proposal"
I propose to reduce the logo to make readme even more compact:

Paperwork - OpenSource note-taking & archiving
==============================================

[![Join the chat at https://gitter.im/twostairs/paperwork](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/twostairs/paperwork?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)
[![Build Status](https://t

[2015-05-19 13:23] Baldrs commented on #379
While there are no app, this PR will somewhat improve usability on the phones: #377

[2015-05-19 13:26] Baldrs commented on #353
Is this still actual?

[2015-05-21 03:17] ghost opened #384 "Notes with File Attachment"
Killer app.

For the life of me I can't see any option to attach a pdf file (i.e. a receipt, or document) to a note. I must be stupid. Someone please tell me this is  not a omitted feature and a mistake on my part?

[2015-05-21 07:31] Baldrs commented on #384
There's actually upload file at the right(bottom in mobile layout)

[2015-05-21 18:26] theSoenke opened #385 "Demo is broken"
On https://demo.paperwork.rocks i get a FatalErrorException

[2015-05-21 18:31] Baldrs commented on #385
Fixed

[2015-05-21 18:31] #385 closed

[2015-05-21 18:51] theSoenke commented on #385
Thanks. But after login i get now a QueryException

[2015-05-24 22:59] evilcats opened #387 "IE 8/9 Login/Register placeholders missing"
The login / register placeholder text is missing on IE 8/9. Internet explorer 8/9 doesn't have full support of the html5 placeholder attribute. Look into [http://jamesallardice.github.io/Placeholders.js/] (placeholders.js) for a workaround.

[2015-05-27 19:57] andre-faria opened #388 "Problem installing Paperwork with PostgreSQL and Apache2"
I've placed a Virtual Ubuntu 14.04 and installed Paperwork following the tutorial with MySQL and nginx, It worked like a charm, but I've changed a little the tutorial to try to install in my computer who have apache and postgresql.

First install:
`sudo apt-get install -y -f php5-fpm curl wget git php5-cli php5-gd php5-mcrypt nodejs nodejs-legacy postgresql postgresql-contrib php5-pgsql apache2`

[2015-05-27 21:02] Baldrs commented on #388
We don't officially support postgresql and there could be incompatible
outcomes with current migration. Also your screenshot looks like if you
forgot to enable PHP handler in apache.

On Wed, May 27, 2015, 22:57 andre-faria <notifications@github.com> wrote:

[2015-05-28 05:06] AlexIs72 opened #389 "Some issues after update"
* Classes not found:
   * Class 'Paperwork\EloquentLdapConnectorServiceProvider' not found
   * Class 'Paperwork\UserRegistrationProvider' not found
   * Class 'Paperwork\Db\PaperworkDbServiceProvider' not found
   * Class 'Paperwork\Helpers\PaperworkHelpersServiceProvider' not found
   * Class 'Paperwork\Helpers\PaperworkHelpers' not found
   * Class 'Paperwork\Helpers\PaperworkHelpersFacade' not

[2015-05-28 05:24] Baldrs commented on #389
Instead of doing all that monkey patching, you had to run `composer
dump-autoload` after update. Also always run `composer update` after you
pull anything.

On Thu, May 28, 2015, 08:06 AlexIs72 <notifications@github.com> wrote:

[2015-05-28 05:35] AlexIs72 commented on #389
No
`composer`,
but
`php composer.phar dump-autoload`

All works. Thank you!

Sorry for misunderstanding.

[2015-05-28 05:35] #389 closed

[2015-05-28 05:50] Baldrs commented on #389
I prefer installing composer globally(for daily usage), thus wrote it that
way.

On Thu, May 28, 2015, 08:35 AlexIs72 <notifications@github.com> wrote:

[2015-05-28 12:26] andre-faria commented on #388
Ok, no problem!

[2015-05-28 13:52] Baldrs commented on #313
Done in #371

[2015-05-28 13:52] #313 closed

[2015-05-28 21:06] clemlaf opened #390 "Translation problem in French"
In the french version of paperwork, there is an inversion between First Name and Last Name. The keywords.php file gives firstname=> Nom and lastname=> Prénom, instead of the other way around.

[2015-05-29 12:43] andre-faria opened #391 "Remove message "Found a bug?""
There is any way to remove the message below?

Found a bug? Paperwork cannot check whether your version is the latest. Please make sure you are running the latest version before

[2015-05-29 12:44] andre-faria commented on #388
About apache I was forgetting to install libapache2-mod-php5

[2015-05-29 12:45] Baldrs commented on #391
Currently only by deleting it from code. We may add environment check that will hide it when app is in production.

[2015-05-29 12:49] andre-faria opened #392 "Translation to pt-BR"
I want to help, I can translate interface to pt-BR, as I never used github what is the best way I can do that?

Ty.

[2015-05-29 12:50] Baldrs commented on #391
Stupid me, we have an option to remove it already in config/paperwork.php:

`'showIssueReportingLink' => false,`

[2015-05-29 12:50] #391 closed

[2015-05-29 12:52] ntnn commented on #392
Paperwork has a project on [transiflex]( https://www.transifex.com/projects/p/paperwork/) where translations should be made.

[2015-05-29 12:52] andre-faria commented on #392
Thanks!

[2015-05-29 12:52] #392 closed

[2015-05-29 12:53] Baldrs commented on #392
If you have questions you better ask them in our gitter room(follow gitter badge in readme)

[2015-05-29 12:54] Baldrs commented on #390
Don't get the question, does the order in french must be inverted or the translation is in wrong order? If the second, you can fix it on transifex.

[2015-05-29 12:55] #388 closed

[2015-05-29 12:58] Baldrs commented on #363
Any news on this?

[2015-05-29 13:44] Baldrs commented on #387
Added in #393

[2015-05-29 13:44] #387 closed

[2015-05-29 14:02] Liongold commented on #385
Screenshot?

[2015-05-29 14:10] theSoenke commented on #385
Error is gone now

[2015-05-29 14:12] Liongold commented on #385
Good to know. Thanks for your interest in Paperwork and for contributing with your bug report. :)

[2015-05-29 14:19] Liongold commented on #390
The translation is wrong. Do you have access to Transifex? You could start translating and updating translations for Paperwork.

[2015-05-29 14:20] Liongold commented on #390
@Baldrs Do you think a pull request to fix this small thing is acceptable?

[2015-05-29 14:22] Baldrs commented on #390
@Liongold it's better to do it on transifex, then pull and create a pull request because it will be lost on next sync with transifex. If you don't have access to the transifex, create request to join french translation and we'll approve it.

[2015-05-29 14:23] Liongold commented on #390
Better let anyone else who is interested in doing it then. I don't know a lot of French and it doesn't make one sense doing only one change.

[2015-05-29 14:25] Liongold commented on #379
On Android, one can use Add to homescreen in Chrome for Android which makes it possible to have the app fullscreen and even have a place in the recently accessed menu (sorry if I'm not using the correct term).

[2015-05-29 14:26] Liongold commented on #380
What type of integration is possible exactly? Would you be interested in doing it or a part of it?

[2015-05-29 14:28] Baldrs commented on #390
@Liongold ok then
@clemlaf can you fix that on transifex and then notify us so we can update the files from it?

[2015-05-29 14:45] rzippert commented on #363
Been some pretty busy weeks. Will get back to this on the weekend.
Sorry...

[2015-05-29 14:46] ntnn commented on #380
I'd guess one way would be to append files from ownCloud to a note or export notes as documents to ownCloud. Appending files from ownCloud would actually be a nice feature imho, however you could just as well link them in the note.

[2015-05-29 14:47] Liongold commented on #363
No problem.

[2015-05-29 14:50] Baldrs commented on #379
@Liongold unfortunately paperwork is still unusable on android(some bug with versions I think), note cannot be edited.

[2015-05-29 14:56] Baldrs commented on #383
Done in #394

[2015-05-29 14:56] #383 closed

[2015-05-29 14:57] Liongold commented on #379
I didn't say it's perfect. If you know of any issues, please open a new issue for them (apart from the versions one of course).

[2015-05-29 16:02] theSoenke commented on #379
I think native apps are usally still a lot better. They are faster, more responsive and internet speed is not so important. At least no webapp i ever used worked really great on a phone.

Had a little bit of time and build a small prototype for android

![Screenshot1](https://i.imgur.com/qvFlN6X.png)

[2015-05-29 16:03] jamesrascal commented on #379
That looks so simple and perfect.
On May 29, 2015 9:02 AM, "theSoenke" <notifications@github.com> wrote:

[2015-05-29 16:14] Liongold commented on #379
I meant temporarily of course. It isn't something stopping from the development of Android app. Just a workaround for now.

[2015-05-29 18:22] jamesrascal opened #395 "New note creation fails when attached files are missing from disk"
If data is present in the Attachments table but the files are missing from disk new note creation will fail.

[2015-05-29 20:34] jamesrascal commented on #264
This should also delete any attachments that are added to notes that are deleted.

[2015-05-31 18:31] clemlaf commented on #390
I asked access to Paperwork on Transifex, I'll changed that as soon as I've joined the team.

[2015-05-31 18:41] Baldrs commented on #390
You'll be added into French group as soon as @devilx sees you asked the
access.

On Sun, 31 May 2015 at 21:31 clemlaf <notifications@github.com> wrote:

[2015-05-31 21:24] clemlaf commented on #369
The issue is solved in #386

[2015-05-31 21:24] #369 closed

[2015-05-31 21:31] clemlaf commented on #18
This issue is partly solved by #386, isn't it ?

[2015-05-31 22:28] #18 closed

[2015-06-01 04:19] rzippert commented on #363
As lucky as I am, my webserver is down and I'm unable to get it back for now. It seems I'll need set up a new one. I really appreciate your help. I'll close this issue as it's unlikely I'll get the same error again. If I'm wrong, I'll let you know. Sorry for wasting your time...

[2015-06-01 04:19] #363 closed

[2015-06-01 12:26] thgie opened #398 "gulp default task fails"
Everything worked so far. Trying to setup on windows 8. No errors on npm install.

[code]

[2015-06-02 09:04] thgie commented on #398
I just ommit the livereload and jshint modules and it works.

[2015-06-02 09:04] #398 closed

[2015-06-02 09:06] Baldrs commented on #398
Keep in mind that windows is not supported intentionally. It should work, but that is not guaranteed.

[2015-06-02 09:16] thgie commented on #398
It works pretty fine. Also had to execute bower install. Missed that in the documentation. It works fine and awesome work. Thanks :)

[2015-06-02 09:39] thgie opened #399 "PaperworkHelpers.php $gitOutput not set - line 194"

[2015-06-02 12:45] Liongold commented on #45
This issue has been fixed. If you encounter any issues, please open a new issue.

[2015-06-02 12:45] #45 closed

[2015-06-02 13:22] Liongold commented on #399
I don't know if this caused any issues, but I've opened a pull request to define the variable.

[2015-06-02 13:39] thgie commented on #399
Worked fine on localhost (amp stack on windows), but broke when I threw it online (amp on linux).

[2015-06-02 13:55] #399 closed

[2015-06-02 13:56] Baldrs commented on #399
Fixed in #400

[2015-06-02 14:14] Baldrs commented on #345
That is also related to performance optimizations which we can have using template cache - currently app is very slow on poor connections or when the server is slow for some reasons.

[2015-06-02 14:21] HazenBabcock opened #401 "Running paperwork in subfolder / attachments"
I could not get attachments to work properly when running paperwork in a subfolder. I had to add an additional rewrite directive to get the right path to the attachment. Is that just hiding some other configuration mistake that I made?

I was trying to follow the directions on the wiki, except that I did not use https. This is my /etc/nginx/sites-available/default file.

[code]

[2015-06-05 14:14] andre-faria opened #404 "Opnion: Improvement about Design"
I was thinking In, if I could change, what to change to add more agility to paperwork:

When We add or edit a note the page switch to the edit mode, if we could edit/add a note in the main menu we can have more agility, and if we want a "no distraction mode" so we change to the "actual edit mode"

Add a button in "edit mode" to save and go to main window, because I´m lazy and hate to click, click.

[2015-06-07 12:08] clemlaf commented on #26
This issue can be closed since #386

[2015-06-07 18:19] clemlaf commented on #84
This issue seems to be fixed, since the PaperworkDbNotebookObject class' get function returns the timestamps. Can it be closed ?

[2015-06-07 18:56] clemlaf opened #408 "Transfert public tag character setting from php to js app"
In the commit 2caccdc I added a ternary condition in js NotesEditController, in order to add a '+' at the beginning of tags whose visibility field was set at 1. This was a fix for an issue I did not submit (my bad, however it can still be checked on the demo): when you edit a note with a public tag, the public tag becomes private. That was because the visibility parameter was lost when filling the

[2015-06-08 15:20] Liongold commented on #382
What browser is this? Mine opens the content of the file in a browser tab.

[2015-06-08 15:40] rosoft2001 opened #410 "Server deployment"
The second time today I'm checking a project that require me to install things to server (composer, gulp, bower, npm) and I don't understand why.

If this would be a development machine I may understand (not really) but on the server should be only the files required at runtime. I just want to get the project and run it, like wordpress works. I can be bother with other stuff if I want to make a ch

[2015-06-08 15:43] jamesrascal commented on #382
This is browser independent. If your attachments is something that the browser can render it will do so but it will show as raw.pdf or raw.jpg.

If the file type is unknown it will output it with the original name. The issue occurs when you want to save the file it wants to save it as raw.

[2015-06-08 16:07] Liongold commented on #382
Can you give me an example of a procedure and a filetype please?

[2015-06-08 16:19] Liongold commented on #382
I have a txt file attached to the note. When opening the link, I get sent to paperwork_url/..../attachments/{id}/raw and the file is displayed. When trying to save page, I got a Save as dialog with the correct filename written there. Am I doing something wrong or what?

Also, just as a test, can someone go to ApiAttachmentsController.php file (frontend/app/controllers/api/v1), go to line 234 ('Con

[2015-06-08 16:29] jamesrascal commented on #382
I have 3 file types: JPG, PDF, TXT
![3types](http://i.imgur.com/sUyfyBq.png)

All 3 will open in the browser and display the content perfectly. However when you attempt to save the files either on the preview page or right click save link as:
![saving](http://i.imgur.com/OKTy8ec.png)

You only get a raw.filetype.

The only time it keeps the file name is when it is a file type that the browser can

[2015-06-08 19:06] JamborJan commented on #382
I have MS Word documents attached to some notes which have the *.docx extension and I am using Firefox 39 on a Mac. As you can see no extension is displayed at all and the file is only called ```raw```.

![raw](https://cloud.githubusercontent.com/assets/7508960/8042834/25a13344-0e22-11e5-8520-c96eb88d1e7f.png)

[2015-06-09 03:13] AlexIs72 opened #411 "tagid filter issue"
Hello

I have problem with filter by tags.
When I click on tag I have search string like a 'tagid:33' and no any results.

ApiNotesController.php have code:
`preg_match_all("/\s*(tagid|note(?:book)?id)\:([a-f\d]{8}(-[a-f\d]{4}){3}-[a-f\d]{12}?)/",`
This mean id like a '00000000-0000-0000-0000-000000000000'.

Is this error or upgrade issue?

[2015-06-09 12:18] Baldrs commented on #411
It was changed in #66 to use UUID's

[2015-06-09 13:56] Baldrs commented on #410
Just do it on your machine and upload files to the server.

[2015-06-09 13:56] #410 closed

[2015-06-09 21:26] clemlaf commented on #382
I've looked into the ApiAttachmentController.php, and it is a known issue: the $headers array is not passed when using the Response::make to send the file. However, there is currently a workaround that sets the header for the Content-Type only, and not Content-Disposition (where the filename is specified). That is why the content type is known and that the filename is set to "raw". It can easily b

[2015-06-11 20:07] clemlaf commented on #390
I've done translation work on transifex.
In previous commits, I added some words to the keywords.php file that did not show on Transifex. On what schedule is Transifex repository synced with the github repository ?

[2015-06-11 20:12] Baldrs commented on #390
Syncs English sources with github at regular schedule. All others are
pulled and overwritten by pulls from transifex. To appear in other
languages it must first appear in English sources.

On Thu, Jun 11, 2015, 23:07 clemlaf <notifications@github.com> wrote:

[2015-06-12 18:01] clemlaf commented on #368
This error seems to be due to the fact that some dependancies of ckeditor's fontawesome plugin are not met:
The missing dependancies are the colordialog plugin and the lineutils plugin. It seems that CkEditor has to be build again with these plugins in order to fix the problem.

[2015-06-13 20:56] clemlaf commented on #368
Actually, what I wrote before was not correct. The problem does not come from the dependancies but from the configuration of ckeditor. The following lines (copied/paste from the ckeditor fontawesome plugin homepage) have to be added to frontend/public/ckeditor/config.js
[code]
I'll send a pull request about that.

Concerning the math, mathquill.css in missing from the frontend/public/css, as well

[2015-06-14 11:06] vephinx opened #416 "Mobile version design"
I tried out Paperwork on my iPhone 5s and found it not very user friendly. I've created some designs for how it could look.

The login screen. Changed the size of the logo to avoid scrolling.
![login](https://cloud.githubusercontent.com/assets/2012398/8148273/9d0e11aa-1295-11e5-997e-11c09ca59846.png)

An article. Only an edit button added.
![article](https://cloud.githubusercontent.com/assets/2012

[2015-06-16 08:35] leyonivipe opened #420 "Undefined Offset: 3"
Installed paperwork on a clean Debian 7 following: https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Debian-7

Problem (opening any page):

Cause:

Commenting out this line solved the problem temporary.

[2015-06-16 10:17] Baldrs commented on #382
This has been fixed in #413. For any other issues regarding this, file a new request.

[2015-06-16 10:17] #382 closed

[2015-06-16 13:14] sasir90 opened #421 "Questions"
Question1:

 1. If I add a new image in a new note ,there is  no confirmation messsgae whether imgae added or  not.

2.Shall i add a Video and Audio upload by using notebook?

3.If add the data to a new notebook,how much amount of data MB  add?
maximum amount of data?

[2015-06-16 13:18] Baldrs commented on #54
There's actually Laravel 5.1 around and I think we need to start considering upgrade while it is still can be performed

[2015-06-16 14:59] Liongold commented on #43
This has been fixed in #405. If you encounter any issues, please open a new issue report.

[2015-06-16 14:59] #43 closed

[2015-06-16 14:59] Liongold commented on #330
@wongalvis Can you check if it works as it should now, please?

[2015-06-17 06:33] wongalvis commented on #330
@Liongold Yes it's working.

[2015-06-17 06:33] #330 closed

[2015-06-17 10:35] Mahentpl opened #422 "PaperWork_customization"
Is it possible to customize the paperwork feature ?

[2015-06-17 10:36] Baldrs commented on #422
Yes.

[2015-06-17 10:36] #422 closed

[2015-06-17 10:38] Mahentpl commented on #422
can i save audio and video file in paperwork ?

[2015-06-17 10:39] Baldrs commented on #422
If you wanna ask a lot of questions, please join our gitter chat(using badge in our README).

[2015-06-17 10:48] Mahentpl commented on #422
Shall i know the  Step for Customize the Paperwork Features?

[2015-06-17 10:51] ManivannanD opened #423 "PaperWork Features Customize"
Is there any possibility to add new features in Paperwork? and also
is possible to customize existing features?

[2015-06-17 10:54] Mahentpl opened #424 "PaperWork_customization"
Shall i know the Step to Customize the Paperwork Features?

[2015-06-17 10:59] Baldrs commented on #422
Maybe you will, I don't know what are you talking about.

[2015-06-17 11:08] #423 closed

[2015-06-17 11:08] #424 closed

[2015-06-17 11:10] Mahentpl commented on #422
I mean, i need to add new features in paperwork.

[2015-06-17 11:12] Mahentpl commented on #422
I need to work with developer mode in paperwork.

[2015-06-17 13:12] Mahentpl opened #425 "Max size per Note"
maximum storage size per note?

[2015-06-17 13:13] ManivannanD opened #426 "Attach Video"
Is paperwork can add video as note?

[2015-06-17 13:15] Baldrs commented on #425
64k

[2015-06-17 13:15] #425 closed

[2015-06-17 13:16] ManivannanD commented on #426
i wanna know what are the features available in paperwork .
can you provide any document ? please...

[2015-06-17 13:16] Baldrs commented on #426
Go to demo.paperwork.rocks and explore.

[2015-06-17 13:16] #426 closed

[2015-06-17 13:22] Mahentpl commented on #425
only 64 kb ah..

[2015-06-17 13:23] Baldrs commented on #425
If you're talking about uploaded files, they're limited by the server config. 64kb is note text.

[2015-06-17 13:36] Mahentpl commented on #425
maximum size for uploaded files ?

[2015-06-17 13:38] ManivannanD commented on #426
but in Paperwork i can't add the video file.

[2015-06-17 13:39] Mahentpl commented on #425
ok thank you

[2015-06-18 12:47] #421 closed

[2015-06-18 12:49] Baldrs commented on #421
1. There will be
2. Sure, you just need to configure your web server and paperwork accordingly.
3. Depends on how you have configured the web server.

[2015-06-18 15:19] theSoenke commented on #379
Here is a first version of the Android App https://github.com/theSoenke/Paperwork-Android
Currently it's only possible to view and create notes. There is still a lot more to be done.

[2015-06-18 15:23] Baldrs commented on #379
That's Android Studio project, right? So it can be built with Android Studio?

[2015-06-18 15:27] jamesrascal commented on #379
Is there an APK for this or can you provide instructions on how to compile it?

[2015-06-18 15:37] theSoenke commented on #379
@Baldrs Yes it can be build with Android Studio
@jamesrascal Currently there is no APK. I can add instructions on how to compile it, but basically you just have to import it into Android Studio and install the Android Support library and then you can run it

[2015-06-18 15:52] Baldrs commented on #411
So I'm afraid you need to upgrade your database manually or reinstall paperwork to fix that: change was breaking.

[2015-06-18 15:52] #411 closed

[2015-06-18 15:54] Baldrs commented on #416
Nice! Thank you for this!

[2015-06-18 16:15] jamesrascal commented on #379
I just complied and installed the App I see a lot of work that needs to be done but so far I have to say good work. I look forward to seeing how it progresses.

[2015-06-18 20:23] nmaas87 opened #427 "Can't install because of composer failing dependency adldap/adldap"
I tried to update my installation using the information available on the main page http://paperwork.rocks/, however, this did kill my installation next to the database.
So I tried to reinstall it and try to recover my database dump.
However, an composer install only brought this output:

Loading composer repositories with package information
Installing dependencies (including require-dev)
Your req

[2015-06-19 01:04] AlexIs72 commented on #411
Do you have upgrade instruction?
Why new tags created without UUID?

[2015-06-19 01:34] AlexIs72 commented on #411
Latest upgrade failed:
+ php artisan migrate
**************************************
*     Application In Production!     *
**************************************

Do you really wish to run this command? y

  [Illuminate\Database\QueryException]
  SQLSTATE[HY000]: General error: 1005 Can't create table 'db_pprwork.#sql-5af_8373575' (errno: 150) (SQL: alter table `tags` add constraint tags_user_id_f

[2015-06-19 14:44] serialdoom commented on #427
Same issue exists with docker install/test method in tip.
@nmaas87 do you know what version you had before you tried to upgrade ?

[code]

[2015-06-19 14:47] nmaas87 commented on #427
@serialdoom
I got this in the composer.lock file of the "dead-upgraded" folder.
However, I think it could already be overriden by the wrong version:

   "_readme": [
        "This file locks the dependencies of your project to a known state",
        "Read more about it at https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file",
        "This file is @generated automatically"

[2015-06-19 15:01] Baldrs commented on #427
It is related to adldap package. We'll update composer.json soon.

On Fri, Jun 19, 2015, 17:47 Nico Maas <notifications@github.com> wrote:

[2015-06-19 17:07] Liongold commented on #288
This issues has been fixed. If you encounter any new issues, please open a new issue report.

[2015-06-19 17:07] #288 closed

[2015-06-19 19:37] slayit opened #428 "No content after paperwork:update"
The problem comes after using `php artisan paperwork:update`. (dev branch)

This is how it looks now: ![image](https://cloud.githubusercontent.com/assets/657768/8261474/3677a21e-16cb-11e5-9058-e132a99edf60.png)

There is no content.

Can't seem to find anything suspicious in the update log: http://pastebin.com/Hzttnyx1

Console output of the site: ![image](https://cloud.githubusercontent.com/asset

[2015-06-19 20:37] nmaas87 commented on #428
Could be same thing as my issue: https://github.com/twostairs/paperwork/issues/427
During the upgrade it had some dependency problems and damaged the database.
And you can't reinstall at the moment as these dependency problems keep you from installing as well as updating.

[2015-06-19 20:41] slayit commented on #428
Possible, but my database is completely intact. Just made a diff between my backup and a current dump. Except for the session key in the user table there is no difference at all.

[2015-06-22 13:23] Liongold commented on #428
My sincerest apologies for this. I've now fixed this issue. I'll push the changes to the develop branch in a couple of minutes.

[2015-06-22 13:30] #428 closed

[2015-06-23 21:11] clemlaf commented on #282
I'm working on the implementation of this feature. Some info about design options I made:
- only one level of nesting is allowed,
- the tag icon is replaced by the chevron when a tag has children,
- the nesting is handled by drag and drop. To move back a leaf tag the root an "unlink" button is available in the "manage tags" box.

However I have a difficulty with angular and bootstrap.
The sidebar

[2015-06-24 07:46] Baldrs commented on #282
Please remember, that jQuery is EVIL, especially in Angular code, so I'm going to remove all the code that uses jQuery and rewrite it Angular way when I have enough time to start. For example, I propose to replace all bootstrap javascript with this: https://angular-ui.github.io/bootstrap/. You can use it to rewrite your problematic components too.

So if you can help to start this process, it is a

[2015-06-24 19:55] clemlaf commented on #282
Ok, I solved the problem using angular-ui-bootstrap. I tried to look into the [abn-tree](https://github.com/nickperkinslondon/angular-bootstrap-nav-tree) directive, but it does not seem to support drag and drop from and onto the leaves of the tree so I kept with the structure of sidebar tree as it is.

Also, I replaced the call to the bootstrap-tree script with the collapse directive of angular-ui

[2015-06-25 08:57] narmadashanmugam opened #431 "installation error"
on installing paperwork in ubuntu i get the following error
"The requested package adldap/adldap could not be found in any version, there may be a typo in the package name."

[2015-06-25 08:58] Baldrs commented on #431
Duplicate of #427

[2015-06-25 08:58] #431 closed

[2015-06-25 09:07] Baldrs commented on #427
Fixed by replacing adldap/adldap with strebl/adldap

[2015-06-25 09:07] #427 closed

[2015-06-25 09:38] narmadashanmugam commented on #427
how to get the latest fix ??

[2015-06-25 10:07] Baldrs commented on #427
No just issue that in root of your paperwork install:

    git checkout develop
    git pull origin develop

[2015-06-25 10:18] Baldrs commented on #282
Done in #430. For any new issues with #430  please file new issue.

[2015-06-25 10:18] #282 closed

[2015-06-26 00:07] bebehei commented on #379
:+1: For an android app!

[2015-06-26 06:13] narmadashanmugam opened #432 "Installation of Paperwork on ubuntu"
During installation of Paperworks in ubuntu , I am try to install npm. After executing bash./install.sh the installation fails stating that

curl : (56) Recv failure: Connection reset by peer
gzip: stdin: unexpected end of file
/bin/tar: Child returned status 1
/bin/tar: Error is not recoverable : exiting now It failed.

[2015-06-26 06:58] sasisweert opened #433 "Paperwork installation in ubuntu"
install npm:
==========

curl:(56) recv failure:connection reset by peer
unexpected end of file..

please give the solution how to resolve it?

because we are in very critical situation please give the solution...

[2015-06-26 08:37] Baldrs commented on #432
Try `sudo apt-get install nodejs npm` instead of messing packages with such
installs.

On Fri, Jun 26, 2015, 09:13 narmadashanmugam <notifications@github.com>
wrote:

[2015-06-26 08:59] narmadashanmugam opened #434 "Installing Paperwork on Ubuntu 14.10 issue"
On installing Paperwork on Ubuntu 14.10 was carried out as shown in the link https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10
There was no error.
But on accessing the localhost i get the following error shown in attachment.
I am not able to identify it.
![30](https://cloud.githubusercontent.com/assets/13046322/8374044/a1052194-1c0f-11e5-9b6e-46f6b4df31ec.png)

[2015-06-26 09:02] theSoenke opened #435 "Title can be empty when creating a note via the api"
When i use the api to create a note the title can be empty, but when i update it and the title is empty it will fail. What is the desired behavior? In the web editor it's also not possible to create notes without a title

[2015-06-26 09:46] Baldrs commented on #434
Try lateste develop branch

[2015-06-26 09:46] Baldrs commented on #434
Duplicate of #420

[2015-06-26 09:46] #434 closed

[2015-06-26 09:47] Baldrs commented on #433
Duplicate of #432

[2015-06-26 09:47] #433 closed

[2015-06-26 10:19] narmadashanmugam commented on #434
on replacing the latest branch source should I issue any commands for build or restart. Because I am not getting any response from http://localhost/login

[2015-06-26 10:27] Baldrs commented on #434
You need to rebuild everything again when you switch branches.

On Fri, 26 Jun 2015 at 13:19 narmadashanmugam <notifications@github.com>
wrote:

[2015-06-26 10:29] narmadashanmugam commented on #434
Rebuild commands please

[2015-06-26 10:32] Baldrs commented on #434
RTFM https://github.com/twostairs/paperwork/wiki/Initial-installation

[2015-06-26 10:43] nebulade commented on #210
I do see the missing stylesheets now being disabled in the views, but the page would still look like above in the screenshots.

Is there anything obvious I miss about to build the full theme/stylesheet?

While looking at https://github.com/twostairs/paperwork/commit/a1b6a6a677787519a90bcb63295a1156ecd03495 it mentions some theme support, but I can only find https://github.com/twostairs/paperwork/i

[2015-06-26 13:51] Liongold commented on #210
@nebulade Sorry but what do you mean? Are the stylesheets and JS files being loaded?

[2015-06-26 14:14] stephen-hill commented on #210
I used the demo this morning and it was working perfectly.

[2015-06-26 15:01] nebulade commented on #210
@Liongold I am sorry never mind, seemed to be functional, however the app was not fully working, yet. I was tracing the wrong issue ;-)

[2015-06-26 15:30] nebulade commented on #210
To clarify for other readers, I simply hit #281

[2015-06-26 17:07] theSoenke commented on #379
It's now possible to edit, delete notes and view notes in notebooks with the app

[2015-06-27 08:53] Baldrs commented on #281
I've fixed that in #360 because I was unable to run paperwork in a subfolder via https.

[2015-06-27 08:53] #281 closed

[2015-06-27 08:55] Baldrs commented on #420
Seems like fixed in e75375c

[2015-06-27 08:55] #420 closed

[2015-06-27 08:55] Baldrs commented on #432
And that's actually not related to paperwork, so you can go file issue in https://github.com/npm/npm

[2015-06-27 08:55] #432 closed

[2015-06-27 08:56] #321 closed

[2015-06-29 06:10] sasisweert opened #437 "PaperWork Setup File"
1) Is it possible to change the paperwork configuration setup?

2) If possible mean how to proceed? how to change?

3)  which file is related to config set up under Config folder?

[2015-06-29 08:46] narmadashanmugam opened #438 "How to to increase the upload file size limitation in Paperwork ?"
How to to increase the upload file size limitation in Paperwork ? I heard that by changing settings in configuration file it is possible. Please let me know the configuration file details

[2015-06-29 10:05] Baldrs commented on #437
1. Yes
2. By hands, God's help and text editor
3. frontend/app/config/paperwork.php and the other in the same folder.

[2015-06-29 10:05] #437 closed

[2015-06-29 10:10] Baldrs commented on #438
Depends on your web server. See [here](http://lmgtfy.com/?q=nginx+php+upload+max+size) and [there](http://lmgtfy.com/?q=apache+php+upload+max+size). If any limitation is implied by our config, examine frontend/app/config/ folder and let us know.

[2015-06-29 10:10] #438 closed

[2015-06-29 12:36] sasisweert commented on #437
we could not upload the audio and video file in Paperwork tool(Unix implementation OS).

image file is uploaded in new note but
Even 1 MB file also not accepted(uploaded) in new note.

 how to upload?

[2015-06-29 16:09] doc-jay opened #439 "Just updated - can't view contents of notebooks"
CENTOS7
nginix
mysql

So I was having issues last week updating paperwork, so I backed up my original paperwork folder and did another 'git clone' of paperwork.  After the install I edited the 'database.php' file to point to my existing DB.  Then I installed composer, npm, gulp, & bower.

After that I ran 'php artisan paperwork:update' hoping that it would update my DB schema because I was experie

[2015-06-29 16:21] Baldrs commented on #439
You need to run migrations first. They could fail, the you may end up patching the database manually. Please remember that paperwork is still very unstable software.

[2015-06-29 17:06] doc-jay commented on #439
thanks -

I just ran 'php artisan migrate' and you guessed it, it failed.

[code]

any pointers for me?

[2015-06-29 18:03] clemlaf commented on #328
I tried to reproduce this issue but when i click on "library", the whole page is refreshed, and then the new tag appears in the tag tree.

[2015-06-29 19:43] Baldrs commented on #439
I've added fix for that to the develop branch. Can you please try it and report any new errors?

[2015-06-29 19:51] doc-jay commented on #439
absolutely, thank you very much!  One quick question which i'm sure will be an easy one for you, not a heavy git user, but when I run 'php artisan paperwork:update' it comes back with:

From https://github.com/twostairs/paperwork
   19c6616..defbe65  develop    -> origin/develop
error: Your local changes to the following files would be overwritten by merge:
        frontend/app/database/migrations

[2015-06-29 20:01] Baldrs commented on #439
Issue following commands:

    git stash
    php artisan paperwork:update
    git stash apply

Be aware that the last step can bring some problems regarding difference between actual files and stashed ones, so it could be easier just to reconfgure paperwork from scratch.

[2015-06-29 20:52] doc-jay commented on #439
lol, your absolutely right!

[2015-06-29 21:01] Baldrs commented on #439
I assume your issue is resolved. Please get in touch with me in gitter if you have some additional problems. Have a nice time of day :-)

[2015-06-29 21:01] #439 closed

[2015-06-30 07:11] narmadashanmugam commented on #437
I can upload only 1 MB audio and video file only. As per your point (Baldrs) i have changed the  setting in  etc/..php.ini   file ,after chaging the upload size value i can not upload the Higher than 1MB file.please help...how to upload Large size Mp3 and Mp4 file?

[2015-06-30 07:29] narmadashanmugam opened #440 "Video and Audio file not accepted paperwork application in Ubuntu"
I can upload only with in 1MB file .i could not abl to upload the above the 1MB file.
I have changed the upload size 100Mb in php.ini file even i could not able to upload.

So please can anyonle tell me what is the problem?how to solve it? please

[2015-06-30 08:23] Baldrs commented on #440
You will drive me crazy some day. Provide:
1. Ubuntu version.
2. Your web server name and version.
3. Your PHP and MySQL versions.

[2015-06-30 09:06] narmadashanmugam commented on #440
1.14.04
2.nginx and nginx/1.4.6(ubuntu)
3.php 5.5.9-1ubuntu4.9(cli) and 14.14 distrib 5.5.43

[2015-06-30 09:10] Baldrs commented on #440
In /etc/nginx/nginx.conf:

Add or modify following line inside `http {`:

    client_max_body_size 4096M; // OR whatever you want to upload

In php.ini:

    upload_max_filesize = 4096M
    post_max_size = 4096M

After that in command line:

    service nginx restart
    service php5-fpm restart

And please remember, if you want FREE tech support, you google for BASIC questions yourself.

[2015-06-30 09:10] #440 closed

[2015-06-30 10:02] narmadashanmugam commented on #440
thank you very much....I can uploaded the large amout of file...

I have one doubt ,Now uploaded some video(5MB) file in  https://demo.paperwork.rocks/  ,but it is not playing but some Video file is playing well.

anydiffernce?

the same thing happening in our new Paperwork application (Ubuntu ) also...
could i know what is the problem?is this issue or not?

[2015-06-30 18:29] clemlaf commented on #368
The last commit corrected an error when inserting fontawesome but brought to light a new error when trying to save a note that contains fontawesome content.
Once again the solution was to be found on ckeditor fontawesome plugin's homepage:
[code]
Pull Request coming.

[2015-07-01 04:57] Baldrs commented on #435
This is intended. You first create empty note, then you fill it with update. On update certain fields are required.

[2015-07-01 04:57] #435 closed

[2015-07-01 18:39] jimlei opened #442 "Unclear what to do after creating a new Notebook"
Users are presented with a pretty blank screen after creating a new notebook

![screenshot from 2015-07-01 20 36 16](https://cloud.githubusercontent.com/assets/4523053/8462024/1ca8d2ee-2031-11e5-99fd-ad30db36e83e.png)

I was first thinking it would be nice with just some "fun text" which is becoming increasingly normal (with a link to create a new note)

But if #259 (inline editing) is implemented

[2015-07-01 20:10] Baldrs commented on #368
Fixed.

[2015-07-01 20:10] #368 closed

[2015-07-02 00:54] LiuR opened #444 "how to get a powerful search"
many times I need search something ，so it`s very important for me to make keyword highlight or others. i need a powerful search,how I get it.

[2015-07-02 05:07] Baldrs commented on #444
Implement it

On Thu, Jul 2, 2015, 03:54 LiuR <notifications@github.com> wrote:

[2015-07-03 12:47] #444 closed

[2015-07-03 17:33] Baldrs commented on #265
Fixed in #445. If doesn't, file a new issue.

[2015-07-03 17:33] #265 closed

[2015-07-03 17:37] Baldrs commented on #273
That seems sound. But I'd preferred to make it configurable.

[2015-07-04 12:17] ntnn opened #446 "API node /api/v1/notebooks/{id}/notes does not provide title of notes anymore"
The note-listing in `/notebooks/{id}/notes` used to provide [the title of notes](http://docs.paperwork.apiary.io/#get-%2Fapi%2Fv1%2Fnotebooks%2F%7BnotebookId%7D%2Fnotes)   - on the develop branch a GET request for all notes in a notebook yielded [this](https://gist.github.com/ntnn/1195ef9712c7a87d375f) for a single note.

Imho providing the title in this context is extremely useful so it should be

[2015-07-05 23:29] markfrancis905 opened #447 "Blank page apart from top bar"
Hello,

Just installed paperwork locally on my ubuntu 14.04 machine following https://github.com/twostairs/paperwork/wiki/Installing-Paperwork-on-Ubuntu-14.10.

It all worked as described apart from this error which I hacked into the fix from the develop branch https://github.com/twostairs/paperwork/issues/420

Now after logging in all I'm seeing is the top bar with the expected options (as per sc

[2015-07-06 05:34] Baldrs commented on #447
What do you mean by 'hacked into the fix'? Fetch the latest develop branch and rebuild all assets, no hacking. We currently have no stable version at all, but develop has more fixes.

[2015-07-08 09:50] jgreth opened #448 "Code Snippet - Formatting is missing"
When you make a note with a code snippet in it, this code shows formatted (syntaxhighlighting / colors) in the editor, but when you view it in library / normal (web-)view there is no color highlighting in it.

Editor:
![editor](https://cloud.githubusercontent.com/assets/2305066/8567698/cebc54f2-2567-11e5-9bfb-a9bd7586cda0.jpg)

Normal:
![normal](https://cloud.githubusercontent.com/assets/2305066/8

[2015-07-08 10:11] Baldrs commented on #448
That's a duplicate of #109. We know about this and someday we'll fix that.

[2015-07-08 10:11] #448 closed

[2015-07-08 11:31] Baldrs commented on #448
PS Is that PHP4 code?

[2015-07-08 12:30] jgreth commented on #448
Oh, sorry. Didn't see #109
The Code was just as example which was one of the first results when i googled "PHP example Code"... :smile:  So it was just "foo bar"... :smile:

[2015-07-16 01:38] juniorsatanas opened #449 "testeteste"
testsatestas

[2015-07-16 09:01] #449 closed

[2015-07-16 17:10] ekacnet commented on #416
Do you have some html/css wireframe so that it could be implemented ?

I think that the size of the fonts should be a bit smaller too.

[2015-07-16 18:11] DSpeichert opened #450 "LDAP: improve binding/auth method"
Some LDAP servers require full path for a user to bind (authenticate). That full name is suffixed by Paperwork with base_dn from config/ldap.php but there may be more parts that are variable.

Example:
base_dn => 'DC=sub,DC=domain,DC=com'
username = testuser

Paperwork would, however, try to bind the above user as ```CN=testuser,DC=sub,DC=domain,DC=com```.
For some LDAP structures with more advanc

[2015-07-17 17:49] Lausii commented on #447
I have the same issue. I had to follow your instructions on #427 to compile paperworks. When I run it, I get a blank screen aside from the header.
![screenclip](https://cloud.githubusercontent.com/assets/13384681/8753540/6f1476c2-2c71-11e5-9416-cac0d2798a46.png)

[2015-07-19 14:48] #450 closed

[2015-07-19 14:48] Baldrs commented on #450
I'm assuming that fixed.

[2015-07-19 18:39] IGitSylvia opened #452 "404 on mathquill.css"
Hi, Is giving me an 404 https://demo.paperwork.rocks/css/mathquill.css

[2015-07-19 19:20] IGitSylvia opened #453 ""Settings" > "Client" tab freezes"
I got you another one:

#### JS ERROR on demo.paperwork.rocks/settings

[code]

#### Probably because of the above *.rocks/settings#/client tab just hangs on "Loading..." frozen indefinetely.

Oh, I am running Chromium Version 43.0.2300.0 (64-bit) on the Windows 8.

[2015-07-20 14:08] HazenBabcock opened #454 "sorting notes?"
Is there a way to sort the notes in notebook, perhaps by date? Currently my notes appear to be sorted by their UUID(?). If this feature does not exist, I think it would be useful.

[2015-07-22 06:09] JamborJan commented on #13
Hi guys, I have been working on the import feature for the Sandstorm package of Paperwork (see: https://github.com/JamborJan/paperwork/issues/17).

I have also realized that some files can be imported and some not. I will try to debug this a bit more and find a solution. I would guess that it has something to do with special signs. Tests show that big files (in my case I allow up to 100MB) are not

[2015-07-23 06:07] JamborJan commented on #13
I have been experimenting with the Evernote import a bit, from my point of view this is the status:
- The import fails often due to random reasons
- Files are too big (depends on your nginx / php config)
- Notes content has special things (maybe, no evidence found)

Additionally there would be some useful improvements for the Evernote Import:
- Display upload progress (needed especially for big fi

[2015-07-23 07:17] xiqingongzi opened #457 "Install With Error PHP Warning: require(/var/www/html/paperwork/frontend/bootstrap/../vendor/autoload.php): failed to open stream:"
I search this repo ,and no vendor Directory.
Can't Install
What Should I do?

[2015-07-23 07:25] Baldrs commented on #457
Vendor directory is created by composer. See this [link](https://getcomposer.org/doc/00-intro.md) and then this [link](https://github.com/twostairs/paperwork/wiki/Initial-installation)

[2015-07-23 07:25] #457 closed

[2015-07-23 07:28] Baldrs commented on #13
It also may be written in an memory-inefficient way, so import may be hitting memory_limit on the larger files.

[2015-07-26 09:04] jacek-1210 opened #460 "First run & "request URL not found""
Hi,

fresh openSUSE 13.2 install
apache2 + mod_rewrite on
MySQL
PHP 5.6

After "1001" test installations (e.g. on wiki dont write "bower install" & install from wiki have bug with adldap), I hope, no errors are in my install. After install in /srv/www/htdocs/paperwork (docroot is /srv/www/htdocs via IP) if I write http://IP(or localhost)/paperwork/frontend/public, system redirect to IP(or localhos

[2015-07-26 09:20] Baldrs commented on #460
First of all don't use apache - no one is supporting it here. Use nginx and php-fpm. It is a faster and much more secure/reliable/faster/resource-effecinent configuration.
Second thing is that you must point your apache to serve frontend/public as /
Third thing it's clearly that rewrite is wrong.
Fourth thing is that artisan server is utilizing built-in php webserver which is for webserver-indepen

[2015-07-26 14:39] JamborJan commented on #54
I guess making a PR to the dev branch is the right approach to help with this topic?

[2015-07-26 14:59] Baldrs commented on #54
Yes, it is. But what's the rash?

[2015-07-26 15:11] JamborJan commented on #54
The Laravel guys don't help with issues we have / might have because the version used in Paperwork now is EOL, see https://github.com/laravel/framework/issues/9755

Of course the upgrade is not the direct solution to my issue and not the most efficient way of solving it. I wanted to check how complicated it is and maybe it can be a partial work result of my way down the road.

[2015-07-26 15:51] jacek-1210 commented on #460
thx
I completely dont know nginx :(  I installed nginx, php-fpm & mariadb, but "for now" I dont know how to properly configure nginx for index.php, rewrite, vhost etc. Rewrite on apache work, but not properly. Is it possible, that are differencies between apache .htaccess & nginx .htaccess ?

[2015-07-26 18:39] daeavelwyn commented on #379
Still no apk to test ??

[2015-07-26 20:02] theSoenke commented on #379
@daeavelwyn I've now generated an APK to test: https://github.com/theSoenke/Paperwork-Android/releases/tag/v0.1

[2015-07-26 23:13] daeavelwyn commented on #379
@theSoenke that's a really good news :-D thanks !

[2015-07-27 09:13] Baldrs commented on #460
See [here](https://github.com/twostairs/paperwork/wiki/Running-paperwork-in-subfolder).
And please remember that .htaccess, vhosts are the inventions of Apache web server, there is no .htaccess in nginx.
Also it does not operate vhosts, but rather server configs are responding to certain host names.

[2015-07-27 21:18] jacek-1210 commented on #460
Uffff, its work on apache :) Not exactly look like me to rewrite, more like Apache does not append a links. I was adding to apache paperwork configure directory:  FollowSymLinks, but it did not work. Until it dawned on me, that properly is: +FollowSymLinks  :)
Now working clear & properly
Thx for help, anyway I have to get to know better nginx

[2015-07-28 08:31] nadres commented on #447
Hello there,

This project made me sign up for Git Hub!

I have installed paperworks today on Ubuntu Server 14.04. The same issue as described here is happening to me: blank screen except menu header.

The only item I get blank page is "Library". All the others, "Profile", "Settings", "Admin Area" and "Help" appear to be working fine. Also tested in Firefox & Chrome.

Kind regards.

[2015-07-28 08:36] Baldrs commented on #447
Have you built paperwork completely? `npm install`, `bower install`, `gulp`? Any errors in browser console? Have you tried pre-built version from releases?

[2015-07-28 10:42] nadres commented on #447
bower install?

I followed instructions from http://paperwork.rocks

I don't recall that command. There was no error in the console during installation, other than issues with my Apache configuration regarding .htaccess.

I'll try it and report back... Now I see the Ubuntu link above.

Thanks.

[2015-07-28 10:53] Baldrs commented on #447
Unfortunately @devilx and I are in lack of time recently, so to save everybody's time, use this: https://github.com/twostairs/paperwork/releases/tag/snapshot-3751d936

Unpack the zip file, point web server to frontend/public folder, have fun.

[2015-07-28 10:54] Baldrs commented on #447
I will provide newer build soon.

[2015-07-28 16:42] thirdeyetux commented on #447
I used the most recent commit and experienced the same issue. All the commands ('npm install', 'bower install', 'gulp') worked without a flaw.

I can see the following error in the browser console:
[code]

Maybe that helps?

[2015-07-28 21:49] dbrgn commented on #384
I guess this can be closed. File upload is definitely there :)

[2015-07-28 21:53] dbrgn opened #461 "Searchable PDFs"
The killer feature of Evernote for me is the ability to simply upload searchable PDF documents and other scans to the system, as an archiving solution.

There are two parts to this:

- Implement searching inside attached PDF documents
- OCR documents that aren't already searchable

Also:

- Very simple upload via API into an inbox, where it can be sorted and tagged later on

I doubt printers like

[2015-07-28 22:51] Lausii commented on #447
Using the link (https://github.com/twostairs/paperwork/releases/tag/snapshot-3751d936) provided works great. Don't download the source, but 3751d936.zip, which is a pre-compiled version. The only thing to do after moving it to the web sever is to create the database, run "php artisan migrate" and then adjust the necessary permissions.

[2015-07-29 06:25] JamborJan opened #462 "Paperwork database upgrade: General error: 1005 Can't create table 'paperwork.#sql-3a_2' (errno: 150)"
I have the following situation:

I have paperwork instances running on a version which was available in March 2015. When I take a look at the migration table it looks like this:

[code]
Now I try to update the instances to the latest release candidate but all ```ALTER TABLE``` statements to ```ADD CONSTRAINT``` for a ```FOREIGN KEY``` fail. For example:

[code]

[code]
I checked a ton of things al

[2015-07-29 08:09] nadres commented on #447
Hello again,

I followed @Lausii comment and it appears to be all right. I got the following message covering bottom half of the calendar...

`Found a bug? Paperwork cannot check whether your version is the latest. Please make sure you are running the latest version before reporting any issues.`

...which I removed it by following [Issue 391](https://github.com/twostairs/paperwork/issues/391).

I

[2015-07-29 08:27] #384 closed

[2015-07-29 08:58] thirdeyetux commented on #447
For sure it would be possible to use the prebuilt 'release tag', but I would like to stay with the current development and be able to get a working app by running the installation commands from the manual :-) The error message I posted above looks like there is a missing dependency to 'angularFileUpload' somewhere. I did not work with angular so far, so a little hint where to search for the missin

[2015-07-29 09:03] Baldrs commented on #447
@nadres Collections are not implemented
@Lausii, I think I'll add a sql file in next release
@thirdeyetux for end-users releases are recommended because they were at least considered working to some degree of being usable by the person who assembled them. Whereas latest develop is unstable and not even tested every time. The missing dependency may be missing in some target in gulpfile

[2015-07-29 09:09] thirdeyetux commented on #447
@Baldrs thank you very much for the information. I guess I will switch to use the 'pre-release' version then.

[2015-07-29 09:17] Baldrs commented on #462
Have you used the paperwork before #66? It has broken anything. Next migrations are messy, I've fixed some, but I had database above your state. Can you file some snapshot of your state? Without data everywhere except migrations as shown.

[2015-07-29 09:44] thirdeyetux commented on #447
I had a look into the gulpfile and did the following change:
[code]
Also make sure the javascript file (angular-file-upload.min.js) exists in 'app/js/bower_components/angular-file-upload/dist'. If not, go to 'app/js/bower_components/angular-file-upload' and build it via 'gulp angular-file-upload/build'. I also ran 'npm update' in that directory, because 'webpack' was not installed.

After you got

[2015-07-29 09:47] Baldrs commented on #447
I think we need to introduce some stricter locking as current one breaks stuff from time to time. Former was adldap from composer.

[2015-07-29 10:01] JamborJan commented on #462
I used a copy of Paperwork from February 11th 2015 as far as I can retrace. So I guess I have a database older than issue https://github.com/twostairs/paperwork/issues/66.

Here is a backup of an empty database only with initial stuff inside: https://gist.github.com/JamborJan/163b27cadcf30ccec748

This already has run the first 2 update steps until the first failed ```ALTER TABLE```. Here are some

[2015-07-29 10:08] Baldrs commented on #462
I see, than that's going to be difficult because for some reason @devilx introduced uuids by just rewriting existing migrations. So I'm afraid there's no easy way to upgrade your database. You need to convert it to uuid-based database somehow. Basically you need to create a new database and then use some script to move the data and map relations using uuids depending on the old database.

[2015-07-29 10:49] JamborJan commented on #462
This seems to be a not so easy way. How did other users with existing databases migrate their instances?

I will try to do the following two things in an customized update script:

- change all IDs to UUIDs and try to keep it consistent

If this diesn't work:

- rename all tables to "bak_..."
- pull in the new structure
- move data from old to new
- delete all "bak_..."

I will post my results.

[2015-07-29 11:21] Baldrs commented on #462
@JamborJan nobody migrated. Everybody just have reinstalled, I guess. I've never had significant data before #66 so I've started from scratch too, however after the point it seems to be more or less consistent.

[2015-07-29 17:48] JamborJan commented on #462
There are tables where UUIDs are implemented e.g. ```attachments``` and tables where still ```bigint``` is the type of the table id like for example ```attachment_version```.

When something is changed shouldn't it be consistent everywhere?

Can users and contributors now expect the database to be stable managed with migration steps from version to version?

I try to find a solution for the proble

[2015-07-30 05:07] JamborJan opened #467 "Export not working"
The export from paperwork is not working due to:
- changed database structure from notes to versions
- typos in the export blade

PR follows in few minutes to fix that.

[2015-07-30 06:35] #467 closed

[2015-07-30 23:25] #460 closed

[2015-07-31 10:44] jacek-1210 opened #469 "git configure for paperwork"
Im newbie in git, how to properly configure git paperwork for: "git pull" ?
I have installed standard git rpm, but if in ..../paperwork/frontend  write "git pull"  I get "fatal: not a git repository....."

[2015-07-31 11:00] Baldrs commented on #469
Have you installed from snapshot? Only way to update snapshot is install a new snapshot.

[2015-07-31 11:17] jacek-1210 commented on #469
I get from https://github.com/twostairs/paperwork/  "download.zip" -> master.zip  & install step by step composer, npm, bower, gulp, php artisan migrate. In Your update info I see:

git pull
composer update
npm update
bower update
gulp

or:

php artisan paperwork:update

allways I get "fatal: not a git repository....."

But, after "1001" install, I move finally paperwork to another subdirectory -

[2015-07-31 11:21] Baldrs commented on #469
Download leaves you without .git folder. Use git clone command to clone repository.

[2015-07-31 11:40] jacek-1210 commented on #469
I have paperwork in /www/paperwork
In /www/paperwork/frontend  I write "git clone https://github.com/twostairs/paperwork.git"
after download, git pull, I get "fatal: not a git repository (or any parent up to mount point /www)..."
Mount point /www ? Maybe this is problem ? How to change it ?

[2015-07-31 11:43] Baldrs commented on #469
No, you're doing it wrong. Run the following

    cd /www
    rm -rf paperwork
    git clone https://github.com/twostairs/paperwork.git
    cd paperwork/frontend
    composer install
    php artisan paperwork:install

Then configure the database and run migrations.

[2015-07-31 12:00] jacek-1210 commented on #469
thx, works.
not to install from the beginning (I have working pwork copy before git clone), I rm paperwork directory, git clone in /www and overvrite git clone from working copy.
Now "git pull" give me "Already up-to-date"

[2015-07-31 12:02] Baldrs commented on #469
That's ok because you have cloned repo a moment ago, thus it's "Already up-to-date"

[2015-07-31 13:49] jacek-1210 commented on #469
Hm,

git pull
php artisan migrate:refresh  -> crashed sql base (dont sessions table)

php artisan migrate  -> repair crashed sql

php artisan paperwork:update  -> work properly, but dont touch sql...(if change base structure in the future (?))

[2015-07-31 14:01] Baldrs commented on #469
paperwork:update currently does not support running migrations, but may
support someday

Regards,
Arseniy Lozicki

On 31 July 2015 at 16:49, jacek-1210 <notifications@github.com> wrote:

[2015-07-31 17:24] Liongold commented on #467
Thanks for fixing this feature.

[2015-08-01 00:43] ekacnet opened #470 "provide instruction on how to recreate services.json without wiping the database"
I moved from a tarball installation of paperwork to a git based instalation.
In order to get this file created (and maybe some others) I had to re-run artisan migrate, the thing is that it wiped my database content it seems.

Would be nice to have instruction on how to recreate those files (and also for instance the compiled CSS) without wiping the database.

[2015-08-01 08:00] Baldrs commented on #470
Have you tried just to run it? It's the metadata file generated by the framework, not the part of the codebase or whatever.

[2015-08-02 13:31] Liongold commented on #452
This issue has been fixed. Unfortunately, the demo site is not running the latest version so it is possible that this fix does not appear there. If you encounter any other issues, please let us know.

[2015-08-02 13:31] #452 closed

[2015-08-02 13:34] Liongold commented on #54
@JamborJan So you would be interested in doing this?

[2015-08-02 13:38] Liongold commented on #264
@tashivani Any updates on both features you mentioned?

[2015-08-02 21:15] LukasDrude opened #473 "API: Error 500 when creating new note"
Hello.

I am trying to work trough the API documentation [1] using Python 3. I used this guide [2] to install it on my local machine (Ubuntu 15.04).

When I do this (against your test server):

[code]

I get sucess.

When I do the same against my local installation, it fails with Error Code 500.

Whereas when I use the Curl command from [3], it won't accept PUT commands. I therefore changed it to

[2015-08-03 06:02] JamborJan commented on #54
Hi @Liongold, I have solved my problem with a work around by fixing the small bug in the old framework myself. I have some tasks on my to do list before I can start working on that. So if there is no pressure I could work on that later.

[2015-08-03 12:32] PHP-Expert opened #474 "Notes sort order"
It would be great to sort notes with creation date / modify date / alphabetic

[2015-08-03 16:36] Liongold commented on #378
Is this bug still actual?

[2015-08-03 20:46] laeryn opened #476 "iOS Client"
Are there plans to develop an iOS client for paperwork?

[2015-08-03 20:55] LukasDrude opened #477 "Save and Close Note (Single Button)"
I wish, there was an Save-And-Close button.
The necessary modifications are probably:
- Merge the functions `$scope.updateNote = function()` and `$scope.closeNote = function()` in [1].
- Change [2] lines from 16 according to:

[code]

The result might look like this:
![example1](https://cloud.githubusercontent.com/assets/1886882/9047491/a698b864-3a32-11e5-9df0-c450bb57a09a.png)

 [1] https://githu

[2015-08-03 20:56] jamesrascal commented on #477
I like this idea. It would be handy to have a save a close feature.
On Aug 3, 2015 1:55 PM, "LukasDrude" <notifications@github.com> wrote:

[2015-08-04 13:22] Liongold commented on #477
@LukasDrude Why don't you open a pull request? Also, what do you think about replacing the Close button with Save and close instead of adding another?

[2015-08-04 13:24] Liongold commented on #54
@JamborJan That means Paperwork for Sandstorm is working now?

[2015-08-04 13:26] Liongold commented on #446
@ntnn It actually is provided in the version "child". Is that enough? Or would you like it to be on the first-level?

[2015-08-04 13:30] Liongold commented on #311
@wongalvis Are you still going to work on this?

[2015-08-04 13:31] Liongold commented on #84
I think this issue can be closed. If someone does not agree, please reopen.

[2015-08-04 13:31] #84 closed

[2015-08-04 13:43] JamborJan commented on #54
@Liongold it has been working also before with the old Paperwork version. The Problem here was that no migration scripts where provided for this older version to the latest one. The occurring database errors have not been displayed properly which made debugging impossible.

Now I have figured out a way to detect this and only display an export page so that users can export the data and import it i

[2015-08-04 14:11] theSoenke commented on #477
Why not autosave the note and just a close button?

[2015-08-04 15:49] wongalvis commented on #311
I am interested but unfortunately I may not be free until at least a week or two later. If someone else is going to work on it I would be glad to see it, and maybe follow up when I'm free.

[2015-08-04 21:24] burakkaptan opened #479 "Base table or view not found: 1146"
When i installed the app, i got this error:

![adsiz](https://cloud.githubusercontent.com/assets/6393475/9073183/5563ec30-3b08-11e5-96d3-f63c1f61f00f.png)

[2015-08-05 07:37] Baldrs commented on #479
How about `php artisan migrate`?

[2015-08-05 07:37] #479 closed

[2015-08-05 14:10] Liongold commented on #54
@JamborJan Did you close the HTTPS support issue in your repo then?

[2015-08-05 14:21] JamborJan commented on #54
Nope @Liongold because in "Sandstorm mode" it is only working with the workaround I have implemented. See: https://github.com/JamborJan/paperwork/issues/20

[2015-08-05 15:58] Liongold commented on #54
OK thanks.

[2015-08-05 15:59] Liongold commented on #473
Yes, the demo site is not running the latest version of Paperwork. So, this issue regards the need to always put content_preview? If yes, please rename the issue as appropriate.

[2015-08-05 16:08] Liongold commented on #453
@IGitSylvia Can you check this again please on another installation? The demo server is currently outdated.

[2015-08-05 16:15] Liongold commented on #390
@clemlaf Has this been fixed?

[2015-08-05 16:17] Liongold commented on #335
Is this still actual?

[2015-08-05 16:18] Liongold commented on #251
Is still actual?

[2015-08-05 16:28] Liongold commented on #395
@jamesrascal Is this still happening?

[2015-08-05 16:57] jamesrascal commented on #395
Looks like this issue has been resolved with the newer master build.

[2015-08-05 16:57] #395 closed

[2015-08-07 12:48] JamborJan opened #480 "Export of 1 single note not correct"
If you have only 1 single note the export is not creating a proper XML. The final ```</en-export>``` tag is missing.

I guess something with the loop here is wrong: https://github.com/twostairs/paperwork/blob/master/frontend/app/controllers/UserController.php#L407

Which causes this one never to be true: https://github.com/twostairs/paperwork/blob/master/frontend/app/views/user/settings/export_fil

[2015-08-07 12:59] JamborJan commented on #480
Okay, found it.

[2015-08-07 12:59] #480 closed

[2015-08-07 14:50] Baldrs commented on #109
Fixed in #482

[2015-08-07 14:50] #109 closed

[2015-08-08 10:25] JamborJan opened #483 "Export does not contain notes without notebook"
When exporting your data the export does not contain notes which are not assigned to an notebook. This because of this `join` statement during export: https://github.com/twostairs/paperwork/blob/master/frontend/app/controllers/UserController.php#L395

Question: is it a bug or a feature that you can have notes which are not assigned to a notebook? To get this scenario you simply delete a notebook w

[2015-08-08 10:32] JamborJan opened #484 "Special characters in note titles are not encode in exports"
When exporting a note which contains special characters like  `&`  `<`  `>` in the title, these characters are not encoded properly. This causes the import of such notes to crash.

I will try to fix that and send a PR.

PS: if you like you can add me to the team and assign the issue to me.

[2015-08-08 14:37] JamborJan commented on #484
The title needs to be converted with e.g. ```'title'   => htmlentities($note->title)``` then it works. I have tested this implementing it in export / import but I think this is the wrong place. It should be done when the note is saved like it is done with the note content. I have not found the right place for that in the code to test it. Will look for it further. Let me know if you have a differen

[2015-08-08 20:49] Baldrs commented on #484
Can you look into code that turns `{{` into `[[`? `{{` must escape by default.

[2015-08-10 15:22] Liongold commented on #341
Is this issue still valid?

[2015-08-10 15:25] Liongold commented on #328
This is still happening using the latest develop branch.

[2015-08-12 17:38] stevenroose commented on #379
Is there a BountySource for Paperwork? Then we could donate to the Android app specifically :)

[2015-08-12 17:40] stevenroose commented on #379
Or you could contribute to existing notebook apps and ask them if they want to implement the Paperwork API. Like [OmniNotes](https://github.com/federicoiosue/Omni-Notes) f.e.

[2015-08-13 20:06] jamesrascal commented on #251
This can be closed current install instructions are current.

[2015-08-13 21:12] AaronSachs opened #485 "Found a bug banner continues to show up"
Hi Twostairs Team,

I keep seeing the message:

[code]

I've updated, but it contiues to show. Is this purposeful? Can I ditch this if I've already updated?

[2015-08-14 04:13] Baldrs commented on #485
There is a setting in app/config/paperwork.php to disable it.

On Fri, Aug 14, 2015, 00:12 Aaron Sachs <notifications@github.com> wrote:

[2015-08-14 12:59] Liongold commented on #96
I've opened an issue in the official repo of bootstrap-tagsinput.

[2015-08-14 13:00] Liongold commented on #251
Thanks @jamesrascal

[2015-08-14 13:00] #251 closed

[2015-08-14 13:01] Liongold commented on #485
I think the problem @AaronSachs is mentioning is that since we're using caching, the cache does not get updated when updating and thus still continues to show as outdated.

@AaronSachs Am I right?

[2015-08-14 14:33] AaronSachs commented on #485
@Liongold, yep. That's it. Is there any way to clear that out?

[2015-08-16 21:37] xadium commented on #442
Agree

[2015-08-16 21:38] xadium commented on #404
+1

[2015-08-17 21:13] philosowaffle opened #486 "Sidebar expand collapse arrows do not properly re-expand"
Found while using demo.

On left hand side bar, the different categories (Shortcuts, Tags, Notebooks,....) have an expand/collapse arrow.  By default these were all expanded and I could see the "Welcome" notebook as well as the "welcome" tag.  I clicked the arrow to collapse each category, everything was hidden as expected.  I clicked the arrows again to expand each category and nothing was displa

[2015-08-18 07:04] alsternerd opened #487 "Update on URL to FAQ about shared hosting environments"
https://github.com/twostairs/paperwork#can-i-run-paperwork-on-a-shared-host-environment-where-im-not-able-to-set-frontendpublic-as-document-root

should be updated to:

http://paperwork.rocks/#can-i-run-paperwork-on-a-shared-host-environment-where-im-not-able-to-set-frontendpublic-as-document-root

everywhere this is mentioned in the issues or on other sites.

Now people that search for this on gi

[2015-08-18 09:13] ghost opened #488 "Authentication required at first opening of frontend/public (popup)"
So I followed the guide ( https://github.com/twostairs/paperwork/wiki/Initial-installation , as I'm on a shared hosting and added the RewriteBase / Rule to .htaccess in frontend/public )
and am pointing to that folder with a symlink:

The Problem is that there now an input form pops up, aksing me for authentication, as if it's set with the .htaccess file.

The installation is fresh and there's no

[2015-08-18 17:11] Liongold commented on #485
You can try running `php artisan cache:clear` after the update. Let us know if you encounter any problems with it.

[2015-08-18 17:11] #48 closed

[2015-08-18 18:34] geoextra commented on #488
Had exactly the same problem a few minutes ago:
[code]

**This is not what you see in the browser!**

My server is a typical [Uberspace](uberspace.de) machine …

The solution for me was to sign up with a new user in `/login` … This need to be fixed or at least documented.

[2015-08-19 05:29] JamborJan commented on #483
Hey @Liongold I guess the "pending feedback" label doesn't mean I need to deliver more details. If something is required from my side please let me know.

[2015-08-19 09:45] alsternerd commented on #488
As the code that @geoextra mentions I think there's just a need to get the file where the login-redirect is being composed and set it to just

I'm still searching for that file...

[2015-08-19 11:17] stevenroose commented on #27
Removed from the Milestone? No longer considering this?

[2015-08-19 13:54] geoextra commented on #488
I think the problem could be [here](https://github.com/twostairs/paperwork/blob/master/frontend/app/filters.php#L70) …
Because of a configuration error in the `.htaccess` file Laravel things it's an AJAX request …

[2015-08-19 21:27] jacek-1210 opened #489 "File > New collection" does nothing #15 (closed)"
For me, collections are interrest to agregation many notes by e.g. topics. (e.g.:  collection sport -> sport.health.notes; sport.ski.notes; sport.summer.notes;  collection home -> lng.invoices.notes; energy.invoices.notes; foto.documentation.notes; collection work -> somework.notes; documentation.work.notes; biznes.plan.notes  etc.)

[2015-08-20 16:47] Liongold commented on #483
@JamborJan No, nothing is needed from your side. However, you can of course leave your own opinion on this.

[2015-08-21 06:46] JamborJan commented on #462
I guess we can close this one.

The way to go is to set up a new instance. In my case I created an updated of my packaged version which has fixed export issues so that users are able to export their data at least and import it in the new version.

[2015-08-21 06:46] #462 closed

[2015-08-21 08:51] JamborJan commented on #484
Short status update.

I didn't find the proper place for that part of code you mentioned @Baldrs yet. Still looking into it.

I implemented a workaround for my app version which is only intend to export data from old databases in ENEX files. There I have ```'title' => htmlentities($note->title)``` in the export function.

Doing this solves the issue for the moment but I agree that the data must be

[2015-08-21 09:51] JamborJan opened #491 "remove external dependencies"
There are external links used for bootstrap-editable css and js. To avoid outgoing requests and dependencies I'll propose a change to include these two files in the repo.

PR follows in some minutes.

[2015-08-21 10:11] JamborJan commented on #491
Running in a sandstorm package it is rather annoying when external resources are required. I guess the same is valid when running paperwork in an internal network without any connection to the internet. Thats why I propose this change.

[2015-08-21 15:44] Liongold commented on #491
Since the pull request associated with this issue has been merged, I'll proceed in closing this issue.

[2015-08-21 15:44] #491 closed

[2015-08-22 08:06] jacek-1210 opened #493 "Ghostscript in paperwork (?)"
Paperwork fine upload jpegs as images (imagemagick ?). Maybe likewise been able to load a pdfs via ghostscript ?

[2015-08-23 04:20] Baldrs commented on #493
Upload process has nothing to do with imagemagick or ghostscript. You just
need to allow the PDF upload

On Sat, Aug 22, 2015, 11:06 jacek-1210 <notifications@github.com> wrote:

[2015-08-23 16:21] JamborJan commented on #484
Hey @Baldrs ... I'm a bit lost in the code of paperwork where to find the point where the note version is saved and a check or conversion of special signs is required. The closest I'm right now is here:

https://github.com/twostairs/paperwork/blob/master/frontend/app/controllers/api/v1/ApiNotesController.php#L340

Also here I could replace the existing code with ```'title' => htmlentities($note->t

[2015-08-23 22:49] tylershuster opened #494 "Handlebars Not Rendering"
I installed paperwork at notes.shuster.house and the system seems to be mostly working, except the templating language. There's mustaches or handlebars everywhere, and it looks like the CSS isn't working. Any idea why?

[2015-08-24 04:36] Baldrs commented on #494
Where did you try to use it? It is not supported or used anywhere.

On Mon, Aug 24, 2015, 01:49 Tyler Shuster <notifications@github.com> wrote:

[2015-08-24 07:02] jacek-1210 commented on #493
How to "allow the PDF upload" ? In paperwork settings ?

[2015-08-24 07:11] jacek-1210 opened #495 "reverse date note"
sometimes, I need create note with reverse date e.g. 4 days ago I started taking medication. How did note dated 4 days earlier ? I tried touch date on callendar & create new note, but it didnt work (?)

[2015-08-24 20:08] tylershuster commented on #494
Well, then it must not be handlebars. I haven’t modified the installation but the interface isn’t rendering data; it looks like this, for example:
 {{ modalMessageBox.title }}

{{ modalMessageBox.content }}

[2015-08-24 20:24] Baldrs commented on #494
Have you ran npm install, bower install and then gulp?

On Mon, Aug 24, 2015, 23:08 Tyler Shuster <notifications@github.com> wrote:

[2015-08-24 20:26] Baldrs commented on #495
Currently, there is no way to do this

On Mon, Aug 24, 2015, 10:11 jacek-1210 <notifications@github.com> wrote:

[2015-08-24 20:27] tylershuster commented on #494
Man, I don’t know how but I missed bower install and gulp. It’s working now. PEBKAC

[2015-08-24 20:39] #495 closed

[2015-08-24 21:27] #494 closed

[2015-08-25 10:02] jacek-1210 commented on #493
for clarity: I can upload, but if I touch "insert", I get only link in note, without text - content.

Question 2:

often, if I upload doc, odt document (I have same problem as with pdf), I upload this & make copy/paste from openoffice. And often, after "save" I get that "note saved successfully", but if I open this note, Its empty :(

[2015-08-25 14:13] JamborJan opened #496 "Note editor empty when opening note from filtered list"
Tested with Firefox developer edition and Safari on a mac.
Source code from development branch from August 17th 2015.

How to reproduce the issue:
- you need at least 2 notes and one tag / one additional notebook / or notes from different dates
- filter the list of notes by clicking on one tag (in the example below I click on the "b-doing" tag)
- issue can be reproduced also by filtering the list

[2015-08-25 16:58] Jherring01 commented on #485
Though I have gone through the  app/config/paperwork.php to disable the popup, I am still getting it. Any additional suggestions?

[2015-08-26 14:40] Liongold commented on #485
@Jherring01 Can you show the config details? Did you clear the browser's cache?

[2015-08-26 15:09] Jherring01 commented on #485
I have used 4 different computers and cleared the browser cache yes.  Found the issue.. I false'd the wrong line. Thanks!

[2015-08-26 15:18] #485 closed

[2015-08-26 15:18] Baldrs commented on #493
It is not intended to insert content into note. If you want content, copy-paste it.

[2015-08-26 15:18] #493 closed

[2015-08-26 16:03] Liongold commented on #66
@clemlaf Can this be closed?

[2015-08-27 23:17] daeavelwyn commented on #324
just to mention another config that works for me while the one previously posted doesn't :+1:

[code]

[2015-08-28 13:28] coldib opened #497 "Question: Installation on webhosting provider"
Hi all,

as I did not find an installation guide - is it possible to host this on a traditional webhoster supporting PHP5/MySQL by uploading via FTP?

Thank you in advance!
coldib

[2015-08-28 13:54] Baldrs commented on #497
You have not even try to search. Theoretically, you can, you just somehow need run migrations using prebuilt package.

[2015-08-28 13:54] #497 closed

[2015-08-28 15:19] maxalbert commented on #15
@devilx Out of curiosity, why would you want to disallow users to stack folders if that's what they want to do? Is this for technical reasons? Disclaimer: I have not used Paperwork (or Evernote) yet, so I may be missing something obvious. But I'd think that if a user wants to use a feature in a certain way, why not allow it there are no technical limitations which make this difficult?

[2015-08-28 15:44] Baldrs commented on #15
@maxalbert no one is disallowing it, it just currently a flat structure. It will require additional work to convert it into tree structure, additional interfaces, coding. Someday we'll do that.

[2015-08-28 15:46] maxalbert commented on #15
I see, thanks for the clarification!

[2015-08-28 18:24] hyrmedia opened #498 "Demo site: certificate mismatch"
Thought I'd mention that when I visit https://demo.paperwork.rocks my browser throws a certificate error, saying the "security certificate presented by this website was issued for a different website's address."

Looks like it's just because the subdomain "demo.paperwork.rocks" is not covered by the certificate which was issued to "www.paperwork.rocks" -- in other words, it's not a wildcard cert.

[2015-08-29 11:16] Liongold commented on #497
@coldib Can this help you? http://laravel.io/forum/02-19-2014-laravel-database-to-webserver

[2015-08-30 14:13] daeavelwyn commented on #474
I totaly agree !
other post talking about : https://github.com/twostairs/paperwork/issues/454

[2015-08-30 14:16] daeavelwyn commented on #477
@theSoenke I agree with you, it would be a really easier option to implement and easier to use.

[2015-09-01 08:58] wongalvis commented on #311
@Liongold Have you been working on one?

[2015-09-04 13:52] JamborJan commented on #496
I didn't find the cause so far. Only difference I have found is that when the note is shown in the editor this PNG gets loaded: `ckeditor/plugins/widget/images/handle.png`

When I filter the note list upfront this gets not loaded. I guess this is rather a side effect and not the cause.

URLs are right in both cases and also the network analyses shows that the right data is requested and also compl

[2015-09-05 07:20] wongalvis opened #506 "Message bar not displaying properly"
As shown below, the message bar was not displayed properly, it should be displayed on the top of the screen instead.
![2015-09-05 15_20_31-paperwork](https://cloud.githubusercontent.com/assets/6073063/9698281/aeb21bb2-53e1-11e5-809d-a6e9b433d996.png)

[2015-09-05 07:22] wongalvis commented on #506
Was trying to fix it but couldn't locate the code related to the "Select notebook" modal and/or the message bar.

[2015-09-05 07:30] wongalvis opened #507 "Smoothen progress bar on top of the screen"
The progress bar shown on top of the screen is laggy and not clear enough.
I would suggest the bar to be larger and I would like to see it smoother, in my opinion the progress bar does not need to reflect the progress at that particular moment with full accuracy, instead it just needs to shown to what extent the progress has been made.

[2015-09-06 19:53] kentonv opened #508 "Restoring autosaves seems unreliable"
After typing some data into a note and then pausing for a moment, the words "Auto saved" briefly appear at the bottom of the note, and some data has been stored in `localStorage`. However, it seems like recovering these "auto saves" is pretty unreliable. If I literally just refresh the note-editor page, it usually seems to work, but I have yet to see it prompt to restore an auto save when I browse

[2015-09-07 12:39] PrimoZvanut opened #509 "Share notebook/Share note is not working"
Solution:
/var/www/html/paperwork/frontend/app/controllers/api/v1/ApiNotebooksController.php:205
change
$tmp = $this->shareNotebook($notebookId, $toUserIds[$i], $toUMASK[$i]);
to
$tmp = $this->shareNotebook($notebookId, $toUserIds[$i], $toUMASKs[$i]);

/var/www/html/paperwork/frontend/app/controllers/api/v1/ApiNotesController.php:603
change
$tmp = $this->shareNote($notebookId, $singleNoteId, $toUs

[2015-09-07 16:54] Liongold commented on #311
@wongalvis No, I did not do anything about this. It's totally free for you to work on.

[2015-09-07 16:57] Liongold commented on #509
@PrimoZvanut You are free to open a pull request and fix this yourself. Which branch were you using when noticing this problem? If it wasn't on develop, please test this on develop branch before doing anything else. Thanks.

[2015-09-07 17:04] Liongold commented on #506
@wongalvis Thanks for your contribution to Paperwork. The CSS properties of the red area (or green) is defined here: https://github.com/twostairs/paperwork/blob/develop/frontend/app/less/paperwork-themes/paperwork-v1/paperwork-v1-custom.less#L1159 while the modal dialog code can be found here: https://github.com/twostairs/paperwork/blob/develop/frontend/app/views/modal/notebookSelect.blade.php. Le

[2015-09-07 17:12] Liongold commented on #484
@JamborJan From a little research I did it seems like CKEditor takes care of encoding special characters itself and thus that might explain the fact that the body is encoded well. I think special characters are not encoded simply because there's nothing asking for that in the code and thus still has to be implemented. Let me know if you have any more info. I hope I helped a little.

[2015-09-07 17:16] JamborJan commented on #484
Hi @Liongold thats sounds reasonable. Thanks for your thoughts, I'm still not 100% sure how every single part of paperwork works which make some analysis more time consuming. I will try to implement something and make a suggestion via PR. You / a maintainer can then decide if it is good or not.

[2015-09-07 17:18] Liongold commented on #483
@JamborJan I have contacted @devilx for more information about this and he replied saying that the deletion is working as it should. However, he said that a checkbox should be added to the notebook deletion modal, something similar to "Delete notes as well". If you want to implement this checkbox, you're more than welcome. Thus, to answer your question, the exporter should be ready for notes that

[2015-09-07 17:37] JamborJan commented on #483
Thanks for the feedback. I will try to work on these things.

[2015-09-08 07:18] wongalvis opened #516 "New Notebook button in Manage notebooks modal not working"
Nothing happens when New Notebook button in Manage notebooks modal is clicked.

[2015-09-08 07:35] wongalvis commented on #311
I don't know if there's a method to check if the user's logging in for the first time. If yes, that would be great and maybe I could start working on a introductory tour.

[2015-09-08 07:58] wongalvis commented on #506
@Liongold The "All Notes" should not be shown, and after that it will be not so often to encounter an error when moving note. In my opinion, although the display is not very nice at this moment, it is still good enough to display the message in case error occurred. I couldn't think of a better design yet after some tryouts, maybe someone else would have an idea to improve the design.

[2015-09-08 08:09] wongalvis commented on #506
@Liongold This PR https://github.com/twostairs/paperwork/pull/517 sets the message to be displayed at top of the screen, which makes a significant difference in mobile screens - the message no longer displays at somewhere between the middle and the top, leaving a gap between the message bar and the top of the screen.

[2015-09-08 13:45] Liongold commented on #506
@wongalvis Can you adjust the issue details now to be able to know better what's the remaining problem?

[2015-09-08 13:47] Liongold commented on #311
@wongalvis Maybe add a "setting" field and then checking for this when opening the page? Also, preferably, you could add a "Run tour" button in the Settings to be able to run the tour even after first visit.

[2015-09-08 13:48] wongalvis commented on #506
@Liongold I think the issue could be closed, the design is now somehow fixed, though there is room for further improvement.

[2015-09-08 13:53] Liongold commented on #506
@wongalvis Ok, I'll close. You can open a new issue with your suggestions if you'd like to. Thanks for your contribution.

[2015-09-08 13:53] #506 closed

[2015-09-08 13:56] Liongold commented on #484
@JamborJan Thanks for your work.

[2015-09-09 14:15] paxperscientiam commented on #234
I think this is an excellent idea. After much digging, I came to realize that I had to edit app/config/database.php to include a reference to unix socket.

I edited the Apache wiki to reflect this:
https://github.com/twostairs/paperwork/wiki/Using-Apache-in-place-of-Nginx

[2015-09-09 14:35] olenchenko commented on #401
I have the same issue running under apache.
Any suggestions?

[2015-09-11 12:25] ghost opened #519 "为什么安装过程 有这么多的错误呢"
Error in exception handler: The stream or file "/var/www/html/edi/paperwork/frontend/app/storage/logs/laravel.log" could not be opened: failed to open stream: Permission denied in /var/www/html/edi/paperwork/frontend/vendor/monolog/monolog/src/Monolog/Handler/StreamHandler.php:87

解决了一个还有 解决了 还有 都他妈的解决3天了 还没有弄完 重装服务器 多次

一开始数据库选择的时候就问题非常多

[2015-09-11 12:57] Baldrs commented on #519
我不知道中国的语言。你需要让“storage”文件夹可写的。

[2015-09-11 12:57] Baldrs commented on #519
能否请你用英文写的问题，或者你不知道吗？

[2015-09-15 05:50] mjtobias opened #520 "php-xml package missing from CentOS/Fedora Instructions"
Based on this page, https://github.com/twostairs/paperwork/wiki/Installation-----CentOS-Fedora
It looks like the php-xml package is missing in the CentOS-Fedora instructions.  Without this package it seems when trying to save anything in the body of a note the following error shows up in the nginx error log.  Installing php-xml, restarting nginx and php-fpm fixes this issue.

2015/09/14 22:33:19 [

[2015-09-15 09:16] kongdeyuan commented on #519
![windows_chrome45](https://cloud.githubusercontent.com/assets/2070046/9872646/513f8d9a-5bcd-11e5-912a-0429f3fca1a8.png)
![linux_firefox demo](https://cloud.githubusercontent.com/assets/2070046/9872645/4e3ce49e-5bcd-11e5-95f1-f6471070bfe9.png)

[2015-09-15 09:17] kongdeyuan commented on #519
![windows_chrome45_own](https://cloud.githubusercontent.com/assets/2070046/9872682/9ce45212-5bcd-11e5-944b-81324ea5d879.png)

[2015-09-15 09:20] kongdeyuan commented on #519
![windows_chrome45](https://cloud.githubusercontent.com/assets/2070046/9872646/513f8d9a-5bcd-11e5-912a-0429f3fca1a8.png)
![linux_firefox demo](https://cloud.githubusercontent.com/assets/2070046/9872645/4e3ce49e-5bcd-11e5-95f1-f6471070bfe9.png)

[2015-09-15 13:07] AdiuvoDotFr commented on #353
Sorry I didn't come here for a long time. I haven't retried since, and use it without prefix now.

[2015-09-15 13:34] #353 closed

[2015-09-17 19:28] theSoenke opened #522 "API to create notebooks does not work"
I can't create new notebooks via the api. The response code is 200 and it returns all notebooks, but it does not create a new notebook.

POST  /api/v1/notebooks

"type":0,
"title":"Test",
"shortcut":""
}

[2015-09-18 07:49] wongalvis opened #524 "Note last update time"
I get the date shown in each note of the note list updates whenever the note is moved to another notebook.
I think moving a note shouldn't count as a an "update action".
The last updated time should refer to the time of latest update to the note's content.
For instance, if the user moves a few note to a new notebook, and the notes inside the notebook are all having the same date, which makes it le

[2015-09-18 08:42] theSoenke commented on #524
This would make it problematic to sync moved notes. Because to determine whether a note has been moved i use the last updated time in the app [Paperwork-Android](https://github.com/theSoenke/Paperwork-Android)

[2015-09-18 08:45] wongalvis commented on #524
Oh right, you just reminded me that.

[2015-09-18 08:45] #524 closed

[2015-09-19 17:46] ellipsonic opened #525 "sudo composer update or sudo composer install does not do anything"
Hi There, First of all I tried the demo, excellent project :), wanted to set this on my server, but whenever i do sudo composer update or sudo composer install, it does not do much

I tried googling for it and got this answer in stack-overflow

[code]

but nothing seems to work

Below is my screenshot, any help will be really appreciated
![image](https://cloud.githubusercontent.com/assets/12976856

[2015-09-21 01:51] DavidJacobson opened #526 "Request: Exportables"
Hello, I have a request for a feature that I think would be useful. This would be a way to export all notes from a notebook to a pdf, or some other format. Currently I am facing the issue of wanting to print out all notes, but there is no good way to do it. Any suggestions would be appreciated :) Thanks

[2015-09-21 02:33] berndblume opened #527 "File > New Collection does nothing"
When I click on 'New Collection' under 'File', nothing happens. I just installed the latest version today.

[2015-09-21 02:35] berndblume opened #528 "'New Notebook' button in 'Manage Notebooks' popup window does nothing."
I just installed the latest version of paperwork today. The 'New Notebook' button in the 'Manage Notebooks' popup window is dead.
When I click 'New Notebook' under 'File', it does work.

[2015-09-21 06:47] Baldrs commented on #527
I think it must be removed until somebody comes up with an implementation
On Sep 21, 2015 5:33 AM, "berndblume" <notifications@github.com> wrote:

[2015-09-21 22:56] DavidJacobson commented on #528
I'm running into the same issue, new install of paperwork.

[2015-09-24 15:17] Liongold commented on #528
Did you run `bower install` and `gulp`, please? Can you post the console output?

[2015-09-24 16:09] Liongold commented on #522
Any more info? I've been trying to reproduce but am having problems with curl. Can you spot any differences between the headers you are sending and those sent by Paperwork UI when doing the same thing. Sorry if I'm asking for too much.

[2015-09-24 18:49] berndblume commented on #528
Yes, I ran both. Both seemed to run through fine, no error messages.

Can’t send the console output because I already did it a few days ago… :-)

On Sep 24, 2015, at 8:17 AM, Liongold <notifications@github.com<mailto:notifications@github.com>> wrote:

Did you run bower install and gulp, please? Can you post the console output?

—
Reply to this email directly or view it on GitHub<https://github.com

[2015-09-24 20:46] theSoenke commented on #522
Sorry but i can't provide much more information. I'm using Postman to test the api. The header is definitly different when using Paperwork UI instead of Postman, but that's the case for all apis. E.g. it's uses a cookie instead of a hash etc. for authorization

[2015-09-26 12:38] Liongold commented on #528
@berndblume The browser console output? Where? Also, is this on develop branch?

[2015-09-26 13:16] Liongold commented on #525
This isn't directly related to Paperwork, if I understand correctly. However, I'd suggest that either you try without sudo, or try leaving out the `COMPOSER=composer.json`argument or as a last resort, uninstall and reinstall everything. Sorry if I can't help much.

[2015-09-26 13:16] Liongold commented on #525
Let us know how you solve the problem.

[2015-09-26 13:29] Liongold commented on #522
@theSoenke Thanks for telling me about Postman. Very nice product. I've tried it and it worked for me. I'll give you the headers generated by the app so that you can check whether there's some discrepancy. The body of the request: `{ "type": 0, "title": "API Test", "shortcut":"" }` and Content-type: application/json. I tested it on develop branch. Let me know if you get it to work.

[code]

[2015-09-26 13:29] Liongold commented on #522
BTW, I put the body content using the raw form.

[2015-09-26 13:31] Liongold commented on #516
This issue has been fixed.

[2015-09-26 13:31] #516 closed

[2015-09-26 15:09] tommyhp2 opened #534 "New Notebook button broken"
Hi,

I've installed Paperwork to use Apache/2.4.16 (Fedora 22) PHP/5.6.13 as follow since the MariaDB is on another server and httpd is already configured:

$ dnf install curl git php php-cli php-gd php-mcrypt php-mysqlnd wget nodejs

$ mkdir -p /var/www/html && cd /var/www/html
$ git clone https://github.com/twostairs/paperwork.git
$ cd /var/www/html/paperwork/frontend
$ curl -sS https://getcompo

[2015-09-26 15:16] theSoenke commented on #522
@Liongold I did everything exactly like you and i'm using the develop branch, but it still does not work.
I also couldn't test it on demo.paperwork.rocks, because there are still problems with the certificate

[2015-09-26 15:18] tommyhp2 commented on #534
Checking the DB, I see the following entries in the DB:

select * from notebooks;
+--------------------------------------+-----------+------+---------+---------------------+---------------------+------------+
| id                                   | parent_id | type | title   | created_at          | updated_at          | deleted_at |
+--------------------------------------+-----------+------+-----

[2015-09-26 15:33] tommyhp2 commented on #534
![paperwork_20150926](https://cloud.githubusercontent.com/assets/6822623/10118270/50ce6ea8-6429-11e5-9eca-bb0eb13c6b7d.PNG)

[2015-09-26 18:19] berndblume commented on #528
Oh, sorry, you mean the browser console output! :-)

I thought you mean the console/terminal output when running `bower install` and `gulp`…

I’m using the master branch, not develop.

Here’s the browser console output:

downloadable font: Layout: lookup flag asks for mark attachment that is bad 256 (font-family: "Lato" style:normal weight:normal stretch:normal src index:2) source: https://paperwo

[2015-09-27 10:47] nebulade commented on #528
I am getting the same error:
[code]

I am also on develop branch revision be9946a047388e334d1d5eea8c2f33945d04108c

[2015-09-27 15:15] itisNathaniel opened #535 "Display PDFs Inline"
Hi I was wondering if there was a way for PDFs uploaded as attachments to appear inline with text instead of just a button taking you to another page. In a way allowing you to write around the PDF that's embedded and describe it if you have multiple PDFs together.
I like the way evernote does this with PDFs and images, I've attached pictures of the way paperwork currently responds and the way ever

[2015-09-27 15:49] Liongold commented on #534
Did you use the Setup Wizard? Are you on develop branch?

[2015-09-27 15:52] Liongold commented on #528
Sorry for asking too much. @berndblume can you try the develop branch? @nebulade Do you notice any 404 errors in the Network tab of your developer tools console? Do you have a folder named x-editable in the bower_components folder, please?

[2015-09-27 15:55] Liongold commented on #522
@theSoenke I really can't understand what's happening then. Do you know some PHP just some basic knowledge, nothing special)? Would you be open to trying and finding the problem through some experimentation? Sorry but I don't know any other way to try and trace this problem.

[2015-09-27 16:32] nebulade commented on #528
indeed, I do get 404 twice for the same file:

[code]
I also miss the *x-editable* folder in bower_components, the content is:
[code]

So I assume that's the missing part then.

[2015-09-27 17:11] Liongold commented on #528
@nebulade Soory again. But did you run bower install after git pull?

[2015-09-27 21:03] tommyhp2 commented on #534
Hi Liongold,

I used the install instructions at:

https://github.com/twostairs/paperwork/wiki/Initial-installation
https://github.com/twostairs/paperwork/wiki/Installation-----CentOS-Fedora

As for branch, I don't know which branch is provided by:

git clone https://github.com/twostairs/paperwork.git

Thanks.

[2015-09-28 08:53] nebulade commented on #528
@Liongold sorry, I was looking at an older commit, earlier. The current HEAD is working just fine now. Interesting concept to have the notebook edit field in an additional popup dialog/bubble on top of the notebooks dialg. :smirk:

[2015-09-29 09:30] jcrben commented on #498
Agreed, I noticed the same thing. It takes away from the professional image.

[2015-09-29 16:55] Liongold commented on #528
@berndblume Any progress on your side?

[2015-09-29 16:56] Liongold commented on #534
@tommyhp2 Can you try doing `git checkout develop` and then the normal `composer install, npm installl, bower install and gulp`? Any difference in the result?

[2015-09-30 04:40] tommyhp2 commented on #534
Different results but app is now broken.
![paperwork_20150929_not_latest_version](https://cloud.githubusercontent.com/assets/6822623/10184482/f9c6e4ac-66f1-11e5-8cef-2f4e2211164f.PNG)
Seems to be missing textbox for DB name.. ?
![paperwork_20150926_setting_up_db](https://cloud.githubusercontent.com/assets/6822623/10184490/01e5e278-66f2-11e5-8a0b-a290de4b9e23.PNG)
![paperwork_20150929_registering_1

[2015-09-30 04:50] tommyhp2 commented on #534
I've uploaded both the Linux shell script (please feel free to distribute with the source if you like) and the logs to my profile at: https://github.com/tommyhp2/misc/tree/master/paperwork.  Install logs shows installed RPMs for nodejs and npm.  Also shows installed npm modules with versions.